Repository woocommerce/woocommerce-blocks, pull requests merged in 2019-02, with the labels that each got.

#382 Add placeholder image for product preview
  assets/js/components/product-preview/index.js
  assets/js/components/product-preview/test/__snapshots__/index.js.snap
  tests/js/setup-globals.js
  woocommerce-gutenberg-products-block.php
Labels: Blocks, [Status] Needs Review

#397 Featured Product: Allow to resize the block height
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/index.js
  assets/js/blocks/featured-product/style.scss
  includes/blocks/class-wc-block-featured-product.php
  woocommerce-gutenberg-products-block.php
Labels: Blocks, [Status] Ready to Merge

#401 API: Remove custom `attributes` handling from API
  includes/class-wgpb-products-controller.php
  tests/api/products-attributes.php
Labels: REST API, [Status] Ready to Merge

#408 Bump `@woocommerce/components` to v1.5.0
  package-lock.json
  package.json
Labels: Components, [Status] Ready to Merge

#405 Products by Attribute: Update block to use API, shortcode rendering
  assets/js/blocks/products-by-attribute/index.js
  assets/js/components/product-attribute-control/index.js
  assets/js/components/search-list-control/style.scss
  assets/js/utils/get-query.js
  assets/js/utils/get-shortcode.js
Labels: Blocks, [Status] Needs Review

#411 Featured Product: Fix undefined variable notice
  includes/blocks/class-wc-block-featured-product.php
Labels: Blocks, [Status] Ready to Merge

#414 Remove Gutenberg requirement from phpunit tests
  tests/bin/install-wp-tests.sh
  tests/bootstrap.php
Labels: Build, [Status] Ready to Merge

#412 ProductAttributeControl: Polish style, screen reader interaction
  assets/js/components/product-attribute-control/index.js
  assets/js/components/product-attribute-control/style.scss
  assets/js/components/search-list-control/style.scss
  includes/class-wgpb-product-attributes-controller.php
Labels: Components, [Status] Ready to Merge

#398 Featured Product: Try using Button block for button
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/index.js
  assets/js/blocks/featured-product/style.scss
  includes/blocks/class-wc-block-featured-product.php
  includes/class-wgpb-products-controller.php
Labels: Blocks, [Status] Ready to Merge

#415 Featured Product: Remove ability to change source product
  assets/js/blocks/featured-product/block.js
Labels: Blocks, [Status] Ready to Merge

#420 Bump stable tag & plugin dev version
  readme.txt
  woocommerce-gutenberg-products-block.php
Labels: [Status] Ready to Merge

#428 Documentation: Fix changelog headings
  readme.txt
Labels: Documentation, [Status] Ready to Merge

#421 Fix placeholder icon alignment
  assets/css/products-grid.scss
  assets/js/components/icons/new-releases.js
  assets/js/components/icons/widgets.js
Labels: Blocks, [Status] Ready to Merge

#406 Add catalog_visibility param to products api
  assets/js/components/product-control/index.js
  assets/js/components/products-control/index.js
  assets/js/utils/get-query.js
  assets/js/utils/test/get-query.js
  includes/class-wgpb-products-controller.php
  tests/api/products-extra.php
Labels: Blocks, REST API, [Status] Ready to Merge

#439 Update CSS build process
  assets/css/editor.scss
  assets/js/blocks/featured-product/editor.scss
  assets/js/blocks/featured-product/index.js
  assets/js/blocks/featured-product/style.scss
  assets/js/blocks/handpicked-products/editor.scss
  assets/js/blocks/handpicked-products/index.js
  assets/js/blocks/product-category/editor.scss
  assets/js/blocks/product-category/index.js
  assets/js/blocks/products-by-attribute/editor.scss
  assets/js/blocks/products-by-attribute/index.js
  bin/merge-extract-files-webpack-plugin.js
  package-lock.json
  package.json
  webpack.config.js
  woocommerce-gutenberg-products-block.php
Labels: Build, WC Core Merge, [Status] Ready to Merge

#442 Components: Move SearchListControl to woocommerce/components
  assets/css/abstracts/_mixins.scss
  assets/js/components/product-attribute-control/index.js
  assets/js/components/product-category-control/index.js
  assets/js/components/product-control/index.js
  assets/js/components/products-control/index.js
  assets/js/components/search-list-control/hierarchy.js
  assets/js/components/search-list-control/index.js
  assets/js/components/search-list-control/item.js
  assets/js/components/search-list-control/style.scss
  assets/js/components/search-list-control/test/__snapshots__/index.js.snap
  assets/js/components/search-list-control/test/hierarchy.js
  assets/js/components/search-list-control/test/index.js
Labels: Components, [Status] Ready to Merge

#440 Blocks: Add new content controls to grid blocks
  assets/css/style.scss
  assets/js/blocks/handpicked-products/block.js
  assets/js/blocks/handpicked-products/index.js
  assets/js/blocks/product-best-sellers/block.js
  assets/js/blocks/product-best-sellers/index.js
  assets/js/blocks/product-category/block.js
  assets/js/blocks/product-category/index.js
  assets/js/blocks/product-new/block.js
  assets/js/blocks/product-new/index.js
  assets/js/blocks/product-on-sale/block.js
  assets/js/blocks/product-on-sale/index.js
  assets/js/blocks/product-top-rated/block.js
  assets/js/blocks/product-top-rated/index.js
  assets/js/blocks/products-by-attribute/block.js
  assets/js/blocks/products-by-attribute/index.js
  assets/js/components/grid-content-control/index.js
  assets/js/components/product-preview/style.scss
  assets/js/utils/shared-attributes.js
  webpack.config.js
Labels: Blocks, [Status] Ready to Merge

#446 Remove the edit-blocks dependency from front-end styles
  woocommerce-gutenberg-products-block.php
Labels: [Status] Ready to Merge

#449 Remove shortcode tweaks
  README.md
  readme.txt
  woocommerce-gutenberg-products-block.php
Labels: Documentation, WC Core Merge, [Status] Ready to Merge

#451 REST API: Change namespeace to reflect what will exist in Woo core.
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/handpicked-products/block.js
  assets/js/blocks/product-best-sellers/block.js
  assets/js/blocks/product-category/block.js
  assets/js/blocks/product-new/block.js
  assets/js/blocks/product-on-sale/block.js
  assets/js/blocks/product-top-rated/block.js
  assets/js/blocks/products-by-attribute/block.js
  assets/js/components/product-attribute-control/index.js
  assets/js/components/product-category-control/index.js
  assets/js/components/product-control/index.js
  assets/js/components/products-control/index.js
  assets/js/legacy/products-block.jsx
  assets/js/legacy/views/attribute-select.jsx
  assets/js/legacy/views/category-select.jsx
  assets/js/legacy/views/specific-select.jsx
  includes/class-wgpb-product-attribute-terms-controller.php
  includes/class-wgpb-product-attributes-controller.php
  includes/class-wgpb-product-categories-controller.php
  includes/class-wgpb-products-controller.php
  tests/api/products-attributes.php
  tests/api/products-categories.php
  tests/api/products-extra.php
Labels: REST API, [Status] Needs Review

#448 Add transforms for shared attributes.
  assets/js/blocks/product-best-sellers/index.js
  assets/js/blocks/product-category/index.js
  assets/js/blocks/product-new/index.js
  assets/js/blocks/product-on-sale/index.js
  assets/js/blocks/product-top-rated/index.js
  assets/js/utils/shared-attributes.js
Labels: Blocks, [Status] Ready to Merge

#444 Fix html in preview of product titles
  assets/js/blocks/featured-product/block.js
  assets/js/components/product-preview/index.js
  assets/js/components/product-preview/test/__snapshots__/index.js.snap
  includes/blocks/class-wc-block-featured-product.php
Labels: [Status] Ready to Merge

#453 REST API: Update usage of attributes/<id>/terms to match core.
  assets/js/components/product-attribute-control/index.js
  includes/class-wgpb-product-attribute-terms-controller.php
Labels: REST API, [Status] Ready to Merge

#457 Remove legacy block
  assets/js/legacy/products-block.jsx
  assets/js/legacy/products-block.scss
  assets/js/legacy/views/attribute-select.jsx
  assets/js/legacy/views/category-select.jsx
  assets/js/legacy/views/specific-select.jsx
  assets/js/test/__snapshots__/product-preview.js.snap
  assets/js/test/product-preview.js
  assets/js/vendor/react-transition-group.js
  package.json
  webpack.config.js
  woocommerce-gutenberg-products-block.php
Labels: Blocks, Legacy Block, [Status] Ready to Merge

#459 Update/wc blocks/v1/products
  assets/js/utils/get-query.js
  includes/class-wgpb-products-controller.php
  tests/api/products-attributes.php
  tests/api/products-categories.php
Labels: REST API, [Status] Ready to Merge
