Repository woocommerce/woocommerce-blocks, pull requests merged in 2019-05, with the labels that each got.

#544 Add "FocalPointPicker" to Featured Product block
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/index.js
  assets/php/class-wgpb-block-featured-product.php
Labels: Blocks, [Status] Ready to Merge

#547 ProductControl: Update product search performance
  assets/js/components/product-control/index.js
  assets/js/components/products-control/index.js
  assets/js/components/utils/index.js
Labels: Components, [Status] Ready to Merge

#551 Update and add documentation in READMEs
  README.md
  assets/js/blocks/README.md
  assets/js/components/README.md
  assets/js/components/grid-content-control/index.js
Labels: Documentation, [Status] Ready to Merge

#557 Show build progress
  package-lock.json
  package.json
  webpack.config.js
Labels: Build, [Status] Ready to Merge

#562 Release version 2.1.0
  package-lock.json
  package.json
  readme.txt
  woocommerce-gutenberg-products-block.php
Labels: [Status] Ready to Merge

#564 Bump version to 2.2.0-dev
  package.json
  readme.txt
  woocommerce-gutenberg-products-block.php
Labels: [Status] Needs Review

#558 Try dynamic blocks for rendering content (replacing shortcode output)
  assets/css/editor.scss
  assets/css/style.scss
  assets/js/blocks/product-new/block.js
  assets/js/blocks/product-new/index.js
  assets/js/blocks/product-on-sale/block.js
  assets/js/blocks/product-on-sale/index.js
  assets/js/components/product-preview/index.js
  assets/js/components/product-preview/style.scss
  assets/js/components/product-preview/test/__snapshots__/index.js.snap
  assets/js/utils/deprecations.js
  assets/php/class-wgpb-block-grid-base.php
  assets/php/class-wgpb-block-library.php
  assets/php/class-wgpb-block-product-new.php
  assets/php/class-wgpb-block-product-on-sale.php
Labels: Blocks, [Type] Experiment

#567 Update/dynamic grid blocks html
  assets/css/style.scss
  assets/php/class-wgpb-block-grid-base.php
Labels: Blocks, [Status] Ready to Merge

#578 Add instructions for testing `@woocommerce/block-library` locally
  CONTRIBUTING.md
Labels: Documentation, [Status] Needs Review

#577 Fix the chunking in webpack to always extract shared code to `vendors`
  webpack.config.js
Labels: Build, [Status] Needs Review

#565 Dynamic grid blocks: Try using ServerSideRender component for preview
  assets/css/editor.scss
  assets/js/blocks/product-new/block.js
  assets/js/blocks/product-on-sale/block.js
  assets/js/components/product-preview/style.scss
  assets/php/class-wgpb-block-library.php
Labels: Blocks, [Status] Ready to Merge

#596 Add dynamic rendering + SSR to Products By Category block
  assets/js/blocks/product-category/block.js
  assets/js/blocks/product-category/index.js
  assets/php/class-wgpb-block-library.php
  assets/php/class-wgpb-block-product-category.php
Labels: Grid Blocks, [Status] Needs Review

#576 Update dynamic block styles and markup for default themes
  assets/css/editor.scss
  assets/css/style.scss
  assets/js/components/product-preview/index.js
  assets/js/components/product-preview/test/__snapshots__/index.js.snap
  assets/php/class-wgpb-block-grid-base.php
  assets/php/class-wgpb-block-library.php
Labels: [Status] Ready to Merge

#581 Add Woo icon and branding to block categories
  assets/js/blocks/featured-product/index.js
  assets/js/blocks/handpicked-products/index.js
  assets/js/blocks/product-best-sellers/index.js
  assets/js/blocks/product-category/index.js
  assets/js/blocks/product-new/index.js
  assets/js/blocks/product-on-sale/index.js
  assets/js/blocks/product-top-rated/index.js
  assets/js/blocks/products-by-attribute/index.js
  assets/js/components/icons/index.js
  assets/js/components/icons/woo.js
  assets/js/index.js
  assets/php/class-wgpb-block-library.php
  webpack.config.js
Labels: [Status] Ready to Merge

#595 Add dynamic rendering + SSR to Hand-picked Products block
  assets/js/blocks/handpicked-products/block.js
  assets/js/blocks/handpicked-products/index.js
  assets/php/class-wgpb-block-handpicked-products.php
  assets/php/class-wgpb-block-library.php
Labels: Grid Blocks, [Status] Ready to Merge

#599 Add dynamic rendering + SSR to Best Selling Products block
  assets/js/blocks/product-best-sellers/block.js
  assets/js/blocks/product-best-sellers/index.js
  assets/php/class-wgpb-block-library.php
  assets/php/class-wgpb-block-product-best-sellers.php
Labels: Grid Blocks, [Status] Ready to Merge

#600 Add dynamic rendering + SSR to the Top Rated Products block
  assets/js/blocks/product-top-rated/block.js
  assets/js/blocks/product-top-rated/index.js
  assets/php/class-wgpb-block-library.php
  assets/php/class-wgpb-block-product-top-rated.php
Labels: Grid Blocks, [Status] Needs Review

#602 Add dynamic rendering + SSR to Products by Attribute
  assets/js/blocks/products-by-attribute/block.js
  assets/js/blocks/products-by-attribute/index.js
  assets/php/class-wgpb-block-library.php
  assets/php/class-wgpb-block-products-by-attribute.php
Labels: Grid Blocks, [Status] Ready to Merge
