Repository woocommerce/woocommerce-blocks, pull requests merged in 2019-01, with the labels that each got.

#282 Search Lists: Hide the selected items section until the content is loaded
  assets/js/components/search-list-control/index.js
Labels: Components, [Status] Ready to Merge

#281 Products by Category: don't show products if no category is selected, better message
  assets/js/product-category-block.js
  assets/js/utils/get-shortcode.js
Labels: Blocks, [Status] Ready to Merge

#299 REST API: Update products endpoint to get products across different attributes
  includes/class-wgpb-products-controller.php
  tests/api/products-attributes.php
Labels: REST API, [Status] Ready to Merge, [Tests] Includes Tests

#303 Icons: add star and radio button icons, organize folder
  assets/js/components/icons/checkbox-checked.js
  assets/js/components/icons/checkbox-unchecked.js
  assets/js/components/icons/index.js
  assets/js/components/icons/new-releases.js
  assets/js/components/icons/radio-selected.js
  assets/js/components/icons/radio-unselected.js
  assets/js/components/icons/star.js
  assets/js/components/icons/widgets.js
  assets/js/components/search-list-control/item.js
  assets/js/components/search-list-control/test/__snapshots__/index.js.snap
Labels: Components, [Status] Ready to Merge

#305 Split blocks into separate JS files
  assets/css/products-grid.scss
  assets/js/blocks/handpicked-products/block.js
  assets/js/blocks/handpicked-products/index.js
  assets/js/blocks/handpicked-products/style.scss
  assets/js/blocks/product-best-sellers/block.js
  assets/js/blocks/product-best-sellers/index.js
  assets/js/blocks/product-category/block.js
  assets/js/blocks/product-category/index.js
  assets/js/blocks/product-category/style.scss
  assets/js/blocks/product-new/block.js
  assets/js/blocks/product-new/index.js
  assets/js/blocks/product-on-sale/block.js
  assets/js/blocks/product-on-sale/index.js
  assets/js/blocks/product-top-rated/block.js
  assets/js/blocks/product-top-rated/index.js
  assets/js/components/product-category-control/style.scss
  assets/js/components/search-list-control/style.scss
  assets/js/index.js
  package-lock.json
  package.json
  postcss.config.js
  webpack.config.js
  woocommerce-gutenberg-products-block.php
Labels: Build, [Status] Ready to Merge

#304 Add ProductControl, update SearchListControl to pick a "single item"
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/index.js
  assets/js/blocks/product-category/block.js
  assets/js/components/product-control/index.js
  assets/js/components/search-list-control/index.js
  assets/js/components/search-list-control/item.js
  assets/js/utils/shared-attributes.js
  webpack.config.js
  woocommerce-gutenberg-products-block.php
Labels: Blocks, Components, [Status] Ready to Merge

#309 REST API: Add the product description to our products endpoint
  includes/class-wgpb-products-controller.php
Labels: REST API, [Status] Ready to Merge

#311 "Featured Product" Block: Add link to the product to the block
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/index.js
  assets/js/blocks/featured-product/style.scss
  includes/blocks/class-wc-block-featured-product.php
Labels: Blocks, [Status] Ready to Merge

#310 Display the "Featured Product" block on the frontend
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/index.js
  assets/js/blocks/featured-product/style.scss
  includes/blocks/class-wc-block-featured-product.php
  woocommerce-gutenberg-products-block.php
Labels: Blocks, [Status] Ready to Merge

#316 Featured Products style tweaks
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/index.js
  assets/js/blocks/featured-product/style.scss
  assets/js/components/icons/index.js
  assets/js/components/icons/star.js
  assets/js/components/search-list-control/style.scss
Labels: [Status] Needs Design Review, [Status] Needs Review

#315 Featured Product Block: Use real product short description
  assets/js/blocks/featured-product/block.js
Labels: Blocks, [Status] Ready to Merge

#321 Remove the “Filter by Attribute” panel from products by category block
  assets/js/blocks/product-category/block.js
Labels: Blocks, [Status] Ready to Merge

#143 Hide the legacy products block from the block inserter
  assets/js/legacy/products-block.jsx
Labels: Legacy Block, [Status] Ready to Merge

#314 Build: Split out vendor files into separate, shared JS & CSS files
  assets/css/products-grid.scss
  assets/js/legacy/products-block.jsx
  assets/js/legacy/products-block.scss
  webpack.config.js
  woocommerce-gutenberg-products-block.php
Labels: Build, [Status] Ready to Merge

#322 Featured Product block: Allow custom background image selecton
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/index.js
  assets/js/utils/products.js
  includes/blocks/class-wc-block-featured-product.php
Labels: Blocks, [Status] Needs Design Review, [Status] Ready to Merge

#323 Add changelog & version bump to 1.3.0
  package-lock.json
  package.json
  readme.txt
  woocommerce-gutenberg-products-block.php
Labels: Build, Documentation, [Status] Ready to Merge

#338 Update `@wordpress/*` packages
  package-lock.json
  package.json
Labels: Build, [Status] Ready to Merge

#337 SearchListControl: Use the “radio” role for selecting just one item
  assets/js/components/search-list-control/item.js
Labels: Accessibility, Components, [Status] Ready to Merge

#342 Remove the edit-blocks dependency from featured product CSS file
  woocommerce-gutenberg-products-block.php
Labels: Blocks, [Status] Ready to Merge

#339 Fix translations, bundle complete JS translation files
  assets/js/blocks/featured-product/block.js
  languages/woo-gutenberg-products-block-da_DK-15e4e3df51632e1ca1000ea405c14b95.json
  languages/woo-gutenberg-products-block-da_DK-60078c7e1562999732d0d5d42648e5b8.json
  languages/woo-gutenberg-products-block-da_DK-6e3d95eaf70621f822b845d5bcb2b3cf.json
  languages/woo-gutenberg-products-block-da_DK-84d4253d132f6c5c53fe25d03f5e9200.json
  languages/woo-gutenberg-products-block-da_DK-91f7cd8fa1b168630fc2b3a54cbe410f.json
  languages/woo-gutenberg-products-block-da_DK-a4caf5c468bc583ff7fc9a943d3dc348.json
  languages/woo-gutenberg-products-block-da_DK-d748c5738d57b7518bef14f74456090e.json
  languages/woo-gutenberg-products-block-da_DK-f9f323a7db976a4eafb44c35cc6d5e32.json
  languages/woo-gutenberg-products-block-fr_FR-15e4e3df51632e1ca1000ea405c14b95.json
  languages/woo-gutenberg-products-block-fr_FR-60078c7e1562999732d0d5d42648e5b8.json
  languages/woo-gutenberg-products-block-fr_FR-6e3d95eaf70621f822b845d5bcb2b3cf.json
  languages/woo-gutenberg-products-block-fr_FR-84d4253d132f6c5c53fe25d03f5e9200.json
  languages/woo-gutenberg-products-block-fr_FR-91f7cd8fa1b168630fc2b3a54cbe410f.json
  languages/woo-gutenberg-products-block-fr_FR-a4caf5c468bc583ff7fc9a943d3dc348.json
  languages/woo-gutenberg-products-block-fr_FR-d748c5738d57b7518bef14f74456090e.json
  languages/woo-gutenberg-products-block-fr_FR-f9f323a7db976a4eafb44c35cc6d5e32.json
  languages/woo-gutenberg-products-block.php
  package.json
  woocommerce-gutenberg-products-block.php
Labels: Blocks, [Status] Ready to Merge

#344 Add Spanish translation files
  languages/woo-gutenberg-products-block-es_ES-15e4e3df51632e1ca1000ea405c14b95.json
  languages/woo-gutenberg-products-block-es_ES-60078c7e1562999732d0d5d42648e5b8.json
  languages/woo-gutenberg-products-block-es_ES-6e3d95eaf70621f822b845d5bcb2b3cf.json
  languages/woo-gutenberg-products-block-es_ES-84d4253d132f6c5c53fe25d03f5e9200.json
  languages/woo-gutenberg-products-block-es_ES-91f7cd8fa1b168630fc2b3a54cbe410f.json
  languages/woo-gutenberg-products-block-es_ES-a4caf5c468bc583ff7fc9a943d3dc348.json
  languages/woo-gutenberg-products-block-es_ES-d748c5738d57b7518bef14f74456090e.json
  languages/woo-gutenberg-products-block-es_ES-f9f323a7db976a4eafb44c35cc6d5e32.json
Labels: [Status] Ready to Merge, i18n

#346 Release 1.3.1
  languages/woo-gutenberg-products-block.php
  readme.txt
  woocommerce-gutenberg-products-block.php
Labels: [Status] Ready to Merge

#374 Run `composer install` after packages install
  package.json
Labels: Build, [Status] Ready to Merge

#377 REST API: Add new parameter for relationship between multiple taxonomies
  README.md
  includes/class-wgpb-products-controller.php
  tests/api/products-attributes.php
Labels: REST API, [Status] Ready to Merge, [Tests] Includes Tests

#381 Use defaultProps to set up the taxonomy control operators
  assets/js/components/product-attribute-control/index.js
  assets/js/components/product-category-control/index.js
Labels: Components, [Status] Ready to Merge

#385 i18n: Remove the babel makepot & pot-to-php scripts
  .babelrc
  .gitignore
  languages/woo-gutenberg-products-block.php
  package.json
Labels: Build, [Status] Ready to Merge, i18n

#386 Blocks: Restrict row/column values to only valid values
  assets/js/blocks/product-best-sellers/block.js
  assets/js/blocks/product-category/block.js
  assets/js/blocks/product-new/block.js
  assets/js/blocks/product-on-sale/block.js
  assets/js/blocks/product-top-rated/block.js
  assets/js/blocks/products-by-attribute/block.js
  assets/js/components/grid-layout-control/index.js
  assets/js/utils/get-query.js
  assets/js/utils/get-shortcode.js
Labels: Components, [Status] Ready to Merge
