Repository woocommerce/woocommerce-blocks, pull requests merged in 2020-08, with the labels that each got.

#2884 Add autocapitalize attribute to Address Form fields
  assets/js/base/components/cart-checkout/address-form/default-address-fields.js
  assets/js/base/components/cart-checkout/address-form/index.js
  assets/js/base/components/text-input/index.js
Labels: status: ready to merge, ◼️ block: cart, ◼️ block: checkout

#2949 Fixes related to Jetpack Autoloader 2.0 package bump
  bin/github-deploy.sh
  bin/version-changes.sh
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, type: blocker, type: bug, type: build

#2952 Simplify reviews render method
  assets/js/blocks/reviews/all-reviews/edit.js
  assets/js/blocks/reviews/editor-container-block.js
  assets/js/blocks/reviews/reviews-by-category/edit.js
  assets/js/blocks/reviews/reviews-by-product/edit.js
  assets/js/blocks/reviews/save.js
  assets/js/blocks/reviews/utils.js
Labels: skip-changelog, status: ready to merge, type: refactor, 🔹 block-type: reviews

#2934 Show payment gateways in correct (merchant-configured) order
  assets/js/base/context/cart-checkout/payment-methods/use-payment-method-registration.js
  assets/js/settings/blocks/constants.js
  src/Payments/Api.php
Labels: status: ready to merge, ◼️ block: checkout

#2961 Fix All Products block 'No products' placeholder link
  assets/js/blocks/products/utils.js
Labels: status: ready to merge, type: bug, ◼️ block: all products

#2958 Show Checkout block in editor also when guest checkout is not allowed
  assets/js/blocks/cart-checkout/checkout/block.js
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#2955 Don't show saving badge if the value is negative
  assets/js/base/components/cart-checkout/product-price/index.js
  assets/js/base/components/cart-checkout/product-sale-badge/index.js
Labels: status: ready to merge, type: bug, ◼️ block: cart

#2960 Add JETPACK_AUTOLOAD_DEV to wp-env instances
  .wp-env.json
Labels: scope: tests, skip-changelog, status: ready to merge, type: build

#2946 Add missing class dot in theming docs
  docs/theming/README.md
Labels: scope: documentation, skip-changelog, status: ready to merge

#2944 Add inspector notice for unsupported product types
  assets/js/atomic/blocks/product-elements/add-to-cart/block.js
  assets/js/atomic/blocks/product-elements/add-to-cart/edit.js
  assets/js/atomic/blocks/product-elements/add-to-cart/shared/add-to-cart-button.js
  assets/js/atomic/blocks/product-elements/add-to-cart/style.scss
  assets/js/base/context/add-to-cart-form/form-state/index.js
  assets/js/base/utils/index.js
  assets/js/base/utils/product-data.js
  assets/js/type-defs/contexts.js
Labels: status: ready to merge

#2977 Use position: static for payment errors to prevent overlap with card icons
  assets/js/base/components/payment-methods/style.scss
Labels: status: ready to merge, ◼️ block: checkout

#2904 Fix JS-rendered blocks inside Empty Cart
  assets/js/base/utils/legacy-events.js
  assets/js/base/utils/render-frontend.js
  assets/js/blocks/cart-checkout/cart/block.js
Labels: type: bug, ◼️ block: cart

#2953 Add docs about CSS build system
  docs/contributors/README.md
  docs/contributors/css-build-system.md
Labels: scope: documentation, skip-changelog, status: ready to merge

#2962 Fix undefined variable in ProductSchema.php closure
  src/StoreApi/Schemas/ProductSchema.php
Labels: status: ready to merge, type: bug, ◼️ block: all products

#2912 Improve behaviour of draft order cleanup to account for clobbered custom shop order status.
  src/Domain/Services/DraftOrders.php
  tests/php/Domain/Services/DeleteDraftOrders.php
Labels: status: ready to merge, type: enhancement

#2976 Link cart/checkout merchant (editor) feedback prompt to special GitHub issue type
  .github/ISSUE_TEMPLATE/---bug-report.md
  .github/ISSUE_TEMPLATE/--cart-checkout-feedback.md
  .github/ISSUE_TEMPLATE/--feature-request.md
  .github/ISSUE_TEMPLATE/--support-question.md
  assets/js/blocks/cart-checkout/cart/edit.js
  assets/js/blocks/cart-checkout/checkout/edit.js
  assets/js/components/feedback-prompt/index.js
  assets/js/hocs/index.js
  assets/js/hocs/with-feedback-prompt/index.js
Labels: scope: documentation, skip-changelog, status: needs review, ◼️ block: cart, ◼️ block: checkout

#2988 Fix spelling of "its" in product element block placeholder screens
  assets/js/atomic/blocks/product-elements/add-to-cart/edit.js
  assets/js/atomic/blocks/product-elements/button/edit.js
  assets/js/atomic/blocks/product-elements/category-list/edit.js
  assets/js/atomic/blocks/product-elements/image/edit.js
  assets/js/atomic/blocks/product-elements/price/edit.js
  assets/js/atomic/blocks/product-elements/rating/edit.js
  assets/js/atomic/blocks/product-elements/sale-badge/edit.js
  assets/js/atomic/blocks/product-elements/sku/edit.js
  assets/js/atomic/blocks/product-elements/stock-indicator/edit.js
  assets/js/atomic/blocks/product-elements/summary/edit.js
  assets/js/atomic/blocks/product-elements/tag-list/edit.js
  assets/js/atomic/blocks/product-elements/title/edit.js
Labels: status: ready to merge, type: bug

#2320 Use SVG for checkbox
  assets/js/base/components/checkbox-control/index.js
  assets/js/base/components/checkbox-control/style.scss
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout

#2989 fix issue with no margins on phone input
  assets/js/base/components/cart-checkout/shipping-calculator/style.scss
  assets/js/base/components/country-input/country-input.js
  assets/js/base/components/country-input/style.scss
  assets/js/base/components/select/style.scss
  assets/js/base/components/state-input/state-input.js
  assets/js/base/components/state-input/style.scss
  assets/js/base/components/text-input/style.scss
  assets/js/blocks/cart-checkout/cart/full-cart/style.scss
  assets/js/blocks/cart-checkout/checkout/style.scss
Labels: scope: components, scope: styles, skip-changelog, status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout

#2974 Fix focus styles of error states for the text input and select components
  assets/js/base/components/select/style.scss
  assets/js/base/components/text-input/style.scss
Labels: scope: components, scope: styles, status: ready to merge, ◼️ block: checkout

#2975 Hide saved payment methods if their gateway is disabled
  assets/js/base/components/payment-methods/saved-payment-method-options.js
  assets/js/base/context/cart-checkout/payment-methods/payment-method-data-context.js
  assets/js/type-defs/contexts.js
  src/Payments/Api.php
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#2990 Allow WP 5.4 + GB to fail until we fix it.
  .travis.yml
Labels: scope: tests, skip-changelog, status: ready to merge

#2968 Remove generic payment method icons (Stripe CC + Cheque)
  assets/js/payment-method-extensions/payment-methods/cheque/index.js
  assets/js/payment-method-extensions/payment-methods/stripe/credit-card/index.js
Labels: scope: extensibility, status: ready to merge, status:needs-dev-note, ◼️ block: checkout

#3001 Fix phpunit test config
  tests/bin/Dockerfile
  tests/php/StoreApi/Utilities/ReserveStock.php
Labels: scope: tests, status: ready to merge, type: bug

#2992 Use real previews for the Cart and Checkout blocks
  assets/img/cart-preview.svg
  assets/img/checkout-preview.svg
  assets/js/blocks/cart-checkout/cart/edit.js
  assets/js/blocks/cart-checkout/cart/editor.scss
  assets/js/blocks/cart-checkout/checkout/edit.js
  assets/js/blocks/cart-checkout/checkout/editor.scss
  assets/js/previews/cart-block.js
  assets/js/previews/checkout-block.js
  assets/js/previews/index.js
Labels: status: ready to merge, ◼️ block: cart, ◼️ block: checkout

#2981 Add dark colors support to Cart & Checkout controls
  assets/css/abstracts/_colors.scss
  assets/js/base/components/checkbox-control/style.scss
  assets/js/base/components/panel/style.scss
  assets/js/base/components/quantity-selector/style.scss
  assets/js/base/components/radio-control/_mixin.scss
  assets/js/base/components/radio-control/editor.scss
  assets/js/base/components/radio-control/index.js
  assets/js/base/components/select/style.scss
  assets/js/base/components/tabs/style.scss
  assets/js/base/components/text-input/style.scss
  assets/js/base/components/textarea/style.scss
  assets/js/blocks/cart-checkout/cart/attributes.js
  assets/js/blocks/cart-checkout/cart/edit.js
  assets/js/blocks/cart-checkout/cart/full-cart/index.js
  assets/js/blocks/cart-checkout/checkout/attributes.js
  assets/js/blocks/cart-checkout/checkout/block.js
  assets/js/blocks/cart-checkout/checkout/edit.js
  assets/js/blocks/cart-checkout/checkout/style.scss
  assets/js/settings/blocks/constants.js
  src/Assets.php
Labels: scope: components, scope: styles, status: ready to merge, ◼️ block: cart, ◼️ block: checkout

#3012 rename ProductQueryFilters file to match class name (PSR4 compatible)
  src/StoreApi/Utilities/ProductQueryFilters.php
Labels: skip-changelog, status: ready to merge, type: refactor, 🔹 block-type: filter blocks

#3013 update minimum required version of WordPress core to 5.3
  .travis.yml
  README.md
  docs/releases/handling-releases.md
  readme.txt
  webpack.config.js
  woocommerce-gutenberg-products-block.php
Labels: scope: documentation, status: ready to merge, type: build

#3010 Deprecate wc.wcSettings.setSetting function.
  assets/js/settings/shared/set-setting.js
  assets/js/settings/shared/test/compare-with-wp-version.js
  assets/js/settings/shared/test/set-setting.js
Labels: status: ready to merge, type: enhancement

#3014 use TextControl instead of PlainText
  assets/js/blocks/product-search/edit.js
  tests/e2e-tests/specs/backend/product-search.test.js
Labels: scope: styles, status: ready to merge, ◼️ block: product search

#3009 Add defensive checks for cart instance
  src/StoreApi/Utilities/CartController.php
Labels: scope: rest-api, status: ready to merge, type: enhancement

#3015 remove suspense polyfill
  assets/js/base/utils/render-frontend.js
Labels: skip-changelog, status: ready to merge, type: refactor

#3016 Release 3.2
  .travis.yml
  composer.json
  docs/testing/releases/320.md
  package.json
  readme.txt
  src/Package.php
  woocommerce-gutenberg-products-block.php
Labels: type: release

#2854 Display Checkout block with a notice when adding a product sold individually that was already in the cart
  assets/js/blocks/cart-checkout/checkout/checkout-order-error/index.js
  src/BlockTypes/Checkout.php
  src/StoreApi/Utilities/CartController.php
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#3036 Exclude storybook from released ZIP
  bin/build-plugin-zip.sh
  bin/copy-plugin-files.sh
  bin/wordpress-deploy.sh
Labels: status: ready to merge, type: build

#3044 Fix CartItems unit tests
  tests/php/StoreApi/Routes/CartItems.php
Labels: scope: tests, skip-changelog, status: ready to merge

#3043 Add Webpack config docs
  docs/contributors/README.md
  docs/contributors/css-build-system.md
  docs/contributors/js-build-system.md
  webpack.config.js
Labels: scope: documentation, skip-changelog, status: ready to merge

#3047 Fix discounted price misalignment in Cart block
  assets/js/atomic/blocks/product-elements/price/block.js
  assets/js/atomic/blocks/product-elements/price/style.scss
Labels: scope: styles, status: ready to merge, ◼️ block: cart

#3025 clarify intentions / purpose of different component folders in docs
  assets/js/base/components/README.md
  assets/js/components/README.md
  docs/contributors/README.md
  docs/contributors/components.md
  docs/contributors/storybook.md
Labels: action: needs feedback, status: ready to merge

#3039 upgrade Storybook to 6.0
  package-lock.json
  package.json
Labels: skip-changelog, status: ready to merge, type: build

#3027 Fix deploy scripts for handling composer.json version and version string validation
  bin/build-plugin-zip.sh
  bin/github-deploy.sh
  docs/releases/handling-releases.md
Labels: skip-changelog, status: ready to merge, type: build, type: cooldown

#3073 Add templates for release pull request automation
  .github/patch-initial-checklist.md
  .github/patch-release-pull-request.md
  .github/release-automation-config.json
  .github/release-initial-checklist.md
  .github/release-pull-request.md
  .github/release_pull_request_template.md
Labels: type: build

#3062 Split Checkout block component into smaller files
  assets/js/base/components/cart-checkout/form-step/style.scss
  assets/js/base/components/cart-checkout/form/style.scss
  assets/js/base/components/cart-checkout/index.js
  assets/js/base/components/form/index.js
  assets/js/blocks/cart-checkout/checkout/block.js
  assets/js/blocks/cart-checkout/checkout/form/index.js
  assets/js/blocks/cart-checkout/checkout/form/login-prompt.js
  assets/js/blocks/cart-checkout/checkout/form/no-shipping-placeholder/index.js
  assets/js/blocks/cart-checkout/checkout/form/no-shipping-placeholder/style.scss
  assets/js/blocks/cart-checkout/checkout/form/order-notes/index.js
  assets/js/blocks/cart-checkout/checkout/form/order-notes/style.scss
  assets/js/blocks/cart-checkout/checkout/form/style.scss
  assets/js/blocks/cart-checkout/checkout/style.scss
  assets/js/blocks/cart-checkout/checkout/utils.js
  docs/theming/README.md
  docs/theming/class-names-update-330.md
  docs/theming/class-names-update-340.md
  src/BlockTypes/Checkout.php
Labels: skip-changelog, status: ready to merge, type: refactor, ◼️ block: checkout

#3086 Fix JS console error when COD is enabled and no shipping method is available.
  assets/js/base/hooks/shipping/use-select-shipping-rate.js
Labels: status: ready to merge, type: bug, ◼️ block: checkout
