Repository woocommerce/woocommerce-blocks, pull requests merged in 2021-11, with the labels that each got.

#5014 Graduate `__experimental_woocommerce_blocks_checkout_order_processed` action to stable
  bin/hook-docs/data/actions.json
  docs/blocks/feature-flags-and-experimental-interfaces.md
  docs/examples/checkout-order-processed.md
  docs/extensibility/actions.md
  src/StoreApi/Routes/Checkout.php
Labels: status: ready to merge, category: rest-api, category: blocks, ◼️ block: checkout

#5015 Graduate `__experimental_woocommerce_blocks_checkout_update_order_from_request` action to stable
  bin/hook-docs/data/actions.json
  docs/blocks/feature-flags-and-experimental-interfaces.md
  docs/examples/checkout-order-processed.md
  docs/extensibility/actions.md
  src/StoreApi/Routes/Checkout.php
Labels: status: ready to merge, type: documentation, category: rest-api, category: blocks, ◼️ block: checkout

#5017 Graduate `__experimental_woocommerce_blocks_checkout_update_order_meta` action to stable
  bin/hook-docs/data/actions.json
  docs/blocks/feature-flags-and-experimental-interfaces.md
  docs/examples/checkout-order-processed.md
  docs/extensibility/actions.md
  src/StoreApi/Routes/Checkout.php
Labels: status: ready to merge, type: documentation, category: rest-api, category: blocks

#5048 Fix Block Templates being rendered correctly
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, skip-changelog, category: fse, 🔹 block-type: templates

#5049 Store Editing Templates v1: add a basic Product Archive block template
  assets/js/blocks/legacy-template/constants.ts
  assets/js/blocks/legacy-template/editor.scss
  assets/js/blocks/legacy-template/index.tsx
  images/template-placeholders/archive-product.svg
  src/BlockTypes/LegacyTemplate.php
  templates/block-templates/archive-product.html
Labels: status: ready to merge, type: enhancement, category: fse, 🔹 block-type: templates

#5054 Add Single Product Block Template
  assets/js/blocks/legacy-template/editor.scss
  images/template-placeholders/single-product.svg
  src/BlockTypes/LegacyTemplate.php
  templates/block-templates/single-product.html
Labels: status: ready to merge, category: fse, 🔹 block-type: templates

#5061 Fix sale badge alignment on smaller screen #3601
  assets/js/base/components/product-list/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: all products, 🔹 block-type: product-grid

#5067 Set is_custom property on template and remove redundant code
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: bug, category: fse, 🔹 block-type: templates

#5068 Update placeholder images to reflect new wireframe designs
  images/template-placeholders/archive-product.svg
  images/template-placeholders/single-product.svg
Labels: status: ready to merge, type: enhancement, skip-changelog

#5063 Store Editing Templates v1: add basic taxonomy block templates
  assets/js/blocks/legacy-template/constants.ts
  assets/js/blocks/legacy-template/editor.scss
  assets/js/blocks/legacy-template/index.tsx
  images/template-placeholders/fallback.svg
  src/BlockTemplatesController.php
  src/BlockTypes/LegacyTemplate.php
  src/Utils/BlockTemplateUtils.php
  templates/block-templates/taxonomy-product_cat.html
  templates/block-templates/taxonomy-product_tag.html
Labels: status: ready to merge

#5058 Expose withFilteredAttributes to extensions
  assets/js/atomic/blocks/product-elements/add-to-cart/frontend.js
  assets/js/atomic/blocks/product-elements/image/frontend.js
  assets/js/atomic/blocks/product-elements/title/frontend.ts
  assets/js/blocks/cart-checkout/cart/inner-blocks/cart-order-summary-block/frontend.tsx
  assets/js/blocks/cart-checkout/cart/inner-blocks/proceed-to-checkout-block/frontend.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-actions-block/frontend.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-billing-address-block/frontend.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-contact-information-block/frontend.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-payment-block/frontend.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-shipping-address-block/frontend.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-shipping-methods-block/frontend.tsx
  assets/js/shared/hocs/index.js
  assets/js/shared/hocs/with-filtered-attributes.js
Labels: status: ready to merge, type: enhancement, category: extensibility

#5022 Remove hydration hocs in favour of apiFetch Middlewares
  assets/js/base/context/providers/cart-checkout/checkout-state/constants.ts
  assets/js/blocks/active-filters/frontend.js
  assets/js/blocks/attribute-filter/frontend.js
  assets/js/blocks/cart-checkout/cart/frontend.js
  assets/js/blocks/cart-checkout/checkout/checkout-order-error/index.js
  assets/js/blocks/cart-checkout/checkout/frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart/component-frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart/with-mini-cart-conditional-hydration.tsx
  assets/js/blocks/price-filter/frontend.js
  assets/js/blocks/products/all-products/frontend.js
  assets/js/blocks/stock-filter/frontend.js
  assets/js/data/cart/constants.ts
  assets/js/hocs/index.js
  assets/js/hocs/with-rest-api-hydration.js
  assets/js/hocs/with-store-cart-api-hydration.js
  assets/js/middleware/cart-update.ts
  assets/js/middleware/index.js
  assets/js/previews/cart.ts
  src/Assets/AssetDataRegistry.php
  src/BlockTypes/Checkout.php
  src/StoreApi/Schemas/CartSchema.php
  src/StoreApi/docs/cart.md
  tests/e2e/specs/frontend/cart.test.js
Labels: status: ready to merge, skip-changelog

#5051 Fix conflict between Mini Cart and Navigation blocks #4592
  assets/js/blocks/cart-checkout/mini-cart/frontend.ts
Labels: status: ready to merge, type: bug, skip-changelog, category: fse, ◼️ block: mini cart

#5002 Fix Duplicate Queries in Product Grids #4695
  src/BlockTypes/AbstractProductGrid.php
  src/StoreApi/Schemas/ProductSchema.php
Labels: status: ready to merge, category: performance

#4994 Add `register_payment_requirements` documentation
  docs/extensibility/filtering-payment-methods.md
Labels: status: ready to merge, type: documentation, skip-changelog

#5030 Fix: Checkout block: Shipping method title encoding display
  assets/js/base/components/cart-checkout/totals/shipping/shipping-via.tsx
Labels: type: bug, ◼️ block: cart, ◼️ block: checkout

#5069 pass blockWrapper to forcedBlocks
  assets/js/atomic/utils/render-parent-block.tsx
Labels: status: ready to merge, type: bug, category: extensibility, skip-changelog

#5065 Add .prettierignore configuration
  .prettierignore
Labels: status: ready to merge, skip-changelog, type: task

#5059 Fix wc-settings not loading when a script that depend on it is in the header
  src/AssetsController.php
Labels: status: ready to merge, type: bug, needs dev-note, type: wp dependency

#5072 Product Search: Fix Search label alignment on the edit page
  assets/js/blocks/product-search/editor.scss
Labels: status: ready to merge, type: bug, ◼️ block: product search, category: styles

#5060 Fix sanitization callback
  composer.json
  composer.lock
  phpcs.xml
  src/StoreApi/Schemas/AbstractSchema.php
  tests/php/StoreApi/Routes/Checkout.php
Labels: type: bug, category: rest-api

#5062 Allow block templates to be customised and saved
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, skip-changelog, category: fse

#5021 Add textdomain validation to .eslintrc.js
  .eslintrc.js
Labels: status: ready to merge, type: build, category: i18n, skip-changelog, ◼️ block: checkout

#5095 Fix text domain validation problems
  assets/js/atomic/blocks/product-elements/price/edit.js
  assets/js/blocks/featured-category/block.js
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/handpicked-products/block.js
  assets/js/blocks/product-category/block.js
  assets/js/blocks/product-tag/block.js
  assets/js/blocks/products-by-attribute/block.js
  assets/js/editor-components/heading-toolbar/index.js
  assets/js/payment-method-extensions/payment-methods/stripe/payment-request/use-initialization.js
  assets/js/payment-method-extensions/payment-methods/stripe/stripe-utils/utils.js
Labels: status: ready to merge, type: bug, type: build, category: i18n, skip-changelog, ◼️ block: hand-picked products, ◼️ block: featured category, ◼️ block: featured product, ◼️ block: products by category, 🔺 atomic-block, ◼️ block: products by tag

#5097 Remove woocommerce_sidebar
  src/BlockTypes/LegacyTemplate.php
Labels: status: ready to merge, category: fse, 🔹 block-type: templates

#5093 Update templates so Legacy Template blocks don't take all available width
  templates/block-templates/archive-product.html
  templates/block-templates/single-product.html
Labels: status: ready to merge, type: bug, skip-changelog, category: fse

#5098 Update release automation checklist template to include mention about using Porter for testing.
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
Labels: type: build

#5099 Add note about minimum required WC version check in release checklist
  .github/release-initial-checklist.md
Labels: type: build

#5104 Fix PHP fatal error on Product tag pages due to wrong function name
  src/BlockTemplatesController.php
Labels: status: ready to merge, skip-changelog, category: fse

#5105 Update taxonomy templates so Legacy Template blocks don't take all available width
  templates/block-templates/taxonomy-product_cat.html
  templates/block-templates/taxonomy-product_tag.html
Labels: status: ready to merge, skip-changelog, category: fse

#5107 Add hydration for product data for Single Product block #2698
  src/BlockTypes/SingleProduct.php
Labels: status: ready to merge, category: performance, ◼️ block: product, 🔺 atomic-block

#5096 Fix e2e tests welcome guide/m1 mac support
  assets/js/blocks/cart-checkout/cart/inner-blocks/filled-cart-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout/edit.tsx
  assets/js/blocks/cart-checkout/shared/columns-block.tsx
  assets/js/blocks/cart-checkout/shared/index.js
  assets/js/blocks/cart-checkout/shared/use-view-switcher.tsx
  package-lock.json
  package.json
  tests/bin/e2e-test-integration.js
  tests/e2e/config/jest-puppeteer.config.js
  tests/e2e/config/jest-puppeteer.dev.config.js
  tests/e2e/config/jest.setup.js
  tests/e2e/specs/backend/cart.test.js
  tests/utils/visit-block-page.js
Labels: status: ready to merge, skip-changelog, category: tests

#5094 Define chunkFilename with contenthash in lazy loaded assets
  bin/webpack-configs.js
Labels: status: ready to merge, skip-changelog

#4992 Add cart item classname filter
  assets/js/base/components/cart-checkout/order-summary/order-summary-item.js
  assets/js/blocks/cart-checkout/cart/cart-line-items-table/cart-line-item-row.tsx
  docs/extensibility/available-filters.md
Labels: status: ready to merge, type: enhancement, category: extensibility, ◼️ block: cart, ◼️ block: checkout

#5045 Move checkbox control to checkout package
  assets/js/blocks/cart-checkout/checkout/edit.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-contact-information-block/block.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-terms-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-terms-block/frontend.tsx
  assets/js/blocks/cart-checkout/checkout/order-notes/index.js
  assets/js/blocks/cart-checkout/payment-methods/payment-method-card.js
  packages/checkout/components/checkbox-control/index.tsx
  packages/checkout/components/checkbox-control/stories/index.js
  packages/checkout/components/checkbox-control/style.scss
  packages/checkout/components/index.js
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout

#5113 Improve title for edit button
  assets/js/blocks/featured-category/block.js
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/handpicked-products/block.js
  assets/js/blocks/product-category/block.js
  assets/js/blocks/product-tag/block.js
  assets/js/blocks/products-by-attribute/block.js
  assets/js/blocks/products/all-products/edit.js
  assets/js/blocks/reviews/edit-utils.js
  assets/js/blocks/reviews/reviews-by-category/edit.js
  assets/js/blocks/reviews/reviews-by-product/edit.js
  assets/js/blocks/single-product/edit/editor-block-controls.js
Labels: status: ready to merge, type: enhancement, category: accessibility

#5111 Fix: loading WC Blocks templates content
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, skip-changelog, category: fse, 🔹 block-type: templates

#5124 Downgrade @wordpress/scripts to 17.1.0 to fix dependency mistmach issue
  docs/contributors/getting-started.md
  package-lock.json
  package.json
Labels: status: ready to merge, type: build, skip-changelog

#5128 Remove feature gate conditions for Store Editing Templates BlockTemplatesController
  src/Domain/Bootstrap.php
Labels: status: ready to merge, category: fse, 🔹 block-type: templates

#5120 Prevent justified texts due to accessibility reasons
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-terms-block/style.scss
Labels: status: ready to merge, type: enhancement, category: accessibility, category: i18n, ◼️ block: checkout

#5122 Added a placeholder to the product search block editor
  assets/js/blocks/product-search/edit.js
Labels: status: ready to merge, type: enhancement, category: blocks, ◼️ block: product search

#5149 Re-add experimental discounts meta slot to checkout
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-order-summary-block/block.tsx
Labels: status: ready to merge, type: bug, category: extensibility, type: blocker, skip-changelog, category: blocks, ◼️ block: checkout

#5132 Fix state validation to compare state codes, and only validate if a country is given
  src/StoreApi/Schemas/AbstractAddressSchema.php
  src/StoreApi/Schemas/BillingAddressSchema.php
  src/StoreApi/Schemas/ShippingAddressSchema.php
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog

#5129 Fix 'Country is required' error on the Cart block when updating shipping address
  assets/js/base/context/hooks/cart/use-store-cart.ts
  assets/js/base/context/hooks/use-customer-data.ts
  assets/js/data/cart/actions.ts
  assets/js/types/type-defs/cart.ts
Labels: status: ready to merge, type: bug, type: blocker, category: blocks, ◼️ block: cart

#5139 Make order note block removable
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-order-note-block/block.json
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#5142 Mini Cart block fatal error caused by append_script_and_deps_src
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, skip-changelog, ◼️ block: mini cart

#5151 Replace do_action_deprecated with the WC equivalent
  src/StoreApi/Routes/Checkout.php
Labels: status: ready to merge, type: bug, category: extensibility, type: blocker, category: rest-api, skip-changelog

#5158 Remove feature gate condition for Legacy Template block
  assets/js/blocks/legacy-template/index.tsx
Labels: status: ready to merge, type: blocker, skip-changelog, category: fse

#5167 Hide WooCommmerce block templates from Edit Post template dropdown
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: type: bug, skip-changelog, category: fse, 🔹 block-type: templates

#5100 Add global style support to Mini Cart (button)
  assets/js/blocks/cart-checkout/mini-cart/block.tsx
  assets/js/blocks/cart-checkout/mini-cart/component-frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart/index.tsx
  assets/js/blocks/cart-checkout/mini-cart/quantity-badge/index.tsx
  assets/js/blocks/cart-checkout/mini-cart/quantity-badge/style.scss
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: enhancement, skip-changelog, category: styles, category: fse, ◼️ block: mini cart

#5176 Legacy Template Block: Remove the deletion lock (#5166)
  assets/js/blocks/legacy-template/index.tsx
Labels: status: ready to merge, type: enhancement, category: fse, 🔹 block-type: templates

#5183 Check that functions gutenberg_supports_block_templates and gutenberg…
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, skip-changelog, category: fse, 🔹 block-type: templates

#5134 Add version to doing it wrong calls
  src/BlockTypes/AbstractBlock.php
  src/Integrations/IntegrationRegistry.php
Labels: status: ready to merge, skip-changelog

#5140 Move Checkout i1 -> i2 migration code to registerBlockType
  assets/js/blocks/cart-checkout/checkout/index.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-fields-block/edit.tsx
  src/BlockTypes/Checkout.php
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: checkout

#5025 Mini Cart as template part
  assets/js/base/context/hooks/cart/use-store-cart-event-listeners.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/payment-method-data-context.tsx
  assets/js/base/utils/render-frontend.js
  assets/js/blocks/cart-checkout/cart/cart-line-items-table/index.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/index.tsx
  assets/js/blocks/cart-checkout/mini-cart/block.tsx
  assets/js/blocks/cart-checkout/mini-cart/component-frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart/test/block.js
  bin/webpack-entries.js
  src/BlockTemplatesController.php
  src/BlockTypes/MiniCart.php
  src/BlockTypes/MiniCartContents.php
  src/BlockTypesController.php
  src/Utils/BlockTemplateUtils.php
  templates/block-template-parts/mini-cart.html
Labels: status: ready to merge, skip-changelog, category: fse, ◼️ block: mini cart

#5155 Switch variables round in the error message of `mustContain` validation function
  packages/checkout/utils/validation/index.ts
Labels: status: ready to merge, category: extensibility, skip-changelog, type: technical debt

#5188 Add support for decimal and thousand separators in the `formatPrice` function
  packages/prices/utils/price.ts
  packages/prices/utils/test/price.js
Labels: status: ready to merge, ◼️ block: cart, ◼️ block: mini cart

#5154 In `@woocommerce/blocks-checkout` package documentation - reference WCDEWP instead of WPDEWP
  packages/checkout/README.md
Labels: type: documentation

#5147 Fix: use custom compatibility notice style
  assets/js/editor-components/compatibility-notices/cart-checkout-compatibility-notice.tsx
  assets/js/editor-components/compatibility-notices/style.scss
  assets/js/editor-components/compatibility-notices/woo-image.js
Labels: status: ready to merge, type: bug, category: fse, ◼️ block: mini cart

#5164 Checkbox Component Styling Fix
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-terms-block/editor.scss
  packages/checkout/components/checkbox-control/index.tsx
  packages/checkout/components/checkbox-control/style.scss
Labels: status: ready to merge, category: blocks, ◼️ block: checkout, category: styles

#5135 Pass to payment methods a wrapper component that handles the loading state
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/types/type-defs/registered-payment-method-props.js
  docs/extensibility/payment-method-integration.md
Labels: status: ready to merge

#5112 Lazy load missing translation files
  package.json
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
Labels: status: ready to merge, type: bug, type: blocker, category: i18n, ◼️ block: checkout

#5191 Checkout Terms Block: Fix Terms and Conditions checkbox position in editor (#5150)
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-terms-block/editor.scss
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout, category: styles

#5210 Feature gate WC Block Templates to WC v6.0.0
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, category: fse, 🔹 block-type: templates

#5197 Fix manual entry within Quantity Inputs
  assets/js/base/components/quantity-selector/index.tsx
Labels: status: ready to merge, ◼️ block: cart, ◼️ block: mini cart

#5040 replace synchronizeBlocksWithTemplate with createBlocksFromInnerBlock…
  assets/js/blocks/cart-checkout/shared/use-forced-layout.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: cart, ◼️ block: checkout

#5171 Mini Cart block: allow left, right and center alignment
  assets/js/blocks/cart-checkout/mini-cart/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart/index.tsx
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: enhancement, skip-changelog, category: fse, ◼️ block: mini cart

#5218 Fix WooCommerce blog links in release checklist
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
Labels: status: ready to merge, type: build, skip-changelog

#5212 Implement `@wordpress/babel-preset-default` (drops IE11 support)
  babel.config.js
  bin/webpack-configs.js
  package-lock.json
  package.json
Labels: status: ready to merge, skip-changelog, type: cooldown

#5220 Fix Mini Cart block when Gutenberg is not enabled
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, skip-changelog, category: fse, ◼️ block: mini cart

#5221 Add: Mini Cart template part area
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: enhancement, skip-changelog, category: fse, ◼️ block: mini cart

#5219 Display decimals if intended by the merchant
  packages/prices/utils/price.ts
  packages/prices/utils/test/price.js
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#5235 Update folder structure doc
  docs/contributors/folder-structure.md
Labels: status: ready to merge, type: documentation, skip-changelog, type: cooldown

#5231 Fix: When creating a template part for the Mini Cart area, it should be created already containing the Mini Cart Contents block
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: enhancement, skip-changelog, category: fse, ◼️ block: mini cart

#5206 Checkbox Control: Fix squished checkboxes when label text wraps (#5192)
  packages/checkout/components/checkbox-control/style.scss
Labels: skip-changelog, category: styles, theme: Twenty Twenty-One

#5215 Change source value on WooCommerce block templates to be plugin
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: enhancement, skip-changelog, category: fse, 🔹 block-type: templates

#5157 Introduce `<Noninteractive>` component to disable form elements non-visually
  assets/js/base/components/noninteractive/index.tsx
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-registration.ts
  assets/js/blocks/cart-checkout/cart/inner-blocks/cart-line-items-block/edit.tsx
  assets/js/blocks/cart-checkout/cart/inner-blocks/cart-order-summary-block/edit.tsx
  assets/js/blocks/cart-checkout/cart/inner-blocks/proceed-to-checkout-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-actions-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-contact-information-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-order-note-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-order-summary-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-payment-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-shipping-methods-block/edit.tsx
  assets/js/blocks/price-filter/block.js
  assets/js/hocs/test/with-searched-products.js
  assets/js/hocs/with-searched-products.tsx
  package-lock.json
  package.json
Labels: status: needs review

#5241 Convert components to Typescript
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/components/cart-checkout/form-step/index.tsx
  assets/js/base/components/cart-checkout/order-summary/index.tsx
  assets/js/base/components/cart-checkout/order-summary/order-summary-item.tsx
  assets/js/base/components/cart-checkout/return-to-cart-button/index.tsx
  assets/js/base/components/formatted-monetary-amount/index.tsx
  assets/js/base/components/product-price/index.tsx
  assets/js/types/type-defs/cart.ts
  packages/checkout/utils/validation/index.ts
Labels: status: ready to merge, skip-changelog, type: cooldown, type: technical debt

#5261 Create dev packages with a blocks.ini file
  bin/build-plugin-zip.sh
Labels: status: ready to merge, type: build, skip-changelog

#5260 Don't run enqueue_assets on REST requests
  src/BlockTypes/AbstractBlock.php
Labels: status: ready to merge, type: enhancement, category: performance

#5234 Remove obsolete files and folders from deploy zip
  bin/copy-plugin-files.sh
Labels: status: ready to merge, type: bug, type: build, skip-changelog, type: cooldown

#5165 Product details component accepts `key` or `name` as props
  assets/js/base/components/cart-checkout/product-details/index.tsx
  assets/js/base/components/cart-checkout/product-details/test/__snapshots__/index.js.snap
  assets/js/base/components/cart-checkout/product-metadata/index.tsx
  assets/js/types/type-defs/product-response.ts
Labels: status: ready to merge, category: components, ◼️ block: cart, ◼️ block: checkout, type: technical debt

#5201 Mini Cart Block: add link to edit template part from sidebar
  assets/js/blocks/cart-checkout/mini-cart/edit.tsx
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: enhancement, skip-changelog, category: fse, ◼️ block: mini cart

#5277 refactor StyleAttributesUtils
  src/BlockTypes/ProductCategories.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge

#5133 Add global style for Product Categories List block
  assets/js/blocks/product-categories/block.js
  assets/js/blocks/product-categories/index.js
  src/BlockTypes/ProductCategories.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, type: enhancement, category: styles, ◼️ block: product categories list, category: fse
