Repository woocommerce/woocommerce-blocks, pull requests merged in 2021-05, with the labels that each got.

#4167 Add documentation for filters
  docs/extensibility/README.md
  docs/extensibility/available-filters.md
  packages/checkout/registry/index.ts
Labels: status: ready to merge, type: documentation

#4153 Fix/cart backend test
  tests/e2e/specs/backend/cart.test.js
  tests/e2e/specs/backend/checkout.test.js
Labels: category: tests, status: ready to merge, ◼️ block: cart

#4162 Don't clear email and phone fields when using separate billing address.
  assets/js/base/context/hooks/use-checkout-address.js
Labels: priority: high, status: ready to merge, type: blocker, ◼️ block: checkout

#4158 Improvements to `emitEventWithAbort`.
  assets/js/base/context/event-emit/emitters.ts
  assets/js/base/context/event-emit/test/emitters.js
  assets/js/base/context/hooks/use-emit-response.js
  assets/js/base/context/providers/add-to-cart-form/form-state/index.js
  assets/js/base/context/providers/cart-checkout/checkout-state/index.js
  assets/js/base/context/providers/cart-checkout/payment-methods/payment-method-data-context.tsx
Labels: category: extensibility, category: refactor, status: ready to merge, type: blocker, type: technical debt

#4176 Feature gate PaymentApi
  docs/blocks/feature-flags-and-experimental-interfaces.md
  src/Domain/Bootstrap.php
  src/Payments/Api.php
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout

#4135 Convert shipping components to typescript
  assets/js/base/components/cart-checkout/shipping-calculator/address.tsx
  assets/js/base/components/cart-checkout/shipping-calculator/index.tsx
  assets/js/base/components/cart-checkout/shipping-location/index.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/package-rates.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/render-package-rate-option.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  assets/js/base/context/hooks/shipping/use-select-shipping-rate.ts
  assets/js/base/context/hooks/shipping/use-select-shipping-rates.ts
  assets/js/blocks/cart-checkout/checkout/form/shipping-options-step.tsx
  assets/js/previews/shipping-rates.ts
  assets/js/settings/shared/default-address-fields.ts
  assets/js/type-defs/cart-response.ts
  assets/js/type-defs/cart.ts
  assets/js/type-defs/hooks.ts
  assets/js/type-defs/shipping.ts
  packages/prices/utils/price.ts
Labels: category: refactor, skip-changelog, status: ready to merge

#4166 Add checkout filter for coupon names
  assets/js/base/components/cart-checkout/totals/discount/index.js
  packages/checkout/registry/index.ts
Labels: category: blocks, category: extensibility, status: ready to merge, type: task, ◼️ block: cart, ◼️ block: checkout

#4187 Use value rather than name for list items within the ProductDetails component
  assets/js/base/components/cart-checkout/product-details/index.tsx
Labels: status: ready to merge

#4164 Add cart data to filters
  assets/js/base/components/cart-checkout/order-summary/order-summary-item.js
  assets/js/base/components/cart-checkout/totals/footer-item/index.js
  assets/js/blocks/cart-checkout/cart/full-cart/cart-line-item-row.tsx
Labels: category: extensibility, skip-changelog, status: ready to merge, ◼️ block: cart, ◼️ block: checkout

#4203 Set default store currency to USD in tests
  tests/php/StoreApi/Routes/Cart.php
Labels: category: tests, skip-changelog, status: ready to merge

#4197 Sync customer data during checkout with draft orders.
  assets/js/base/context/hooks/use-customer-data.ts
  assets/js/base/context/tsconfig.json
  assets/js/base/utils/address.ts
  src/StoreApi/Routes/CartUpdateCustomer.php
Labels: category: rest-api, status: ready to merge

#4188 Remove the need for the `canMakePayment` callback in the editor context
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-registration.ts
  docs/extensibility/payment-method-integration.md
Labels: status: ready to merge

#4186 Set order status to pending when no payment is needed before completing order
  src/StoreApi/Routes/Checkout.php
Labels: status: ready to merge

#4199 Fix cart and checkout frontend e2e tests
  docs/contributors/javascript-testing.md
  tests/e2e/specs/frontend/cart.test.js
  tests/e2e/specs/frontend/checkout.test.js
Labels: status: ready to merge

#4206 Fix es lint warnings
  .eslintrc.js
  assets/js/base/components/cart-checkout/product-summary/index.tsx
  assets/js/base/components/price-slider/index.js
  assets/js/blocks/attribute-filter/edit.js
  assets/js/blocks/cart-checkout/cart/checkout-button/index.js
  assets/js/data/cart/actions.ts
  assets/js/editor-components/product-attribute-term-control/index.js
  assets/js/editor-components/product-category-control/index.js
  assets/js/editor-components/product-tag-control/index.js
  assets/js/icons/stories/index.js
  assets/js/utils/attributes-query.js
Labels: category: refactor, skip-changelog, status: ready to merge

#4202 Don't use fallback in getSetting if value is falsy
  assets/js/settings/shared/test/get-setting.js
  assets/js/settings/shared/utils.ts
Labels: status: needs review, ◼️ block: cart, ◼️ block: checkout

#4222 Move Button and Label components to `@woocommerce/blocks-checkout` package
  assets/js/atomic/blocks/product-elements/add-to-cart/shared/add-to-cart-button.js
  assets/js/atomic/blocks/product-elements/sale-badge/block.js
  assets/js/base/components/cart-checkout/order-summary/order-summary-item.js
  assets/js/base/components/cart-checkout/place-order-button/index.js
  assets/js/base/components/cart-checkout/shipping-calculator/address.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  assets/js/base/components/cart-checkout/totals/coupon/index.js
  assets/js/base/components/filter-submit-button/index.js
  assets/js/base/components/load-more-button/index.js
  assets/js/base/components/pagination/index.js
  assets/js/base/components/sort-select/index.js
  assets/js/base/components/text-input/text-input.js
  assets/js/blocks/active-filters/block.js
  assets/js/blocks/active-filters/utils.js
  assets/js/blocks/attribute-filter/label.js
  assets/js/blocks/cart-checkout/cart/checkout-button/index.js
  assets/js/blocks/cart-checkout/payment-methods/payment-methods.js
  packages/checkout/button/index.tsx
  packages/checkout/button/stories/index.js
  packages/checkout/button/style.scss
  packages/checkout/index.js
  packages/checkout/label/index.tsx
  packages/checkout/label/test/__snapshots__/index.js.snap
  packages/checkout/label/test/index.js
Labels: category: components, category: extensibility, status: ready to merge, type: task

#4200 Convert checkout state context provider to Typescript
  assets/js/base/context/hooks/use-emit-response.js
  assets/js/base/context/hooks/use-emit-response.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/actions.js
  assets/js/base/context/providers/cart-checkout/checkout-state/actions.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/constants.js
  assets/js/base/context/providers/cart-checkout/checkout-state/constants.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/event-emit.js
  assets/js/base/context/providers/cart-checkout/checkout-state/event-emit.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/index.tsx
  assets/js/base/context/providers/cart-checkout/checkout-state/reducer.js
  assets/js/base/context/providers/cart-checkout/checkout-state/reducer.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/types.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/utils.ts
  assets/js/type-defs/checkout.js
  docs/extensibility/checkout-flow-and-events.md
  package-lock.json
  package.json
Labels: skip-changelog, status: ready to merge

#4216 Fix/e2e fe tests
  tests/e2e/config/jest.config.js
  tests/e2e/config/jest.setup.js
  tests/e2e/specs/backend/cart.test.js
  tests/e2e/specs/backend/checkout.test.js
  tests/e2e/specs/frontend/cart.test.js
  tests/e2e/specs/frontend/checkout.test.js
  tests/utils/shopper.js
Labels: status: ready to merge

#4226 Convert TextInput and ValidatedTextInput to TypeScript
  assets/js/base/components/text-input/index.ts
  assets/js/base/components/text-input/text-input.tsx
  assets/js/base/components/text-input/validated-text-input.tsx
  assets/js/base/context/index.ts
  packages/checkout/label/index.tsx
Labels: category: components, category: refactor, skip-changelog, status: ready to merge, type: task, type: technical debt

#4100 Update @woocommerce/components
  assets/css/editor.scss
  assets/js/blocks/attribute-filter/edit.js
  assets/js/blocks/handpicked-products/block.js
  assets/js/blocks/product-category/block.js
  assets/js/blocks/product-tag/block.js
  assets/js/blocks/products-by-attribute/block.js
  assets/js/blocks/reviews/reviews-by-category/edit.js
  assets/js/blocks/reviews/reviews-by-product/edit.js
  assets/js/editor-components/expandable-search-list-item/expandable-search-list-item.tsx
  assets/js/editor-components/product-attribute-term-control/index.js
  assets/js/editor-components/product-attribute-term-control/style.scss
  assets/js/editor-components/product-category-control/index.js
  assets/js/editor-components/product-category-control/style.scss
  assets/js/editor-components/product-control/index.js
  assets/js/editor-components/product-control/style.scss
  assets/js/editor-components/product-tag-control/index.js
  assets/js/editor-components/product-tag-control/style.scss
  assets/js/editor-components/products-control/index.js
  assets/js/hocs/test/with-categories.js
  assets/js/hocs/with-categories.js
  bin/webpack-configs.js
  package-lock.json
  package.json
Labels: status: needs review, ◼️ block: featured category, ◼️ block: featured product, ◼️ block: filter products by attribute, ◼️ block: hand-picked products, ◼️ block: products by attribute, ◼️ block: products by category, ◼️ block: products by tag, ◼️ block: reviews by category, ◼️ block: reviews by product

#4235 Create LICENSE
  LICENSE
Labels: skip-changelog

#4238 Move `TextInput` to checkout package and allow it to be used for input type=number
  assets/js/base/components/cart-checkout/address-form/address-form.js
  assets/js/base/components/cart-checkout/totals/coupon/index.js
  assets/js/base/components/state-input/state-input.js
  assets/js/base/components/tsconfig.json
  assets/js/blocks/cart-checkout/checkout/form/contact-fields-step.js
  assets/js/blocks/cart-checkout/checkout/form/phone-number/index.js
  packages/checkout/index.js
  packages/checkout/text-input/index.ts
  packages/checkout/text-input/style.scss
  packages/checkout/text-input/text-input.tsx
  packages/checkout/text-input/validated-text-input.tsx
Labels: category: components, category: refactor, status: ready to merge, type: task

#4225 Block Widgets: hide All Products and Filter blocks in the Customizer
  src/BlockTypesController.php
Labels: category: fse, status: ready to merge

#4237 Block Widgets: hide legacy widgets with a feature-complete block equivalent
  src/BlockTypesController.php
Labels: category: fse, status: ready to merge

#4262 Hide "including X in taxes" when the amount of tax is 0
  assets/js/base/components/cart-checkout/totals/footer-item/index.js
  assets/js/base/components/cart-checkout/totals/footer-item/test/__snapshots__/index.js.snap
  assets/js/base/components/cart-checkout/totals/footer-item/test/index.js
  tsconfig.base.json
Labels: category: blocks, status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout

#4211 Fix duplicate plugins by using wp.components global in the editor.
  bin/webpack-configs.js
  bin/webpack-helpers.js
  src/AssetsController.php
  webpack.config.js
Labels: category: extensibility, priority: high, status: ready to merge, type: bug, type: build

#4240 Add key to each `CartTotalItem`
  assets/js/base/components/price-slider/index.js
  assets/js/base/components/quantity-selector/index.tsx
  assets/js/base/context/hooks/cart/use-store-cart-item-quantity.ts
  assets/js/base/context/hooks/payment-methods/test/use-payment-method-interface.js
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/hooks/payment-methods/utils.ts
  assets/js/base/context/hooks/use-customer-data.ts
  assets/js/base/context/hooks/use-emit-response.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/index.tsx
  assets/js/base/context/tsconfig.json
  assets/js/base/utils/index.js
  assets/js/blocks/cart-checkout/cart/full-cart/cart-line-item-row.tsx
  assets/js/settings/shared/settings-init.ts
  assets/js/settings/shared/tsconfig.json
  assets/js/types/index.ts
  assets/js/types/type-defs/add-to-cart-form.js
  assets/js/types/type-defs/address-fields.js
  assets/js/types/type-defs/billing.js
  assets/js/types/type-defs/cart-response.ts
  assets/js/types/type-defs/cart.js
  assets/js/types/type-defs/cart.ts
  assets/js/types/type-defs/contexts.js
  assets/js/types/type-defs/currency.ts
  assets/js/types/type-defs/hooks.js
  assets/js/types/type-defs/hooks.ts
  assets/js/types/type-defs/index.ts
  assets/js/types/type-defs/payments.js
  assets/js/types/type-defs/product-response.ts
  assets/js/types/type-defs/registered-payment-method-props.js
  assets/js/types/type-defs/settings.js
  assets/js/types/type-defs/shipping.js
  assets/js/types/type-defs/shipping.ts
  assets/js/types/type-guards/index.ts
  bin/webpack-helpers.js
  packages/prices/index.js
  packages/prices/types.ts
  packages/prices/utils/price.ts
  packages/tsconfig.json
  tests/js/jest.config.json
  tsconfig.base.json
Labels: status: ready to merge

#4279 Fix display of itemised taxes
  assets/js/blocks/cart-checkout/cart/test/__snapshots__/block.js.snap
  assets/js/blocks/cart-checkout/checkout/sidebar/test/__snapshots__/index.js.snap
  packages/checkout/totals/taxes/index.tsx
  packages/checkout/totals/taxes/style.scss
Labels: skip-changelog, status: ready to merge, type: blocker, ◼️ block: cart, ◼️ block: checkout

#4265 Check if product can be added to cart before adding ajax class to button
  src/BlockTypes/AbstractProductGrid.php
Labels: status: ready to merge, type: bug, ◼️ block: products by category
