Repository woocommerce/woocommerce-blocks, pull requests merged in 2021-09, with the labels that each got.

#4665 Add Filter Products by Stock block to the readme.txt list of blocks
  readme.txt
Labels: status: ready to merge, type: documentation, skip-changelog, ◼️ block: filter products by stock

#4631 Extract function from lazyLoadScript to simplify code
  assets/js/base/utils/lazy-load-script.ts
Labels: status: ready to merge, skip-changelog, category: fse, ◼️ block: mini cart

#4608 Add Drawer component
  assets/css/abstracts/_mixins.scss
  assets/js/base/components/drawer/index.tsx
  assets/js/base/components/drawer/style.scss
  assets/js/blocks/cart-checkout/cart/full-cart/style.scss
  assets/js/blocks/cart-checkout/mini-cart/component-frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart/frontend.ts
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, skip-changelog, category: fse, ◼️ block: mini cart

#4655 Add missing checkout i2 inner block icons
  assets/js/blocks/cart-checkout/checkout-i2/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-actions-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-billing-address-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-contact-information-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-fields-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-order-summary-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-payment-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-shipping-address-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-shipping-methods-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-totals-block/index.tsx
  assets/js/icons/index.js
  assets/js/icons/library/fields.js
  assets/js/icons/library/totals.js
  package-lock.json
  package.json
Labels: status: ready to merge

#4675 Enqueue frontend assets on frontend only
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/index.tsx
  src/BlockTypes/AbstractBlock.php
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout

#4671 Refactor Checkout Inner Block Registration and Render frontend forced blocks
  assets/js/atomic/utils/render-parent-block.tsx
  assets/js/blocks/cart-checkout/checkout-i2/form-step/additional-fields.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-billing-address-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-contact-information-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-fields-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-payment-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-sample-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-shipping-address-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-shipping-methods-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-totals-block/edit.tsx
  packages/checkout/blocks-registry/get-registered-blocks.ts
  packages/checkout/blocks-registry/index.ts
  packages/checkout/blocks-registry/register-checkout-block.ts
  packages/checkout/blocks-registry/registered-blocks.ts
  packages/checkout/blocks-registry/test/index.js
  packages/checkout/blocks-registry/types.ts
  packages/checkout/blocks-registry/utils.ts
  src/BlockTypes/AbstractBlock.php
  src/BlockTypesController.php
Labels: status: ready to merge, ◼️ block: checkout, 🔺 atomic-block

#4680 Don't allow opening the Mini Cart in the Cart and Checkout pages
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, skip-changelog, category: fse, ◼️ block: mini cart

#4666 Open Mini Cart block when adding a product to cart via an AJAX call
  assets/js/base/components/drawer/index.tsx
  assets/js/blocks/cart-checkout/cart/full-cart/style.scss
  assets/js/blocks/cart-checkout/mini-cart/component-frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart/frontend.ts
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  assets/js/blocks/cart-checkout/mini-cart/with-mini-cart-conditional-hydration.tsx
  src/BlockTypes/Cart.php
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, skip-changelog, category: fse, ◼️ block: mini cart

#4684 Update checkout block registration API to consume Block Metadata
  assets/js/atomic/utils/render-parent-block.tsx
  assets/js/blocks/cart-checkout/checkout-i2/editor-utils.ts
  assets/js/blocks/cart-checkout/checkout-i2/form-step/additional-fields.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-billing-address-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-contact-information-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-fields-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-payment-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-sample-block/block.json
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-sample-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-shipping-address-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-shipping-methods-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-totals-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/register-components.ts
  assets/js/blocks/cart-checkout/checkout-i2/use-forced-layout.ts
  assets/js/settings/blocks/feature-flags.ts
  packages/checkout/blocks-registry/README.md
  packages/checkout/blocks-registry/get-registered-blocks.ts
  packages/checkout/blocks-registry/register-checkout-block.ts
  packages/checkout/blocks-registry/registered-blocks.ts
  packages/checkout/blocks-registry/test/index.js
  packages/checkout/blocks-registry/types.ts
  packages/checkout/blocks-registry/utils.ts
  tsconfig.json
Labels: status: ready to merge, skip-changelog

#4677 Add initial e2e tests to Mini Cart block
  tests/e2e/specs/backend/__fixtures__/mini-cart.fixture.json
  tests/e2e/specs/backend/mini-cart.test.js
Labels: status: ready to merge, skip-changelog, category: tests, category: fse, ◼️ block: mini cart

#4689 Mini Cart block: add 'ver' query param to script URLs
  assets/js/base/utils/lazy-load-script.ts
  assets/js/base/utils/preload-script.ts
Labels: status: ready to merge, type: bug, category: fse, ◼️ block: mini cart

#4668 Add extensibility point for extensions to filter payment methods
  assets/js/blocks-registry/payment-methods/extensions-config.js
  assets/js/blocks-registry/payment-methods/payment-method-config-helper.js
  assets/js/blocks-registry/payment-methods/payment-method-config.js
  assets/js/blocks-registry/payment-methods/registry.js
Labels: status: ready to merge, category: extensibility

#4685 Expose Validation to 3PD blocks.
  assets/js/base/context/hooks/index.js
  assets/js/base/context/hooks/use-validation.ts
  assets/js/blocks/cart-checkout/checkout-i2/frontend.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-terms-block/frontend.tsx
  assets/js/types/type-defs/contexts.ts
Labels: status: ready to merge, category: extensibility, skip-changelog, ◼️ block: checkout

#4699 Fix Checkout i2 mobile styling
  assets/js/base/components/cart-checkout/form-step/style.scss
  assets/js/blocks/cart-checkout/checkout-i2/form-step/editor.scss
  assets/js/blocks/cart-checkout/checkout-i2/form-step/form-step-block.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-actions-block/style.scss
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-express-payment-block/editor.scss
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-payment-block/attributes.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-shipping-methods-block/attributes.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-terms-block/editor.scss
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-terms-block/style.scss
  assets/js/blocks/cart-checkout/checkout-i2/styles/editor.scss
  assets/js/blocks/cart-checkout/checkout/form/order-notes/style.scss
  assets/js/blocks/cart-checkout/checkout/style.scss
  assets/js/blocks/cart-checkout/payment-methods/express-payment/checkout-express-payment.js
  assets/js/blocks/cart-checkout/payment-methods/express-payment/style.scss
Labels: status: ready to merge, ◼️ block: checkout, category: styles

#4719 Checkout i2: Hide tax row if tax totals are 0
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-order-summary-block/block.tsx
Labels: status: needs review, skip-changelog

#4720 Wrap order summary block in disabled in Checkout i2
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-order-summary-block/edit.tsx
Labels: type: bug, ◼️ block: checkout

#4518 Add inbox notification to surface cart and checkout blocks to select merchants
  src/Domain/Bootstrap.php
  src/InboxNotifications.php
Labels: status: ready to merge, skip-changelog, needs feedback, category: core, type: task

#4730 Avoid exposing receiveCart to extensions
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/blocks/cart-checkout/cart/full-cart/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout

#4673 Improve accessibility when removing items from cart
  assets/js/base/components/drawer/index.tsx
  assets/js/blocks/cart-checkout/cart/full-cart/cart-line-item-row.tsx
  assets/js/blocks/cart-checkout/cart/full-cart/cart-line-items-table.tsx
  assets/js/blocks/cart-checkout/cart/test/__snapshots__/block.js.snap
  assets/js/blocks/cart-checkout/mini-cart/component-frontend.tsx
Labels: status: ready to merge, category: accessibility, ◼️ block: cart, ◼️ block: mini cart

#4721 Checkout i2: Add focus styles to form elements
  assets/js/base/components/checkbox-control/index.tsx
  assets/js/base/components/checkbox-control/style.scss
  assets/js/base/components/combobox/index.tsx
  assets/js/base/components/combobox/style.scss
  assets/js/base/components/text-input/style.scss
  assets/js/base/components/text-input/validated-text-input.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-terms-block/frontend.tsx
Labels: status: ready to merge, skip-changelog

#4732 Checkout i2: Make h2 fill width of container in editor
  assets/js/blocks/cart-checkout/checkout-i2/form-step/editor.scss
Labels: status: ready to merge, skip-changelog

#4740 Fix Product Search block displaying incorrectly.
  src/BlockTypes/ProductSearch.php
Labels: status: ready to merge, type: bug, skip-changelog, category: blocks, ◼️ block: product search, category: styles

#4682 Add E2E and Unit (PHP and JS) tests for Filter by Stock block.
  assets/js/blocks/stock-filter/block.js
  assets/js/blocks/stock-filter/edit.js
  assets/js/blocks/stock-filter/test/__snapshots__/block.js.snap
  assets/js/blocks/stock-filter/test/block.js
  tests/e2e/specs/backend/__fixtures__/filter-products-by-stock.fixture.json
  tests/e2e/specs/backend/filter-products-by-stock.test.js
  tests/php/StoreApi/Utilities/ProductQueryFilters.php
Labels: status: ready to merge, skip-changelog, 🔹 block-type: filter blocks, category: tests, ◼️ block: filter products by stock

#4729 Fix calculation of number of reviews in Reviews by Category block
  assets/js/blocks/reviews/reviews-by-category/edit.js
  src/StoreApi/Schemas/ProductCategorySchema.php
Labels: status: ready to merge, type: bug, ◼️ block: reviews by category

#4749 Twenty Twenty: Adjust font styles for filter and product grid blocks
  assets/css/editor.scss
  assets/css/style.scss
  assets/js/blocks/active-filters/block.js
  assets/js/blocks/active-filters/edit.js
  assets/js/blocks/attribute-filter/block.js
  assets/js/blocks/attribute-filter/edit.js
  assets/js/blocks/price-filter/block.js
  assets/js/blocks/price-filter/edit.js
  assets/js/blocks/stock-filter/block.js
  assets/js/blocks/stock-filter/edit.js
  assets/js/editor-components/block-title/index.js
Labels: status: ready to merge, skip-changelog, category: styles

#4737 Move Mini Cart block component into its own file
  assets/js/blocks/cart-checkout/mini-cart/block.tsx
  assets/js/blocks/cart-checkout/mini-cart/component-frontend.tsx
Labels: status: ready to merge, skip-changelog, ◼️ block: mini cart

#4696 Add tests for filtering payment methods
  assets/js/blocks-registry/payment-methods/test/payment-method-config-helper.ts
  assets/js/blocks-registry/payment-methods/test/payment-method-config.tsx
  assets/js/blocks-registry/payment-methods/test/registry.ts
Labels: status: ready to merge, skip-changelog, category: blocks, ◼️ block: checkout, category: tests

#4734 Remove absolute positioning on validation error messages
  assets/js/base/context/providers/validation/components/validation-input-error/style.scss
Labels: status: ready to merge

#4742 Add types to legacy-events.js
  assets/js/base/utils/legacy-events.ts
  package-lock.json
  package.json
  tsconfig.base.json
Labels: status: ready to merge, category: refactor, skip-changelog

#4702 Add Typescript to /blocks-registry/payment-methods
  assets/js/base/components/cart-checkout/payment-method-icons/common-icons.ts
  assets/js/base/components/cart-checkout/payment-method-icons/index.tsx
  assets/js/base/components/cart-checkout/payment-method-icons/utils.ts
  assets/js/base/context/hooks/payment-methods/use-payment-methods.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/actions.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/types.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-registration.ts
  assets/js/blocks-registry/payment-methods/assertions.ts
  assets/js/blocks-registry/payment-methods/express-payment-method-config.ts
  assets/js/blocks-registry/payment-methods/extensions-config.js
  assets/js/blocks-registry/payment-methods/extensions-config.ts
  assets/js/blocks-registry/payment-methods/index.ts
  assets/js/blocks-registry/payment-methods/payment-method-config-helper.ts
  assets/js/blocks-registry/payment-methods/payment-method-config.tsx
  assets/js/blocks-registry/payment-methods/registry.ts
  assets/js/blocks/cart-checkout/cart/checkout-button/index.tsx
  assets/js/types/type-defs/cart.ts
  assets/js/types/type-defs/index.ts
  assets/js/types/type-defs/objects.ts
  assets/js/types/type-defs/payment-method-icon.ts
  assets/js/types/type-defs/payments.js
  assets/js/types/type-defs/payments.ts
  docs/blocks/feature-flags-and-experimental-interfaces.md
Labels: status: ready to merge, type: enhancement, skip-changelog

#4323 Update Reviews blocks so they use block styles
  assets/js/base/components/reviews/review-list-item/index.js
  assets/js/base/components/reviews/review-list-item/style.scss
  assets/js/base/components/reviews/review-list/style.scss
  assets/js/base/components/sort-select/style.scss
  assets/js/blocks/reviews/all-reviews/index.js
  assets/js/blocks/reviews/editor-container-block.js
  assets/js/blocks/reviews/reviews-by-category/index.js
  assets/js/blocks/reviews/reviews-by-product/index.js
  assets/js/blocks/reviews/save.js
Labels: status: ready to merge, type: enhancement, 🔹 block-type: reviews, category: fse

#4755 Update release PR checklist to include files for version bump
  .github/release-initial-checklist.md
Labels: status: ready to merge, skip-changelog, type: release

#4751 Products by Category: Move renderEmptyResponsePlaceholder to separate method
  assets/js/blocks/product-category/block.js
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: products by category

#4762 Update build system docs
  docs/contributors/css-build-system.md
  docs/contributors/js-build-system.md
Labels: status: ready to merge, type: documentation, skip-changelog

#4750 Update feature flags and experimental interfaces document.
  assets/js/blocks/cart-checkout/mini-cart/index.tsx
  bin/webpack-entries.js
  docs/blocks/feature-flags-and-experimental-interfaces.md
Labels: type: documentation

#4764 Make All Reviews block honor 'ratings enabled' and 'show avatars' preferences
  assets/js/base/components/reviews/review-list-item/index.js
  assets/js/base/components/reviews/review-list-item/style.scss
  src/BlockTypes/AllReviews.php
Labels: status: ready to merge, type: bug, ◼️ block: all reviews

#4765 Show message if user has not yet calculated shipping and no shipping rates exist
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
Labels: status: ready to merge

#4771 Add e2e tests for Featured Products
  tests/e2e/specs/backend/__fixtures__/featured-product.fixture.json
  tests/e2e/specs/backend/featured-product.test.js
Labels: status: ready to merge, skip-changelog, ◼️ block: featured product, category: tests

#4718 Create Cart i2 block
  assets/js/blocks/cart-checkout/cart-i2/attributes.js
  assets/js/blocks/cart-checkout/cart-i2/block.js
  assets/js/blocks/cart-checkout/cart-i2/checkout-button/index.tsx
  assets/js/blocks/cart-checkout/cart-i2/checkout-button/style.scss
  assets/js/blocks/cart-checkout/cart-i2/edit.js
  assets/js/blocks/cart-checkout/cart-i2/editor.scss
  assets/js/blocks/cart-checkout/cart-i2/empty-cart-edit/icon-data-uri.js
  assets/js/blocks/cart-checkout/cart-i2/empty-cart-edit/index.js
  assets/js/blocks/cart-checkout/cart-i2/empty-cart-edit/style.scss
  assets/js/blocks/cart-checkout/cart-i2/frontend.js
  assets/js/blocks/cart-checkout/cart-i2/full-cart/cart-line-item-row.tsx
  assets/js/blocks/cart-checkout/cart-i2/full-cart/cart-line-items-table.tsx
  assets/js/blocks/cart-checkout/cart-i2/full-cart/cart-line-items-title.tsx
  assets/js/blocks/cart-checkout/cart-i2/full-cart/index.tsx
  assets/js/blocks/cart-checkout/cart-i2/full-cart/style.scss
  assets/js/blocks/cart-checkout/cart-i2/index.js
  assets/js/blocks/cart-checkout/cart-i2/style.scss
  assets/js/blocks/cart-checkout/cart-i2/test/__snapshots__/block.js.snap
  assets/js/blocks/cart-checkout/cart-i2/test/block.js
  bin/webpack-entries.js
  package.json
  src/BlockTypes/CartI2.php
  src/BlockTypesController.php
  src/Payments/Api.php
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: cart

#4773 Add e2e tests for Featured Category
  tests/e2e/config/custom-matchers/__fixtures__/featured-category.fixture.json
  tests/e2e/specs/backend/featured-category.test.js
Labels: status: ready to merge, skip-changelog, ◼️ block: featured category, category: tests

#4790 Add object type to lock attributes
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-actions-block/block.json
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-billing-address-block/block.json
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-contact-information-block/block.json
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-express-payment-block/block.json
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-fields-block/block.json
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-order-note-block/block.json
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-order-summary-block/block.json
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-payment-block/block.json
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-shipping-address-block/block.json
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-shipping-methods-block/block.json
Labels: status: ready to merge, skip-changelog

#4784 Throw an exception if there is no selected shipping method on an item…
  src/StoreApi/Utilities/OrderController.php
  tests/php/StoreApi/Routes/ControllerTestCase.php
  tests/php/StoreApi/Utilities/CartController.php
  tests/php/StoreApi/Utilities/OrderController.php
Labels: status: ready to merge, type: bug, category: rest-api

#4760 Switch to external icon for shipping/payment methods
  assets/js/editor-components/external-link-card/index.tsx
Labels: status: ready to merge, skip-changelog

#4780 Setup basic column blocks for Cart i2
  assets/js/blocks/cart-checkout/cart-i2/columns/columns-block.tsx
  assets/js/blocks/cart-checkout/cart-i2/columns/index.ts
  assets/js/blocks/cart-checkout/cart-i2/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/editor-utils.ts
  assets/js/blocks/cart-checkout/cart-i2/editor.scss
  assets/js/blocks/cart-checkout/cart-i2/hacks.ts
  assets/js/blocks/cart-checkout/cart-i2/index.js
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-items-block/block.json
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-items-block/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-items-block/frontend.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-items-block/index.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-totals-block/block.json
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-totals-block/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-totals-block/frontend.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-totals-block/index.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-totals-block/style.scss
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/index.tsx
  assets/js/blocks/cart-checkout/cart-i2/use-forced-layout.ts
  packages/checkout/blocks-registry/types.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: cart

#4781 Add Cart Line Items Block to Cart i2
  assets/js/blocks/cart-checkout/cart-i2/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-line-items-block/block.json
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-line-items-block/block.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-line-items-block/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-line-items-block/index.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/index.tsx
Labels: status: ready to merge, skip-changelog, ◼️ block: cart

#4761 Validate state on options change
  assets/js/base/components/state-input/state-input.tsx
Labels: status: ready to merge

#4782 Add Cart Summary block in cart i2
  assets/js/blocks/cart-checkout/cart-i2/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-order-summary-block/attributes.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-order-summary-block/block.json
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-order-summary-block/block.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-order-summary-block/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-order-summary-block/index.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/index.tsx
Labels: skip-changelog, ◼️ block: cart

#4783 Adds Proceed to Checkout block to Cart i2
  assets/js/blocks/cart-checkout/cart-i2/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/index.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/proceed-to-checkout-block/attributes.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/proceed-to-checkout-block/block.json
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/proceed-to-checkout-block/block.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/proceed-to-checkout-block/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/proceed-to-checkout-block/frontend.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/proceed-to-checkout-block/index.tsx
Labels: status: ready to merge, skip-changelog, ◼️ block: cart

#4767 Remove assets/js/settings/blocks from sideEffects list
  package.json
Labels: status: ready to merge, category: performance, ◼️ block: cart, ◼️ block: checkout, 🔹 block-type: reviews, ◼️ block: filter products by price, ◼️ block: active product filters, ◼️ block: mini cart

#4811 Cart i2: Toolbar based view switcher
  assets/js/blocks/cart-checkout/cart-i2/context.ts
  assets/js/blocks/cart-checkout/cart-i2/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/index.js
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/empty-cart-block/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/filled-cart-block/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/filled-cart-block/index.tsx
  assets/js/blocks/cart-checkout/cart-i2/use-view-switcher.tsx
  assets/js/icons/index.js
  assets/js/icons/library/eye.js
  assets/js/icons/library/filled-cart.js
Labels: status: ready to merge, skip-changelog, ◼️ block: cart

#4774 Add support for extensions to filter express payment methods
  assets/js/blocks-registry/payment-methods/express-payment-method-config.ts
  assets/js/blocks-registry/payment-methods/payment-method-config-helper.ts
  assets/js/blocks-registry/payment-methods/payment-method-config.tsx
  assets/js/blocks-registry/payment-methods/test/payment-method-config-helper.ts
  assets/js/blocks-registry/payment-methods/test/payment-method-config.tsx
  assets/js/types/type-defs/payments.ts
  package-lock.json
Labels: status: ready to merge, type: enhancement, category: extensibility, ◼️ block: checkout

#4816 Fix infinite recursion when removing an attribute filter from the Active filters block
  assets/js/blocks/attribute-filter/block.js
Labels: status: ready to merge, type: bug, ◼️ block: filter products by attribute, ◼️ block: active product filters

#4810 #3906 screen reader fix for order summary block accessibility
  assets/js/base/components/cart-checkout/order-summary/order-summary-item.js
Labels: type: enhancement, category: accessibility, ◼️ block: checkout

#4776 Update canMakePayment to receive cart as argument and make it react to changes in billingData.
  assets/js/base/context/hooks/cart/use-store-cart.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-registration.ts
  assets/js/blocks/cart-checkout/payment-methods/test/payment-methods.js
  assets/js/types/type-defs/cart-response.ts
  assets/js/types/type-defs/hooks.ts
  assets/js/types/type-defs/payments.ts
  docs/extensibility/payment-method-integration.md
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout

#4802 Cart i2: Render filled and empty Carts on frontend
  assets/js/base/utils/legacy-events.ts
  assets/js/blocks/cart-checkout/cart-i2/block.js
  assets/js/blocks/cart-checkout/cart-i2/frontend.js
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/empty-cart-block/frontend.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/filled-cart-block/frontend.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/register-components.ts
  assets/js/blocks/cart-checkout/cart-i2/test/__snapshots__/block.js.snap
  assets/js/blocks/cart-checkout/cart-i2/test/block.js
  packages/checkout/blocks-registry/types.ts
  src/BlockTypes/CartI2.php
Labels: status: ready to merge, skip-changelog, ◼️ block: cart

#4826 Improve mocking of useStoreCart
  assets/js/blocks/cart-checkout/payment-methods/test/payment-methods.js
Labels: status: ready to merge

#4834 Add documentation for registerPaymentMethodExtensionCallbacks
  assets/js/blocks-registry/payment-methods/extensions-config.ts
  assets/js/blocks-registry/payment-methods/payment-method-config-helper.ts
  assets/js/blocks-registry/payment-methods/registry.ts
  assets/js/types/type-defs/payments.ts
  docs/extensibility/README.md
  docs/extensibility/filtering-payment-methods.md
Labels: status: ready to merge

#4837 Update Cart & Checkout i2 temporarily locking to be on the parent block
  assets/js/blocks/cart-checkout/cart-i2/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/hacks.ts
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-express-payment-block/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-line-items-block/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-order-summary-block/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/proceed-to-checkout-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout/edit.tsx
  assets/js/blocks/cart-checkout/checkout/form-step/form-step-block.tsx
  assets/js/blocks/cart-checkout/checkout/hacks.ts
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-actions-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-express-payment-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-order-note-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-order-summary-block/edit.tsx
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: cart, ◼️ block: checkout

#4822 Checkout i2: Handle text nodes in inner block rendering
  assets/js/atomic/utils/render-parent-block.tsx
Labels: status: ready to merge, skip-changelog

#4827 Fix broken input styles in Cart shipping calculator
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-fields-block/style.scss
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: cart, ◼️ block: checkout

#4823 Add Cart Totals to cart i2
  assets/js/base/context/hooks/use-store-notices.ts
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-order-summary-block/block.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/cart-totals-block/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/filled-cart-block/frontend.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/register-components.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: cart

#4832 Cart i2: remove duplicate context on frontend
  assets/js/blocks/cart-checkout/cart-i2/frontend.js
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: cart

#4843 Fix Terms and Conditions block toolbar block not working because of lack of edit wrapping
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-terms-block/edit.tsx
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: checkout

#4817 Cart i2: view switcher shared to children
  assets/js/blocks/cart-checkout/cart-i2/context.ts
  assets/js/blocks/cart-checkout/cart-i2/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/index.js
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/empty-cart-block/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/inner-blocks/filled-cart-block/edit.tsx
  assets/js/blocks/cart-checkout/cart-i2/use-view-switcher.tsx
  package-lock.json
Labels: status: ready to merge, skip-changelog

#4859 Checkout i2: Show a notice if terms and conditions page
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-terms-block/block.json
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-terms-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-terms-block/editor.scss
  assets/js/editor-components/external-link-card/editor.scss
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: checkout

#4854 Fix free trial subscriptions orders missing payment method meta
  src/StoreApi/Routes/Checkout.php
Labels: status: ready to merge

#4866 Checkout i2: support odd classes when transforming from Checkout i1 to Checkout i2
  src/BlockTypes/Checkout.php
Labels: status: ready to merge, type: bug, type: blocker, ◼️ block: checkout

#4814 Fix: Filter button is not aligned with the input field
  assets/js/blocks/attribute-filter/block.js
  assets/js/blocks/attribute-filter/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: filter products by attribute

#4873 Don't fire woocommerce_blocks_loaded if WC version is not met
  src/Domain/Bootstrap.php
Labels: status: ready to merge, type: bug, category: extensibility, type: blocker

#4808 Fix: remove IntersectionObserver shim
  assets/js/base/hooks/use-position-relative-to-viewport.js
  assets/js/base/utils/get-intersection-observer.js
  assets/js/base/utils/index.js
Labels: status: ready to merge, type: compatibility
