Repository woocommerce/woocommerce-blocks, pull requests merged in 2021-12, with the labels that each got.

#5237 Add recommended extensions for VSCode #5233
  .gitignore
  .vscode/extensions.json
Labels: status: ready to merge, type: enhancement, skip-changelog, type: cooldown

#5264 Migrate Storybook to 6.4.0 and enable auto-detection of controls (#5249)
  babel.config.js
  package-lock.json
  package.json
  storybook/main.js
  storybook/preview.js
Labels: category: components, type: task, type: technical debt

#5287 [PHP 8.1] Fix code that causes a deprecation notice in BlockTypesController
  src/BlockTypesController.php
Labels: status: ready to merge, type: build, category: refactor, skip-changelog

#5200 Refactor BlockTemplateController
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: skip-changelog, category: fse, 🔹 block-type: templates

#5292 Storybook and TS migration of `ExternalLinkCard` component (#5256)
  assets/js/editor-components/external-link-card/index.tsx
  assets/js/editor-components/external-link-card/stories/index.js
  assets/js/editor-components/external-link-card/stories/index.tsx
Labels: status: ready to merge, category: components, category: refactor, skip-changelog, type: task, type: technical debt

#5291 Storybook and TS migration of `Icon` component
  assets/js/icons/icon/index.tsx
  assets/js/icons/library/address.tsx
  assets/js/icons/library/arrow-back.tsx
  assets/js/icons/library/arrow-down-alt2.tsx
  assets/js/icons/library/asterisk.tsx
  assets/js/icons/library/atom.tsx
  assets/js/icons/library/bank.tsx
  assets/js/icons/library/barcode.tsx
  assets/js/icons/library/bill.tsx
  assets/js/icons/library/bookmark.tsx
  assets/js/icons/library/box.tsx
  assets/js/icons/library/card.tsx
  assets/js/icons/library/cart.tsx
  assets/js/icons/library/check-payment.tsx
  assets/js/icons/library/chevron-down.tsx
  assets/js/icons/library/chevron-right.tsx
  assets/js/icons/library/chevron-up.tsx
  assets/js/icons/library/comment.tsx
  assets/js/icons/library/contact.tsx
  assets/js/icons/library/discussion.tsx
  assets/js/icons/library/done.tsx
  assets/js/icons/library/exclamation.tsx
  assets/js/icons/library/external.tsx
  assets/js/icons/library/eye.tsx
  assets/js/icons/library/fields.tsx
  assets/js/icons/library/filled-cart.tsx
  assets/js/icons/library/folder-starred.tsx
  assets/js/icons/library/folder.tsx
  assets/js/icons/library/form-step.tsx
  assets/js/icons/library/grid.tsx
  assets/js/icons/library/heading.tsx
  assets/js/icons/library/image.tsx
  assets/js/icons/library/list.tsx
  assets/js/icons/library/mini-cart.tsx
  assets/js/icons/library/more.tsx
  assets/js/icons/library/no-alt.tsx
  assets/js/icons/library/notes.tsx
  assets/js/icons/library/notice.tsx
  assets/js/icons/library/radio-selected.tsx
  assets/js/icons/library/radio-unselected.tsx
  assets/js/icons/library/reader.tsx
  assets/js/icons/library/remove-cart.tsx
  assets/js/icons/library/restore.tsx
  assets/js/icons/library/review.tsx
  assets/js/icons/library/search.tsx
  assets/js/icons/library/server.tsx
  assets/js/icons/library/star.tsx
  assets/js/icons/library/stonks.tsx
  assets/js/icons/library/tag.tsx
  assets/js/icons/library/tags.tsx
  assets/js/icons/library/thumb-up.tsx
  assets/js/icons/library/toggle.tsx
  assets/js/icons/library/totals.tsx
  assets/js/icons/library/truck.tsx
  assets/js/icons/library/widgets.tsx
  assets/js/icons/library/woo.tsx
  assets/js/icons/stories/index.tsx
Labels: status: ready to merge, category: components, category: refactor, skip-changelog, type: task, type: technical debt

#5156 Fix Featured Product Search not working for large stores
  assets/js/hocs/with-searched-products.tsx
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: featured product

#5298 Enable Stylelint for the entire project #5262
  package.json
  packages/checkout/components/checkbox-control/style.scss
Labels: status: ready to merge, category: refactor, type: cooldown

#5216 Refactor Mini Cart contents block unmount to fix ESLint warning
  assets/js/blocks/cart-checkout/mini-cart/block.tsx
Labels: status: ready to merge, category: refactor, skip-changelog, category: fse, ◼️ block: mini cart

#5263 More ts conversions
  assets/js/base/components/block-error-boundary/block-error.tsx
  assets/js/base/components/block-error-boundary/index.js
  assets/js/base/components/block-error-boundary/index.tsx
  assets/js/base/components/block-error-boundary/types.ts
  assets/js/base/components/checkbox-list/index.tsx
  assets/js/base/components/chip/chip.tsx
  assets/js/base/components/chip/index.ts
  assets/js/base/components/chip/removable-chip.tsx
Labels: status: ready to merge, category: components, skip-changelog, type: cooldown, type: technical debt

#5301 Fix JS error in Filter Products by Attribute block
  assets/js/blocks/attribute-filter/block.js
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, ◼️ block: filter products by attribute

#5320 Set WooCommerce like the source of WC templates
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: bug, skip-changelog, category: fse

#5306 Fix: Mini Cart: don't allow users to create extra template parts in the Mini Cart template part area
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: enhancement, skip-changelog, category: fse, ◼️ block: mini cart

#5307 Refactor: use StyleAttributesUtils to generate classes and styles
  src/BlockTypes/MiniCart.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, category: refactor, skip-changelog, category: fse, ◼️ block: mini cart

#5238 Convert renderFrontend to TypeScript
  assets/js/base/utils/lazy-load-script.ts
  assets/js/base/utils/preload-script.ts
  assets/js/base/utils/render-frontend.js
  assets/js/base/utils/render-frontend.tsx
  assets/js/blocks/active-filters/frontend.js
  assets/js/blocks/attribute-filter/frontend.js
  assets/js/blocks/cart-checkout/mini-cart/block.tsx
  assets/js/blocks/cart-checkout/mini-cart/component-frontend.tsx
  assets/js/blocks/price-filter/frontend.js
  assets/js/blocks/reviews/frontend.js
  assets/js/blocks/stock-filter/frontend.js
Labels: status: ready to merge, category: refactor, skip-changelog

#5177 Typedefs and cartData for `usePaymentMethodInterface`
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/payment-method-extensions/payment-methods/bacs/index.js
  assets/js/payment-method-extensions/payment-methods/cheque/index.js
  assets/js/payment-method-extensions/payment-methods/cod/index.js
  assets/js/payment-method-extensions/payment-methods/paypal/index.js
  assets/js/payment-method-extensions/payment-methods/stripe/credit-card/payment-method.js
  assets/js/payment-method-extensions/payment-methods/stripe/credit-card/use-checkout-subscriptions.js
  assets/js/payment-method-extensions/payment-methods/stripe/credit-card/use-payment-intents.js
  assets/js/payment-method-extensions/payment-methods/stripe/credit-card/use-payment-processing.js
  assets/js/payment-method-extensions/payment-methods/stripe/payment-request/payment-request-express.js
  assets/js/payment-method-extensions/payment-methods/stripe/payment-request/use-checkout-subscriptions.js
  assets/js/payment-method-extensions/payment-methods/stripe/stripe-utils/normalize.js
  assets/js/payment-method-extensions/payment-methods/stripe/stripe-utils/utils.js
  assets/js/types/type-defs/contexts.ts
  assets/js/types/type-defs/index.ts
  assets/js/types/type-defs/payment-method-interface.ts
  assets/js/types/type-defs/registered-payment-method-props.js
  docs/block-client-apis/checkout/checkout-api.md
  docs/extensibility/payment-method-integration.md
Labels: status: ready to merge, skip-changelog, needs dev-note

#5330 Add missing Exception use statement in RoutesController
  src/StoreApi/RoutesController.php
Labels: status: ready to merge, skip-changelog

#5304 Mini Cart Contents block: implement view switcher in editor
  assets/js/blocks/cart-checkout/mini-cart-contents/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/index.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/block.json
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/index.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/block.json
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/index.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/index.tsx
  packages/checkout/blocks-registry/types.ts
  templates/block-template-parts/mini-cart.html
Labels: status: ready to merge, skip-changelog, category: fse, ◼️ block: mini cart

#5308 Fix: Mini Cart block button should be disabled in the editor
  assets/js/base/components/noninteractive/index.tsx
  assets/js/blocks/cart-checkout/mini-cart/edit.tsx
Labels: status: ready to merge, category: accessibility, skip-changelog, good first issue, category: fse, ◼️ block: mini cart

#5319 Rest API - Namespace error handling
  src/RestApi.php
Labels: status: ready to merge

#5312 Storybook migration of `CountryInput` component
  assets/js/base/components/combobox/index.tsx
  assets/js/base/components/country-input/CountryInputProps.ts
  assets/js/base/components/country-input/country-input.tsx
  assets/js/base/components/country-input/index.ts
  assets/js/base/components/country-input/stories/countries-filler.ts
  assets/js/base/components/country-input/stories/index.js
  assets/js/base/components/country-input/stories/index.tsx
  tsconfig.base.json
Labels: status: ready to merge, category: components, category: refactor, skip-changelog, type: task, type: technical debt

#5223 Update WordPress Monorepo packages with React 17x support
  assets/css/editor.scss
  assets/js/base/context/providers/cart-checkout/payment-methods/test/payment-method-data-context.js
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-registration.ts
  assets/js/blocks/attribute-filter/edit.js
  assets/js/blocks/cart-checkout/cart/test/block.js
  assets/js/blocks/cart-checkout/mini-cart/test/block.js
  assets/js/blocks/reviews/reviews-by-product/edit.js
  assets/js/data/cart/actions.ts
  assets/js/data/cart/index.ts
  assets/js/data/mapped-types.ts
  assets/js/editor-components/expandable-search-list-item/expandable-search-list-item.tsx
  assets/js/editor-components/product-attribute-term-control/index.js
  assets/js/editor-components/product-category-control/index.js
  assets/js/editor-components/product-control/index.js
  assets/js/editor-components/product-tag-control/index.js
  assets/js/editor-components/products-control/index.js
  assets/js/editor-components/search-list-control/README.md
  assets/js/editor-components/search-list-control/index.ts
  assets/js/editor-components/search-list-control/item.tsx
  assets/js/editor-components/search-list-control/search-list-control.tsx
  assets/js/editor-components/search-list-control/style.scss
  assets/js/editor-components/search-list-control/test/__snapshots__/index.js.snap
  assets/js/editor-components/search-list-control/test/hierarchy.js
  assets/js/editor-components/search-list-control/test/index.js
  assets/js/editor-components/search-list-control/types.ts
  assets/js/editor-components/search-list-control/utils.tsx
  assets/js/editor-components/tag/README.md
  assets/js/editor-components/tag/index.tsx
  assets/js/editor-components/tag/style.scss
  assets/js/editor-components/tag/test/__snapshots__/index.js.snap
  assets/js/editor-components/tag/test/index.js
  bin/eslint-plugin-woocommerce/package.json
  bin/webpack-configs.js
  bin/webpack-entries.js
  package-lock.json
  package.json
  patches/wordpress-components+11.1.6.patch
  patches/wordpress-components+14.2.0.patch
Labels: status: ready to merge, skip-changelog, type: dependencies, type: cooldown

#5335 Fix WC templates loading for WP 5.9 without Gutenberg plugin
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, category: fse, 🔹 block-type: templates

#5322 Chip component stories for storybook
  assets/js/base/components/chip/removable-chip.tsx
  assets/js/base/components/chip/stories/chip.stories.tsx
  assets/js/base/components/chip/stories/index.js
  assets/js/base/components/chip/stories/removable-chip.stories.tsx
Labels: status: ready to merge, type: enhancement, category: refactor

#5337 Wait until carts load before calling `canMakePayment`
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-registration.ts
  assets/js/blocks/cart-checkout/payment-methods/test/payment-methods.js
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, ◼️ block: cart, ◼️ block: checkout

#5326 Remove legacy shipping_phone handling in the StoreAPI
  src/StoreApi/Routes/CartUpdateCustomer.php
  src/StoreApi/Schemas/ShippingAddressSchema.php
  src/StoreApi/Utilities/OrderController.php
Labels: status: ready to merge

#5342 Fix reverting WC templates
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, category: fse

#5347 Fix: Mini Cart block: Edit template part link doesn't work for themes don't have mini cart template part.
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, skip-changelog, category: fse, ◼️ block: mini cart

#5317 Update icon of legacy template block
  assets/css/editor.scss
  assets/js/blocks/legacy-template/index.tsx
Labels: status: ready to merge, type: enhancement, skip-changelog, category: fse, 🔹 block-type: templates

#5348 Fix Mini Cart template part link on WP 5.9
  assets/js/blocks/cart-checkout/mini-cart/edit.tsx
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#5323 Move Draft Order Handling to Shared Trait (DraftOrderTrait)
  src/StoreApi/Routes/AbstractCartRoute.php
  src/StoreApi/Routes/CartRemoveItem.php
  src/StoreApi/Routes/CartUpdateCustomer.php
  src/StoreApi/Routes/Checkout.php
  src/StoreApi/RoutesController.php
  src/StoreApi/Schemas/CartItemSchema.php
  src/StoreApi/Utilities/CartController.php
  src/StoreApi/Utilities/DraftOrderTrait.php
Labels: status: ready to merge, category: rest-api, category: refactor

#5346 Fix required scripts not loading for WC block templates.
  src/BlockTypes/LegacyTemplate.php
Labels: status: ready to merge, type: bug, category: fse, 🔹 block-type: templates

#5338 Mini Cart Block: render the empty state set on template parts
  assets/js/blocks/cart-checkout/mini-cart-contents/attributes.ts
  assets/js/blocks/cart-checkout/mini-cart-contents/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/index.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/register-components.ts
  assets/js/blocks/cart-checkout/mini-cart/block.tsx
  assets/js/blocks/cart-checkout/mini-cart/test/block.js
  packages/checkout/blocks-registry/types.ts
  src/BlockTypes/MiniCartContents.php
  tests/js/setup-globals.js
  tsconfig.json
Labels: status: ready to merge, category: fse, ◼️ block: mini cart

#5350 Revise checkout payment statuses to avoid data loss on error
  assets/js/base/components/radio-control/index.js
  assets/js/base/context/providers/cart-checkout/payment-methods/actions.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/constants.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/payment-method-data-context.tsx
  assets/js/base/context/providers/cart-checkout/payment-methods/reducer.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/test/payment-method-data-context.js
  assets/js/base/context/providers/cart-checkout/payment-methods/types.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/use-active-payment-method.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-dispatchers.ts
  assets/js/blocks/cart-checkout/payment-methods/express-payment-methods.js
  assets/js/blocks/cart-checkout/payment-methods/payment-method-options.js
  assets/js/blocks/cart-checkout/payment-methods/saved-payment-method-options.js
  docs/block-client-apis/checkout/checkout-api.md
  docs/extensibility/checkout-flow-and-events.md
Labels: status: ready to merge, type: bug, category: refactor, ◼️ block: checkout

#5352 Update item quantity if server result is different from client
  assets/js/base/context/hooks/cart/use-store-cart-item-quantity.ts
  assets/js/blocks/cart-checkout/cart/test/block.js
  assets/js/data/cart/actions.ts
Labels: status: ready to merge, type: bug, ◼️ block: cart

#5354 Fix conflict between Storybook and `@emotion/styled@11.x`
  storybook/webpack.config.js
Labels: status: ready to merge, type: blocker, skip-changelog, type: compatibility

#5349 Downgrade @wordpress/scripts to 17.1.0 to fix dependency mistmach issue
  package-lock.json
  package.json
Labels: status: ready to merge, type: build, skip-changelog

#5345 Introduce 2 new hooks in Customer Update Route
  bin/hook-docs/data/actions.json
  bin/hook-docs/data/filters.json
  docs/extensibility/actions.md
  docs/extensibility/filters.md
  src/StoreApi/Routes/CartUpdateCustomer.php
  tests/php/StoreApi/Routes/Cart.php
Labels: status: ready to merge

#5362 Loading animation: change from pulse to swipe
  assets/css/abstracts/_mixins.scss
  assets/js/base/components/spinner/style.scss
Labels: status: ready to merge

#5373 Trigger validation on change if the input is not focussed
  assets/js/base/components/button/index.tsx
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/components/text-input/validated-text-input.tsx
Labels: status: ready to merge, ◼️ block: cart, ◼️ block: checkout

#5358 Switch to correct view if inner block is selected
  assets/js/blocks/cart-checkout/cart/edit.js
  assets/js/blocks/cart-checkout/mini-cart-contents/edit.tsx
  assets/js/blocks/cart-checkout/shared/use-view-switcher.tsx
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: mini cart

#5372 Mini Cart: only display the editing link to users with site editing permission
  assets/js/blocks/cart-checkout/mini-cart/edit.tsx
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, skip-changelog, category: fse, ◼️ block: mini cart

#5364 Move is-loading` class removal to render callback
  assets/js/base/utils/render-frontend.tsx
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout

#5375 Set the origin of custom templates to 'plugin' and fix plugin name on REST requests
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, category: fse, 🔹 block-type: templates

#5370 Migrate storybook entries of QuantitySelector component
  assets/js/base/components/quantity-selector/index.tsx
  assets/js/base/components/quantity-selector/stories/index.js
  assets/js/base/components/quantity-selector/stories/index.tsx
  storybook/main.js
  storybook/webpack.config.js
Labels: status: ready to merge, category: components, category: refactor, skip-changelog, type: task, type: technical debt

#5324 Storybook and TS migration of some cart checkout components
  assets/js/base/components/cart-checkout/totals/coupon/index.tsx
  assets/js/base/components/cart-checkout/totals/coupon/stories/index.js
  assets/js/base/components/cart-checkout/totals/coupon/stories/index.tsx
  assets/js/base/components/cart-checkout/totals/discount/index.tsx
  assets/js/base/components/cart-checkout/totals/discount/stories/index.js
  assets/js/base/components/cart-checkout/totals/discount/stories/index.tsx
  assets/js/base/components/cart-checkout/totals/footer-item/index.tsx
  assets/js/base/components/cart-checkout/totals/footer-item/stories/index.js
  assets/js/base/components/cart-checkout/totals/footer-item/stories/index.tsx
  assets/js/base/components/cart-checkout/totals/footer-item/test/__snapshots__/index.js.snap
  assets/js/base/components/cart-checkout/totals/footer-item/test/index.tsx
  assets/js/base/components/cart-checkout/totals/index.ts
  assets/js/base/components/product-name/index.tsx
  assets/js/base/components/product-name/stories/index.js
  assets/js/base/components/product-name/stories/index.tsx
  assets/js/base/components/tsconfig.json
  assets/js/editor-components/error-placeholder/stories/error-placeholder.tsx
  assets/js/settings/shared/index.ts
  assets/js/types/type-defs/utils.ts
  package-lock.json
  package.json
  storybook/custom-controls/currency.ts
  storybook/custom-controls/index.ts
  tsconfig.base.json
  tsconfig.json
Labels: status: ready to merge, category: components, category: refactor, skip-changelog, type: task, type: technical debt

#5293 Storybook and TS migration of `PriceSlider` component (#5253)
  assets/js/base/components/formatted-monetary-amount/index.tsx
  assets/js/base/components/price-slider/constrain-range-slider-values.js
  assets/js/base/components/price-slider/constrain-range-slider-values.ts
  assets/js/base/components/price-slider/index.tsx
  assets/js/base/components/price-slider/stories/index.js
  assets/js/base/components/price-slider/stories/index.tsx
  assets/js/types/type-defs/currency.ts
  storybook/preview.js
Labels: status: ready to merge, category: components, category: refactor, skip-changelog, type: task, type: technical debt

#5371 Migrate storybook entries of ProductPrice component
  assets/js/base/components/product-price/index.tsx
  assets/js/base/components/product-price/stories/index.js
  assets/js/base/components/product-price/stories/index.tsx
Labels: status: ready to merge, category: components, category: refactor, skip-changelog, type: task, type: technical debt

#5394 Fix extra network request on cart
  assets/js/base/context/hooks/use-customer-data.ts
Labels: status: ready to merge, type: bug, category: components, ◼️ block: cart

#5340 ignore eslint-plugin-woocommerce build files
  .gitignore
Labels: status: ready to merge, type: build

#5222 Update to node 16/npm 8
  .nvmrc
  bin/eslint-plugin-woocommerce/package.json
  package-lock.json
  package.json
Labels: status: blocked, status: ready to merge, type: build, skip-changelog, type: cooldown

#5400 Add correct class to Legacy Template block icon
  assets/js/blocks/legacy-template/index.tsx
Labels: status: ready to merge, type: bug, skip-changelog

#5361 Remove the unused get_skeleton_inline_script method
  src/BlockTypes/AbstractBlock.php
Labels: status: ready to merge, skip-changelog, type: technical debt

#5412 Revert theme name
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: bug, skip-changelog, category: fse, 🔹 block-type: templates

#5386 Fix: Mini Cart block: divide contents into three inner blocks
  assets/js/blocks/cart-checkout/mini-cart-contents/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/editor.scss
  assets/js/blocks/cart-checkout/mini-cart-contents/index.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/index.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.json
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-footer-block/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-footer-block/index.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-products-table-block/block.json
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-products-table-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-products-table-block/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-products-table-block/index.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-title-block/block.json
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-title-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-title-block/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-title-block/index.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/register-components.ts
  assets/js/blocks/cart-checkout/mini-cart/block.tsx
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  assets/js/blocks/cart-checkout/mini-cart/test/block.js
  packages/checkout/blocks-registry/types.ts
  src/BlockTypes/MiniCart.php
  templates/block-template-parts/mini-cart.html
Labels: status: ready to merge, skip-changelog, category: fse, ◼️ block: mini cart

#5408 Fix saving WooCommerce templates in WP 5.9 beta 3
  src/BlockTemplatesController.php
Labels: status: ready to merge, category: fse, 🔹 block-type: templates

#5385 Make it so WooCommerce template names are not editable
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: bug, category: fse, 🔹 block-type: templates

#5315 Remove full-width mode from cart and checkout block
  assets/js/blocks/cart-checkout/cart/index.js
  assets/js/blocks/cart-checkout/cart/inner-blocks/empty-cart-block/block.json
  assets/js/blocks/cart-checkout/cart/inner-blocks/filled-cart-block/block.json
  assets/js/blocks/cart-checkout/checkout/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout, priority: low

#5380 Check if the current theme has a product-archive block template in the absence of a product taxonomy block template.
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: bug, category: fse, 🔹 block-type: templates

#5420 Fix modified block templates to have a user friendly Plugin name.
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: bug, type: blocker, category: fse, 🔹 block-type: templates

#5425 Fix `You attempted to edit an item that doesn't exist` error on WordPress 5.8
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, category: fse, 🔹 block-type: templates

#5379 Sync order data with cart data when cart is updated from any route
  bin/hook-docs/data/actions.json
  docs/extensibility/actions.md
  src/StoreApi/Routes/AbstractCartRoute.php
  src/StoreApi/Routes/AbstractRoute.php
  src/StoreApi/Routes/CartUpdateCustomer.php
  src/StoreApi/Routes/Checkout.php
  src/StoreApi/RoutesController.php
  src/StoreApi/Schemas/AbstractSchema.php
  src/StoreApi/Utilities/CartController.php
  src/StoreApi/Utilities/OrderController.php
  tests/php/StoreApi/Routes/Cart.php
Labels: status: ready to merge, category: rest-api, needs feedback

#5247 Remove extra padding for cart sidebar to fix visual regression bug
  assets/js/blocks/cart-checkout/cart/style.scss
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: cart

#5431 Update testing instructions for missing PRs in 6.6.0
  docs/testing/releases/660.md
  readme.txt
Labels: status: ready to merge, type: documentation

#5407 Add Storybook documentation and remove deprecated knobs
  .eslintrc.js
  .gitignore
  .vscode/storybook.code-snippets
  assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/stories/index.js
  package-lock.json
  package.json
  packages/checkout/components/checkbox-control/index.tsx
  packages/checkout/components/checkbox-control/stories/index.js
  packages/checkout/components/checkbox-control/stories/index.tsx
  packages/checkout/components/totals/fees/index.tsx
  packages/checkout/components/totals/fees/stories/index.js
  packages/checkout/components/totals/fees/stories/index.tsx
  packages/checkout/components/totals/item/index.tsx
  packages/checkout/components/totals/item/stories/index.js
  packages/checkout/components/totals/item/stories/index.tsx
  packages/checkout/components/totals/subtotal/index.tsx
  packages/checkout/components/totals/subtotal/stories/index.js
  packages/checkout/components/totals/subtotal/stories/index.tsx
  packages/checkout/components/totals/taxes/index.tsx
  packages/checkout/components/totals/taxes/stories/index.js
  packages/checkout/components/totals/taxes/stories/index.tsx
  storybook/README.md
  storybook/knobs/currency-knob.js
  storybook/knobs/index.js
  storybook/main.js
  storybook/preview.js
  storybook/webpack.config.js
  tsconfig.base.json
Labels: status: ready to merge, type: documentation, skip-changelog, type: dependencies

#5384 Remove text decorations from product filter
  assets/js/blocks/attribute-filter/style.scss
  assets/js/blocks/stock-filter/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: filter products by attribute, category: styles, ◼️ block: filter products by stock

#5421 Fix: Mini Cart: Default content for empty state
  assets/js/blocks/cart-checkout/mini-cart-contents/editor.scss
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  templates/block-template-parts/mini-cart.html
Labels: status: ready to merge, type: enhancement, skip-changelog, category: fse, ◼️ block: mini cart

#5444 Don't show shipping price when no options are available
  assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-order-summary-block/block.tsx
Labels: status: ready to merge, type: enhancement, category: blocks, ◼️ block: cart, ◼️ block: checkout

#4562 Add E2E tests for Filter blocks (Price, Attribute, and Active Filters)
  assets/js/blocks/attribute-filter/edit.js
  assets/js/blocks/price-filter/edit.js
  docs/contributors/javascript-testing.md
  package-lock.json
  package.json
  tests/e2e/config/setup.js
  tests/e2e/config/teardown.js
  tests/e2e/fixtures/fixture-data.js
  tests/e2e/fixtures/fixture-loaders.js
  tests/e2e/specs/backend/__fixtures__/active-product-filters.fixture.json
  tests/e2e/specs/backend/__fixtures__/filter-products-by-attribute.fixture.json
  tests/e2e/specs/backend/__fixtures__/filter-products-by-price.fixture.json
  tests/e2e/specs/backend/active-filters.test.js
  tests/e2e/specs/backend/attribute-filter.test.js
  tests/e2e/specs/backend/price-filter.test.js
  tests/utils/index.js
  tests/utils/save-or-publish.js
Labels: type: build, 🔹 block-type: filter blocks, ◼️ block: filter products by price, ◼️ block: filter products by attribute, ◼️ block: active product filters, category: tests

#5447 Fix custom templates with fallback being incorrectly attributed
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: bug, category: fse, 🔹 block-type: templates

#5455 Move block templates and parts directories to the Gutenberg 12.1.0 convention
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, category: fse, 🔹 block-type: templates

#5453 Ensure that the translation of the "Proceed to Checkout" button is working.
  src/BlockTypes/Cart.php
Labels: status: ready to merge, type: bug, category: i18n, ◼️ block: cart, priority: high

#5429 Revert "Remove extra padding for cart sidebar to fix visual regression bug"
  assets/js/blocks/cart-checkout/cart/style.scss
Labels: status: ready to merge

#5470 Account for products without variations in the On Sale Products block
  src/BlockTypes/AbstractProductGrid.php
Labels: status: ready to merge, type: bug, ◼️ block: best selling products, ◼️ block: on sale products

#5473 Fix initial population of address data in `useCustomerData` hook
  assets/js/base/context/hooks/use-checkout-address.js
  assets/js/base/context/hooks/use-customer-data.ts
  assets/js/base/context/hooks/use-store-notices.ts
Labels: status: ready to merge, type: bug, type: blocker, ◼️ block: checkout
