Repository woocommerce/woocommerce-blocks, pull requests merged in 2021-08, with the labels that each got.

#4524 Fix possible memory leak in Checkout i2
  assets/js/blocks/cart-checkout/checkout-i2/block.tsx
Labels: skip-changelog, type: bug

#4528 Update pagination class names to match our coding guidelines
  assets/js/base/components/pagination/index.js
  assets/js/base/components/pagination/style.scss
Labels: category: styles, skip-changelog, status: ready to merge, type: blocker

#4530 Use .hidden instead of .screen-reader-text for toggling helper texts
  assets/js/editor-components/product-attribute-term-control/index.js
  assets/js/editor-components/product-category-control/index.js
  assets/js/editor-components/product-tag-control/index.js
Labels: category: accessibility, status: ready to merge, type: bug, ◼️ block: products by attribute, ◼️ block: products by category, ◼️ block: products by tag

#4532 Update Dependencies to Latest Versions supporting React 16x
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/grouped/group-list/index.js
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/attribute-select-control.js
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/components/cart-checkout/totals/coupon/index.js
  assets/js/base/components/checkbox-control/index.tsx
  assets/js/base/components/product-list/product-list-item/index.js
  assets/js/base/components/radio-control-accordion/index.js
  assets/js/base/components/radio-control/index.js
  assets/js/base/components/select/validated.js
  assets/js/base/components/sort-select/index.js
  assets/js/base/components/tabs/index.js
  assets/js/base/components/text-input/validated-text-input.tsx
  assets/js/base/hocs/with-instance-id.js
  assets/js/base/hooks/use-container-queries.ts
  assets/js/blocks/attribute-filter/block.js
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-billing-address-block/block.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-shipping-address-block/block.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-terms-block/frontend.tsx
  assets/js/blocks/products/all-products/edit.js
  assets/js/blocks/products/edit-utils.js
  assets/js/blocks/products/utils.js
  assets/js/icons/README.md
  assets/js/legacy/base/hocs/with-instance-id.js
  bin/webpack-configs.js
  composer.lock
  package-lock.json
  package.json
Labels: skip-changelog, type: build, type: dependencies

#4547 Twenty Twenty-One: Adjust removable chip background color
  assets/js/base/components/chip/style.scss
Labels: category: styles, status: needs review, status: ready to merge, type: bug

#4549 Twenty Twenty: Fix broken sale badge left alignment
  assets/css/style.scss
Labels: status: ready to merge, ◼️ block: all products, category: styles

#4534 Fix handpicked product selections when a store has over 100 products.
  assets/js/base/utils/errors.js
  assets/js/editor-components/utils/index.js
  assets/js/hocs/test/with-searched-products.js
  assets/js/hocs/with-searched-products.js
  assets/js/hocs/with-searched-products.tsx
Labels: status: ready to merge

#4559 Enable re-select category for Featured Category block
  assets/js/blocks/featured-category/block.js
Labels: type: enhancement, category: blocks, needs feedback, ◼️ block: featured category

#4568 Fix store notice classes
  assets/js/base/context/providers/store-notices/components/store-notices-container.js
Labels: status: ready to merge, type: bug, category: components

#4369 Switch from Select to Combobox for Country and State Inputs
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/components/cart-checkout/address-form/test/index.js
  assets/js/base/components/combobox/index.tsx
  assets/js/base/components/combobox/style.scss
  assets/js/base/components/country-input/country-input.tsx
  assets/js/base/components/select/index.js
  assets/js/base/components/select/select.js
  assets/js/base/components/select/style.scss
  assets/js/base/components/select/validated.js
  assets/js/base/components/state-input/state-input.tsx
  bin/webpack-entries.js
  package-lock.json
  package.json
  patches/wordpress-components+11.1.5.patch
Labels: status: ready to merge

#4551 Fix unfiltered html usage of blocks
  assets/js/blocks/product-search/index.js
  src/BlockTypes/ProductSearch.php
  tests/e2e/specs/backend/__snapshots__/product-search.test.js.snap
Labels: status: ready to merge, ◼️ block: product search

#4569 Delete unneeded double spaces in text strings
  src/StoreApi/Utilities/CartController.php
Labels: type: bug, category: i18n

#4552 Reviews by Category: Show review count instead of product count
  assets/js/blocks/reviews/reviews-by-category/edit.js
Labels: status: ready to merge, type: bug, category: components, ◼️ block: reviews by category

#4548 Implement memoization in several selectors and hooks
  assets/js/base/context/hooks/cart/test/use-store-cart.js
  assets/js/base/context/hooks/cart/use-store-cart-item-quantity.ts
  assets/js/base/context/hooks/cart/use-store-cart.ts
  assets/js/data/cart/reducers.ts
  assets/js/data/cart/selectors.ts
  assets/js/data/constants.js
  assets/js/data/constants.ts
  assets/js/data/default-states.ts
  assets/js/data/index.ts
  assets/js/previews/cart.ts
  bin/webpack-entries.js
  src/StoreApi/docs/cart.md
Labels: status: ready to merge, category: performance

#4570 Add optimizations around checkout filter calls
  assets/js/base/components/cart-checkout/order-summary/order-summary-item.js
  assets/js/base/components/cart-checkout/order-summary/test/index.js
  assets/js/base/components/cart-checkout/totals/discount/index.js
  assets/js/base/components/product-name/index.tsx
  assets/js/base/context/providers/store-snackbar-notices/components/snackbar-notices-container.js
  assets/js/blocks/cart-checkout/cart/full-cart/cart-line-item-row.tsx
  assets/js/blocks/cart-checkout/cart/test/__snapshots__/block.js.snap
  assets/js/blocks/cart-checkout/checkout/sidebar/test/__snapshots__/index.js.snap
  packages/checkout/panel/index.tsx
  packages/checkout/registry/index.ts
Labels: status: ready to merge, ◼️ block: cart, ◼️ block: checkout

#4571 update Checkout i2 locks to attributes.
  assets/js/blocks/cart-checkout/checkout-i2/form-step/form-step-block.tsx
  assets/js/blocks/cart-checkout/checkout-i2/hacks.ts
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-actions-block/attributes.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-actions-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-actions-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-billing-address-block/attributes.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-billing-address-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-contact-information-block/attributes.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-contact-information-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-express-payment-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-express-payment-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-order-note-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-order-note-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-order-summary-block/attributes.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-order-summary-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-order-summary-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-payment-block/attributes.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-payment-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-shipping-address-block/attributes.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-shipping-address-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-shipping-methods-block/attributes.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-shipping-methods-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/styles/editor.scss
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout

#4561 Call validation before submitting the order
  assets/js/base/components/text-input/validated-text-input.tsx
Labels: status: ready to merge, type: bug, type: blocker, ◼️ block: checkout

#4582 Remove top rule so validation messages are positioned correctly below
  assets/js/base/context/providers/validation/components/validation-input-error/style.scss
Labels: status: ready to merge, type: blocker, skip-changelog

#4588 Add padding in 2020 and 2021
  assets/js/base/context/providers/store-notices/components/style.scss
Labels: status: ready to merge, type: bug, skip-changelog, category: styles

#4590 Combobox patch to prevent the suggestion list being left open after browser autocomplete
  .github/workflows/js-css-linting.yml
  .github/workflows/php-js-e2e-tests.yml
  .github/workflows/unit-tests.yml
  assets/js/base/components/combobox/index.tsx
  patches/wordpress-components+11.1.5.patch
Labels: status: ready to merge, type: bug, skip-changelog

#4585 Add label for Block Title component to satisfy accessibility
  assets/js/editor-components/block-title/index.js
Labels: status: ready to merge, type: bug, category: accessibility

#4580 Make SortSelect components controlled
  assets/js/base/components/product-list/product-sort-select/index.js
  assets/js/base/components/reviews/review-sort-select/index.js
  assets/js/base/components/sort-select/index.js
  assets/js/blocks/reviews/frontend-block.js
  assets/js/blocks/reviews/frontend-container-block.js
Labels: status: ready to merge, category: refactor, skip-changelog, ◼️ block: all products, 🔹 block-type: reviews

#4591 Define parent in registerCheckoutBlock
  packages/checkout/blocks-registry/index.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout

#4603 Create a NoExpressPaymentMethodsPlaceholder component
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-express-payment-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-express-payment-block/editor.scss
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout

#4376 Update `PaymentMethodIcons`, and `CheckoutButton` components to TypeScript
  assets/js/base/components/cart-checkout/payment-method-icons/common-icons.ts
  assets/js/base/components/cart-checkout/payment-method-icons/index.tsx
  assets/js/base/components/cart-checkout/payment-method-icons/payment-method-icon.tsx
  assets/js/base/components/cart-checkout/payment-method-icons/utils.js
  assets/js/base/components/cart-checkout/payment-method-icons/utils.ts
  assets/js/base/components/cart-checkout/payment-method-label/index.tsx
  assets/js/base/components/cart-checkout/place-order-button/index.tsx
  assets/js/base/components/tsconfig.json
  assets/js/blocks/cart-checkout/cart/checkout-button/index.tsx
  assets/js/icons/icon/index.tsx
  assets/js/types/type-defs/index.ts
  assets/js/types/type-defs/payment-method-icon.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: cart, ◼️ block: checkout, type: technical debt

#4508 Update documentation to describe updated snackbar filter
  docs/extensibility/available-filters.md
Labels: status: ready to merge, type: documentation

#4587 Replace new lines with empty strings when outputting catgeory list
  src/BlockTypes/ProductCategories.php
Labels: status: ready to merge, type: bug, ◼️ block: product categories list, priority: high

#4605 Add Extensibility info to Store API readme
  src/StoreApi/README.md
Labels: status: ready to merge, type: documentation

#4567 PHPUnit Tests running on wp-env
  .github/workflows/unit-tests.yml
  .wp-env.json
  bin/docker/wordpress/Dockerfile
  bin/wp-env-phpunit-pre-config.sh
  composer.json
  composer.lock
  package-lock.json
  package.json
  src/StoreApi/Schemas/ProductSchema.php
  tests/bin/Dockerfile
  tests/bin/docker-entrypoint.sh
  tests/bin/install-wp-tests.sh
  tests/bootstrap.php
  tests/php/Assets/AssetDataRegistry.php
  tests/php/Domain/Services/CreateAccount.php
  tests/php/Domain/Services/DeleteDraftOrders.php
  tests/php/Domain/Services/TestExtendRestApi.php
  tests/php/Helpers/FixtureData.php
  tests/php/Helpers/TestValidateSchema.php
  tests/php/Registry/Container.php
  tests/php/StoreApi/Formatters/TestCurrencyFormatter.php
  tests/php/StoreApi/Formatters/TestFormatters.php
  tests/php/StoreApi/Formatters/TestHtmlFormatter.php
  tests/php/StoreApi/Formatters/TestMoneyFormatter.php
  tests/php/StoreApi/Routes/Batch.php
  tests/php/StoreApi/Routes/Cart.php
  tests/php/StoreApi/Routes/CartCoupons.php
  tests/php/StoreApi/Routes/CartExtensions.php
  tests/php/StoreApi/Routes/CartItems.php
  tests/php/StoreApi/Routes/ControllerTestCase.php
  tests/php/StoreApi/Routes/ProductAttributeTerms.php
  tests/php/StoreApi/Routes/ProductAttributes.php
  tests/php/StoreApi/Routes/ProductCollectionData.php
  tests/php/StoreApi/Routes/Products.php
  tests/php/StoreApi/Utilities/CartController.php
  tests/php/StoreApi/Utilities/NoticeHandler.php
  tests/php/StoreApi/Utilities/ReserveStock.php
Labels: type: build, skip-changelog, type: cooldown, category: tests

#4145 Add "Filter Products by Stock" block
  assets/js/base/components/filter-element-label/index.js
  assets/js/base/components/filter-element-label/style.scss
  assets/js/base/components/product-list/container.js
  assets/js/base/components/product-list/product-list.js
  assets/js/base/context/hooks/collections/use-collection-data.js
  assets/js/blocks/active-filters/block.js
  assets/js/blocks/attribute-filter/block.js
  assets/js/blocks/attribute-filter/preview.js
  assets/js/blocks/attribute-filter/style.scss
  assets/js/blocks/products/all-products/block.js
  assets/js/blocks/stock-filter/block.js
  assets/js/blocks/stock-filter/edit.js
  assets/js/blocks/stock-filter/editor.scss
  assets/js/blocks/stock-filter/frontend.js
  assets/js/blocks/stock-filter/index.js
  assets/js/blocks/stock-filter/preview.js
  assets/js/blocks/stock-filter/style.scss
  bin/webpack-entries.js
  src/BlockTypes/AllProducts.php
  src/BlockTypes/StockFilter.php
  src/BlockTypesController.php
  src/StoreApi/Routes/ProductCollectionData.php
  src/StoreApi/Schemas/ProductCollectionDataSchema.php
  src/StoreApi/Utilities/ProductQuery.php
  src/StoreApi/Utilities/ProductQueryFilters.php
  webpack.config.js
Labels: category: rest-api, category: new block, category: blocks

#4550 Replace deprecated divisions with math.div($size, $base)
  assets/css/abstracts/_mixins.scss
  assets/css/editor.scss
  assets/js/atomic/blocks/product-elements/image/style.scss
  assets/js/base/components/cart-checkout/form-step/style.scss
  assets/js/base/components/cart-checkout/order-summary/style.scss
  assets/js/base/components/chip/style.scss
  assets/js/base/components/dropdown-selector/style.scss
  assets/js/base/components/product-list/style.scss
  assets/js/base/components/reviews/review-list-item/style.scss
  assets/js/base/components/sidebar-layout/style.scss
  assets/js/blocks/active-filters/style.scss
  assets/js/blocks/cart-checkout/checkout-i2/styles/style.scss
  assets/js/blocks/cart-checkout/checkout/form/style.scss
  assets/js/blocks/featured-category/style.scss
  assets/js/blocks/featured-product/style.scss
  bin/webpack-configs.js
Labels: status: ready to merge, type: build, skip-changelog, category: styles

#4610 Update checkout route hooks to support extensions
  docs/blocks/feature-flags-and-experimental-interfaces.md
  src/StoreApi/Routes/Checkout.php
Labels: status: ready to merge, category: extensibility, ◼️ block: checkout

#4377 Add documentation for `ExperimentalDiscountsMeta`, `cart/extensions` endpoint, and `extensionCartUpdate`
  docs/extensibility/available-slot-fills.md
  docs/extensibility/extend-rest-api-update-cart.md
Labels: status: ready to merge, type: documentation, category: extensibility

#4630 Rename productLink to showProductLink
  assets/js/atomic/blocks/product-elements/image/attributes.js
  assets/js/atomic/blocks/product-elements/image/block.js
  assets/js/atomic/blocks/product-elements/image/edit.js
  assets/js/atomic/blocks/product-elements/image/test/block.test.js
  assets/js/atomic/blocks/product-elements/title/attributes.js
  assets/js/atomic/blocks/product-elements/title/block.js
  assets/js/atomic/blocks/product-elements/title/edit.js
Labels: status: ready to merge, category: refactor, skip-changelog, 🔺 atomic-block

#4510 Add Mini Cart block in experimental builds
  assets/js/base/utils/lazy-load-script.ts
  assets/js/base/utils/preload-script.ts
  assets/js/base/utils/render-frontend.js
  assets/js/blocks/cart-checkout/cart/full-cart/style.scss
  assets/js/blocks/cart-checkout/mini-cart/component-frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart/frontend.ts
  assets/js/blocks/cart-checkout/mini-cart/index.tsx
  bin/webpack-entries.js
  src/Assets/Api.php
  src/BlockTypes/AbstractBlock.php
  src/BlockTypes/MiniCart.php
  src/BlockTypesController.php
Labels: status: ready to merge, category: fse, ◼️ block: mini cart

#4646 Disable Cart, Checkout, All Products & filters blocks from the widgets screen
  src/BlockTypesController.php
Labels: status: ready to merge, type: bug, type: blocker, ◼️ block: cart, ◼️ block: checkout, ◼️ block: all products, 🔹 block-type: filter blocks, category: fse

#4607 Experimental newsletter subscription checkbox block POC and Store API supporting changes
  assets/js/base/context/hooks/index.js
  assets/js/base/context/hooks/use-checkout-extension-data.ts
  assets/js/base/context/providers/cart-checkout/cart/index.js
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/cart-checkout/checkout-provider.js
  assets/js/base/context/providers/cart-checkout/checkout-state/actions.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/constants.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/index.tsx
  assets/js/base/context/providers/cart-checkout/checkout-state/reducer.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/types.ts
  assets/js/base/context/providers/cart-checkout/checkout/processor/utils.js
  assets/js/base/context/providers/cart-checkout/index.js
  assets/js/base/context/providers/cart-checkout/utils.ts
  assets/js/blocks/cart-checkout/checkout-i2/frontend.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-sample-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/register-components.ts
  docs/extensibility/extend-rest-api-add-data.md
  packages/checkout/blocks-registry/index.ts
  src/BlockTypesController.php
  src/Domain/Bootstrap.php
  src/Domain/Services/ExtendRestApi.php
  src/Payments/Api.php
  src/StoreApi/Schemas/AbstractSchema.php
  src/StoreApi/Schemas/CheckoutSchema.php
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout

#4606 Checkout i2: Handle forced blocks in editor
  assets/js/blocks/cart-checkout/checkout-i2/form-step/additional-fields.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-fields-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-sample-block/index.tsx
  assets/js/blocks/cart-checkout/checkout-i2/inner-blocks/checkout-totals-block/edit.tsx
  assets/js/blocks/cart-checkout/checkout-i2/use-forced-layout.ts
  src/BlockTypesController.php
Labels: status: ready to merge

#4660 Remove `checkout-newsletter-subscription-block` from `get_atomic_blocks`
  src/BlockTypesController.php
Labels: status: ready to merge, category: extensibility, skip-changelog, ◼️ block: checkout
