Repository woocommerce/woocommerce-blocks, pull requests merged in 2022-10, with the labels that each got.

#5953 Store API - Cart JWT tokens/session handling
  .editorconfig
  composer.json
  composer.lock
  src/StoreApi/Routes/V1/AbstractCartRoute.php
  src/StoreApi/SessionHandler.php
  src/StoreApi/Utilities/JsonWebToken.php
  tests/php/StoreApi/Routes/Cart.php
  tests/php/StoreApi/Routes/ControllerTestCase.php
Labels: status: ready to merge, category: rest-api

#7247 Minor Refactor to Prod Image Backend Render Functions
  src/BlockTypes/ProductImage.php
Labels: status: ready to merge, category: refactor, skip-changelog, 🔺 atomic-block, 🔹 block-type: product-query

#7232 Adjust Cart inner block titles
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-block/block.json
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/block.json
  assets/js/blocks/cart/inner-blocks/cart-items-block/block.json
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/block.json
Labels: status: ready to merge, type: enhancement, ◼️ block: cart

#7242 Add `showRemoveItemLink` filter to `CartLineItemRow`
  assets/js/blocks/cart/cart-line-items-table/cart-line-item-row.tsx
  assets/js/blocks/cart/test/block.js
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
Labels: status: ready to merge, category: blocks, ◼️ block: cart

#7273 Return 424 instead of 400 when checkout payment fails
  src/StoreApi/Routes/V1/Checkout.php
Labels: status: ready to merge

#7231 Fix use of sanitizeHTML
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  assets/js/base/context/providers/store-notices/components/store-notices-container.js
  assets/js/utils/sanitize-html.ts
  package-lock.json
Labels: type: bug, category: blocks, ◼️ block: cart, ◼️ block: checkout, type: task

#7266 Prefix all actions in the checkout and payment-method stores with `__internal`
  assets/js/base/context/hooks/cart/use-store-cart-item-quantity.ts
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/hooks/use-checkout-address.ts
  assets/js/base/context/hooks/use-checkout-extension-data.ts
  assets/js/base/context/providers/cart-checkout/checkout-events/index.tsx
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/cart-checkout/payment-methods/payment-method-events-context.tsx
  assets/js/base/context/providers/cart-checkout/shipping/index.js
  assets/js/base/context/providers/cart-checkout/utils.ts
  assets/js/blocks-registry/payment-methods/registry.ts
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment-methods.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-card.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-options.js
  assets/js/blocks/cart-checkout-shared/payment-methods/saved-payment-method-options.js
  assets/js/blocks/cart-checkout-shared/payment-methods/test/payment-methods.js
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/block.tsx
  assets/js/data/cart/index.ts
  assets/js/data/checkout/actions.ts
  assets/js/data/checkout/index.ts
  assets/js/data/checkout/test/reducer.ts
  assets/js/data/checkout/thunks.ts
  assets/js/data/checkout/utils.ts
  assets/js/data/payment-methods/actions.ts
  assets/js/data/payment-methods/check-payment-methods.ts
  assets/js/data/payment-methods/set-default-payment-method.ts
  assets/js/data/payment-methods/test/set-default-payment-method.ts
  assets/js/data/payment-methods/thunks.ts
  assets/js/data/payment-methods/types.ts
  assets/js/data/validation/actions.ts
  docs/internal-developers/block-client-apis/checkout/checkout-api.md
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout, type: technical debt

#7293 Support editing collection method titles in editor.
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method/attributes.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method/shared/helpers.ts
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method/shared/index.js
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method/shared/rate-price.tsx
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: checkout

#7298 Import useEffect from @wordpress/element package
  assets/js/atomic/blocks/product-elements/button/edit.js
Labels: status: ready to merge, category: refactor, skip-changelog

#7280 Update readme.txt
  readme.txt
Labels: status: ready to merge, skip-changelog

#7308 Introduce Toggle between Shipping Options and Pickup Locations
  assets/js/base/context/hooks/use-checkout-address.ts
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/edit.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout

#7304 Rename payment-method-data-context to payment-events-context and PAYMENT_METHOD_DATA_STORE_KEY to PAYMENT_STORE_KEY
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/hooks/payment-methods/use-payment-methods.ts
  assets/js/base/context/hooks/test/use-checkout-submit.js
  assets/js/base/context/hooks/use-checkout-submit.js
  assets/js/base/context/providers/cart-checkout/checkout-events/index.tsx
  assets/js/base/context/providers/cart-checkout/checkout-events/types.ts
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/cart-checkout/checkout-provider.js
  assets/js/base/context/providers/cart-checkout/index.js
  assets/js/base/context/providers/cart-checkout/payment-events/event-emit.ts
  assets/js/base/context/providers/cart-checkout/payment-events/index.tsx
  assets/js/base/context/providers/cart-checkout/payment-methods/constants.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/index.ts
  assets/js/base/context/providers/store-notices/components/store-notices-container.js
  assets/js/blocks-registry/payment-methods/registry.ts
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment-methods.js
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/cart-express-payment.js
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/checkout-express-payment.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-card.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-options.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-methods.js
  assets/js/blocks/cart-checkout-shared/payment-methods/saved-payment-method-options.js
  assets/js/blocks/cart-checkout-shared/payment-methods/test/payment-methods.js
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.tsx
  assets/js/data/cart/index.ts
  assets/js/data/checkout/index.ts
  assets/js/data/index.ts
  assets/js/data/payment/actions.ts
  assets/js/data/payment/check-payment-methods.ts
  assets/js/data/payment/constants.ts
  assets/js/data/payment/default-state.ts
  assets/js/data/payment/index.ts
  assets/js/data/payment/set-default-payment-method.ts
  assets/js/data/payment/test/reducers.js
  assets/js/data/payment/test/selectors.js
  assets/js/data/payment/test/set-default-payment-method.ts
  assets/js/data/payment/thunks.ts
  assets/js/data/payment/types.ts
  assets/js/data/tsconfig.json
  assets/js/types/type-defs/payment-method-interface.ts
  docs/internal-developers/block-client-apis/checkout/checkout-api.md
  docs/internal-developers/block-client-apis/checkout/checkout-flow-and-events.md
Labels: status: ready to merge, skip-changelog, ◼️ block: cart, ◼️ block: checkout, type: technical debt

#7292 Register new header patterns
  patterns/header-essential-dark.php
  patterns/header-essential-light.php
  patterns/header-large-dark.php
  patterns/header-large-light.php
  patterns/header-minimal-dark.php
  patterns/header-minimal-light.php
Labels: status: ready to merge, ▫️ pattern: headers

#7272 Consolidate Address types
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/components/cart-checkout/shipping-calculator/address.tsx
  assets/js/base/components/cart-checkout/shipping-calculator/index.tsx
  assets/js/base/components/cart-checkout/shipping-location/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  assets/js/base/context/hooks/use-checkout-address.ts
  assets/js/base/utils/address.ts
  assets/js/data/checkout/constants.ts
  assets/js/settings/shared/default-address-fields.ts
  assets/js/types/type-defs/addresses.ts
  assets/js/types/type-defs/checkout.ts
  assets/js/types/type-defs/index.ts
Labels: status: ready to merge, category: refactor, skip-changelog

#7313 Render HTML in description of active payment integrations
  assets/js/editor-components/external-link-card/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#7296 Lockfile Maintenance
  package-lock.json
Labels: status: ready to merge, skip-changelog, type: dependencies

#7268 Hide the shipping address form from the Checkout when the "Force shipping to the customer billing address" is enabled
  assets/js/base/context/hooks/use-checkout-address.ts
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/frontend.tsx
  src/BlockTypes/Checkout.php
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#7086 Document the selectors for the wc/store/validation data store
  docs/third-party-developers/extensibility/data-store/README.md
  docs/third-party-developers/extensibility/data-store/validation.md
Labels: status: ready to merge, type: documentation, skip-changelog, ◼️ block: checkout

#6676 Fix `useForcedLayout` to re-select inner blocks after we manually insert one
  assets/js/blocks/cart-checkout-shared/use-forced-layout.ts
Labels: status: ready to merge, category: blocks, ◼️ block: checkout

#6978 Convert filter blocks to inner blocks
  assets/js/blocks/active-filters/block-wrapper.tsx
  assets/js/blocks/active-filters/block.json
  assets/js/blocks/active-filters/block.tsx
  assets/js/blocks/active-filters/edit.tsx
  assets/js/blocks/active-filters/frontend.ts
  assets/js/blocks/active-filters/index.tsx
  assets/js/blocks/active-filters/utils.tsx
  assets/js/blocks/attribute-filter/block-wrapper.tsx
  assets/js/blocks/attribute-filter/block.json
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/edit.tsx
  assets/js/blocks/attribute-filter/frontend.ts
  assets/js/blocks/attribute-filter/index.tsx
  assets/js/blocks/attribute-filter/utils.ts
  assets/js/blocks/filter-wrapper/block.json
  assets/js/blocks/filter-wrapper/block.tsx
  assets/js/blocks/filter-wrapper/context.ts
  assets/js/blocks/filter-wrapper/edit.tsx
  assets/js/blocks/filter-wrapper/frontend.ts
  assets/js/blocks/filter-wrapper/index.tsx
  assets/js/blocks/filter-wrapper/register-components.ts
  assets/js/blocks/filter-wrapper/types.ts
  assets/js/blocks/filter-wrapper/upgrade.tsx
  assets/js/blocks/price-filter/block-wrapper.tsx
  assets/js/blocks/price-filter/block.json
  assets/js/blocks/price-filter/block.tsx
  assets/js/blocks/price-filter/edit.tsx
  assets/js/blocks/price-filter/frontend.ts
  assets/js/blocks/price-filter/index.tsx
  assets/js/blocks/price-filter/utils.ts
  assets/js/blocks/stock-filter/block-wrapper.tsx
  assets/js/blocks/stock-filter/block.json
  assets/js/blocks/stock-filter/block.tsx
  assets/js/blocks/stock-filter/edit.tsx
  assets/js/blocks/stock-filter/frontend.ts
  assets/js/blocks/stock-filter/index.tsx
  assets/js/blocks/stock-filter/utils.ts
  bin/webpack-entries.js
  package.json
  patterns/filters.php
  src/BlockTypes/FilterWrapper.php
  src/BlockTypesController.php
  tests/e2e/specs/backend/__fixtures__/active-product-filters.fixture.json
  tests/e2e/specs/backend/__fixtures__/filter-products-by-attribute.fixture.json
  tests/e2e/specs/backend/__fixtures__/filter-products-by-price.fixture.json
  tests/e2e/specs/backend/__fixtures__/filter-products-by-stock.fixture.json
  tests/e2e/specs/backend/active-filters.test.js
  tests/e2e/specs/backend/attribute-filter.test.js
  tests/e2e/specs/backend/price-filter.test.js
  tests/e2e/specs/backend/stock-filter.test.js
  tests/e2e/specs/shopper/active-filters.test.ts
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
  tests/e2e/utils.js
Labels: status: ready to merge

#7199 Add Product Query Support for Atomic Price Block
  assets/js/atomic/blocks/product-elements/price/attributes.js
  assets/js/atomic/blocks/product-elements/price/edit.js
  assets/js/atomic/blocks/product-elements/price/index.js
  src/BlockTypes/ProductPrice.php
Labels: status: ready to merge, category: refactor, skip-changelog, 🔺 atomic-block

#7256 Prevent infinite loop when initialising the payments data store in the editor.
  assets/js/data/checkout/index.ts
Labels: status: ready to merge, type: bug, category: performance, category: blocks, ◼️ block: cart, ◼️ block: checkout

#7276 Prevent resetting default payment method if available payment method is still available
  assets/js/data/payment/actions.ts
  assets/js/data/payment/default-state.ts
  assets/js/data/payment/set-default-payment-method.ts
  assets/js/data/payment/test/actions.ts
  assets/js/data/payment/test/set-default-payment-method.ts
  assets/js/data/payment/types.ts
  assets/js/types/type-defs/payments.ts
Labels: status: ready to merge, skip-changelog, category: blocks, ◼️ block: cart, ◼️ block: checkout, type: technical debt

#7338 Products by Rating: Add block transform for the legacy rating widget
  assets/js/blocks/rating-filter/index.tsx
  src/BlockTypesController.php
Labels: status: ready to merge

#7155 Update the stale bot workflow to use correct number of days and remove wording relating to closing the PR/Issue
  .github/workflows/close-stale-issues.yml
Labels: status: ready to merge, skip-changelog, stale, github_actions

#7206 Fix E2E test
  tests/e2e/config/custom-matchers/__fixtures__/best-selling-products.fixture.json
  tests/e2e/config/custom-matchers/__fixtures__/featured-category.fixture.json
  tests/e2e/config/custom-matchers/__fixtures__/hand-picked-products.fixture.json
  tests/e2e/config/custom-matchers/__fixtures__/newest-products.fixture.json
  tests/e2e/config/custom-matchers/__fixtures__/product-categories-list.fixture.json
  tests/e2e/config/custom-matchers/__fixtures__/top-rated-products.fixture.json
  tests/e2e/fixtures/fixture-data.js
  tests/e2e/fixtures/fixture-loaders.js
  tests/e2e/specs/backend/__fixtures__/cart.fixture.json
  tests/e2e/specs/backend/__fixtures__/product-search-legacy.fixture.json
  tests/e2e/specs/backend/__fixtures__/product-search.fixture.json
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/e2e/specs/shopper/mini-cart.test.js
  tests/e2e/utils.js
Labels: status: ready to merge, skip-changelog, category: tests

#7346 Fix: Active Filters not working on for site templates
  assets/js/blocks/active-filters/block.tsx
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, ◼️ block: active product filters

#7347 Add compatibility with HPOS (custom order tables) for WooCommerce
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, category: extensibility, type: blocker, skip-changelog, type: compatibility, priority: high, php

#7340 Add default style to link-button mixin
  assets/css/abstracts/_mixins.scss
  assets/js/base/components/filter-reset-button/style.scss
  assets/js/blocks/active-filters/style.scss
Labels: status: ready to merge, type: enhancement, 🔹 block-type: filter blocks

#7357 Add filter-link-button mixin
  assets/css/abstracts/_mixins.scss
  assets/js/base/components/filter-reset-button/style.scss
  assets/js/blocks/active-filters/style.scss
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: filter blocks

#7354 Correct block name and description
  assets/js/blocks/active-filters/block.json
  assets/js/blocks/active-filters/index.tsx
  assets/js/blocks/attribute-filter/block.json
  assets/js/blocks/filter-wrapper/index.tsx
  assets/js/blocks/stock-filter/block.json
  assets/js/blocks/stock-filter/index.tsx
Labels: status: ready to merge, category: i18n, skip-changelog, 🔹 block-type: filter blocks

#7311 Products by Rating: Add display options
  assets/js/base/components/product-rating/index.tsx
  assets/js/blocks/active-filters/block.tsx
  assets/js/blocks/rating-filter/block.json
  assets/js/blocks/rating-filter/block.tsx
  assets/js/blocks/rating-filter/edit.tsx
  assets/js/blocks/rating-filter/frontend.ts
  assets/js/blocks/rating-filter/index.tsx
  assets/js/blocks/rating-filter/preview.tsx
  assets/js/blocks/rating-filter/style.scss
  assets/js/blocks/rating-filter/types.ts
Labels: status: ready to merge, ◼ block: filter products by rating

#6896 Fix error with usage of Cart::deep_sort_with_accents
  src/BlockTypes/Cart.php
  tests/php/BlockTypes/Cart.php
  tests/php/mocks/CartMock.php
Labels: status: ready to merge, type: bug, ◼️ block: cart

#7316 Create Pickup Locations Block
  assets/js/base/components/radio-control/option-layout.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/attributes.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/shared/helpers.ts
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/shared/index.js
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/shared/rate-price.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/style.scss
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method/shared/helpers.ts
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method/shared/rate-price.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-fields-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/attributes.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/style.scss
  assets/js/blocks/checkout/inner-blocks/component-metadata.ts
  assets/js/blocks/checkout/inner-blocks/index.tsx
  assets/js/blocks/checkout/inner-blocks/register-components.ts
  assets/js/types/type-defs/shipping.ts
  packages/checkout/blocks-registry/types.ts
  src/BlockTypes/Checkout.php
  src/BlockTypes/CheckoutCollectionMethod.php
  src/BlockTypes/CheckoutCollectionMethodBlock.php
  src/BlockTypes/CheckoutPickupOptionsBlock.php
  src/StoreApi/Legacy.php
  src/StoreApi/Schemas/V1/CartShippingRateSchema.php
  src/StoreApi/Utilities/CartController.php
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout

#7369 change any to or below the express payment method on cart
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/cart-express-payment.js
Labels: status: ready to merge, type: bug, skip-changelog

#7367 Add temporary workaround to fix inserting Cart block in WordPress.com
  assets/js/blocks/cart-checkout-shared/use-forced-layout.ts
Labels: status: ready to merge, type: bug, ◼️ block: cart

#7366 Fix: Product Query: Update the Editor preview when custom attributes are changed
  assets/js/blocks/product-query/inspector-controls.tsx
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: bug, 🔹 block-type: product-grid

#7372 Updated version to 8.8.0-dev
  package-lock.json
  package.json
  readme.txt
  src/Package.php
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, skip-changelog

#7375 Update Feature Flags and Experimental Interfaces doc adding the Product Query block and its variations and Filter By Rating block
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
Labels: status: ready to merge, type: documentation, skip-changelog

#7377 Check that the callback for filtering payment methods is available and is a function before trying to run it
  assets/js/blocks-registry/payment-methods/payment-method-config-helper.ts
  assets/js/blocks-registry/payment-methods/test/payment-method-config-helper.ts
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: cart, ◼️ block: checkout, category: tests

#7362 Products by Rating: Add inner block support
  assets/js/blocks/filter-wrapper/index.tsx
  assets/js/blocks/filter-wrapper/register-components.ts
  assets/js/blocks/rating-filter/attributes.ts
  assets/js/blocks/rating-filter/block-wrapper.tsx
  assets/js/blocks/rating-filter/block.json
  assets/js/blocks/rating-filter/block.tsx
  assets/js/blocks/rating-filter/edit.tsx
  assets/js/blocks/rating-filter/frontend.ts
  assets/js/blocks/rating-filter/index.tsx
  assets/js/blocks/rating-filter/types.ts
  assets/js/blocks/rating-filter/utils.ts
  patterns/filters.php
Labels: status: ready to merge

#7353 Add payment data store selectors documentation
  docs/third-party-developers/extensibility/data-store/payment.md
Labels: status: ready to merge, type: documentation, skip-changelog

#7380 Remove Single Product block from readme list
  readme.txt
Labels: status: ready to merge, type: documentation, skip-changelog

#7387 Fix mini cart item alignment issues in Editor
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-products-table-block/edit.tsx
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#7370 Products by Rating: Improve Rating filter accessibility
  assets/js/blocks/rating-filter/block.tsx
Labels: status: ready to merge

#7389 Product Query - Add To Cart block is visible in the inserter
  assets/js/atomic/blocks/product-elements/button/index.js
  assets/js/atomic/blocks/product-elements/shared/config.tsx
Labels: status: ready to merge, type: bug, skip-changelog, 🔺 atomic-block, 🔹 block-type: product-query

#7395 Update HPOS compatibility snippet
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, skip-changelog

#7384 Products by Rating: Add Filter by Rating to the Feature Plugin
  assets/js/blocks/filter-wrapper/index.tsx
  assets/js/blocks/rating-filter/index.tsx
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
Labels: status: ready to merge, ◼ block: filter products by rating

#7386 E2E tests for Product Query Block
  assets/js/blocks/product-query/inspector-controls.tsx
  package.json
  tests/e2e/fixtures/fixture-data.js
  tests/e2e/specs/backend/__fixtures__/product-query.fixture.json
  tests/e2e/specs/backend/product-query.test.ts
Labels: status: ready to merge, skip-changelog, 🔹 block-type: product-grid, category: tests

#7393 Refactor useCheckoutAddress hook to enable "Use same address for billing" option in Editor
  assets/js/base/context/hooks/use-checkout-address.ts
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/frontend.tsx
Labels: status: needs review, type: bug, ◼️ block: checkout

#7364 Prevent resource hinting when cart/checkout blocks are not in use
  src/AssetsController.php
Labels: status: ready to merge, category: performance, ◼️ block: cart, ◼️ block: checkout

#7252 StoreAPI: Introduce `woocommerce_store_api_add_to_cart_data` as part of the `CartAddItem` route
  src/StoreApi/Routes/V1/CartAddItem.php
  src/StoreApi/Utilities/CartController.php
Labels: status: ready to merge, category: extensibility, category: rest-api

#7406 Update/8.7.0-2 changelog and testing instructions
  docs/internal-developers/testing/releases/871.md
  docs/internal-developers/testing/releases/872.md
  docs/internal-developers/testing/releases/README.md
  readme.txt
Labels: status: ready to merge, skip-changelog

#7403 Fix `deep_sort_with_accents`
  src/BlockTypes/Cart.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: cart

#7414 Register a global local pickup method for the block based checkout
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/calculator-button.tsx
  assets/js/base/components/cart-checkout/totals/shipping/has-shipping-rate.js
  assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-address.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-placeholder.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-rate-selector.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-via.tsx
  assets/js/base/components/cart-checkout/totals/shipping/style.scss
  assets/js/base/components/cart-checkout/totals/shipping/utils.ts
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/shared/helpers.ts
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/shared/rate-price.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/style.scss
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  assets/js/previews/shipping-rates.ts
  src/Domain/Bootstrap.php
  src/Shipping/PickupLocation.php
  src/Shipping/ShippingController.php
  src/StoreApi/Legacy.php
  src/StoreApi/Utilities/CartController.php
Labels: status: ready to merge, ◼️ block: checkout

#7383 Shipping and collection method block package support
  assets/js/base/components/cart-checkout/shipping-rates-control-package/package-rates.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/calculator-button.tsx
  assets/js/base/components/cart-checkout/totals/shipping/has-shipping-rate.js
  assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-address.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-placeholder.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-rate-selector.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-via.tsx
  assets/js/base/components/cart-checkout/totals/shipping/style.scss
  assets/js/base/components/cart-checkout/totals/shipping/utils.ts
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/shared/helpers.ts
  assets/js/blocks/checkout/inner-blocks/checkout-collection-method-block/shared/rate-price.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/style.scss
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  assets/js/previews/shipping-rates.ts
  assets/js/types/type-defs/cart.ts
  src/Domain/Bootstrap.php
  src/Shipping/PickupLocation.php
  src/Shipping/ShippingController.php
  src/StoreApi/Legacy.php
  src/StoreApi/Utilities/CartController.php
Labels: status: ready to merge, ◼️ block: checkout

#7381 Remove duplicate shouldSavePaymentMethod selector
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-card.js
  assets/js/data/payment/selectors.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout, type: technical debt

#7434 Fix wrong keys being sent in `canMakePayment` and customer data showing in the Checkout block in the editor
  assets/js/base/context/providers/cart-checkout/checkout-events/index.tsx
  assets/js/blocks/cart-checkout-shared/payment-methods/test/payment-methods.js
  assets/js/data/cart/index.ts
  assets/js/data/checkout/index.ts
  assets/js/data/payment/actions.ts
  assets/js/data/payment/check-payment-methods.ts
  assets/js/data/payment/test/selectors.js
Labels: status: ready to merge, type: bug, type: blocker, category: blocks, ◼️ block: cart, ◼️ block: checkout, priority: high

#7435 Fix performance issue with the sidebar notices
  assets/js/blocks/cart-checkout-shared/sidebar-notices/index.tsx
Labels: status: ready to merge

#7361 Store API: Replace `wc()->api->get_endpoint_data` usage in `/cart/extensions`
  src/StoreApi/Schemas/V1/CartExtensionsSchema.php
  src/StoreApi/Schemas/V1/CartSchema.php
Labels: status: ready to merge, type: bug, category: rest-api

#7447 Prevent `useForcedLayout` breaking in WP 6.1
  assets/js/blocks/cart-checkout-shared/use-forced-layout.ts
Labels: status: ready to merge, type: bug, category: extensibility, type: blocker, ◼️ block: cart, ◼️ block: checkout, priority: high

#7458 Remove helper file to test #7456
  test.txt
Labels: status: ready to merge

#7472 Fix failed E2E tests related to attribute filter block
  tests/e2e/specs/backend/attribute-filter.test.js
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: filter products by attribute, category: tests

#7465 Update Express Payment Block text
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/checkout-express-payment.js
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/style.scss
Labels: status: ready to merge, type: cooldown

#7413 Improve the performance of checking payment methods
  assets/js/data/cart/index.ts
  assets/js/data/cart/update-payment-methods.ts
  assets/js/data/payment/actions.ts
Labels: status: ready to merge

#7446 Enhancement/pickup location editor improvements
  assets/js/blocks/checkout/form-step/editor.scss
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/style.scss
  assets/js/previews/shipping-rates.ts
  src/BlockTypes/Checkout.php
  src/Shipping/PickupLocation.php
Labels: status: needs review

#6898 Performance: preload store pages
  src/Assets/AssetDataRegistry.php
Labels: status: ready to merge, type: enhancement, category: performance, stale

#7186 [Product Query] Add support for the Filter Products By Attributes block
  src/BlockTypes/AttributeFilter.php
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, skip-changelog, 🔹 block-type: product-query

#7493 Test the GitHub workflow of #7456
  test-workflow-7456.md
Labels: status: ready to merge, type: build, skip-changelog

#7497 Test update
  readme.txt
Labels: status: ready to merge

#7401 Restore block transform for filter blocks
  assets/js/blocks/active-filters/index.tsx
  assets/js/blocks/attribute-filter/index.tsx
  assets/js/blocks/filter-wrapper/block.json
  assets/js/blocks/filter-wrapper/index.tsx
  assets/js/blocks/price-filter/index.tsx
  assets/js/blocks/rating-filter/index.tsx
Labels: status: ready to merge, type: bug, 🔹 block-type: filter blocks

#7456 Remove “status: ready to merge” label after merge
  .github/workflows/merged-with-labels.yml
Labels: status: ready to merge, type: build, skip-changelog

#7490 Calculate cart totals after running extensions
  src/StoreApi/Routes/V1/AbstractCartRoute.php
  src/StoreApi/Routes/V1/CartUpdateCustomer.php
  src/StoreApi/Schemas/V1/CartExtensionsSchema.php
  src/StoreApi/Utilities/CartController.php
  tests/php/StoreApi/Routes/CartExtensions.php
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#7506 Add white background to Filter by Attribute block dropdown so text is legible in dark backgrounds
  assets/js/base/components/form-token-field/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: products by attribute, theme: Twenty Twenty-Three

#7397 Add Stock Status setting to Product Query Block
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/index.tsx
  assets/js/blocks/product-query/inspector-controls.tsx
  assets/js/blocks/product-query/types.ts
  assets/js/blocks/product-query/utils.tsx
  assets/js/blocks/product-query/variations/product-query.tsx
  assets/js/blocks/product-query/variations/products-on-sale.tsx
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: enhancement, 🔹 block-type: product-query

#7373 Disable apply button when there is no change to selected filters
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/test/block.tsx
  tests/js/setup-globals.js
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: filter products by attribute

#7508 Fix/flakey checkout tests
  tests/e2e/specs/shopper/cart-checkout/account.test.js
  tests/e2e/specs/shopper/cart-checkout/cart.test.js
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/e2e/specs/shopper/cart-checkout/tax.test.js
  tests/mocks/woo-test-helper/woo-test-helper.php
  tests/utils/shopper.js
  tests/utils/taxes.ts
Labels: status: ready to merge, type: cooldown, category: tests

#7510 Use theme's body background color as the mini cart contents default background color
  assets/js/blocks/mini-cart/frontend.ts
  assets/js/blocks/mini-cart/mini-cart-contents/edit.tsx
  assets/js/blocks/mini-cart/style.scss
Labels: status: ready to merge, type: enhancement, ◼️ block: mini cart, theme: Twenty Twenty-Three

#7527 Price Slider: use `currentColor` for the slider
  assets/js/base/components/price-slider/style.scss
Labels: status: ready to merge, ◼️ block: filter products by price, category: styles, theme: Twenty Twenty-Three

#7480 Add a workflow for building nightly releases of the repo
  .github/workflows/nightly-builds.yml
  .github/workflows/wordpress-deploy.yml
Labels: status: ready to merge, type: build

#7525 Make price slider 'inactive' range half transparent so it looks better in dark themes
  assets/js/base/components/price-slider/style.scss
Labels: status: ready to merge, ◼️ block: filter products by price, category: styles, theme: Twenty Twenty-Three

#7516 Fix inconsistent button styling with TT3
  assets/js/atomic/blocks/product-elements/button/block.js
  src/BlockTypes/AbstractProductGrid.php
Labels: status: ready to merge, category: styles, theme: Twenty Twenty-Three

#7504 Product button: Fix 'In cart' button localization.
  src/BlockTypes/AllProducts.php
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, category: i18n, ◼️ block: all products

#7515 Fix Mini Cart Block global styles #7379
  assets/js/blocks/mini-cart/block.tsx
  assets/js/blocks/mini-cart/edit.tsx
  assets/js/blocks/mini-cart/index.tsx
  assets/js/blocks/mini-cart/style.scss
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, category: styles, ◼️ block: mini cart, theme: Twenty Twenty-Three

#7545 Fix typo in 8.8.2 changelog
  readme.txt
Labels: status: ready to merge, type: documentation, skip-changelog

#7352 Add Product Query Support for Atomic Rating Block
  assets/js/atomic/blocks/product-elements/rating/attributes.ts
  assets/js/atomic/blocks/product-elements/rating/block.tsx
  assets/js/atomic/blocks/product-elements/rating/constants.tsx
  assets/js/atomic/blocks/product-elements/rating/edit.tsx
  assets/js/atomic/blocks/product-elements/rating/index.ts
  assets/js/atomic/blocks/product-elements/rating/support.ts
  assets/js/atomic/blocks/product-elements/rating/types.ts
  assets/js/atomic/blocks/product-elements/shared/with-product-selector.js
  assets/js/blocks/product-query/types.ts
  bin/webpack-helpers.js
  src/BlockTypes/ProductRating.php
  tsconfig.base.json
Labels: status: ready to merge, category: refactor, skip-changelog, 🔺 atomic-block, 🔹 block-type: product-query
