Repository woocommerce/woocommerce-blocks, pull requests merged in 2022-05, with the labels that each got.

#6337 Try to fix E2E tests once and for all
  .github/workflows/close-stale-issues.yml
  .github/workflows/php-js-e2e-tests.yml
  bin/wp-env-with-gutenberg.js
  tests/e2e/specs/shopper/cart-checkout/account.test.js
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/utils/shopper.js
  tests/utils/visit-block-page.js
Labels: status: ready to merge

#6348 Add media controls to the Featured Product block
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/style.scss
Labels: status: ready to merge, type: enhancement, category: components, ◼️ block: featured product

#6350 Fix: Prevent page reloads twice when the shopper sets a price filter and attribute filter using blocks in a PHP template
  assets/js/blocks/price-filter/block.js
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: filter blocks, ◼️ block: filter products by price

#6358 Parse categories coming from the back-end as a json array
  assets/js/base/hocs/with-reviews.js
Labels: status: ready to merge, type: bug, ◼️ block: reviews by category

#6352 Remove redundant front-end Checkout block test case
  tests/e2e/specs/frontend/checkout.test.js
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
Labels: status: ready to merge, skip-changelog, category: tests

#6356 Classic Template: set the default alignment to wide
  assets/js/blocks/classic-template/README.md
  assets/js/blocks/classic-template/editor.scss
  assets/js/blocks/classic-template/index.tsx
  assets/js/blocks/classic-template/style.scss
  src/BlockTypes/ClassicTemplate.php
Labels: status: ready to merge, type: bug, category: styles, 🔹 block-type: templates, theme: Twenty Twenty-Two

#6370 Add clarification about 'Do not include in the Testing Notes' checkbox in PR template
  .github/pull_request_template.md
Labels: status: ready to merge, skip-changelog

#6327 Product Tag Cloud: Hide from Widgets screen in classic themes
  src/BlockTypesController.php
Labels: status: ready to merge, type: enhancement, category: fse

#6359 Remove custom ensureSidebarOpened()
  tests/utils/ensure-sidebar-opened.ts
  tests/utils/get-block-page-permalink.js
Labels: status: ready to merge, category: refactor, skip-changelog, category: tests

#6351 Fix: Mini Cart block is not available from the Edit template screen
  src/BlockTypesController.php
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#6366 Shop page: Remove the Template panel from the Setting Sidebar
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, category: fse

#6353 Meaningful comment for skipping the e2e tests
  tests/e2e/specs/shopper/cart-checkout/account.test.js
  tests/e2e/specs/shopper/cart-checkout/cart.test.js
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/e2e/specs/shopper/cart-checkout/tax.test.js
  tests/e2e/specs/shopper/cart-checkout/translations.test.js
  tests/e2e/specs/shopper/mini-cart.test.js
Labels: status: ready to merge, skip-changelog, category: tests

#6338 Fix release schedule link in release and patch initial checklist
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
Labels: type: build, skip-changelog

#6374 Disable lock menu item for Mini Carts Contents and its inner blocks
  assets/js/blocks/mini-cart/mini-cart-contents/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-items-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-products-table-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-block/block.json
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#6360 Add media controls to the Featured Category block
  assets/js/blocks/featured-category/block.js
  assets/js/blocks/featured-category/style.scss
  assets/js/blocks/featured-product/block.js
Labels: status: ready to merge

#6367 Featured Product: add background color option
  assets/js/blocks/featured-product/block.json
  assets/js/blocks/featured-product/index.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: featured product

#6365 Fix relative include paths
  tests/php/Helpers/TestValidateSchema.php
Labels: status: ready to merge

#6302 GridContentControl: Add product image control
  assets/js/blocks/handpicked-products/index.js
  assets/js/blocks/product-tag/index.js
  assets/js/blocks/products-by-attribute/index.js
  assets/js/editor-components/grid-content-control/index.js
  assets/js/utils/shared-attributes.js
  src/BlockTypes/AbstractProductGrid.php
Labels: status: ready to merge, type: enhancement, ◼️ block: hand-picked products

#6384 Check asset_data_registry keys do not exist before adding them for PHP templates
  src/BlockTypes/AllProducts.php
  src/BlockTypes/ClassicTemplate.php
  src/Templates/ClassicTemplatesCompatibility.php
Labels: status: ready to merge, type: bug, category: fse

#6355 Add E2E tests for the Filter Products By Attribute Block
  package-lock.json
  package.json
  tests/e2e/config/setup.js
  tests/e2e/fixtures/fixture-loaders.js
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/tsconfig.json
  tests/e2e/utils.js
Labels: status: ready to merge, skip-changelog, ◼️ block: filter products by attribute, category: tests

#6394 Remove unnecessary `index.js` on `Featured Category`
  assets/js/blocks/featured-category/index.js
Labels: status: ready to merge, category: refactor, skip-changelog, category: blocks, ◼️ block: featured product

#6392 Start using the `block.json` metadata file for `Handpicked products`
  assets/js/blocks/handpicked-products/block.json
  assets/js/blocks/handpicked-products/edit.tsx
  assets/js/blocks/handpicked-products/index.js
  assets/js/blocks/handpicked-products/index.tsx
  bin/webpack-configs.js
Labels: status: ready to merge, category: refactor, skip-changelog, category: blocks, 🔹 block-type: product-grid, ◼️ block: hand-picked products, type: technical debt

#6393 Add E2E tests for the Active Filters Block
  tests/e2e/fixtures/fixture-loaders.js
  tests/e2e/specs/shopper/active-filters.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tests/e2e/utils.js
Labels: status: ready to merge, skip-changelog, ◼️ block: active product filters, category: tests

#6422 Update release PR checklist template to remove steps for creating the changelog in readme.txt
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
Labels: status: ready to merge, type: release

#6421 Fix phpunit path after the repo renaming
  package.json
Labels: status: ready to merge, category: refactor, skip-changelog, category: blocks

#6344 Implement `Fixed image` and `Repeated image` media controls for the `Featured Product`
  assets/js/blocks/featured-category/block.js
  assets/js/blocks/featured-category/utils.js
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/block.json
  assets/js/blocks/featured-product/example.js
  assets/js/blocks/featured-product/style.scss
  assets/js/blocks/featured-product/utils.js
  src/BlockTypes/FeaturedProduct.php
Labels: status: ready to merge, type: enhancement, category: components, ◼️ block: featured product

#6435 Fix padding for the Featured Product block
  src/BlockTypes/FeaturedProduct.php
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: featured product

#6436 Remove bold styles from All Products block
  assets/js/atomic/blocks/product-elements/title/style.scss
Labels: status: ready to merge, ◼️ block: all products, category: styles

#6414 Start using `block.json` for the `Products by Attribute` block
  assets/js/blocks/products-by-attribute/block.json
  assets/js/blocks/products-by-attribute/edit.tsx
  assets/js/blocks/products-by-attribute/index.js
  assets/js/blocks/products-by-attribute/index.tsx
  bin/webpack-configs.js
Labels: status: ready to merge, category: refactor, ◼️ block: filter products by attribute

#6417 Convert `Handpicked Products` block to TS
  assets/js/blocks/handpicked-products/block.js
  assets/js/blocks/handpicked-products/block.json
  assets/js/blocks/handpicked-products/block.tsx
  assets/js/blocks/handpicked-products/edit-mode.tsx
  assets/js/blocks/handpicked-products/edit.tsx
  assets/js/blocks/handpicked-products/inspector-controls.tsx
  assets/js/blocks/handpicked-products/types.ts
  src/BlockTypes/HandpickedProducts.php
Labels: status: ready to merge, category: refactor, skip-changelog, category: blocks, ◼️ block: hand-picked products, type: technical debt

#6418 Convert `Products by Attribute` to TS
  assets/js/blocks/products-by-attribute/block.js
  assets/js/blocks/products-by-attribute/block.json
  assets/js/blocks/products-by-attribute/block.tsx
  assets/js/blocks/products-by-attribute/edit-mode.tsx
  assets/js/blocks/products-by-attribute/edit.tsx
  assets/js/blocks/products-by-attribute/inspector-controls.tsx
  assets/js/blocks/products-by-attribute/types.ts
  src/BlockTypes/ProductsByAttribute.php
Labels: status: ready to merge, category: refactor, skip-changelog, category: blocks, ◼️ block: products by attribute, type: technical debt

#6419 Locked blocks cannot be unlocked and removed
  assets/js/blocks/cart/inner-blocks/cart-express-payment-block/block.json
  assets/js/blocks/cart/inner-blocks/cart-items-block/block.json
  assets/js/blocks/cart/inner-blocks/cart-line-items-block/block.json
  assets/js/blocks/cart/inner-blocks/cart-order-summary-block/block.json
  assets/js/blocks/cart/inner-blocks/cart-order-summary-discount/block.json
  assets/js/blocks/cart/inner-blocks/cart-order-summary-fee/block.json
  assets/js/blocks/cart/inner-blocks/cart-order-summary-shipping/block.json
  assets/js/blocks/cart/inner-blocks/cart-order-summary-subtotal/block.json
  assets/js/blocks/cart/inner-blocks/cart-order-summary-taxes/block.json
  assets/js/blocks/cart/inner-blocks/empty-cart-block/block.json
  assets/js/blocks/cart/inner-blocks/filled-cart-block/block.json
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-actions-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-express-payment-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-fields-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-cart-items/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-discount/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-fee/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-shipping/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-subtotal/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-taxes/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-payment-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.json
Labels: status: ready to merge, type: bug, category: components, ◼️ block: cart, ◼️ block: checkout, priority: high

#6413 Enable ESLint for the folder `tests/e2e/specs`
  .eslintignore
  .eslintrc.js
  assets/js/types/type-defs/index.ts
  tests/e2e/specs/backend/active-filters.test.js
  tests/e2e/specs/backend/all-products.test.js
  tests/e2e/specs/backend/attribute-filter.test.js
  tests/e2e/specs/backend/cart.test.js
  tests/e2e/specs/backend/checkout.test.js
  tests/e2e/specs/backend/featured-category.test.js
  tests/e2e/specs/backend/featured-product.test.js
  tests/e2e/specs/backend/filter-products-by-stock.test.js
  tests/e2e/specs/backend/handpicked-products.test.js
  tests/e2e/specs/backend/mini-cart.test.js
  tests/e2e/specs/backend/price-filter.test.js
  tests/e2e/specs/backend/product-best-sellers.test.js
  tests/e2e/specs/backend/product-categories.test.js
  tests/e2e/specs/backend/product-category.test.js
  tests/e2e/specs/backend/product-new.test.js
  tests/e2e/specs/backend/product-on-sale.test.js
  tests/e2e/specs/backend/product-tag.test.js
  tests/e2e/specs/backend/product-top-rated.test.js
  tests/e2e/specs/backend/products-by-attribute.test.js
  tests/e2e/specs/backend/single-product.test.js
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/specs/frontend/legacy-template-blocks.test.ts
  tests/e2e/specs/merchant/checkout-terms.test.js
  tests/e2e/specs/shopper/active-filters.test.ts
  tests/e2e/specs/shopper/cart-checkout/account.test.js
  tests/e2e/specs/shopper/cart-checkout/cart.test.js
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/e2e/specs/shopper/cart-checkout/tax.test.js
  tests/e2e/specs/shopper/cart-checkout/translations.test.js
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
  tests/e2e/specs/shopper/mini-cart.test.js
Labels: status: ready to merge, category: refactor, skip-changelog, type: cooldown

#6420 Refactor webpack splitting to fix missing translation
  bin/webpack-configs.js
  bin/wp-env-config.sh
  bin/wp-env-pre-config.sh
  src/Assets/Api.php
  src/BlockTypes/AbstractBlock.php
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
  src/BlockTypes/MiniCart.php
  tests/e2e/specs/shopper/cart-checkout/translations.test.js
  tests/e2e/specs/shopper/mini-cart.test.js
Labels: status: ready to merge, type: bug, type: build, type: blocker, category: i18n

#6447 Revert "Add `requireExactMatch` prop to `ComboBox` to prevent wrong country/state values being sent to the server"
  assets/js/base/components/combobox/index.tsx
  assets/js/base/components/combobox/test/index.js
  assets/js/base/components/country-input/country-input.tsx
  assets/js/base/components/state-input/state-input.tsx
Labels: status: ready to merge, type: blocker, category: components, ◼️ block: cart, ◼️ block: checkout

#6404 Cache node_modules between workflows
  .github/workflows/check-modified-assets.yml
  .github/workflows/js-css-linting.yml
  .github/workflows/php-js-e2e-tests.yml
  .github/workflows/unit-tests.yml
Labels: status: ready to merge, type: build, skip-changelog, type: cooldown

#6449 Fix being able to remove Cart Totals block
  assets/js/blocks/cart/inner-blocks/cart-totals-block/block.json
Labels: type: bug, category: blocks, ◼️ block: cart

#6440 Add `Fixed/Repeated background` to the `Featured Category` block
  assets/css/abstracts/_mixins.scss
  assets/js/blocks/featured-items/featured-category/block.json
  src/BlockTypes/FeaturedCategory.php
  src/BlockTypes/FeaturedProduct.php
Labels: status: ready to merge, type: enhancement, category: components, ◼️ block: featured category

#6456 Revert changes to webpack build output
  bin/webpack-configs.js
  src/Assets/Api.php
  src/BlockTypes/AbstractBlock.php
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, type: blocker, category: i18n

#6411 Remove `useStoreSnackbarNotices` and interact directly with data store instead
  assets/js/base/context/hooks/cart/use-store-cart-coupons.ts
  assets/js/base/context/hooks/test/use-store-snackbar-notices.js
  assets/js/base/context/hooks/use-store-snackbar-notices.js
  assets/js/base/context/providers/store-snackbar-notices/components/snackbar-notices-container.js
  assets/js/base/context/providers/store-snackbar-notices/context.js
  assets/js/base/context/providers/store-snackbar-notices/index.ts
  assets/js/blocks/cart/block.js
  assets/js/blocks/checkout/block.tsx
  assets/js/types/type-defs/contexts.ts
  docs/block-client-apis/notices.md
Labels: status: ready to merge, skip-changelog, category: blocks, ◼️ block: cart, ◼️ block: checkout, type: technical debt

#6460 check if current folder exist in get_chunks_paths
  src/BlockTypes/AbstractBlock.php
Labels: status: ready to merge, type: bug, type: build, type: blocker

#6465 Remove Combobox patch
  assets/js/base/components/combobox/index.tsx
  package-lock.json
  package.json
  patches/wordpress-components+14.2.0.patch
Labels: status: ready to merge, category: refactor, skip-changelog, ◼️ block: checkout

#6466 Fix: Wait for the product to be added to cart before redirecting customer to the cart page
  assets/js/atomic/blocks/product-elements/button/block.js
Labels: status: ready to merge, type: bug, ◼️ block: all products, priority: high

#6469 Update RenovateBot configuration
  renovate.json
Labels: status: ready to merge, skip-changelog, type: dependencies

#6461 Only assign a reviewer when a PR is ready for review
  .github/workflows/automate-team-review-assignment-config.yml
Labels: status: ready to merge, type: build, skip-changelog

#6477 Update RenovateBot configuration
  renovate.json
Labels: status: ready to merge, type: dependencies

#6444 Respect low stock visibility setting
  src/StoreApi/Schemas/V1/ProductSchema.php
Labels: status: ready to merge, type: bug, category: rest-api, ◼️ block: cart, ◼️ block: checkout

#6396 Mini Cart: Add font size and font family controls
  assets/js/blocks/mini-cart/index.tsx
  assets/js/blocks/mini-cart/style.scss
  src/BlockTypes/MiniCart.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, category: styles, ◼️ block: mini cart

#6439 Migrate Featured Items Blocks to TypeScript
  assets/js/blocks/featured-items/block-controls.tsx
  assets/js/blocks/featured-items/call-to-action.tsx
  assets/js/blocks/featured-items/constants.ts
  assets/js/blocks/featured-items/constrained-resizable.tsx
  assets/js/blocks/featured-items/featured-category/block.tsx
  assets/js/blocks/featured-items/featured-category/example.js
  assets/js/blocks/featured-items/featured-category/example.ts
  assets/js/blocks/featured-items/featured-category/utils.js
  assets/js/blocks/featured-items/featured-category/utils.ts
  assets/js/blocks/featured-items/featured-product/block.tsx
  assets/js/blocks/featured-items/featured-product/example.js
  assets/js/blocks/featured-items/featured-product/example.ts
  assets/js/blocks/featured-items/image-editor.tsx
  assets/js/blocks/featured-items/inspector-controls.tsx
  assets/js/blocks/featured-items/register.tsx
  assets/js/blocks/featured-items/types.ts
  assets/js/blocks/featured-items/use-background-image.ts
  assets/js/blocks/featured-items/utils.ts
  assets/js/blocks/featured-items/with-api-error.js
  assets/js/blocks/featured-items/with-api-error.tsx
  assets/js/blocks/featured-items/with-edit-mode.js
  assets/js/blocks/featured-items/with-edit-mode.tsx
  assets/js/blocks/featured-items/with-editing-image.js
  assets/js/blocks/featured-items/with-editing-image.tsx
  assets/js/blocks/featured-items/with-featured-item.tsx
  assets/js/blocks/featured-items/with-update-button-attributes.tsx
  assets/js/hocs/with-transform-single-select-to-multiple-select.js
  assets/js/utils/useThrottle.ts
  package-lock.json
  package.json
Labels: status: ready to merge, category: refactor, skip-changelog, category: blocks, ◼️ block: featured category, ◼️ block: featured product

#6478 Fix: All translations related to JS blocks are loaded even if the block is not used
  src/BlockTypes/MiniCart.php
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, type: bug, category: performance

#6459 Show a warning to notify the user if the WC Blocks version is behind the one bundled in WC Core
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, type: bug, type: build, type: cooldown

#6486 Filter Products by Price: Decrease step sequence from 10 to 1
  assets/js/base/components/price-slider/index.tsx
Labels: status: ready to merge

#6499 Set the default value for `focalPoint` on `block.json`
  assets/js/blocks/featured-items/featured-category/block.json
  assets/js/blocks/featured-items/featured-product/block.json
  assets/js/blocks/featured-items/inspector-controls.tsx
Labels: status: ready to merge, type: bug, skip-changelog, category: blocks, ◼️ block: featured category, ◼️ block: featured product

#6492 Featured Item: Fix default color being overridden by themes
  assets/js/blocks/featured-items/featured-category/block.json
  assets/js/blocks/featured-items/featured-product/block.json
  assets/js/blocks/featured-items/style.scss
  assets/js/blocks/featured-items/with-featured-item.tsx
Labels: status: ready to merge, type: bug, ◼️ block: featured category, ◼️ block: featured product
