Repository woocommerce/woocommerce-blocks, pull requests merged in 2022-01, with the labels that each got.

#5465 Add global style for Active Filters block
  assets/js/blocks/active-filters/edit.js
  assets/js/blocks/active-filters/index.js
  src/BlockTypesController.php
Labels: status: ready to merge, ◼️ block: active product filters, category: styles, category: fse

#5472 Prevent duplicate hooks in hook docs
  bin/hook-docs/actions/index.js
  bin/hook-docs/data/actions.json
  bin/hook-docs/data/filters.json
  bin/hook-docs/filters/index.js
  bin/hook-docs/format-hook-doc/files.js
  bin/hook-docs/format-hook-doc/index.js
  bin/hook-docs/format-hook-doc/related.js
  bin/hook-docs/index.js
  composer.json
  composer.lock
  docs/extensibility/actions.md
  docs/extensibility/filters.md
  src/BlockTypes/LegacyTemplate.php
Labels: status: ready to merge, type: documentation, skip-changelog

#5476 Fix duplicated error notices
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-payment-block/block.tsx
Labels: status: ready to merge, ◼️ block: checkout

#5440 Validate available payment methods before attempting payment or updating order statuses
  src/StoreApi/Routes/Checkout.php
  src/StoreApi/Schemas/CheckoutSchema.php
  src/StoreApi/docs/checkout.md
  tests/php/Helpers/FixtureData.php
  tests/php/StoreApi/Routes/Checkout.php
Labels: status: ready to merge, category: rest-api, needs dev-note

#5448 Mini Cart Contents: Fix missing custom background
  src/BlockTypes/MiniCart.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, category: fse, 🔹 block-type: templates

#5208 Legacy Template: Add warning about block removal (#5207)
  assets/js/blocks/legacy-template/constants.ts
  assets/js/blocks/legacy-template/editor.scss
  assets/js/blocks/legacy-template/index.tsx
  assets/js/editor-components/feedback-prompt/index.js
Labels: status: ready to merge, category: blocks, ◼️ block: all products, needs docs

#5464 Move Woo Blocks template directories to latest Gutenberg convention
  src/BlockTemplatesController.php
  src/BlockTypes/MiniCart.php
  src/Utils/BlockTemplateUtils.php
  templates/parts/mini-cart.html
  templates/templates/archive-product.html
  templates/templates/single-product.html
  templates/templates/taxonomy-product_cat.html
  templates/templates/taxonomy-product_tag.html
Labels: status: ready to merge, category: fse, 🔹 block-type: templates

#5477 Mini Cart Block: The color of the badge reflects the global style
  assets/js/blocks/cart-checkout/mini-cart/index.tsx
  assets/js/blocks/cart-checkout/mini-cart/quantity-badge/style.scss
Labels: status: ready to merge, skip-changelog, category: styles, category: fse, ◼️ block: mini cart

#5123 Filter Products By Price block: don't allow to insert negative values on inputs
  assets/js/base/components/formatted-monetary-amount/index.tsx
  assets/js/base/components/price-slider/index.tsx
  assets/js/base/components/price-slider/utils.ts
Labels: status: ready to merge, type: bug, ◼️ block: filter products by price

#5433 Add wide and full alignment support for legacy template block
  assets/js/blocks/legacy-template/index.tsx
  src/BlockTypes/LegacyTemplate.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, category: styles, category: fse, 🔹 block-type: templates

#5519 Update WooCommerce plugin slug for Block Templates
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: bug, skip-changelog, category: fse, 🔹 block-type: templates

#5534 Update PR assignment automation to match new Team Kirigami name
  .github/automate-team-review-assignment-config.yml
Labels: type: build

#5535 Force a string token property for the activePaymentMethod
  assets/js/base/context/providers/cart-checkout/payment-methods/payment-method-data-context.tsx
Labels: status: ready to merge, type: bug, ◼️ block: checkout, priority: high

#5526 Update release initial checklist template
  .github/release-initial-checklist.md
Labels: status: ready to merge

#5446 Mini Cart Contents block improvements
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/edit.tsx
  assets/js/blocks/cart-checkout/shared/use-view-switcher.tsx
Labels: status: ready to merge, type: enhancement, skip-changelog, category: fse, ◼️ block: mini cart

#4943 Allows product grid block contents to be limited by stock level
  assets/js/blocks/product-new/block.js
  assets/js/blocks/product-on-sale/block.js
  assets/js/blocks/product-tag/block.js
  assets/js/blocks/product-tag/index.js
  assets/js/blocks/product-top-rated/block.js
  assets/js/blocks/products-by-attribute/block.js
  assets/js/blocks/products-by-attribute/index.js
  assets/js/blocks/products/attributes.js
  assets/js/blocks/products/edit.js
  assets/js/editor-components/product-stock-control/index.tsx
  assets/js/utils/shared-attributes.js
  src/BlockTypes/AbstractProductGrid.php
  src/BlockTypes/ProductTag.php
  src/BlockTypes/ProductsByAttribute.php
Labels: status: needs review, type: enhancement, 🔹 block-type: product

#5529 Add margin below shipping packages in checkout
  assets/js/base/components/cart-checkout/shipping-rates-control-package/style.scss
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: checkout, category: styles

#5537 Update release-initial-checklist.md
  .github/release-initial-checklist.md
Labels: skip-changelog

#5449 Remove Built-in Stripe Integration in favour of Stripe Extension
  assets/js/base/context/providers/cart-checkout/payment-methods/test/payment-method-data-context.js
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-registration.ts
  assets/js/blocks/cart-checkout/payment-methods/no-payment-methods/index.js
  assets/js/blocks/cart-checkout/payment-methods/test/payment-methods.js
  assets/js/payment-method-extensions/payment-methods/stripe/credit-card/constants.js
  assets/js/payment-method-extensions/payment-methods/stripe/credit-card/elements.js
  assets/js/payment-method-extensions/payment-methods/stripe/credit-card/index.js
  assets/js/payment-method-extensions/payment-methods/stripe/credit-card/payment-method.js
  assets/js/payment-method-extensions/payment-methods/stripe/credit-card/use-checkout-subscriptions.js
  assets/js/payment-method-extensions/payment-methods/stripe/credit-card/use-element-options.js
  assets/js/payment-method-extensions/payment-methods/stripe/credit-card/use-payment-intents.js
  assets/js/payment-method-extensions/payment-methods/stripe/credit-card/use-payment-processing.js
  assets/js/payment-method-extensions/payment-methods/stripe/index.js
  assets/js/payment-method-extensions/payment-methods/stripe/payment-request/apple-pay-preview.js
  assets/js/payment-method-extensions/payment-methods/stripe/payment-request/constants.js
  assets/js/payment-method-extensions/payment-methods/stripe/payment-request/index.js
  assets/js/payment-method-extensions/payment-methods/stripe/payment-request/payment-request-express.js
  assets/js/payment-method-extensions/payment-methods/stripe/payment-request/use-checkout-subscriptions.js
  assets/js/payment-method-extensions/payment-methods/stripe/payment-request/use-event-handlers.js
  assets/js/payment-method-extensions/payment-methods/stripe/payment-request/use-initialization.js
  assets/js/payment-method-extensions/payment-methods/stripe/stripe-utils/constants.js
  assets/js/payment-method-extensions/payment-methods/stripe/stripe-utils/index.js
  assets/js/payment-method-extensions/payment-methods/stripe/stripe-utils/load-stripe.js
  assets/js/payment-method-extensions/payment-methods/stripe/stripe-utils/normalize.js
  assets/js/payment-method-extensions/payment-methods/stripe/stripe-utils/type-defs.js
  assets/js/payment-method-extensions/payment-methods/stripe/stripe-utils/utils.js
  assets/js/previews/saved-payment-methods.js
  assets/js/types/type-defs/payments.ts
  bin/hook-docs/data/filters.json
  bin/webpack-entries.js
  docs/contributors/folder-structure.md
  docs/extensibility/filters.md
  docs/testing/smoke-testing.md
  package-lock.json
  package.json
  src/Domain/Bootstrap.php
  src/Payments/Api.php
  src/Payments/Integrations/Stripe.php
Labels: status: needs review, category: extensibility, needs dev-note

#5538 Update patch-initial-checklist.md
  .github/patch-initial-checklist.md
Labels: status: ready to merge, type: documentation, skip-changelog

#5406 Add minimum quantity, maximum quantity, and step (multiple_of) to the Cart Block and Store API
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/simple.js
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/index.js
  assets/js/atomic/blocks/product-elements/add-to-cart/shared/quantity-input.js
  assets/js/base/components/quantity-selector/index.tsx
  assets/js/base/components/quantity-selector/style.scss
  assets/js/base/context/providers/add-to-cart-form/form-state/constants.js
  assets/js/base/context/providers/add-to-cart-form/form-state/index.js
  assets/js/blocks/cart-checkout/cart/cart-line-items-table/cart-line-item-row.tsx
  assets/js/shared/context/product-data-context.js
  assets/js/types/type-defs/cart-response.ts
  assets/js/types/type-defs/cart.ts
  assets/js/types/type-defs/product-response.ts
  bin/hook-docs/data/actions.json
  bin/hook-docs/data/filters.json
  docs/extensibility/actions.md
  docs/extensibility/filters.md
  src/StoreApi/Routes/CartAddItem.php
  src/StoreApi/Schemas/CartItemSchema.php
  src/StoreApi/Schemas/ProductSchema.php
  src/StoreApi/Utilities/CartController.php
  src/StoreApi/Utilities/QuantityLimits.php
  src/StoreApi/docs/cart-items.md
  src/StoreApi/docs/cart.md
Labels: status: ready to merge, type: enhancement, category: extensibility, category: rest-api, needs dev-note, ◼️ block: cart

#5541 Fix All Products Block Tests due to incorrect Stock Filter addition
  assets/js/blocks/product-category/block.js
  assets/js/blocks/products/attributes.js
  assets/js/blocks/products/edit.js
Labels: status: ready to merge, skip-changelog

#5539 Mini Cart block: re-enable background support
  assets/js/blocks/cart-checkout/mini-cart/index.tsx
Labels: status: ready to merge, type: bug, skip-changelog, category: styles, category: fse, ◼️ block: mini cart

#5471 Remove wpdb prepare statement in `get_category_review_count` method
  src/StoreApi/Schemas/ProductCategorySchema.php
Labels: status: ready to merge, ◼️ block: featured category

#5515 Product Title block: add support global style
  assets/js/atomic/blocks/product-elements/title/block.tsx
  assets/js/atomic/blocks/product-elements/title/edit.tsx
  assets/js/atomic/blocks/product-elements/title/editor.scss
  assets/js/atomic/blocks/product-elements/title/index.ts
  assets/js/atomic/blocks/product-elements/title/save.tsx
  assets/js/atomic/blocks/product-elements/title/style.scss
  assets/js/hooks/style-attributes.ts
  assets/js/utils/global-style.js
Labels: status: ready to merge, ◼️ block: product, category: styles, category: fse

#5524 Summary Product block: Add support for global style
  assets/js/atomic/blocks/product-elements/summary/block.js
  assets/js/atomic/blocks/product-elements/summary/edit.js
  assets/js/atomic/blocks/product-elements/summary/index.js
  assets/js/atomic/blocks/product-elements/summary/save.tsx
  assets/js/atomic/blocks/product-elements/summary/supports.js
  assets/js/base/components/summary/index.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: all products, ◼️ block: product, category: styles, category: fse

#5551 Default all product images to "cropped" and actual image width
  assets/css/style.scss
  assets/js/blocks/products/base-utils.js
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: all products

#5558 Fix: fatal error when page contains edited template or template part
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, skip-changelog, category: fse, 🔹 block-type: templates

#5430 Remove extra padding for cart sidebar
  assets/js/blocks/cart-checkout/cart/style.scss
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: cart, category: styles

#5552 Fix inconsistent HTML of rating section
  assets/js/atomic/blocks/product-elements/rating/block.js
  assets/js/base/components/reviews/review-list-item/index.js
Labels: status: ready to merge, type: bug, ◼️ block: all products, ◼️ block: product, ◼️ block: reviews by product, ◼️ block: reviews by category, ◼️ block: all reviews, category: styles

#5559 Price Filter block: enable global style
  assets/js/blocks/price-filter/block.js
  assets/js/blocks/price-filter/edit.js
  assets/js/blocks/price-filter/editor.scss
  assets/js/blocks/price-filter/index.js
  assets/js/blocks/price-filter/style.scss
Labels: status: ready to merge, type: enhancement, ◼️ block: filter products by price, category: styles, category: fse

#5525 Stock Indicator block: Add support for global style
  assets/js/atomic/blocks/product-elements/stock-indicator/block.js
  assets/js/atomic/blocks/product-elements/stock-indicator/edit.js
  assets/js/atomic/blocks/product-elements/stock-indicator/index.js
  assets/js/atomic/blocks/product-elements/stock-indicator/save.tsx
  assets/js/atomic/blocks/product-elements/stock-indicator/style.scss
  assets/js/atomic/blocks/product-elements/stock-indicator/supports.js
Labels: status: ready to merge, type: enhancement, ◼️ block: all products, ◼️ block: product, category: styles, category: fse

#5546 When processing payments, use the woocommerce_hold_stock_minutes duration instead of 10 mins
  src/StoreApi/Routes/Checkout.php
Labels: status: ready to merge, ◼️ block: checkout

#5545 Allow LegacyTemplate block to be reinserted, only on WooCommerce block templates.
  assets/js/blocks/legacy-template/constants.ts
  assets/js/blocks/legacy-template/index.tsx
  assets/js/blocks/legacy-template/test/utils.ts
  assets/js/blocks/legacy-template/types.ts
  assets/js/blocks/legacy-template/utils.ts
Labels: status: ready to merge, type: enhancement, category: fse, 🔹 block-type: templates

#5577 initialize_session if it does not yet exist before calling the sessio…
  src/StoreApi/Utilities/DraftOrderTrait.php
Labels: status: ready to merge, type: bug, type: blocker, category: rest-api

#5590 Fix default `stockStatusOptions` in tag and attribute blocks
  assets/js/blocks/product-category/block.js
  assets/js/blocks/product-on-sale/block.js
  assets/js/blocks/product-tag/block.js
  assets/js/blocks/product-tag/index.js
  assets/js/blocks/product-top-rated/block.js
  assets/js/blocks/products-by-attribute/block.js
  assets/js/blocks/products-by-attribute/index.js
  assets/js/editor-components/product-stock-control/index.tsx
  src/BlockTypes/AbstractProductGrid.php
  src/BlockTypes/ProductsByAttribute.php
Labels: status: ready to merge, type: blocker

#5595 Fix global style for Product Summary block, Product Stock Indicator block, and Product Title block
  assets/js/atomic/blocks/product-elements/stock-indicator/supports.js
  assets/js/atomic/blocks/product-elements/summary/edit.js
  assets/js/atomic/blocks/product-elements/summary/editor.scss
  assets/js/atomic/blocks/product-elements/summary/supports.js
  assets/js/atomic/blocks/product-elements/title/block.tsx
  assets/js/atomic/blocks/product-elements/title/index.ts
  assets/js/atomic/blocks/product-elements/title/style.scss
  src/BlockTypes/ProductStockIndicator.php
  src/BlockTypes/ProductSummary.php
  src/BlockTypes/ProductTitle.php
  src/BlockTypesController.php
Labels: status: ready to merge, type: bug, type: blocker, category: styles

#5600 Restore correct font style when the block is loaded in the editor
  assets/js/atomic/blocks/product-elements/title/block.tsx
  assets/js/atomic/blocks/product-elements/title/editor.scss
Labels: status: ready to merge, type: bug, category: styles, 🔺 atomic-block

#5560 Prevent Redirect URL leaking between payment gateways
  assets/js/base/context/providers/cart-checkout/checkout-state/index.tsx
  assets/js/base/context/providers/cart-checkout/checkout-state/reducer.ts
Labels: status: ready to merge, ◼️ block: checkout

#5605 Add tests for `CheckoutOrderNotes` component
  assets/js/blocks/cart-checkout/checkout/order-notes/test/index.js
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout, category: tests

#5602 Manually update dependencies
  assets/js/editor-components/toggle-button-control/index.js
  package-lock.json
  package.json
Labels: skip-changelog, type: dependencies

#5604 Add tests for phone field on Checkout block
  assets/js/blocks/cart-checkout/checkout/phone-number/test/index.js
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout, category: tests

#5566 Mini Cart Contents: Support link and text colors
  assets/js/atomic/blocks/product-elements/title/editor.scss
  assets/js/blocks/cart-checkout/mini-cart-contents/editor.scss
  assets/js/blocks/cart-checkout/mini-cart-contents/index.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-footer-block/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  src/BlockTypes/MiniCartContents.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: mini cart

#5601 Show single express payment button in full width
  assets/js/blocks/cart-checkout/payment-methods/express-payment/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: checkout, category: styles

#5606 Enable Mini Cart template-parts only for experimental builds
  src/BlockTemplatesController.php
  src/Domain/Services/FeatureGating.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: bug, 🔹 block-type: templates

#5619 Move email instruction in Wordpress.org section to improve the clarity
  .github/patch-initial-checklist.md
Labels: status: ready to merge, type: enhancement, type: task

#5297 Prevent third party blocks from breaking the entire checkout/cart block
  assets/js/atomic/utils/render-parent-block.tsx
  assets/js/base/components/block-error-boundary/block-error.tsx
  assets/js/base/components/block-error-boundary/index.tsx
  assets/js/base/components/block-error-boundary/types.ts
Labels: status: ready to merge, type: enhancement, category: blocks, ◼️ block: cart, ◼️ block: checkout

#5242 Remove .gitattributes file
  .gitattributes
Labels: status: ready to merge, type: bug, type: build, type: cooldown

#5542 Featured Category block: add support for global style
  assets/js/blocks/featured-category/block.js
  assets/js/blocks/featured-category/edit.tsx
  assets/js/blocks/featured-category/editor.scss
  assets/js/blocks/featured-category/index.js
  assets/js/blocks/featured-category/style.scss
  assets/js/hooks/style-attributes.ts
  src/BlockTypes/FeaturedCategory.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, type: enhancement, ◼️ block: featured category, category: styles, category: fse

#5618 Fix: Mini Cart global style is not applied
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, skip-changelog, category: styles, ◼️ block: mini cart

#5643 Revert "Allow LegacyTemplate block to be reinserted, only on WooCommerce block templates."
  assets/js/blocks/legacy-template/constants.ts
  assets/js/blocks/legacy-template/index.tsx
  assets/js/blocks/legacy-template/test/utils.ts
  assets/js/blocks/legacy-template/types.ts
  assets/js/blocks/legacy-template/utils.ts
Labels: status: ready to merge, type: blocker, category: fse, 🔹 block-type: templates

#5616 Fix: Exclude Mini Cart and other blocks inside the Mini Cart Contents block
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/allowed-blocks.ts
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-items-block/edit.tsx
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#5621 Add tests for Checkout Terms block
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-terms-block/test/edit.js
  assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-terms-block/test/frontend.js
  package-lock.json
  package.json
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout, category: tests

#5615 Fix Mini Cart Edit template link
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#5589 Implement `@wordpress/scripts` analyze script
  bin/webpack-configs.js
  bin/webpack-helpers.js
  package-lock.json
  package.json
  webpack.config.js
Labels: type: build, skip-changelog, type: cooldown

#5573 Update tests to use `useEvent`
  assets/js/base/context/providers/cart-checkout/payment-methods/test/payment-method-data-context.js
  assets/js/blocks/cart-checkout/mini-cart/test/block.js
  assets/js/blocks/cart-checkout/payment-methods/test/payment-methods.js
Labels: status: ready to merge, skip-changelog, type: cooldown, category: tests

#5673 Fix ReadMore component's maxLines prop reactivity
  assets/js/base/components/read-more/index.tsx
Labels: status: ready to merge, type: bug, category: components

#5633 Keep top margin for create account section in editor
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/editor.scss
Labels: status: ready to merge, ◼️ block: checkout, category: styles

#5240 Add inner wrapper div in 'td.wc-block-cart-item__product'
  assets/js/blocks/cart-checkout/cart/cart-line-items-table/cart-line-item-row.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: cart, category: styles, ◼️ block: mini cart

#5682 Disable font-size for the Featured Category block #5681
  assets/js/blocks/featured-category/index.js
  assets/js/blocks/featured-category/style.scss
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, category: styles
