Repository woocommerce/woocommerce-blocks, pull requests merged in 2022-02, with the labels that each got.

#5678 Update Checkout block E2E fixture and increase node version in GH actions
  .github/workflows/php-js-e2e-tests.yml
  bin/wp-env-config.sh
  package.json
  tests/e2e/specs/backend/__fixtures__/checkout.fixture.json
  tsconfig.json
Labels: status: ready to merge, type: blocker, skip-changelog, ◼️ block: checkout, category: tests

#5555 Featured Product: Enable global style
  assets/js/blocks/featured-category/block.js
  assets/js/blocks/featured-category/style.scss
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/edit.tsx
  assets/js/blocks/featured-product/editor.scss
  assets/js/blocks/featured-product/index.js
  assets/js/blocks/featured-product/style.scss
  src/BlockTypes/FeaturedProduct.php
Labels: status: blocked, status: ready to merge, type: enhancement, ◼️ block: featured product, category: styles, category: fse

#5635 Fix: Empty Mini Cart contents overflow issue
  assets/js/blocks/cart-checkout/mini-cart-contents/editor.scss
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart/style.scss
Labels: status: needs review, type: bug, skip-changelog, ◼️ block: mini cart

#5692 Add `CopyWebpackPlugin` to ensure `block.json` is copied to `build`
  bin/webpack-configs.js
  package-lock.json
  package.json
  src/Assets/Api.php
Labels: status: ready to merge, type: build, type: blocker, skip-changelog, category: blocks, ◼️ block: checkout

#5649 Fix 404 HTTP error for Product Title, Product Summary, and Product Stock indicator blocks
  src/BlockTypes/ProductStockIndicator.php
  src/BlockTypes/ProductSummary.php
  src/BlockTypes/ProductTitle.php
Labels: status: ready to merge, type: bug

#5688 Fix Product Category List element not visible on All Products block item edit
  assets/js/previews/products.js
Labels: status: ready to merge

#5634 Compare assets from builds
  .github/compare-assets/action.yml
  .github/compare-assets/index.js
  .github/workflows/check-modified-assets.yml
  bin/webpack-configs.js
  bin/webpack-helpers.js
  package-lock.json
  package.json
Labels: status: ready to merge, type: build, skip-changelog, category: performance, type: cooldown

#5684 Fix Twenty Twenty-Two Products by Category block item tile styling issues
  assets/css/style.scss
Labels: status: ready to merge

#5557 Attribute Filter block: Enable global style
  assets/js/base/components/dropdown-selector/index.js
  assets/js/blocks/attribute-filter/block.js
  assets/js/blocks/attribute-filter/edit.js
  assets/js/blocks/attribute-filter/editor.scss
  assets/js/blocks/attribute-filter/index.js
  assets/js/blocks/attribute-filter/style.scss
  assets/js/blocks/featured-category/style.scss
Labels: status: ready to merge, type: enhancement, ◼️ block: filter products by attribute, category: styles, category: fse

#5691 fix: accessibility of search products block
  assets/js/blocks/product-search/block.js
  assets/js/blocks/product-search/edit.js
  docs/testing/smoke-testing.md
Labels: status: ready to merge, type: enhancement, category: accessibility, ◼️ block: product search

#5706 Add stories for Button component #5250
  assets/js/base/components/button/index.tsx
  assets/js/base/components/button/stories/index.js
  assets/js/base/components/button/stories/index.tsx
Labels: status: ready to merge, type: enhancement, category: components, category: refactor, skip-changelog, category: styles, type: task, type: technical debt

#5717 Revert "fix: accessibility of search products block (#5691)"
  assets/js/blocks/product-search/block.js
  assets/js/blocks/product-search/edit.js
  docs/testing/smoke-testing.md
Labels: category: tests

#5719 Add a Remove Image option to the Featured Category block
  assets/js/blocks/featured-category/block.js
Labels: status: ready to merge, type: enhancement, ◼️ block: featured category

#5668 Ts blocks
  assets/js/atomic/utils/get-block-map.ts
  assets/js/base/components/filter-element-label/index.tsx
  assets/js/base/components/filter-submit-button/index.tsx
  assets/js/base/components/form/index.tsx
  assets/js/base/components/load-more-button/index.tsx
  assets/js/base/components/loading-mask/index.tsx
  assets/js/base/components/pagination/index.tsx
  assets/js/base/components/pagination/test/index.js
  assets/js/base/components/pagination/utils.ts
  assets/js/base/components/product-list/container.tsx
  assets/js/base/components/product-list/index.ts
  assets/js/base/components/product-list/no-matching-products.tsx
  assets/js/base/components/product-list/no-products.tsx
  assets/js/base/components/product-list/product-list-item/index.tsx
  assets/js/base/components/product-list/product-list-item/utils.tsx
  assets/js/base/components/product-list/product-list.tsx
  assets/js/base/components/product-list/product-sort-select/index.tsx
  assets/js/base/components/product-list/types.ts
  assets/js/base/components/sort-select/index.tsx
  assets/js/base/components/tsconfig.json
  assets/js/base/context/hooks/collections/use-collection-header.ts
  assets/js/base/context/hooks/collections/use-collection.ts
  assets/js/base/context/hooks/use-store-products.ts
  assets/js/blocks-registry/block-components/get-registered-block-components.ts
  assets/js/blocks-registry/block-components/registered-block-components-init.js
  assets/js/blocks-registry/block-components/registered-block-components-init.ts
  assets/js/types/type-defs/blocks.ts
  assets/js/types/type-defs/hooks.ts
  assets/js/types/type-defs/index.ts
  assets/js/types/type-defs/utils.ts
  assets/js/types/type-guards/index.ts
  packages/checkout/blocks-registry/types.ts
Labels: status: ready to merge, category: refactor, type: cooldown, category: blocks

#5653 Fix: only allow Mini Cart block in Widgets and Site Editor
  package.json
  src/BlockTypesController.php
  tests/e2e/specs/backend/mini-cart.test.js
  tests/e2e/utils.js
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#5720 Handle orders that do not require payment methods without errors
  src/StoreApi/Routes/Checkout.php
  src/StoreApi/Schemas/CheckoutSchema.php
Labels: status: ready to merge, category: rest-api, ◼️ block: checkout

#5735 Reformatted prettier files
  assets/js/base/hooks/tsconfig.json
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-products-table-block/block.json
  bin/hook-docs/data/actions.json
  bin/hook-docs/data/filters.json
  renovate.json
  tests/e2e/config/custom-matchers/__fixtures__/best-selling-products.fixture.json
  tests/e2e/config/custom-matchers/__fixtures__/featured-category.fixture.json
  tests/e2e/config/custom-matchers/__fixtures__/hand-picked-products.fixture.json
  tests/e2e/config/custom-matchers/__fixtures__/newest-products.fixture.json
  tests/e2e/config/custom-matchers/__fixtures__/product-categories-list.fixture.json
  tests/e2e/config/custom-matchers/__fixtures__/top-rated-products.fixture.json
  tests/js/jest.config.json
Labels: status: ready to merge

#5708 Add to cart button ignored redirect to cart setting
  assets/js/atomic/blocks/product-elements/button/block.js
  src/Assets/AssetDataRegistry.php
Labels: status: ready to merge

#5744 Set focus on Empty Mini Cart Contents Block
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/frontend.tsx
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#5712 Fix/cart button focus hover states
  assets/js/base/components/button/index.tsx
  assets/js/base/components/button/style.scss
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart/style.scss
Labels: status: ready to merge

#5741 Fix Mini Cart doesn't update data
  assets/js/base/context/providers/add-to-cart-form/form/submit/index.js
  src/BlockTypes/AllProducts.php
  src/BlockTypes/MiniCart.php
  src/BlockTypes/SingleProduct.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: all products, ◼️ block: product, ◼️ block: mini cart

#5801 Fix wide appender buttons overlap in Cart & Checkout blocks in the Editor
  assets/js/blocks/cart-checkout/cart/editor.scss
  assets/js/blocks/cart-checkout/mini-cart-contents/editor.scss
  assets/js/blocks/checkout/styles/editor.scss
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout

#5802 Remove `useSelectShippingRate` hook and adjust how local state works for `PackageRates`
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/package-rates.tsx
  assets/js/base/components/radio-control/index.js
  assets/js/base/components/radio-control/index.tsx
  assets/js/base/components/radio-control/option-layout.tsx
  assets/js/base/components/radio-control/option.tsx
  assets/js/base/components/radio-control/types.ts
  assets/js/base/context/hooks/shipping/index.js
  assets/js/base/context/hooks/shipping/use-select-shipping-rate.ts
  assets/js/base/context/hooks/shipping/use-select-shipping-rates.ts
  assets/js/base/context/providers/cart-checkout/shipping/index.js
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout

#5746 Fix reverting customisations by refactoring pre_get_block_file_template
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: bug, category: fse, 🔹 block-type: templates

#5516 Category List block: add support for global style
  assets/js/atomic/blocks/product-elements/category-list/block.tsx
  assets/js/atomic/blocks/product-elements/category-list/edit.tsx
  assets/js/atomic/blocks/product-elements/category-list/index.ts
  assets/js/atomic/blocks/product-elements/category-list/save.tsx
Labels: status: ready to merge, ◼️ block: product, category: styles, category: fse

#5565 Sale Product Block: Enable global style
  assets/js/atomic/blocks/product-elements/sale-badge/block.js
  assets/js/atomic/blocks/product-elements/sale-badge/edit.js
  assets/js/atomic/blocks/product-elements/sale-badge/index.js
  assets/js/atomic/blocks/product-elements/sale-badge/save.tsx
  assets/js/atomic/blocks/product-elements/sale-badge/style.scss
  src/BlockTypes/ProductSaleBadge.php
  src/BlockTypesController.php
Labels: status: ready to merge, ◼️ block: product, category: styles

#5528 Tag List block: Add support for global style
  assets/js/atomic/blocks/product-elements/tag-list/block.js
  assets/js/atomic/blocks/product-elements/tag-list/edit.js
  assets/js/atomic/blocks/product-elements/tag-list/index.js
  assets/js/atomic/blocks/product-elements/tag-list/save.tsx
  assets/js/atomic/blocks/product-elements/tag-list/supports.js
Labels: status: ready to merge, type: enhancement, ◼️ block: all products, category: styles, category: fse

#5687 Mini Cart Block: Remove not necessary div #5419
  assets/js/blocks/cart-checkout/mini-cart/block.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: mini cart

#5614 Add Shopping Button Inner block
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/index.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.json
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/index.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/register-components.ts
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  templates/parts/mini-cart.html
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#5825 Fix: Mini Cart template part editor height
  assets/js/blocks/cart-checkout/mini-cart-contents/edit.tsx
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#5521 Rating Product block: Add support for global style
  assets/css/style.scss
  assets/js/atomic/blocks/product-elements/rating/block.js
  assets/js/atomic/blocks/product-elements/rating/edit.js
  assets/js/atomic/blocks/product-elements/rating/index.js
  assets/js/atomic/blocks/product-elements/rating/save.tsx
  assets/js/atomic/blocks/product-elements/rating/style.scss
  assets/js/atomic/blocks/product-elements/rating/support.js
  src/BlockTypes/ProductRating.php
  src/BlockTypesController.php
Labels: status: ready to merge, type: enhancement, category: styles, 🔹 block-type: product, category: fse

#5850 Fix All Products block pagination not showing up
  assets/js/base/context/hooks/use-store-products.ts
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, ◼️ block: all products

#5818 Update version numbers in bug report template
  .github/ISSUE_TEMPLATE/---bug-report.md
Labels: status: ready to merge

#5851 fix regression for Twenty Twenty-Two with sale prices being underlined
  assets/css/style.scss
Labels: type: bug, skip-changelog, theme: Twenty Twenty-Two

#5865 Update readme.md to include required node version and npm run dev command
  README.md
Labels: status: ready to merge, type: documentation, skip-changelog

#5739 Mini Cart Block contents: Remove item border bottom
  assets/js/blocks/cart-checkout/cart/style.scss
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-products-table-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart/style.scss
Labels: status: ready to merge

#5800 Add wc-block-mini-cart__contents class for the Mini Cart block
  assets/js/blocks/cart-checkout/mini-cart-contents/editor.scss
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  templates/parts/mini-cart.html
Labels: status: ready to merge, category: styles, ◼️ block: mini cart

#5807 Update info about /checkout get endpoint data
  src/StoreApi/docs/checkout.md
Labels: status: ready to merge

#5859 Fix: Shopping Button block: undefined icon break the Site Editor
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/index.tsx
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#5892 Pre-hydrate Mini Cart Block #5882
  assets/js/blocks/cart-checkout/mini-cart/block.tsx
  assets/js/types/type-guards/boolean.ts
  assets/js/types/type-guards/cart-response-totals.ts
  assets/js/types/type-guards/error.ts
  assets/js/types/type-guards/function.ts
  assets/js/types/type-guards/index.ts
  assets/js/types/type-guards/null.ts
  assets/js/types/type-guards/number.ts
  assets/js/types/type-guards/object.ts
  assets/js/types/type-guards/string.ts
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#5722 E2E tests for Single Product Template
  .wp-env.json
  package-lock.json
  package.json
  tests/e2e/page-utils.js
  tests/e2e/specs/backend/__snapshots__/site-editing-templates.test.js.snap
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/utils.js
  tests/mocks/emptytheme/block-template-parts/header.html
  tests/mocks/emptytheme/block-templates/index.html
  tests/mocks/emptytheme/block-templates/singular.html
  tests/mocks/emptytheme/functions.php
  tests/mocks/emptytheme/index.php
  tests/mocks/emptytheme/style.css
  tests/mocks/emptytheme/styles/variation.json
  tests/mocks/emptytheme/theme.json
Labels: status: ready to merge, skip-changelog, category: tests, category: fse

#5748 E2E tests for Product Archive Template and Legacy Block
  tests/e2e/specs/backend/__snapshots__/site-editing-templates.test.js.snap
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/specs/frontend/legacy-template-blocks.test.js
  tests/e2e/utils.js
Labels: status: ready to merge, skip-changelog, category: tests, category: fse

#5820 E2E tests for Product Category Template and Legacy Block
  tests/e2e/specs/backend/__snapshots__/site-editing-templates.test.js.snap
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/specs/frontend/legacy-template-blocks.test.js
Labels: status: ready to merge, skip-changelog, category: tests, category: fse, 🔹 block-type: templates

#5888 E2E tests for Product Tag Template and Legacy Block
  tests/e2e/config/setup.js
  tests/e2e/config/teardown.js
  tests/e2e/fixtures/fixture-data.js
  tests/e2e/fixtures/fixture-loaders.js
  tests/e2e/specs/backend/__snapshots__/site-editing-templates.test.js.snap
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/specs/frontend/legacy-template-blocks.test.js
Labels: status: ready to merge, skip-changelog, category: tests, category: fse, 🔹 block-type: templates

#5815 Update some Cart and Checkout extensibility docs to include the Mini Cart block
  docs/extensibility/available-filters.md
  docs/extensibility/extend-rest-api-add-data.md
  docs/extensibility/integration-interface.md
  packages/checkout/README.md
  packages/checkout/blocks-registry/README.md
  packages/checkout/filter-registry/README.md
Labels: status: ready to merge, type: documentation, skip-changelog, ◼️ block: mini cart

#5877 Shopper → Mini Cart → Can see the icon with a badge
  tests/e2e/specs/backend/__fixtures__/mini-cart.fixture.json
  tests/e2e/specs/shopper/mini-cart-icon.test.js
  tests/utils/ensure-sidebar-opened.ts
  tests/utils/get-block-page-permalink.js
  tests/utils/shopper.js
Labels: status: ready to merge, type: enhancement, skip-changelog, category: tests, ◼️ block: mini cart

#5914 Fix: Ensure `shopper.goToBlockPage` works with any theme
  tests/utils/shopper.js
Labels: status: ready to merge, type: bug, skip-changelog, category: tests

#5885 Pass context information about parent block to the existing Slots
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-rate-selector.js
  assets/js/blocks/cart-checkout/cart/inner-blocks/cart-order-summary-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  docs/extensibility/available-slot-fills.md
  docs/extensibility/slot-fills.md
  packages/checkout/components/discounts-meta/index.js
  packages/checkout/components/order-meta/index.js
  packages/checkout/components/order-shipping-packages/index.js
Labels: status: ready to merge, category: extensibility, ◼️ block: cart, ◼️ block: checkout

#5909 Remove hover effect from disabled Mini Cart button
  assets/js/blocks/cart-checkout/mini-cart/style.scss
Labels: status: ready to merge, type: bug, category: styles, ◼️ block: mini cart

#5867 Update innerBlock template for Featured Product and Featured Category blocks
  assets/js/blocks/featured-category/block.js
  assets/js/blocks/featured-product/block.js
Labels: status: ready to merge, type: bug, ◼️ block: featured category, ◼️ block: featured product

#5852 Fix Global Styles for Product Image, Product Category List and Product Tag List Blocks
  assets/js/atomic/blocks/product-elements/category-list/index.ts
  assets/js/atomic/blocks/product-elements/image/edit.js
  assets/js/atomic/blocks/product-elements/image/editor.scss
  assets/js/atomic/blocks/product-elements/image/style.scss
  assets/js/atomic/blocks/product-elements/image/supports.ts
  assets/js/atomic/blocks/product-elements/tag-list/supports.js
  assets/js/hooks/style-attributes.ts
  src/BlockTypes/ProductCategoryList.php
  src/BlockTypes/ProductImage.php
  src/BlockTypes/ProductTagList.php
  src/BlockTypesController.php
Labels: status: ready to merge, type: bug, category: styles

#5886 Add to Featured Product block option to remove custom image
  assets/js/blocks/featured-product/block.js
Labels: status: ready to merge, type: enhancement, good first issue, ◼️ block: featured product

#5915 Avoid calling plugin_dir_url a lot
  src/Domain/Package.php
Labels: category: performance

#5899 Fix New Block Inserter Overlaps
  assets/js/blocks/checkout/form-step/editor.scss
Labels: status: ready to merge, type: bug, ◼️ block: checkout, category: styles

#5919 Ensure screenshots can be attached in jest html report
  tests/e2e/config/environment.js
Labels: status: ready to merge, type: bug, type: build, skip-changelog, category: tests

#5932 Change tests that use the incorrect `waitForSelector` API
  tests/e2e/specs/frontend/checkout.test.js
  tests/utils/shopper.js
Labels: status: ready to merge, skip-changelog, category: tests

#5910 Correctly load JS translations from WC core
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, type: bug, category: i18n, ◼️ block: cart, ◼️ block: checkout

#5926 Fix spelling of two action hooks in Store API
  bin/hook-docs/data/actions.json
  docs/extensibility/actions.md
  docs/extensibility/available-slot-fills.md
  docs/extensibility/slot-fills.md
  src/StoreApi/Utilities/CartController.php
  src/StoreApi/docs/guiding-principles.md
Labels: status: ready to merge, category: rest-api

#5853 Revise Storybook entries for Checkout Blocks/totals components
  packages/checkout/components/totals/fees/index.tsx
  packages/checkout/components/totals/fees/stories/index.tsx
  packages/checkout/components/totals/item/stories/index.tsx
  packages/checkout/components/totals/subtotal/stories/index.tsx
  packages/checkout/components/totals/taxes/stories/index.tsx
  storybook/custom-controls/currency.ts
Labels: type: enhancement, category: components, category: refactor, skip-changelog, category: styles, type: task, type: technical debt

#5938 Add constants for C & C pages in our E2E tests
  tests/utils/constants.js
  tests/utils/shopper.js
Labels: status: ready to merge, category: tests

#5879 Add Testing Details In Contributors Guide
  docs/contributors/getting-started.md
Labels: status: ready to merge, type: documentation, skip-changelog, priority: low

#5946 Determine if we need to load the Mini Cart from the theme or WooCommerce
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, category: fse, ◼️ block: mini cart, 🔹 block-type: templates

#5942 Update the Checkout frontend E2E tests to await the `.toMatchSelector` matcher
  tests/e2e/specs/frontend/checkout.test.js
Labels: status: ready to merge, type: build, skip-changelog, category: tests

#5935 Rename templates to more e-commerce friendly names
  src/Utils/BlockTemplateUtils.php
  tests/e2e/specs/backend/__snapshots__/site-editing-templates.test.js.snap
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/specs/frontend/legacy-template-blocks.test.js
Labels: type: blocker, 🔹 block-type: templates

#5951 Unify copy on Featured Category with Featured Product block
  assets/js/blocks/featured-category/block.js
Labels: status: ready to merge, skip-changelog, ◼️ block: featured category

#5950 Global Styles support for Product Price block
  assets/js/atomic/blocks/product-elements/price/attributes.js
  assets/js/atomic/blocks/product-elements/price/block.js
  assets/js/atomic/blocks/product-elements/price/edit.js
  assets/js/atomic/blocks/product-elements/price/index.js
  assets/js/atomic/blocks/product-elements/price/save.tsx
  src/BlockTypes/ProductPrice.php
  src/BlockTypesController.php
Labels: status: ready to merge, category: styles, 🔺 atomic-block, category: fse

#5947 Use text indent in input fields instead of padding
  assets/js/base/components/text-input/style.scss
Labels: status: ready to merge, ◼️ block: checkout, category: styles

#5925 Add margin support on the Product Image block
  assets/css/abstracts/_mixins.scss
  assets/css/style.scss
  assets/js/atomic/blocks/product-elements/image/block.js
  assets/js/atomic/blocks/product-elements/image/style.scss
  assets/js/atomic/blocks/product-elements/image/supports.ts
  assets/js/atomic/blocks/product-elements/image/test/block.test.js
  src/BlockTypes/ProductImage.php
Labels: status: ready to merge, skip-changelog, category: styles, 🔺 atomic-block
