Repository woocommerce/woocommerce-blocks, pull requests merged in 2022-08, with the labels that each got.

#6647 Fix: Replace DropdownSelector with FormTokenField from Gutenberg
  assets/js/base/components/dropdown-selector/index.js
  assets/js/base/components/dropdown-selector/input-wrapper.js
  assets/js/base/components/dropdown-selector/input.js
  assets/js/base/components/dropdown-selector/menu.js
  assets/js/base/components/dropdown-selector/selected-chip.js
  assets/js/base/components/dropdown-selector/selected-value.js
  assets/js/base/components/dropdown-selector/style.scss
  assets/js/base/components/form-token-field/index.tsx
  assets/js/base/components/form-token-field/stories/index.tsx
  assets/js/base/components/form-token-field/style.scss
  assets/js/base/components/form-token-field/vendor.scss
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/index.tsx
  assets/js/blocks/attribute-filter/preview.tsx
  assets/js/blocks/attribute-filter/style.scss
  assets/js/blocks/attribute-filter/types.ts
  assets/js/blocks/attribute-filter/utils.ts
  bin/webpack-entries.js
Labels: status: ready to merge, category: components, skip-changelog, type: cooldown

#6804 Fix proceed to checkout button on Cart
  src/BlockTypes/ProceedToCheckoutBlock.php
Labels: status: ready to merge, type: bug, ◼️ block: cart

#6803 Remove compatibility notice for Mini Cart block
  assets/js/blocks/mini-cart/edit.tsx
  assets/js/editor-components/compatibility-notices/cart-checkout-compatibility-notice.tsx
  tests/e2e/specs/backend/mini-cart.test.js
Labels: status: ready to merge, type: bug, good first issue, ◼️ block: mini cart

#6815 Ensure package names display correctly if only one item is in package
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  packages/checkout/components/order-shipping-packages/index.js
Labels: status: ready to merge, type: bug, skip-changelog, category: blocks, ◼️ block: cart, ◼️ block: checkout

#6796 Add option to hide/show price in Mini Cart block
  assets/js/blocks/mini-cart/block.tsx
  assets/js/blocks/mini-cart/component-frontend.tsx
  assets/js/blocks/mini-cart/edit.tsx
  assets/js/blocks/mini-cart/index.tsx
  assets/js/blocks/mini-cart/test/block.js
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: enhancement, ◼️ block: mini cart

#6825 Ensure onChange is set for radio buttons in `SavedPaymentMethodOptions`
  assets/js/blocks/cart-checkout-shared/payment-methods/saved-payment-method-options.js
Labels: status: needs review, type: bug, type: blocker, category: components, ◼️ block: checkout, priority: critical

#6824 Delete RenovateBot and allow Dependabot to have read/write permission
  .github/dependabot.yml
  .github/workflows/js-css-md-linting.yml
  .github/workflows/project-management-automations.yml
  renovate.json
Labels: status: ready to merge, category: refactor, skip-changelog, type: dependencies

#6811 E2E: Try improving product list loading state detection and fix Site Editor URL
  assets/js/base/components/product-list/product-list.tsx
  tests/e2e/specs/backend/mini-cart.test.js
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tests/e2e/utils.js
Labels: status: ready to merge, skip-changelog, type: cooldown, ◼️ block: active product filters, type: flaky test

#6836 Update renovate configuration
  .github/dependabot.yml
  .github/workflows/automate-team-review-assignment-config.yml
  .github/workflows/js-css-md-linting.yml
Labels: status: ready to merge, category: refactor, skip-changelog, type: dependencies

#6853 Fix `markdownlint` violation
  docs/internal-developers/testing/releases/821.md
Labels: status: ready to merge, category: refactor, skip-changelog

#6848 Update Dependabot configuration
  .github/dependabot.yml
Labels: status: ready to merge, category: refactor, skip-changelog, type: dependencies

#6736 Fix: Compare action should update its original comment instead of a new comment
  .github/compare-assets/index.js
Labels: status: ready to merge, type: enhancement, type: build, type: cooldown

#6856 Fix: flaky tests related to setMaxPrice
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: filter products by price, type: flaky test

#6760 Add font-weight option to Mini Cart block text
  assets/js/blocks/mini-cart/block.tsx
  assets/js/blocks/mini-cart/edit.tsx
  assets/js/blocks/mini-cart/index.tsx
  src/BlockTypes/MiniCart.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, type: bug, category: styles, ◼️ block: mini cart

#6862 Fix: Attribute filter flaky test
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: filter products by attribute, type: flaky test

#6849 Fix: Override the description to prevent infinite loop
  src/BlockTypes/AbstractProductGrid.php
  src/Utils/BlocksWpQuery.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: hand-picked products, category: fse

#6823 Fix: Update billing address when shipping address gets change in shipping calculator at Cart block
  assets/js/base/components/cart-checkout/shipping-calculator/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout

#6870 Add Style Attributes Hooks to blocks/hooks Directory.
  assets/js/atomic/blocks/product-elements/button/block.js
  assets/js/atomic/blocks/product-elements/category-list/block.tsx
  assets/js/atomic/blocks/product-elements/image/block.js
  assets/js/atomic/blocks/product-elements/image/test/block.test.js
  assets/js/atomic/blocks/product-elements/price/block.js
  assets/js/atomic/blocks/product-elements/rating/block.js
  assets/js/atomic/blocks/product-elements/sale-badge/block.js
  assets/js/atomic/blocks/product-elements/stock-indicator/block.js
  assets/js/atomic/blocks/product-elements/summary/block.js
  assets/js/atomic/blocks/product-elements/tag-list/block.js
  assets/js/atomic/blocks/product-elements/title/block.tsx
  assets/js/base/hooks/index.js
  assets/js/base/hooks/use-border-props.ts
  assets/js/base/hooks/use-color-props.ts
  assets/js/base/hooks/use-spacing-props.ts
  assets/js/base/hooks/use-typography-props.ts
  assets/js/base/utils/index.js
  assets/js/base/utils/parse-style.ts
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/mini-cart/block.tsx
  assets/js/blocks/mini-cart/edit.tsx
  assets/js/hooks/style-attributes.ts
Labels: status: ready to merge, type: enhancement, category: refactor

#6878 Add a new structure and clearer steps for the WC Core PR section of the release steps
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
Labels: status: ready to merge, skip-changelog

#6861 Register patterns under `patterns` folder and add filters pattern
  patterns/filters.php
  phpcs.xml
  src/BlockPatterns.php
  src/Domain/Bootstrap.php
Labels: status: ready to merge, 🔹 block-type: filter blocks, ◼️ block: filter products by price, ◼️ block: filter products by attribute, ◼️ block: active product filters, ◼️ block: filter products by stock

#6869 Add dismissible compatibility notice to sidebar when editing Cart and Checkout
  .eslintrc.js
  assets/js/base/components/cart-checkout/return-to-cart-button/index.tsx
  assets/js/blocks/cart-checkout-shared/block-settings/index.tsx
  assets/js/blocks/cart-checkout-shared/default-notice/editor.scss
  assets/js/blocks/cart-checkout-shared/default-notice/index.tsx
  assets/js/blocks/cart-checkout-shared/index.js
  assets/js/blocks/cart-checkout-shared/sidebar-notices/editor.scss
  assets/js/blocks/cart-checkout-shared/sidebar-notices/index.tsx
  assets/js/blocks/cart/edit.js
  assets/js/blocks/cart/editor.scss
  assets/js/blocks/checkout/context.ts
  assets/js/blocks/checkout/edit.tsx
  assets/js/blocks/checkout/styles/editor.scss
  assets/js/blocks/checkout/types.ts
  assets/js/editor-components/compatibility-notices/cart-checkout-compatibility-notice.tsx
  assets/js/editor-components/compatibility-notices/index.tsx
  assets/js/editor-components/compatibility-notices/style.scss
  assets/js/editor-components/compatibility-notices/woo-image.js
  assets/js/editor-components/feedback-prompt/index.js
  assets/js/editor-components/sidebar-compatibility-notice/editor.scss
  assets/js/editor-components/sidebar-compatibility-notice/index.tsx
  assets/js/editor-components/sidebar-compatibility-notice/use-compatibility-notice.ts
  bin/webpack-helpers.js
  package-lock.json
  package.json
  tests/e2e/specs/backend/cart.test.js
  tests/e2e/specs/backend/checkout.test.js
Labels: status: ready to merge, type: blocker, category: components, ◼️ block: cart, ◼️ block: checkout, type: compatibility

#6875 Refactor Product Categories block to use block.json
  assets/js/blocks/product-categories/block.json
  assets/js/blocks/product-categories/edit.tsx
  assets/js/blocks/product-categories/index.tsx
Labels: status: needs review, ◼️ block: product categories list

#6805 Include Cart and Checkout Blocks when included in WC Core
  assets/js/blocks/cart/index.js
  assets/js/blocks/cart/inner-blocks/cart-accepted-payment-methods-block/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-express-payment-block/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-items-block/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-line-items-block/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-block/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-coupon-form/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-discount/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-fee/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-heading/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-shipping/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-subtotal/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-taxes/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-totals-block/index.tsx
  assets/js/blocks/cart/inner-blocks/empty-cart-block/index.tsx
  assets/js/blocks/cart/inner-blocks/filled-cart-block/index.tsx
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/index.tsx
  assets/js/blocks/checkout/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-actions-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-express-payment-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-fields-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-cart-items/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-coupon-form/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-discount/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-fee/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-shipping/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-subtotal/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-taxes/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-payment-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-totals-block/index.tsx
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  src/AssetsController.php
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
  src/Domain/Bootstrap.php
  src/Domain/Package.php
  src/Domain/Services/CreateAccount.php
  src/Domain/Services/FeatureGating.php
  src/InboxNotifications.php
  src/Package.php
Labels: status: ready to merge, type: blocker, category: blocks, ◼️ block: cart, ◼️ block: checkout

#6906 Add global styles to Product Categories List block in WC core
  assets/js/blocks/product-categories/block.json
  assets/js/blocks/product-categories/index.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: product categories list

#6904 Mark sidebar notices as side effectful code.
  assets/js/blocks/cart/edit.js
  assets/js/blocks/checkout/edit.tsx
  package.json
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: cart, ◼️ block: checkout

#6908 Open Terms and Conditions and Privacy Policy links in a new tab in Checkout
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/constants.js
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout

#6899 Only show items if there are multiple packages in the cart
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: cart, ◼️ block: checkout

#6812 Product Query Block POC (Phase 1)
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/index.tsx
  assets/js/blocks/product-query/inspector-controls.tsx
  assets/js/blocks/product-query/types.ts
  assets/js/blocks/product-query/utils.tsx
  assets/js/blocks/product-query/variations/product-query.tsx
  assets/js/blocks/product-query/variations/products-on-sale.tsx
  assets/js/types/type-defs/blocks.ts
  bin/webpack-configs.js
  bin/webpack-entries.js
  src/BlockTypes/ProductQuery.php
  src/BlockTypesController.php
Labels: status: ready to merge, type: enhancement, 🔹 block-type: product-grid

#6917 Fix: Flaky test caused by `setMaxPrice`
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: filter products by price, type: flaky test

#6912 `Filter by Attribute` block settings design update
  assets/js/blocks/attribute-filter/block.json
  assets/js/blocks/attribute-filter/edit.tsx
  assets/js/blocks/attribute-filter/index.tsx
  assets/js/blocks/attribute-filter/style.scss
  tests/e2e/specs/backend/__fixtures__/filter-products-by-attribute.fixture.json
  tests/e2e/specs/backend/attribute-filter.test.js
  tests/e2e/specs/shopper/active-filters.test.ts
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
Labels: status: ready to merge, 🔹 block-type: filter blocks, ◼️ block: filter products by attribute

#6883 Update Filter by Stock block
  assets/js/base/components/checkbox-list/index.tsx
  assets/js/base/components/filter-element-label/style.scss
  assets/js/base/components/price-slider/style.scss
  assets/js/blocks/stock-filter/block.json
  assets/js/blocks/stock-filter/block.tsx
  assets/js/blocks/stock-filter/edit.tsx
  assets/js/blocks/stock-filter/style.scss
  assets/js/blocks/stock-filter/test/__snapshots__/block.js.snap
  packages/checkout/components/checkbox-control/index.tsx
  tests/e2e/specs/backend/filter-products-by-stock.test.js
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
Labels: status: ready to merge, type: task, ◼️ block: filter products by stock

#6953 When converting the Filter Products by Price widget into the Filter by Price block, don't use inline input
  assets/js/blocks/price-filter/index.tsx
Labels: status: ready to merge, skip-changelog, ◼️ block: filter products by price

#6669 Refactor registration of payment methods and update unit tests for payment data store
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/hooks/payment-methods/use-payment-methods.ts
  assets/js/base/context/hooks/test/use-checkout-submit.js
  assets/js/base/context/providers/cart-checkout/payment-methods/index.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/payment-method-events-context.tsx
  assets/js/blocks-registry/payment-methods/registry.ts
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-options.js
  assets/js/blocks/cart-checkout-shared/payment-methods/test/payment-methods.js
  assets/js/data/cart/index.ts
  assets/js/data/checkout/index.ts
  assets/js/data/payment-methods/actions.ts
  assets/js/data/payment-methods/check-payment-methods.ts
  assets/js/data/payment-methods/test/reducers.js
  assets/js/data/payment-methods/test/selectors.js
  assets/js/data/payment-methods/test/set-default-payment-method.ts
  assets/js/data/payment-methods/types.ts
  docs/internal-developers/block-client-apis/checkout/checkout-flow-and-events.md
  package-lock.json
  tests/js/jest.config.json
Labels: status: ready to merge, skip-changelog, category: tests

#6960 document extend rest api for checkout
  docs/third-party-developers/extensibility/rest-api/available-endpoints-to-extend.md
Labels: status: ready to merge

#6957 Make the inlineInput default to false to avoid changing existing blocks behaviour
  assets/js/blocks/price-filter/block.json
  assets/js/blocks/price-filter/frontend.ts
Labels: status: ready to merge, skip-changelog, 🔹 block-type: filter blocks, ◼️ block: filter products by price

#6958 Update filter button styles
  assets/js/base/components/price-slider/style.scss
  assets/js/blocks/attribute-filter/style.scss
  assets/js/blocks/price-filter/style.scss
  assets/js/blocks/stock-filter/style.scss
Labels: status: ready to merge

#6191 Product search block as core/search variation
  assets/js/blocks/product-search/editor.scss
  assets/js/blocks/product-search/index.js
  assets/js/blocks/product-search/index.tsx
  src/BlockTypes/ProductSearch.php
  tests/e2e/specs/backend/product-search.test.js
  tests/e2e/utils.js
Labels: status: ready to merge, needs design, ◼️ block: product search

#6943 Style the Filter by Price block based on the wrapper width
  assets/js/base/components/price-slider/index.tsx
  assets/js/base/components/price-slider/style.scss
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: filter products by price

#6968 Lint markdown files on precommit
  docs/third-party-developers/extensibility/rest-api/available-endpoints-to-extend.md
  package.json
Labels: status: ready to merge, type: documentation, skip-changelog

#6952 Fix Product Query block hijacking all Query blocks queries
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: product-grid

#6920 `Filter by Attribute` block design updates
  assets/js/blocks/active-filters/style.scss
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/style.scss
  assets/js/blocks/attribute-filter/utils.ts
  assets/js/blocks/price-filter/style.scss
  assets/js/blocks/stock-filter/style.scss
  patterns/test.php
Labels: status: ready to merge, 🔹 block-type: filter blocks, ◼️ block: filter products by attribute

#6980 Remove test pattern file
  patterns/test.php
Labels: status: ready to merge, skip-changelog

#6981 Fix z-index issue in Filter by Attribute dropdowns
  assets/js/blocks/attribute-filter/style.scss
Labels: status: ready to merge, type: blocker, skip-changelog, ◼️ block: filter products by attribute

#6905 Layout Updates to Active Filters Block
  assets/js/base/components/chip/style.scss
  assets/js/blocks/active-filters/edit.tsx
  assets/js/blocks/active-filters/editor.scss
  assets/js/blocks/active-filters/style.scss
  assets/js/blocks/active-filters/utils.tsx
  tests/e2e/specs/shopper/active-filters.test.ts
Labels: status: ready to merge, type: enhancement, 🔹 block-type: filter blocks, ◼️ block: active product filters

#6971 Fix a broken link in "available-filters.md"
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
Labels: status: ready to merge

#6974 Change Type for shipping_address and billing_address to object
  src/StoreApi/docs/checkout.md
Labels: status: ready to merge, type: documentation, category: rest-api, ◼️ block: checkout

#6901 Only load shipping countries and states when shipping is needed
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
Labels: status: ready to merge, skip-changelog, category: performance, ◼️ block: cart, ◼️ block: checkout

#6867 Turn current page into the default Cart/Checkout page
  assets/js/blocks/cart-checkout-shared/default-notice/editor.scss
  assets/js/blocks/cart-checkout-shared/default-notice/index.tsx
  assets/js/blocks/cart-checkout-shared/index.js
  assets/js/blocks/cart-checkout-shared/sidebar-notices/index.tsx
  assets/js/editor-components/default-notice/editor.scss
  assets/js/editor-components/default-notice/index.tsx
  assets/js/editor-components/sidebar-compatibility-notice/editor.scss
  assets/js/editor-components/sidebar-compatibility-notice/index.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: cart, ◼️ block: checkout

#6994 Remove unnecessary filter by price label style
  assets/js/blocks/price-filter/editor.scss
Labels: status: ready to merge

#6914 Add static class name for product-details
  assets/js/base/components/cart-checkout/product-details/index.tsx
  assets/js/base/components/cart-checkout/product-details/test/__snapshots__/index.js.snap
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: cart, ◼️ block: checkout

#6996 Update `filter by stock` skeleton design
  assets/js/blocks/stock-filter/block.tsx
  assets/js/blocks/stock-filter/style.scss
Labels: status: ready to merge, 🔹 block-type: filter blocks, ◼️ block: filter products by stock

#7009 Fix stock filter placeholder
  assets/js/base/components/filter-placeholder/index.tsx
  assets/js/base/components/filter-placeholder/style.scss
  assets/js/blocks/stock-filter/block.tsx
  assets/js/blocks/stock-filter/style.scss
Labels: status: ready to merge, type: bug, 🔹 block-type: filter blocks, ◼️ block: filter products by stock

#7025 Fix Best Selling Products block ordering
  assets/js/blocks/product-best-sellers/block.json
Labels: status: ready to merge, type: bug, ◼️ block: best selling products

#7000 Remove `__experimentalDuotone` from block.json
  assets/js/blocks/featured-items/featured-category/block.json
  assets/js/blocks/featured-items/featured-product/block.json
Labels: status: ready to merge, ◼️ block: featured category, ◼️ block: featured product
