Repository woocommerce/woocommerce-blocks, pull requests merged in 2022-06, with the labels that each got.

#6502 Add WC core release thread tasks to release checklist
  .github/release-initial-checklist.md
Labels: status: ready to merge, skip-changelog, type: release

#6501 Featured items: ensure valid DOM nesting in inspector controls
  assets/js/blocks/featured-items/inspector-controls.tsx
Labels: status: ready to merge, skip-changelog

#6511 Fix: Use `register_block_type_from_metadata` function
  src/BlockTypes/AbstractBlock.php
Labels: status: ready to merge, type: enhancement, skip-changelog

#6485 Add the button to migrate to the blockified version of the Product Grid Block
  assets/js/blocks/classic-template/editor.scss
  assets/js/blocks/classic-template/index.tsx
Labels: status: ready to merge, type: enhancement, skip-changelog, 🔹 block-type: templates

#6525 Featured Item: Fix colors from default palette not being applied
  assets/js/blocks/featured-items/with-featured-item.tsx
Labels: status: ready to merge, type: bug, ◼️ block: featured category, ◼️ block: featured product

#6531 Revert "Remove Combobox patch (#6465)"
  assets/js/base/components/combobox/index.tsx
  package-lock.json
  package.json
  patches/wordpress-components+14.2.0.patch
Labels: status: ready to merge, category: refactor, skip-changelog, ◼️ block: checkout

#6534 Bump version and update tested version for WordPress and WooCommerce
  package-lock.json
  package.json
  readme.txt
  src/Package.php
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, type: release

#6537 Fix PHP notice in Mini Cart when prices included taxes
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#6532 Disable page scroll when Mini Cart drawer is open
  assets/js/blocks/mini-cart/block.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: mini cart

#6470 Access correct property of package destination in Store API
  src/StoreApi/Schemas/V1/CartShippingRateSchema.php
Labels: status: ready to merge, category: rest-api, ◼️ block: cart, ◼️ block: checkout

#6541 Correct mistake in checkout.md
  src/StoreApi/docs/checkout.md
Labels: status: ready to merge, type: documentation, skip-changelog

#6505 Fix: Register Filter Blocks using `block.json`
  assets/js/blocks/active-filters/block.json
  assets/js/blocks/active-filters/index.js
  assets/js/blocks/attribute-filter/block.json
  assets/js/blocks/attribute-filter/index.js
  assets/js/blocks/price-filter/block.json
  assets/js/blocks/price-filter/index.js
  assets/js/blocks/stock-filter/block.json
  assets/js/blocks/stock-filter/edit.js
  assets/js/blocks/stock-filter/index.js
  bin/webpack-configs.js
Labels: status: ready to merge, type: enhancement, 🔹 block-type: filter blocks

#6546 Restore package.json and package-lock.json
  package-lock.json
  package.json
Labels: status: ready to merge, skip-changelog, type: dependencies

#6405 Add docs about translation handling
  docs/README.md
  docs/translations/README.md
  docs/translations/translation-basics.md
  docs/translations/translation-loading.md
  docs/translations/translation-management.md
  docs/translations/translations-for-lazy-loaded-components.md
  docs/translations/translations-in-FSE-templates.md
  docs/translations/translations-in-JS-TS-files.md
  docs/translations/translations-in-PHP-files.md
Labels: status: ready to merge, type: documentation, category: i18n, skip-changelog

#6232 Convert checkout context to data store
  assets/js/base/context/hooks/cart/test/use-store-cart-item-quantity.js
  assets/js/base/context/hooks/cart/use-store-cart-item-quantity.ts
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/hooks/test/use-checkout-submit.js
  assets/js/base/context/hooks/use-checkout-address.ts
  assets/js/base/context/hooks/use-checkout-extension-data.ts
  assets/js/base/context/hooks/use-checkout-submit.js
  assets/js/base/context/providers/cart-checkout/cart/index.js
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/cart-checkout/checkout-provider.js
  assets/js/base/context/providers/cart-checkout/checkout-state/actions.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/constants.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/index.tsx
  assets/js/base/context/providers/cart-checkout/checkout-state/reducer.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/types.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/utils.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/payment-method-data-context.tsx
  assets/js/base/context/providers/cart-checkout/shipping/index.js
  assets/js/base/context/providers/cart-checkout/utils.ts
  assets/js/base/context/tsconfig.json
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/cart-express-payment.js
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/checkout-express-payment.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-card.js
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/block.tsx
  assets/js/blocks/checkout/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/login-prompt.js
  assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-payment-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/frontend.tsx
  assets/js/data/checkout/action-types.ts
  assets/js/data/checkout/actions.ts
  assets/js/data/checkout/constants.ts
  assets/js/data/checkout/default-state.ts
  assets/js/data/checkout/index.ts
  assets/js/data/checkout/reducers.ts
  assets/js/data/checkout/selectors.ts
  assets/js/data/index.ts
  assets/js/data/tsconfig.json
  assets/js/types/type-defs/checkout.ts
  assets/js/types/type-defs/index.ts
  assets/js/types/type-defs/payments.ts
  docs/block-client-apis/checkout/checkout-api.md
  docs/extensibility/checkout-flow-and-events.md
Labels: status: ready to merge

#6369 Rename billingData to billingAddress
  assets/js/base/context/hooks/cart/test/use-store-cart.js
  assets/js/base/context/hooks/cart/use-store-cart.ts
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/hooks/use-checkout-address.ts
  assets/js/base/context/hooks/use-customer-data.ts
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/cart-checkout/customer/constants.ts
  assets/js/base/context/providers/cart-checkout/customer/index.tsx
  assets/js/base/context/providers/cart-checkout/payment-methods/constants.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/payment-method-data-context.tsx
  assets/js/base/context/providers/cart-checkout/payment-methods/types.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-dispatchers.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-registration.ts
  assets/js/blocks-registry/payment-methods/test/payment-method-config-helper.ts
  assets/js/blocks/cart/block.js
  assets/js/blocks/cart/inner-blocks/cart-order-summary-block/frontend.tsx
  assets/js/blocks/cart/test/slots.js
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  assets/js/data/cart/action-types.ts
  assets/js/data/cart/actions.ts
  assets/js/data/cart/push-changes.ts
  assets/js/data/cart/reducers.ts
  assets/js/data/cart/selectors.ts
  assets/js/types/type-defs/payment-method-interface.ts
  assets/js/types/type-defs/payments.ts
Labels: status: ready to merge, category: refactor, skip-changelog, type: dependencies, ◼️ block: checkout

#6533 Fix: Convert Filter Products by Stock to TypeScript
  assets/js/base/components/filter-element-label/index.tsx
  assets/js/blocks/stock-filter/attributes.ts
  assets/js/blocks/stock-filter/block.json
  assets/js/blocks/stock-filter/block.tsx
  assets/js/blocks/stock-filter/edit.tsx
  assets/js/blocks/stock-filter/frontend.ts
  assets/js/blocks/stock-filter/index.tsx
  assets/js/blocks/stock-filter/preview.tsx
  assets/js/blocks/stock-filter/types.ts
  assets/js/blocks/stock-filter/utils.ts
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: filter products by stock

#6415 Fix E2E tests
  package-lock.json
  package.json
  tests/e2e/config/default.json
  tests/e2e/config/environment.js
  tests/e2e/config/jest-puppeteer.config.js
  tests/e2e/config/jest.setup.js
  tests/e2e/specs/shopper/active-filters.test.ts
  tests/e2e/specs/shopper/cart-checkout/account.test.js
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
  tests/e2e/utils.js
  tests/utils/clickLink.js
  tests/utils/index.js
  tests/utils/visit-block-page.js
Labels: status: ready to merge, category: refactor, skip-changelog, category: tests

#6552 Featured items: fix focal point block json spacing
  assets/js/blocks/featured-items/featured-category/block.json
  assets/js/blocks/featured-items/featured-product/block.json
Labels: status: ready to merge, type: enhancement, skip-changelog

#6553 Use default .editorconfig settings for *.md files
  .editorconfig
Labels: status: ready to merge, category: refactor, skip-changelog

#6514 Fix: Convert Filter Products by Price Block to TypeScript
  assets/js/base/components/price-slider/index.tsx
  assets/js/blocks/price-filter/attributes.ts
  assets/js/blocks/price-filter/block.json
  assets/js/blocks/price-filter/block.tsx
  assets/js/blocks/price-filter/constants.ts
  assets/js/blocks/price-filter/edit.tsx
  assets/js/blocks/price-filter/frontend.ts
  assets/js/blocks/price-filter/index.tsx
  assets/js/blocks/price-filter/types.ts
  assets/js/blocks/price-filter/use-price-constraints.js
  assets/js/blocks/price-filter/use-price-constraints.ts
  packages/prices/utils/price.ts
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: filter products by price

#6564 Fix linting errors in WC Blocks 7.8.1 testing instructions
  docs/testing/releases/781.md
Labels: status: ready to merge, type: documentation, skip-changelog

#6565 Fix: Mini Cart content scrolling issue
  assets/js/blocks/mini-cart/mini-cart-contents/editor.scss
  assets/js/blocks/mini-cart/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#6574 Add item name wrapper for Product Category List block
  src/BlockTypes/ProductCategories.php
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product categories list

#6590 Replace instances of wp_is_block_theme() with wc_current_theme_is_fse_theme()
  src/BlockTypes/MiniCart.php
  src/Templates/ProductSearchResultsTemplate.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: bug, category: fse

#6425 Fix/4929 remove unnecessary files from core build process
  .distignore
Labels: status: ready to merge, type: build, skip-changelog

#6599 Fix images hidden by default in Product grid blocks
  assets/js/editor-components/grid-content-control/index.js
  src/BlockTypes/AbstractProductGrid.php
Labels: status: ready to merge, type: bug, type: blocker, 🔹 block-type: product-grid

#6345 Add descriptions for all WC templates and refactor Search template hierarchy loading logic
  src/BlockTemplatesController.php
  src/Templates/ProductSearchResultsTemplate.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, 🔹 block-type: templates

#6586 Remove `setCustomerId` from events and `processCheckoutResponseHeaders`
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/cart-checkout/utils.ts
Labels: status: ready to merge, category: refactor, skip-changelog, category: blocks, ◼️ block: cart, ◼️ block: checkout

#6598 Fix MD lint errors and fix conflicts
  docs/testing/releases/761.md
  docs/testing/releases/782.md
  docs/testing/releases/783.md
  docs/testing/releases/README.md
  readme.txt
Labels: status: ready to merge, skip-changelog, type: release

#6550 Clean up docs
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
  docs/README.md
  docs/blocks/README.md
  docs/internal-developers/testing/cart-checkout/cross-browser.md
  docs/internal-developers/testing/releases/260.md
  docs/internal-developers/testing/releases/270.md
  docs/internal-developers/testing/releases/280.md
  docs/internal-developers/testing/releases/350.md
  docs/internal-developers/testing/releases/390.md
  docs/internal-developers/testing/releases/410.md
  docs/internal-developers/testing/releases/600.md
  docs/internal-developers/testing/releases/761.md
  docs/internal-developers/testing/releases/762.md
  docs/internal-developers/testing/releases/770.md
  docs/internal-developers/testing/releases/780.md
  docs/internal-developers/testing/releases/781.md
  docs/internal-developers/testing/releases/782.md
  docs/internal-developers/testing/releases/783.md
  docs/internal-developers/translations/README.md
  docs/internal-developers/translations/translation-basics.md
  docs/internal-developers/translations/translation-loading.md
  docs/internal-developers/translations/translation-management.md
  docs/internal-developers/translations/translations-for-lazy-loaded-components.md
  docs/internal-developers/translations/translations-in-FSE-templates.md
  docs/internal-developers/translations/translations-in-JS-TS-files.md
  docs/internal-developers/translations/translations-in-PHP-files.md
  docs/templates/block-template-controller.md
  docs/testing/cart-checkout/coupons.md
  docs/testing/cart-checkout/editor.md
  docs/testing/cart-checkout/general-flow.md
  docs/testing/cart-checkout/items.md
  docs/testing/cart-checkout/payment.md
  docs/testing/cart-checkout/shipping.md
  docs/testing/releases/260.md
  docs/testing/releases/270.md
  docs/testing/releases/280.md
  docs/testing/releases/320.md
  docs/testing/releases/350.md
  docs/testing/releases/390.md
  docs/testing/releases/410.md
  docs/testing/releases/491.md
  docs/testing/releases/600.md
  docs/testing/smoke-testing.md
  docs/testing/when-to-employ-e2e-testing.md
  docs/theming/class-names-update-330.md
Labels: status: ready to merge, type: documentation, skip-changelog

#6605 Add `markdownlint` extension in the recommended extensions list
  .vscode/extensions.json
Labels: status: ready to merge, type: enhancement, skip-changelog

#6455 Move checkout state code into thunks and rename `CheckoutState` context to `CheckoutEvents`
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/hooks/test/use-checkout-submit.js
  assets/js/base/context/hooks/use-checkout-submit.js
  assets/js/base/context/providers/cart-checkout/checkout-events/event-emit.ts
  assets/js/base/context/providers/cart-checkout/checkout-events/index.tsx
  assets/js/base/context/providers/cart-checkout/checkout-events/types.ts
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/cart-checkout/checkout-provider.js
  assets/js/base/context/providers/cart-checkout/checkout-state/actions.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/constants.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/index.tsx
  assets/js/base/context/providers/cart-checkout/checkout-state/reducer.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/types.ts
  assets/js/base/context/providers/cart-checkout/checkout-state/utils.ts
  assets/js/base/context/providers/cart-checkout/index.js
  assets/js/base/context/providers/cart-checkout/utils.ts
  assets/js/data/checkout/actions.ts
  assets/js/data/checkout/constants.ts
  assets/js/data/checkout/index.ts
  assets/js/data/checkout/reducers.ts
  assets/js/data/checkout/thunks.ts
  assets/js/data/checkout/types.ts
  assets/js/data/checkout/utils.ts
  assets/js/data/tsconfig.json
  assets/js/types/type-defs/addresses.ts
  assets/js/types/type-defs/checkout.ts
  assets/js/types/type-defs/index.ts
  assets/js/types/type-defs/payments.ts
  docs/block-client-apis/checkout/checkout-api.md
  package-lock.json
  package.json
Labels: status: ready to merge

#6580 Fix: Convert Active Filters Block codebase to TypeScript
  assets/js/base/components/chip/chip.tsx
  assets/js/blocks/active-filters/active-attribute-filters.tsx
  assets/js/blocks/active-filters/attributes.ts
  assets/js/blocks/active-filters/block.tsx
  assets/js/blocks/active-filters/edit.tsx
  assets/js/blocks/active-filters/frontend.js
  assets/js/blocks/active-filters/frontend.ts
  assets/js/blocks/active-filters/index.tsx
  assets/js/blocks/active-filters/types.ts
  assets/js/blocks/active-filters/utils.tsx
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/types/type-defs/index.ts
  assets/js/types/type-defs/stock-status.ts
  assets/js/types/type-guards/attributes.ts
  assets/js/types/type-guards/index.ts
  assets/js/types/type-guards/ratings.ts
  assets/js/types/type-guards/stock-status.ts
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: active product filters

#6452 Fix: Display the correct title for templates from theme
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, type: cooldown, good first issue, 🔹 block-type: templates

#6613 Fix crash when the user saves Mini Cart Template
  src/Templates/MiniCartTemplate.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: blocker, skip-changelog, ◼️ block: mini cart, 🔹 block-type: templates

#6614 Move testing release instructions to the right folder after refactor
  docs/internal-developers/testing/releases/README.md
  docs/testing/releases/761.md
  docs/testing/releases/762.md
  docs/testing/releases/781.md
  docs/testing/releases/782.md
  docs/testing/releases/783.md
  docs/testing/releases/README.md
Labels: status: ready to merge, type: documentation, category: refactor

#6615 Add Cart & Checkout testing steps to Feature plugin only section in 7.7.0 testing instructions
  docs/internal-developers/testing/releases/770.md
Labels: status: ready to merge, type: documentation, skip-changelog

#6585 changing tax_query field to term_id
  src/BlockTypes/ProductTag.php
Labels: type: enhancement, category: refactor, category: blocks, ◼️ block: products by tag

#6616 Fix Markdown errors
  docs/internal-developers/testing/releases/790.md
  docs/internal-developers/testing/releases/README.md
Labels: category: refactor, skip-changelog

#6588 Set & get the provider's state from our data store instead of React's useReducer
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/payment-method-data-context.tsx
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-dispatchers.ts
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment-methods.js
  assets/js/data/payment-methods/action-types.ts
  assets/js/data/payment-methods/actions.ts
  assets/js/data/payment-methods/reducers.ts
  assets/js/data/payment-methods/selectors.ts
  assets/js/data/payment-methods/set-default-payment-method.ts
  docs/internal-developers/block-client-apis/checkout/checkout-api.md
Labels: status: ready to merge

#5273 Add dry run and simulate release mode
  bin/github-deploy.sh
  bin/storybook-deploy.sh
  bin/wordpress-deploy.sh
  package.json
Labels: status: ready to merge, type: enhancement, type: build, skip-changelog, type: cooldown

#6589 Get payment method data directly from the data store instead of the usePaymentMethodDataContext hook
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/hooks/payment-methods/use-payment-methods.ts
  assets/js/base/context/hooks/use-checkout-submit.js
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/cart-checkout/payment-methods/payment-method-data-context.tsx
  assets/js/base/context/providers/cart-checkout/payment-methods/utils.ts
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment-methods.js
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/cart-express-payment.js
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/checkout-express-payment.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-options.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-methods.js
  assets/js/blocks/cart-checkout-shared/payment-methods/saved-payment-method-options.js
  assets/js/data/default-states.ts
  assets/js/data/payment-methods/reducers.ts
  assets/js/data/payment-methods/selectors.ts
  assets/js/data/payment-methods/types.ts
  docs/internal-developers/block-client-apis/checkout/checkout-api.md
Labels: status: ready to merge

#6607 Refactor the payment method data store & context
  assets/js/base/context/providers/cart-checkout/payment-methods/actions.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/constants.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/payment-method-data-context.tsx
  assets/js/base/context/providers/cart-checkout/payment-methods/reducer.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/types.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-dispatchers.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-registration.ts
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/cart-express-payment.js
  assets/js/data/default-states.ts
  assets/js/data/payment-methods/actions.ts
  assets/js/data/payment-methods/index.ts
  assets/js/data/payment-methods/selectors.ts
  assets/js/data/payment-methods/set-default-payment-method.ts
  assets/js/data/payment-methods/thunks.ts
  assets/js/data/payment-methods/types.ts
  assets/js/data/payment-methods/utils.ts
  assets/js/data/tsconfig.json
  docs/internal-developers/block-client-apis/checkout/checkout-api.md
  package-lock.json
Labels: status: ready to merge

#6582 Add key to BlockErrorBoundary component in renderForcedBlocks
  assets/js/atomic/utils/render-parent-block.tsx
Labels: status: ready to merge, type: bug, skip-changelog, category: blocks, ◼️ block: checkout

#6631 Handles taxes for local pickup shipping
  src/StoreApi/Utilities/OrderController.php
Labels: status: ready to merge, type: bug, type: blocker, ◼️ block: checkout

#6539 Show classic template in the inserter only for specific templates
  assets/js/blocks/classic-template/constants.ts
  assets/js/blocks/classic-template/index.tsx
  src/BlockTypes/ClassicTemplate.php
  src/BlockTypesController.php
Labels: status: ready to merge, type: enhancement, skip-changelog, 🔹 block-type: templates

#6643 Fix condition to allow rendering classic templates on the frontend
  src/BlockTypes/ClassicTemplate.php
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: templates
