Repository woocommerce/woocommerce-blocks, pull requests merged in 2022-03, with the labels that each got.

#5923 Shopper → Mini Cart → Can view filled mini cart contents block
  tests/e2e/specs/shopper/mini-cart.test.js
  tests/utils/shopper.js
Labels: status: ready to merge, type: enhancement, skip-changelog, category: tests, ◼️ block: mini cart

#5928 Add font-style and font-weight support for the Product Categories List block
  assets/js/atomic/blocks/product-elements/category-list/index.ts
  src/BlockTypes/ProductCategoryList.php
Labels: status: ready to merge, category: styles, 🔺 atomic-block

#5904 Store API: Refactored validation handling and introduced `woocommerce_store_api_cart_errors` hook
  bin/hook-docs/data/actions.json
  docs/examples/validate-cart.md
  docs/extensibility/actions.md
  src/StoreApi/Exceptions/InvalidCartException.php
  src/StoreApi/Routes/V1/AbstractRoute.php
  src/StoreApi/Routes/V1/Checkout.php
  src/StoreApi/Schemas/V1/CartSchema.php
  src/StoreApi/Utilities/CartController.php
  src/StoreApi/Utilities/NoticeHandler.php
  tests/php/StoreApi/Utilities/CartController.php
  tests/php/StoreApi/Utilities/NoticeHandler.php
Labels: status: ready to merge, category: rest-api, ◼️ block: checkout

#5954 Avoid crash in InboxNotifications if woocommerce-admin is entirely disabled.
  src/InboxNotifications.php
Labels: ◼️ block: cart, ◼️ block: checkout

#5920 Add mock theme with Woo Templates for E2E tests
  .wp-env.json
  tests/e2e/page-utils.js
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/utils.js
  tests/mocks/theme-with-woo-templates/block-template-parts/header.html
  tests/mocks/theme-with-woo-templates/block-template-parts/mini-cart.html
  tests/mocks/theme-with-woo-templates/block-templates/archive-product.html
  tests/mocks/theme-with-woo-templates/block-templates/index.html
  tests/mocks/theme-with-woo-templates/block-templates/single-product.html
  tests/mocks/theme-with-woo-templates/block-templates/singular.html
  tests/mocks/theme-with-woo-templates/block-templates/taxonomy-product_cat.html
  tests/mocks/theme-with-woo-templates/block-templates/taxonomy-product_tag.html
  tests/mocks/theme-with-woo-templates/functions.php
  tests/mocks/theme-with-woo-templates/index.php
  tests/mocks/theme-with-woo-templates/screenshot.png
  tests/mocks/theme-with-woo-templates/style.css
  tests/mocks/theme-with-woo-templates/styles/variation.json
  tests/mocks/theme-with-woo-templates/theme.json
Labels: status: ready to merge, skip-changelog, category: tests, category: fse

#5978 Shopper → Mini Cart → Can proceed to checkout
  tests/e2e/specs/shopper/mini-cart.test.js
Labels: status: ready to merge, type: enhancement, skip-changelog, category: tests, ◼️ block: mini cart

#5984 Mini Cart Contents Block: not show `wc-block-mini-cart__contents` in additional classes section
  assets/js/blocks/cart-checkout/mini-cart-contents/editor.scss
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  templates/parts/mini-cart.html
Labels: status: ready to merge, type: bug

#5977 Shopper → Mini Cart → Can go to Cart page
  tests/e2e/specs/shopper/mini-cart.test.js
Labels: status: ready to merge, type: enhancement, skip-changelog, category: tests, ◼️ block: mini cart

#5963 Shopper → Mini Cart → Can update product quantity
  tests/e2e/specs/shopper/mini-cart.test.js
Labels: status: ready to merge, type: enhancement, skip-changelog, category: tests, ◼️ block: mini cart

#5965 Remove lodash forEach usage
  assets/js/editor-components/search-list-control/utils.tsx
Labels: status: ready to merge, category: refactor, skip-changelog

#5986 Store API: Add dedicated container and make Store API code self-contained
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  bin/hook-docs/data/actions.json
  bin/hook-docs/data/filters.json
  docs/extensibility/actions.md
  docs/extensibility/extend-rest-api-add-data.md
  docs/extensibility/extend-rest-api-new-endpoint.md
  docs/extensibility/extend-rest-api-update-cart.md
  docs/extensibility/filtering-payment-methods.md
  docs/extensibility/filters.md
  docs/extensibility/payment-method-integration.md
  docs/templates/README.md
  docs/templates/block-template-controller.md
  docs/templates/classic-template.md
  docs/testing/releases/710.md
  src/BlockTypes/AbstractBlock.php
  src/BlockTypes/AbstractProductGrid.php
  src/BlockTypes/Checkout.php
  src/Domain/Bootstrap.php
  src/Domain/Services/CreateAccount.php
  src/Domain/Services/Email/CustomerNewAccount.php
  src/Payments/Api.php
  src/RestApi.php
  src/StoreApi/Authentication.php
  src/StoreApi/Payments/PaymentContext.php
  src/StoreApi/Payments/PaymentResult.php
  src/StoreApi/Routes/V1/Checkout.php
  src/StoreApi/RoutesController.php
  src/StoreApi/SchemaController.php
  src/StoreApi/Schemas/V1/CheckoutSchema.php
  src/StoreApi/StoreApi.php
  src/StoreApi/Utilities/ArrayUtils.php
  src/StoreApi/Utilities/CartController.php
  src/StoreApi/deprecated.php
  src/StoreApi/functions.php
  tests/php/Domain/Services/CreateAccount.php
  tests/php/StoreApi/Routes/Checkout.php
Labels: status: ready to merge, category: rest-api, category: refactor, skip-changelog

#5987 Remove v1 string from Store Keys
  assets/js/base/context/hooks/cart/use-store-cart.ts
  assets/js/data/cart/constants.ts
  assets/js/data/collections/constants.js
  assets/js/data/query-state/constants.js
  assets/js/data/schema/constants.js
Labels: status: ready to merge

#5981 Remove `fromEntriesPolyfill`
  assets/js/base/context/hooks/cart/use-store-cart.ts
  assets/js/base/utils/derive-selected-shipping-rates.js
  assets/js/base/utils/from-entries-polyfill.ts
  assets/js/base/utils/index.js
Labels: status: ready to merge, skip-changelog, ◼️ block: cart, ◼️ block: checkout, type: technical debt

#5143 [Experiment] Try to memoize/cache filter results so that we don't call third party filters too often
  packages/checkout/filter-registry/index.ts
Labels: status: ready to merge, type: enhancement, category: extensibility, category: performance, category: blocks, ◼️ block: cart, ◼️ block: checkout, stale

#5896 Try move shipping related dat to a `@wordpress/data` store
  assets/js/base/components/cart-checkout/shipping-calculator/index.tsx
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/hooks/shipping/index.js
  assets/js/base/context/hooks/shipping/use-select-shipping-rate.ts
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
  assets/js/base/context/hooks/use-checkout-address.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-dispatchers.ts
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-registration.ts
  assets/js/base/context/providers/cart-checkout/shipping/index.js
  assets/js/base/utils/derive-selected-shipping-rates.ts
  assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/test/block.js
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  assets/js/data/cart/selectors.ts
  assets/js/types/type-defs/payment-method-interface.ts
  assets/js/types/type-defs/shipping.ts
Labels: status: ready to merge, skip-changelog, category: blocks, ◼️ block: cart, ◼️ block: checkout

#5855 Update testing instructions for 6.8.0 and 6.9.0 releases
  docs/testing/releases/680.md
  docs/testing/releases/690.md
Labels: status: ready to merge

#5992 Store API: Consistent error code and hook naming
  assets/js/blocks/checkout/checkout-order-error/constants.js
  bin/hook-docs/data/actions.json
  bin/hook-docs/data/filters.json
  docs/extensibility/actions.md
  docs/extensibility/filtering-payment-methods.md
  docs/extensibility/filters.md
  docs/extensibility/payment-method-integration.md
  src/Domain/Services/GoogleAnalytics.php
  src/StoreApi/Routes/V1/AbstractCartRoute.php
  src/StoreApi/Routes/V1/AbstractRoute.php
  src/StoreApi/Routes/V1/Batch.php
  src/StoreApi/Routes/V1/CartUpdateCustomer.php
  src/StoreApi/Routes/V1/Checkout.php
  src/StoreApi/Schemas/V1/CartItemSchema.php
  src/StoreApi/Utilities/CartController.php
  src/StoreApi/Utilities/ProductQuery.php
  src/StoreApi/docs/guiding-principles.md
  tests/php/StoreApi/Routes/Cart.php
  tests/php/StoreApi/Routes/Checkout.php
  tests/php/StoreApi/Utilities/CartController.php
Labels: status: ready to merge, category: rest-api, category: refactor

#5901 Shopper → Cart → Can proceed to checkout
  tests/e2e/specs/shopper/cart-proceed-to-checkout.test.js
  tests/e2e/specs/shopper/mini-cart.test.js
  tests/utils/constants.js
  tests/utils/shopper.js
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: cart, category: tests

#5997 Test Google's "ndb" E2E testing tool
  package-lock.json
  package.json
Labels: status: ready to merge, type: enhancement, skip-changelog, category: tests

#6011 Move __experimentalSelector outside of hasSpacingStyleSupport check
  assets/js/atomic/blocks/product-elements/sale-badge/index.js
Labels: type: bug, skip-changelog, 🔺 atomic-block

#5918 Shopper → Mini Cart → Can view empty cart message and start shopping button
  tests/e2e/specs/shopper/mini-cart.test.js
Labels: status: ready to merge, type: enhancement, skip-changelog, category: tests, ◼️ block: mini cart

#6002 style Mini Cart block as inline to remove the experimental features usage.
  assets/js/blocks/cart-checkout/mini-cart/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart/index.tsx
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, ◼️ block: mini cart

#5991 Mini Cart Block and related blocks: now the additional classes are visible on frontend page
  assets/js/base/components/drawer/style.scss
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-items-block/frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-products-table-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-title-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#6009 Shopper → Checkout → Can place an order as guest
  package-lock.json
  package.json
  tests/e2e/fixtures/fixture-loaders.js
  tests/e2e/specs/shopper/checkout-place-order-as-guest.test.js
  tests/utils/constants.js
  tests/utils/shopper.js
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: checkout, category: tests

#5900 Critical flow: Can see correct tax
  .github/workflows/php-js-e2e-tests.yml
  assets/js/types/type-defs/taxes.ts
  tests/e2e/config/jest.setup.js
  tests/e2e/specs/backend/attribute-filter.test.js
  tests/e2e/specs/frontend/legacy-template-blocks.test.js
  tests/e2e/specs/shopper/tax.test.js
  tests/e2e/utils.js
  tests/utils/shopper.js
  tests/utils/taxes.ts
Labels: status: ready to merge, skip-changelog, type: technical debt, category: tests

#6001 Cart: Accepted Payment Methods block: Use utility instead of the local function
  assets/js/base/utils/get-icons-from-payment-methods.ts
  assets/js/blocks/cart-checkout/cart/inner-blocks/cart-accepted-payment-methods-block/block.tsx
Labels: status: ready to merge, category: refactor, skip-changelog, ◼️ block: cart, ◼️ block: mini cart

#5985 Refactor: Use an alternative mini cart icon to fix the Mini Cart styling issues
  assets/js/blocks/cart-checkout/mini-cart/block.tsx
  assets/js/blocks/cart-checkout/mini-cart/component-frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart/index.tsx
  assets/js/blocks/cart-checkout/mini-cart/quantity-badge/style.scss
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  assets/js/icons/library/mini-cart.tsx
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, category: refactor, skip-changelog, ◼️ block: mini cart

#6013 E2E test improvements and consolidatng
  tests/e2e/specs/frontend/checkout.test.js
  tests/e2e/specs/frontend/legacy-template-blocks.test.js
  tests/e2e/specs/shopper/cart-proceed-to-checkout.test.js
  tests/e2e/specs/shopper/checkout-place-order-as-guest.test.js
  tests/e2e/specs/shopper/mini-cart.test.js
  tests/e2e/specs/shopper/tax.test.js
  tests/utils/constants.js
  tests/utils/shopper.js
Labels: status: ready to merge, category: refactor, skip-changelog, category: tests

#5844 Shopper → Checkout → Can choose shipping option
  bin/wp-env-config.sh
  tests/e2e/fixtures/fixture-data.js
  tests/e2e/specs/shopper/checkout-shipping.test.js
  tests/utils/shopper.js
Labels: type: enhancement, skip-changelog, ◼️ block: checkout, category: tests

#5553 Prefetch cart and checkout block assets when cart has contents
  src/AssetsController.php
Labels: status: ready to merge, category: performance, ◼️ block: cart, ◼️ block: checkout

#6015 Critical flows: Shopper → Cart → Can remove product
  tests/e2e/specs/shopper/cart-products.test.js
Labels: status: ready to merge, skip-changelog, category: tests

#6024 Critical flows: Shopper → Cart → Can view empty cart message
  tests/e2e/specs/shopper/cart-empty.test.js
Labels: status: ready to merge, skip-changelog, category: tests

#5983 StoreAPI: Clear all wc notice types in the cart validation context
  src/StoreApi/Utilities/NoticeHandler.php
Labels: type: bug, ◼️ block: cart

#5574 Remove deprecated data controls in favour of those from the `@wordpress/data` package
  assets/js/base/context/providers/cart-checkout/payment-methods/test/payment-method-data-context.js
  assets/js/blocks/cart-checkout/cart/test/block.js
  assets/js/blocks/cart-checkout/mini-cart/test/block.js
  assets/js/blocks/cart-checkout/payment-methods/test/payment-methods.js
  assets/js/data/cart/actions.ts
  assets/js/data/cart/resolvers.ts
  assets/js/data/collections/resolvers.js
  assets/js/data/collections/test/resolvers.js
  assets/js/data/schema/resolvers.js
  assets/js/data/schema/test/resolvers.js
Labels: status: ready to merge, type: cooldown

#6039 Remove not necessary todo
  src/BlockTypesController.php
Labels: category: refactor, skip-changelog

#6033 Ignore storybook dist folder when running eslint
  .eslintignore
Labels: status: ready to merge, type: build, skip-changelog

#6034 Fix: Exclude Button block from the Empty Mini Cart Contents block insterter
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/allowed-blocks.ts
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: mini cart

#5974 Remove not used attributes
  assets/js/atomic/blocks/product-elements/price/block.js
  assets/js/atomic/blocks/product-elements/title/attributes.ts
  assets/js/atomic/blocks/product-elements/title/block.tsx
  assets/js/blocks/featured-category/index.js
  assets/js/blocks/featured-product/index.js
  src/BlockTypes/FeaturedCategory.php
  src/BlockTypes/FeaturedProduct.php
Labels: status: ready to merge, category: refactor, skip-changelog

#6043 Fix box-sizing on Global Styles blocks with border width control
  assets/js/atomic/blocks/product-elements/sale-badge/style.scss
  assets/js/blocks/featured-category/style.scss
  assets/js/blocks/featured-product/style.scss
  package-lock.json
Labels: status: ready to merge, skip-changelog, category: styles

#6020 Remove X- Prefixes from custom headers
  assets/js/base/context/providers/cart-checkout/utils.ts
  assets/js/middleware/store-api-nonce.js
  docs/testing/releases/440.md
  docs/testing/releases/680.md
  readme.txt
  src/StoreApi/Routes/V1/AbstractCartRoute.php
  src/StoreApi/Routes/V1/Batch.php
  src/StoreApi/docs/cart.md
  src/StoreApi/docs/checkout.md
  src/StoreApi/docs/nonce-tokens.md
  tests/php/StoreApi/Routes/Batch.php
  tests/php/StoreApi/Routes/Cart.php
  tests/php/StoreApi/Routes/CartCoupons.php
  tests/php/StoreApi/Routes/CartExtensions.php
  tests/php/StoreApi/Routes/CartItems.php
  tests/php/StoreApi/Routes/Checkout.php
Labels: status: ready to merge, category: rest-api, needs dev-note

#6036 Correctly load JS translations from WC core (II)
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, type: bug, category: i18n

#5927 Product Ratings: Add Global Styles font size and spacing support
  assets/js/atomic/blocks/product-elements/rating/block.js
  assets/js/atomic/blocks/product-elements/rating/index.js
  assets/js/atomic/blocks/product-elements/rating/support.js
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge

#5999 Change `shippingRatesLoading` to `isLoadingRates`
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-rate-selector.js
  assets/js/base/context/hooks/cart/test/use-store-cart.js
  assets/js/base/context/hooks/cart/use-store-cart.ts
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
  assets/js/base/context/providers/cart-checkout/shipping/constants.js
  assets/js/base/context/providers/cart-checkout/shipping/index.js
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  assets/js/types/type-defs/hooks.ts
  docs/block-client-apis/checkout/checkout-api.md
  storybook/__mocks__/woocommerce-base-hooks.js
Labels: status: ready to merge, type: blocker, skip-changelog, category: blocks, ◼️ block: cart, ◼️ block: checkout

#5979 Shopper → Mini Cart → Can see correct tax
  tests/e2e/page-utils.js
  tests/e2e/specs/shopper/mini-cart.test.js
Labels: status: needs review, type: enhancement, skip-changelog, category: tests, ◼️ block: mini cart

#6054 Mini Cart: Improve template part description
  assets/js/blocks/cart-checkout/mini-cart/edit.tsx
Labels: status: ready to merge, type: enhancement, skip-changelog, good first issue, ◼️ block: mini cart

#6021 Rename Legacy Template block to Classic Template block
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.json
  assets/js/blocks/classic-template/README.md
  assets/js/blocks/classic-template/assets/doc-image-single-product-classic-block.png
  assets/js/blocks/classic-template/constants.ts
  assets/js/blocks/classic-template/editor.scss
  assets/js/blocks/classic-template/index.tsx
  assets/js/editor-components/feedback-prompt/index.js
  bin/hook-docs/data/actions.json
  bin/hook-docs/data/filters.json
  bin/webpack-entries.js
  docs/contributors/css-build-system.md
  docs/extensibility/actions.md
  docs/extensibility/filters.md
  package.json
  src/BlockTypes/ClassicTemplate.php
  src/BlockTypesController.php
  src/Utils/BlockTemplateUtils.php
  tests/e2e/specs/backend/__snapshots__/site-editing-templates.test.js.snap
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/specs/frontend/legacy-template-blocks.test.js
Labels: status: ready to merge, category: refactor, category: blocks, type: task, 🔹 block-type: templates

#6078 Stop showing the `PricesSlider` skeleton when moving the slider handles
  assets/js/base/components/price-slider/style.scss
Labels: status: ready to merge, type: bug, type: cooldown, 🔹 block-type: filter blocks, ◼️ block: filter products by price

#6035 Add `CurrencyCode` type for the Currency `code` property
  assets/js/base/components/cart-checkout/totals/footer-item/stories/index.tsx
  assets/js/types/type-defs/cart.ts
  assets/js/types/type-defs/currency.ts
Labels: status: ready to merge, type: documentation, category: refactor, skip-changelog

#6053 Fix: Mini Cart Contents: only show the active view
  assets/js/blocks/cart-checkout/mini-cart-contents/editor.scss
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#6032 Update GitHub actions/setup-node and add optionalDependencies handling
  .github/workflows/approved-with-labels.yml
  .github/workflows/bundle-size.yml
  .github/workflows/check-modified-assets.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/js-css-linting.yml
  .github/workflows/php-coding-standards.yml
  .github/workflows/php-js-e2e-tests.yml
  .github/workflows/project-management-automations.yml
  .github/workflows/release-pull-request.yml
  .github/workflows/unit-tests.yml
  .github/workflows/wordpress-deploy.yml
  package-lock.json
  package.json
Labels: status: ready to merge, type: enhancement, type: build, skip-changelog

#6019 Refactor BlockTemplateUtils
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, skip-changelog, priority: low, category: fse, 🔹 block-type: templates

#5839 Shopper → Checkout → Can choose payment option
  tests/e2e/fixtures/fixture-loaders.js
  tests/e2e/specs/shopper/checkout-payments.test.js
  tests/utils/shopper.js
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: checkout, category: tests

#6042 Critical flows: Shopper → Checkout → Can view empty checkout message
  tests/e2e/specs/shopper/checkout-empty.test.js
Labels: status: ready to merge, skip-changelog, category: tests

#6037 Shopper can place an order as logged in user
  tests/e2e/specs/shopper/checkout-place-order-as-guest.test.js
  tests/e2e/specs/shopper/checkout-place-order.test.js
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: checkout, category: tests

#6025 Shopper → Cart → Can update product quantity
  tests/e2e/specs/shopper/cart-update-product-quantity.test.js
  tests/utils/path-expressions.js
  tests/utils/shopper.js
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: cart, category: tests

#6080 Fix site editor E2E tests for Gutenberg latest
  .github/workflows/php-js-e2e-tests.yml
  package-lock.json
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/utils.js
Labels: status: ready to merge, type: bug, type: build, skip-changelog, category: tests

#6112 Add static keyword to function remove_theme_templates_with_custom_alternative
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, skip-changelog, category: fse, 🔹 block-type: templates

#6086 Mini Cart: Fix footer buttons hover style
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.tsx
  src/BlockTypes/MiniCartContents.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#6113 Convert Textarea component to TS
  assets/js/base/components/textarea/index.js
  assets/js/base/components/textarea/index.tsx
  assets/js/blocks/checkout/order-notes/index.js
Labels: skip-changelog, type: cooldown, type: technical debt

#6096 Filter Products by Attribute: Fix dropdown search case sensitivity
  assets/js/base/components/dropdown-selector/index.js
Labels: status: ready to merge

#6116 Shopper → Checkout → Can see warnings when form is incomplete
  tests/e2e/specs/shopper/checkout-form-warnings.test.js
  tests/utils/constants.js
  tests/utils/shopper.js
Labels: status: ready to merge

#6052 Fix: Mini Cart: Ability to choose the drawer behavior when user add products to cart
  assets/js/blocks/cart-checkout/mini-cart/block.tsx
  assets/js/blocks/cart-checkout/mini-cart/component-frontend.tsx
  assets/js/blocks/cart-checkout/mini-cart/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart/index.tsx
  tests/e2e/specs/backend/__fixtures__/mini-cart.fixture.json
  tests/e2e/specs/shopper/mini-cart.test.js
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: mini cart

#6127 Prepare the Mini Cart block for Feature Plugin
  assets/js/blocks/cart-checkout/mini-cart-contents/index.tsx
  assets/js/blocks/cart-checkout/mini-cart/index.tsx
  readme.txt
  src/BlockTypesController.php
Labels: status: ready to merge, type: enhancement, category: new block, ◼️ block: mini cart

#6102 Allow memoized filters to re-run if `defaultArg` changes
  packages/checkout/filter-registry/index.ts
Labels: status: ready to merge, type: bug, category: extensibility, ◼️ block: cart, ◼️ block: checkout

#6118 Convert `CheckoutOrderNotes` to TS
  assets/js/base/components/textarea/index.tsx
  assets/js/blocks/checkout/order-notes/index.tsx
Labels: status: ready to merge, category: refactor, skip-changelog, type: cooldown, type: technical debt

#6075 Critical flows: Shopper → Cart/Checkout → Can use express checkout
  tests/e2e/specs/shopper/cart-checkout-payments.test.js
  tests/utils/shopper.js
Labels: type: enhancement, skip-changelog, ◼️ block: cart, ◼️ block: checkout, category: tests

#6101 E2E tests for translated Cart & Checkout blocks
  tests/e2e/specs/shopper/cart-checkout-translations.test.js
  tests/utils/merchant.js
  tests/utils/run-cli-from-test.js
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: cart, ◼️ block: checkout, category: tests

#6115 Title to ts
  assets/js/base/components/title/index.tsx
Labels: status: ready to merge, skip-changelog, type: cooldown, type: technical debt

#6130 Mini Cart Contents: Refactor inner blocks styling using `currentColor`
  assets/js/blocks/cart-checkout/mini-cart-contents/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/editor.scss
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks-style.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-footer-block/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart-contents/inner-blocks/mini-cart-items-block/edit.tsx
  assets/js/blocks/cart-checkout/mini-cart/style.scss
  src/BlockTypes/MiniCartContents.php
Labels: status: ready to merge, category: refactor, skip-changelog, ◼️ block: mini cart

#6156 Remove button aligment from Featured Product and Featured Category blocks
  assets/js/blocks/featured-category/block.js
  assets/js/blocks/featured-product/block.js
Labels: status: ready to merge, ◼️ block: featured category, ◼️ block: featured product

#6164 Mini Cart block - fix translations handling
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, skip-changelog, ◼️ block: mini cart

#6157 Fix: Shopping Button default hover and focus style
  assets/js/blocks/cart-checkout/mini-cart/style.scss
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#5860 Shopper → Checkout → Can have different shipping and billing addresses
  tests/e2e/config/default.json
  tests/e2e/specs/shopper/checkout-different-addresses.test.js
  tests/utils/compatibility-notice.js
  tests/utils/constants.js
  tests/utils/index.js
  tests/utils/shopper.js
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: checkout, category: tests
