Repository woocommerce/woocommerce-blocks, pull requests merged in 2022-04, with the labels that each got.

#6173 Ensure e2e tests work with TS
  tests/e2e/config/jest.config.js
  tests/e2e/specs/frontend/legacy-template-blocks.test.ts
  tests/js/jest.config.json
Labels: status: ready to merge, category: refactor, skip-changelog, type: cooldown, category: tests

#6158 Mini Cart block - fix translations handling #6153
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, ◼️ block: mini cart

#6000 Add tests for the Mini Cart Block when it is added on the FSE editor.
  tests/e2e/specs/backend/mini-cart.test.js
  tests/e2e/utils.js
Labels: status: ready to merge, skip-changelog, category: tests, ◼️ block: mini cart

#6174 Shopper → Checkout → Can apply single-use coupon once
  tests/e2e/specs/shopper/checkout-single-use-coupon.test.js
  tests/e2e/utils.js
  tests/utils/shopper.js
Labels: type: enhancement, skip-changelog, ◼️ block: checkout, category: tests

#6131 Update `Product Title` link settings to match `Post Title`
  assets/js/atomic/blocks/product-elements/image/block.js
  assets/js/atomic/blocks/product-elements/title/attributes.ts
  assets/js/atomic/blocks/product-elements/title/block.tsx
  assets/js/atomic/blocks/product-elements/title/edit.tsx
  assets/js/atomic/blocks/product-elements/title/test/block.test.js
  assets/js/atomic/blocks/product-elements/title/types.ts
  assets/js/base/components/product-name/index.tsx
  assets/js/base/components/product-name/test/__snapshots__/index.js.snap
Labels: status: ready to merge, type: bug, 🔺 atomic-block

#6119 Try adding performance tests
  package.json
  tests/e2e/config/jest.config.js
  tests/e2e/config/performance-reporter.js
  tests/e2e/config/setup.js
  tests/e2e/specs/performance/cart.test.js
  tests/e2e/specs/shopper/cart-proceed-to-checkout.test.js
  tests/e2e/specs/shopper/cart-products.test.js
  tests/e2e/specs/shopper/cart-update-product-quantity.test.js
  tests/e2e/specs/shopper/checkout-payments.test.js
  tests/e2e/specs/shopper/checkout-place-order.test.js
  tests/e2e/utils.js
  tests/utils/constants.js
  tests/utils/index.js
  tests/utils/performance.ts
Labels: category: tests

#6146 Update Filter Products by Price block to work with PHP templates
  assets/js/blocks/price-filter/block.js
  package-lock.json
  package.json
  src/BlockTypes/ClassicTemplate.php
Labels: type: enhancement, ◼️ block: filter products by price, category: fse

#6128 Fix Actions and Filters documentation with broken links #5808
  bin/hook-docs/data/actions.json
  bin/hook-docs/data/filters.json
  bin/hook-docs/format-hook-doc/files.js
  docs/extensibility/actions.md
  docs/extensibility/filters.md
  docs/testing/releases/440.md
  docs/testing/releases/680.md
  docs/testing/releases/690.md
  docs/testing/releases/720.md
  package.json
  src/StoreApi/docs/cart.md
  src/StoreApi/docs/checkout.md
  src/StoreApi/docs/nonce-tokens.md
Labels: type: documentation, skip-changelog

#6189 Check for performance file existence before running reporter
  tests/e2e/config/performance-reporter.js
  tests/e2e/config/setup.js
Labels: status: needs review, type: bug, skip-changelog, category: tests

#6202 Increased Cart product quantity limit to 9999
  src/StoreApi/Utilities/QuantityLimits.php
Labels: status: ready to merge

#6167 Refactor: Style quantity input dynamically
  assets/js/base/components/quantity-selector/style.scss
Labels: status: ready to merge, type: bug, category: refactor, skip-changelog, ◼️ block: cart, category: styles, ◼️ block: mini cart

#6209 Prepare the Mini Cart block for WC Core release
  assets/js/blocks/mini-cart/edit.tsx
  assets/js/blocks/mini-cart/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-items-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-products-table-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-block/index.tsx
  bin/webpack-entries.js
  src/AssetsController.php
  src/BlockTypesController.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, skip-changelog, ◼️ block: mini cart

#6201 Fix: Mini Cart block isn't available in the Customizer > Widget
  src/BlockTypesController.php
Labels: status: needs review, type: bug, skip-changelog, ◼️ block: mini cart

#6159 Remove `useStoreNotices` and interact directly with data store instead
  assets/js/atomic/blocks/product-elements/add-to-cart/shared/add-to-cart-button.js
  assets/js/atomic/blocks/product-elements/button/block.js
  assets/js/base/context/hooks/cart/use-store-cart-coupons.ts
  assets/js/base/context/hooks/index.js
  assets/js/base/context/hooks/test/use-store-notices.js
  assets/js/base/context/hooks/use-store-add-to-cart.ts
  assets/js/base/context/hooks/use-store-notices.ts
  assets/js/base/context/providers/add-to-cart-form/form-state/index.js
  assets/js/base/context/providers/add-to-cart-form/form/submit/index.js
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/cart-checkout/checkout-state/index.tsx
  assets/js/base/context/providers/cart-checkout/payment-methods/payment-method-data-context.tsx
  assets/js/base/context/providers/cart-checkout/payment-methods/use-payment-method-registration.ts
  assets/js/base/context/providers/store-notices/components/store-notices-container.js
  assets/js/base/context/providers/store-notices/context.js
  assets/js/base/context/tsconfig.json
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/cart-express-payment.js
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/checkout-express-payment.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-error-boundary.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-options.js
  assets/js/blocks/cart-checkout-shared/payment-methods/saved-payment-method-options.js
  assets/js/blocks/cart/block.js
  assets/js/blocks/cart/inner-blocks/cart-order-summary-coupon-form/block.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-discount/block.tsx
  assets/js/blocks/cart/inner-blocks/filled-cart-block/frontend.tsx
  assets/js/blocks/checkout/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-coupon-form/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-discount/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-payment-block/frontend.tsx
  assets/js/blocks/products/all-products/block.js
  assets/js/blocks/single-product/block.js
  assets/js/types/type-defs/contexts.js
  assets/js/utils/notices.ts
  assets/js/utils/test/notices.js
Labels: status: ready to merge, skip-changelog, category: blocks, ◼️ block: cart, ◼️ block: checkout, type: technical debt

#6165 Fix/e2e tests timeout issue
  tests/e2e/specs/shopper/cart-checkout-payments.test.js
  tests/e2e/specs/shopper/cart-checkout-translations.test.js
  tests/e2e/specs/shopper/checkout-different-addresses.test.js
  tests/e2e/specs/shopper/checkout-form-warnings.test.js
  tests/e2e/specs/shopper/checkout-single-use-coupon.test.js
Labels: status: ready to merge, skip-changelog, category: tests

#6206 Tidy up and organise e2e tests
  tests/e2e/specs/shopper/cart-checkout-payments.test.js
  tests/e2e/specs/shopper/cart-checkout/cart.test.js
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/e2e/specs/shopper/cart-checkout/tax.test.js
  tests/e2e/specs/shopper/cart-checkout/translations.test.js
  tests/e2e/specs/shopper/cart-empty.test.js
  tests/e2e/specs/shopper/cart-proceed-to-checkout.test.js
  tests/e2e/specs/shopper/cart-products.test.js
  tests/e2e/specs/shopper/checkout-different-addresses.test.js
  tests/e2e/specs/shopper/checkout-empty.test.js
  tests/e2e/specs/shopper/checkout-form-warnings.test.js
  tests/e2e/specs/shopper/checkout-payments.test.js
  tests/e2e/specs/shopper/checkout-place-order.test.js
  tests/e2e/specs/shopper/checkout-shipping.test.js
  tests/e2e/specs/shopper/checkout-single-use-coupon.test.js
  tests/e2e/specs/shopper/mini-cart.test.js
  tests/utils/constants.js
  tests/utils/index.js
Labels: status: ready to merge, category: refactor, skip-changelog, category: tests

#5967 Remove the ToggleButtonControl in favor of ToggleGroupControl
  assets/js/atomic/blocks/product-elements/image/edit.js
  assets/js/blocks/active-filters/edit.js
  assets/js/blocks/attribute-filter/edit.js
  assets/js/blocks/price-filter/edit.js
  assets/js/blocks/product-categories/block.js
  assets/js/blocks/reviews/edit-utils.js
  assets/js/editor-components/toggle-button-control/README.md
  assets/js/editor-components/toggle-button-control/index.js
  assets/js/editor-components/toggle-button-control/screenshot.png
  assets/js/editor-components/toggle-button-control/style.scss
Labels: status: ready to merge, category: components

#5870 Decode HTML entities when formatting Store API error messages
  assets/js/base/utils/errors.js
Labels: status: ready to merge

#6122 Add Product endpoint to ExtendSchema
  docs/extensibility/available-endpoints-to-extend.md
  src/StoreApi/Schemas/ExtendSchema.php
  src/StoreApi/Schemas/V1/ProductSchema.php
  tests/php/StoreApi/Routes/Products.php
Labels: status: needs review, type: enhancement, category: rest-api, needs docs

#6224 Pass correct number of arguments to `woocommerce_blocks_checkout_update_cart_from_request`
  src/StoreApi/Routes/V1/Checkout.php
Labels: status: ready to merge, type: bug, category: rest-api, ◼️ block: checkout

#6195 Register missing C&C inner blocks and update fallback template for older C& C versions
  assets/js/blocks/cart/inner-blocks/cart-order-summary-heading/attributes.ts
  assets/js/blocks/cart/inner-blocks/cart-order-summary-heading/block.json
  assets/js/blocks/cart/inner-blocks/register-components.ts
  assets/js/blocks/checkout/inner-blocks/register-components.ts
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
Labels: status: ready to merge, type: blocker, skip-changelog

#6231 Fix/order summary sidebar css
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/style.scss
  assets/js/blocks/cart/test/block.js
  packages/checkout/components/totals/item/style.scss
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: cart, category: styles, category: tests

#6181 Enable more style options for the Featured Product block
  assets/css/abstracts/_mixins.scss
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/example.js
  assets/js/blocks/featured-product/index.js
  assets/js/blocks/featured-product/style.scss
  assets/js/blocks/featured-product/utils.js
  assets/js/utils/useThrottle.ts
  src/BlockTypes/FeaturedProduct.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, type: enhancement, category: blocks, ◼️ block: featured product, category: styles, 🔹 block-type: product

#6229 Fix: Shop page: Filter Products by Price block only works with Number of decimals set to 2
  assets/js/blocks/price-filter/block.js
Labels: status: ready to merge, type: bug, ◼️ block: filter products by price, category: fse

#6214 Shopper → Mini Cart → Can view translated mini cart contents block
  bin/wp-env-config.sh
  tests/e2e/specs/shopper/mini-cart.test.js
  tests/utils/merchant.js
  tests/utils/shopper.js
Labels: status: ready to merge, type: enhancement, skip-changelog, category: tests, ◼️ block: mini cart

#6248 Mini Cart Contents: Use block pattern to make the empty cart message translatable
  src/BlockTypes/MiniCart.php
  templates/parts/mini-cart.html
Labels: status: ready to merge, type: enhancement, category: i18n, skip-changelog, ◼️ block: mini cart

#6219 Add Product Search Results Template
  src/BlockTypes/ClassicTemplate.php
  src/Domain/Bootstrap.php
  src/Templates/ProductSearchResultsTemplate.php
  templates/templates/product-search-results.html
  tests/e2e/specs/backend/__snapshots__/site-editing-templates.test.js.snap
  tests/e2e/specs/backend/site-editing-templates.test.js
Labels: status: ready to merge

#6253 Revert "Prevent `Featured Product` block from breaking when product is out of stock + hidden from catalog (#6166)"
  assets/js/editor-components/utils/index.js
  assets/js/hocs/with-product-variations.js
Labels: status: ready to merge, type: bug, skip-changelog, category: blocks, ◼️ block: featured product

#6260 Improve caching plugin_dir_url() in Package.
  src/Domain/Package.php
Labels: status: ready to merge

#6230 Allow running e2e test individually
  package.json
  tests/e2e/config/jest.config.js
  tests/e2e/config/jest.performance.config.js
Labels: status: ready to merge, type: enhancement, skip-changelog, category: tests

#6268 Fix bug with server errors not showing in Cart/Checkout
  assets/js/base/context/providers/add-to-cart-form/form-state/index.js
  assets/js/base/context/providers/add-to-cart-form/form/submit/index.js
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/cart-checkout/checkout-state/index.tsx
  assets/js/blocks/cart/inner-blocks/filled-cart-block/frontend.tsx
Labels: status: ready to merge, category: rest-api, category: blocks, ◼️ block: cart, ◼️ block: checkout

#6270 Provide product filter blocks a method to know when to display.
  src/BlockTypes/AllProducts.php
  src/BlockTypes/ClassicTemplate.php
  src/Domain/Bootstrap.php
  src/Templates/ClassicTemplatesCompatibility.php
Labels: status: ready to merge, type: enhancement, skip-changelog, 🔹 block-type: filter blocks

#6267 Cart & Checkout translations test use nl_NL
  bin/wp-env-config.sh
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/e2e/specs/shopper/cart-checkout/translations.test.js
  tests/utils/shopper.js
Labels: status: ready to merge, skip-changelog, category: tests

#6263 Fix Featured Product block frontend mismatch
  src/BlockTypes/FeaturedProduct.php
Labels: status: ready to merge, type: blocker, skip-changelog, ◼️ block: featured product

#6280 E2E: Explain the reason for the addition language update command
  bin/wp-env-config.sh
Labels: status: ready to merge, skip-changelog, category: tests

#6264 Mini Cart: Support RTL languages
  assets/js/blocks/mini-cart/quantity-badge/style.scss
Labels: status: ready to merge, type: bug, category: i18n, good first issue, ◼️ block: mini cart

#6147 Critical flows: Shopper → Checkout → Can login to existing account and can create an account
  tests/e2e/specs/shopper/cart-checkout/account.test.js
Labels: status: ready to merge, skip-changelog, category: tests

#6276 Enable more style options for the Featured Category block
  assets/js/blocks/featured-category/block.js
  assets/js/blocks/featured-category/index.js
  assets/js/blocks/featured-category/style.scss
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/index.js
  assets/js/blocks/featured-product/style.scss
  src/BlockTypes/FeaturedCategory.php
  src/BlockTypes/FeaturedProduct.php
Labels: status: ready to merge

#6261 Make Filter Products by Stock block compatible with PHP rendered Classic Template block
  assets/js/blocks/attribute-filter/block.js
  assets/js/blocks/attribute-filter/utils.ts
  assets/js/blocks/stock-filter/block.js
  assets/js/blocks/stock-filter/utils.ts
  assets/js/utils/filters.ts
  assets/js/utils/index.ts
  bin/webpack-helpers.js
  src/BlockTypes/ClassicTemplate.php
  tests/js/jest.config.json
  tsconfig.base.json
Labels: status: ready to merge

#6245 Make `Filters Products by Price` work with `Active Filters` block
  assets/js/blocks/price-filter/block.js
Labels: status: ready to merge, type: bug, category: fse

#6152 Product Query: pass any product taxonomies existing in the URL parameters.
  src/StoreApi/Routes/V1/Products.php
  src/StoreApi/Utilities/ProductQuery.php
  src/StoreApi/docs/products.md
Labels: status: ready to merge, category: rest-api, type: task

#6287 Filter Products by Attribute: Fix the page reload which happens when clicking the filter button on PHP templates
  assets/js/blocks/attribute-filter/block.js
  assets/js/utils/attributes-query.js
Labels: status: ready to merge, type: bug, ◼️ block: filter products by attribute, category: fse

#6294 Fix attribute filter dropdown list z-index level
  assets/js/base/components/dropdown-selector/style.scss
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: filter products by attribute

#6298 Attribute Filter: Fix ESLint errors and warnings
  assets/js/blocks/attribute-filter/block.js
Labels: status: ready to merge, skip-changelog, type: task

#6295 Fix: Make Active Filters work with PHP templates
  assets/js/blocks/active-filters/active-attribute-filters.js
  assets/js/blocks/active-filters/block.js
  assets/js/blocks/active-filters/utils.js
  assets/js/blocks/attribute-filter/block.js
  assets/js/blocks/stock-filter/block.js
Labels: status: ready to merge, type: enhancement, ◼️ block: active product filters, category: fse

#6274 Show attributes in simple products and variable products
  src/StoreApi/Schemas/V1/ProductSchema.php
Labels: status: ready to merge, type: bug, category: rest-api

#6272 update Store API attributes docs to reflect the correct term
  src/StoreApi/docs/product-attributes.md
Labels: status: ready to merge, type: documentation, skip-changelog

#6288 Graduate draft orders
  docs/blocks/feature-flags-and-experimental-interfaces.md
  src/Domain/Services/DraftOrders.php
Labels: status: ready to merge, category: rest-api

#6317 Fix: Customizer fatal error for bundled woocommerce-blocks package
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug

#6316 Active Filters block: support Filter Products by Rating widget
  assets/js/blocks/active-filters/block.js
  assets/js/blocks/active-filters/utils.js
Labels: status: ready to merge, type: enhancement, ◼️ block: active product filters

#6315 Active Filters block: Clear All button work with all types of permalink settings.
  assets/js/blocks/active-filters/block.js
  assets/js/blocks/active-filters/utils.js
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: active product filters

#6324 Fix All Products block refreshing on Classic Themes.
  src/Templates/ClassicTemplatesCompatibility.php
Labels: status: ready to merge, type: bug, 🔹 block-type: templates

#6319 Active Filters: Add support for Filters Products by Rating widget
  assets/js/blocks/active-filters/utils.js
Labels: status: ready to merge, skip-changelog, ◼️ block: active product filters

#6291 Remove Mini Cart block from the list of experimental flags
  docs/blocks/feature-flags-and-experimental-interfaces.md
Labels: status: ready to merge, type: documentation, skip-changelog, ◼️ block: mini cart

#6299 Deprecate legacy filter widgets with block alternatives
  assets/js/blocks/active-filters/block.js
  assets/js/blocks/active-filters/index.js
  assets/js/blocks/attribute-filter/block.js
  assets/js/blocks/attribute-filter/index.js
  assets/js/blocks/price-filter/block.js
  assets/js/blocks/price-filter/index.js
  assets/js/blocks/stock-filter/block.js
  assets/js/blocks/stock-filter/test/block.js
  src/BlockTypesController.php
  src/Templates/ClassicTemplatesCompatibility.php
  tests/e2e/specs/backend/__fixtures__/filter-products-by-attribute.fixture.json
  tests/e2e/specs/backend/products-by-attribute.test.js
Labels: status: ready to merge, type: enhancement, ◼️ block: filter products by price, ◼️ block: filter products by attribute, ◼️ block: active product filters, ◼️ block: filter products by stock

#6336 Update to dev version: 7.6.0-dev
  package-lock.json
  package.json
  readme.txt
  src/Package.php
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, skip-changelog

#6332 Ensure Filter Products by Attribute block reloads the page when interacting with PHP templates
  assets/js/blocks/attribute-filter/block.js
Labels: status: ready to merge, type: bug, ◼️ block: filter products by attribute

#6333 Cleanup AttributeFilterBlock code
  assets/js/blocks/attribute-filter/block.js
Labels: status: ready to merge, category: refactor, skip-changelog, ◼️ block: products by attribute

#6341 Add new `alt` attribute to the `Featured Category` media settings
  assets/js/blocks/featured-category/block.js
  assets/js/blocks/featured-category/example.js
  assets/js/blocks/featured-category/index.js
  src/BlockTypes/FeaturedCategory.php
Labels: status: ready to merge, category: components, ◼️ block: featured category

#6308 Add new `alt` attribute to the `Featured Product` media settings
  assets/js/blocks/featured-product/block.js
  assets/js/blocks/featured-product/example.js
  assets/js/blocks/featured-product/index.js
  src/BlockTypes/FeaturedProduct.php
Labels: status: ready to merge, category: components, ◼️ block: featured product

#6296 Start using the `block.json` metadata file for the `Featured Product` block
  assets/js/blocks/featured-product/block.json
  assets/js/blocks/featured-product/index.js
  assets/js/blocks/featured-product/index.tsx
  bin/webpack-configs.js
  src/BlockTypes/FeaturedProduct.php
Labels: status: ready to merge, category: refactor, category: blocks, ◼️ block: featured product, 🔹 block-type: product, type: task, type: technical debt

#6300 Start using the `block.json` metadata file for the `Featured Category` block
  assets/js/blocks/featured-category/block.json
  assets/js/blocks/featured-category/index.js
  assets/js/blocks/featured-category/index.tsx
  bin/webpack-configs.js
  src/BlockTypes/FeaturedCategory.php
Labels: status: ready to merge, category: refactor, category: blocks, ◼️ block: featured category, 🔹 block-type: product, type: task, type: technical debt

#6293 Updates to release checklist and PR template to improve processes
  .github/patch-initial-checklist.md
  .github/pull_request_template.md
  .github/release-initial-checklist.md
Labels: status: ready to merge, type: documentation, skip-changelog
