Repository woocommerce/woocommerce-blocks, pull requests merged in 2022-09, with the labels that each got.

#7005 Product Search E2E tests
  tests/e2e/specs/backend/__fixtures__/product-search-legacy.fixture.json
  tests/e2e/specs/backend/__fixtures__/product-search.fixture.json
  tests/e2e/specs/backend/__snapshots__/product-search.test.js.snap
  tests/e2e/specs/backend/product-search-legacy.test.ts
  tests/e2e/specs/backend/product-search.test.js
  tests/e2e/specs/backend/product-search.test.ts
  tests/e2e/specs/shopper/product-search.test.ts
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product search, category: tests

#6911 Add to the Product Image block the support for the Product Query block
  assets/js/atomic/blocks/product-elements/image/attributes.ts
  assets/js/atomic/blocks/product-elements/image/block.js
  assets/js/atomic/blocks/product-elements/image/constants.js
  assets/js/atomic/blocks/product-elements/image/edit.js
  assets/js/atomic/blocks/product-elements/image/frontend.js
  assets/js/atomic/blocks/product-elements/image/index.js
  assets/js/atomic/blocks/product-elements/image/save.tsx
  assets/js/atomic/blocks/product-elements/image/supports.ts
  assets/js/atomic/blocks/product-elements/save.js
  assets/js/atomic/blocks/product-elements/shared/config.tsx
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/variations/product-query.tsx
  assets/js/blocks/product-query/variations/products-on-sale.tsx
  assets/js/shared/context/product-data-context.js
  assets/js/shared/hocs/with-product-data-context.js
  src/BlockTypes/AbstractBlock.php
  src/BlockTypes/AbstractProductGrid.php
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
  src/BlockTypes/ClassicTemplate.php
  src/BlockTypes/FeaturedItem.php
  src/BlockTypes/MiniCart.php
  src/BlockTypes/MiniCartContents.php
  src/BlockTypes/ProductCategories.php
  src/BlockTypes/ProductImage.php
  src/BlockTypes/ProductSearch.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, category: refactor, skip-changelog, 🔺 atomic-block

#7039 Fix pills in the `Filter by Attribute` block dropdown overlapping with the chevron
  assets/js/blocks/attribute-filter/style.scss
Labels: status: ready to merge, skip-changelog, 🔹 block-type: filter blocks, ◼️ block: filter products by attribute

#6992 Fix experimental interface document link in release initial checklist
  .github/release-initial-checklist.md
Labels: status: ready to merge, type: documentation, skip-changelog

#7050 Fix php format
  src/Package.php
Labels: status: ready to merge, skip-changelog

#7033 Fix corrupt Classic Template placeholders for specific products.
  assets/js/blocks/classic-template/constants.ts
  assets/js/blocks/classic-template/index.tsx
  assets/js/blocks/classic-template/test/utils.ts
  assets/js/blocks/classic-template/types.ts
  assets/js/blocks/classic-template/utils.ts
Labels: status: ready to merge, type: bug, 🔹 block-type: templates

#6990 Update `filter by attribute` skeleton design
  assets/js/base/components/filter-placeholder/style.scss
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/checkbox-filter.tsx
  assets/js/blocks/attribute-filter/style.scss
  assets/js/blocks/price-filter/style.scss
  assets/js/blocks/stock-filter/style.scss
Labels: status: ready to merge, 🔹 block-type: filter blocks, ◼️ block: filter products by attribute

#7074 Add default value to the $block parameter
  src/BlockTypes/AbstractBlock.php
  src/BlockTypes/AbstractProductGrid.php
Labels: status: ready to merge, type: bug, skip-changelog

#7076 Add steps to retrieve products variations in Store API docs
  src/StoreApi/docs/products.md
Labels: status: ready to merge, type: documentation, type: cooldown

#7078 Replace `gutenberg_build_query_vars_from_query_block` filter with `query_loop_block_query_vars`
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, skip-changelog, 🔹 block-type: product-query

#7046 Suppress unnecessary warnings for old namespace aliasing
  src/StoreApi/deprecated.php
Labels: status: ready to merge, category: refactor, type: cooldown

#7073 Fix checkbox label when count is zero
  assets/js/base/components/filter-element-label/index.tsx
Labels: status: ready to merge, type: bug, 🔹 block-type: filter blocks, ◼️ block: filter products by stock

#7088 Fix Remove button alignment in Filter by Attribute block
  assets/js/blocks/attribute-filter/style.scss
Labels: status: ready to merge, ◼️ block: filter products by attribute

#7087 Make Active filters texts bigger
  assets/js/base/components/chip/style.scss
  assets/js/blocks/active-filters/style.scss
Labels: status: ready to merge, ◼️ block: active product filters

#7083 Active Filters Loading Placeholders
  assets/js/base/hooks/index.js
  assets/js/base/hooks/use-is-mounted.ts
  assets/js/blocks/active-filters/active-attribute-filters.tsx
  assets/js/blocks/active-filters/block.tsx
  assets/js/blocks/active-filters/filter-placeholders.tsx
  assets/js/blocks/active-filters/style.scss
  assets/js/blocks/active-filters/utils.tsx
Labels: status: ready to merge, ◼️ block: active product filters

#7077 Add Apply button placeholders to filters and adjust title margins
  assets/js/base/components/filter-placeholder/style.scss
  assets/js/base/components/filter-submit-button/index.tsx
  assets/js/base/components/filter-submit-button/style.scss
  assets/js/base/components/price-slider/index.tsx
  assets/js/base/components/price-slider/style.scss
  assets/js/blocks/active-filters/style.scss
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/checkbox-filter.tsx
  assets/js/blocks/attribute-filter/style.scss
  assets/js/blocks/price-filter/style.scss
  assets/js/blocks/stock-filter/block.tsx
  assets/js/blocks/stock-filter/style.scss
  assets/js/blocks/stock-filter/test/__snapshots__/block.js.snap
Labels: status: ready to merge, 🔹 block-type: filter blocks, ◼️ block: filter products by price, ◼️ block: filter products by attribute, ◼️ block: active product filters, ◼️ block: filter products by stock

#7105 Fix `woocommerce-gutenberg-products-block.php` php formatting
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, skip-changelog

#7035 Update Active Filters "remove filter" icon to use Icon component
  assets/js/blocks/active-filters/style.scss
  assets/js/blocks/active-filters/utils.tsx
Labels: status: ready to merge, type: enhancement, needs design, ◼️ block: active product filters

#7036 Featured Items: Remove inline style defaults for color options
  assets/js/blocks/featured-items/featured-category/block.json
  assets/js/blocks/featured-items/featured-product/block.json
Labels: status: ready to merge, type: bug, ◼️ block: featured category, ◼️ block: featured product, category: styles

#7108 Correct broken *.md links
  README.md
  assets/js/base/components/README.md
  assets/js/data/schema/README.md
  assets/js/editor-components/README.md
  bin/hook-docs/data/actions.json
  bin/hook-docs/data/filters.json
  bin/hook-docs/format-hook-doc/files.js
  docs/README.md
  docs/contributors/components.md
  docs/contributors/contributing/getting-started.md
  docs/contributors/contributing/storybook-and-components.md
  docs/designers/theming/README.md
  docs/internal-developers/block-client-apis/README.md
  docs/internal-developers/block-client-apis/checkout/checkout-api.md
  docs/internal-developers/block-client-apis/checkout/checkout-flow-and-events.md
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  docs/internal-developers/testing/releases/260.md
  docs/internal-developers/testing/releases/270.md
  docs/internal-developers/testing/releases/820.md
  docs/internal-developers/testing/releases/821.md
  docs/internal-developers/testing/releases/830.md
  docs/internal-developers/testing/releases/831.md
  docs/internal-developers/testing/releases/840.md
  docs/internal-developers/translations/translation-management.md
  docs/internal-developers/translations/translations-in-FSE-templates.md
  docs/third-party-developers/extensibility/README.md
  docs/third-party-developers/extensibility/checkout-block/available-slot-fills.md
  docs/third-party-developers/extensibility/checkout-block/slot-fills.md
  docs/third-party-developers/extensibility/checkout-payment-methods/checkout-flow-and-events.md
  docs/third-party-developers/extensibility/checkout-payment-methods/filtering-payment-methods.md
  docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
  docs/third-party-developers/extensibility/hooks/actions.md
  docs/third-party-developers/extensibility/hooks/filters.md
  docs/third-party-developers/extensibility/rest-api/extend-rest-api-update-cart.md
  packages/checkout/filter-registry/README.md
  packages/checkout/slot/README.md
  packages/checkout/utils/README.md
Labels: type: documentation, skip-changelog

#7045 Improve public-facing texts and labels
  assets/js/atomic/blocks/product-elements/category-list/constants.tsx
  assets/js/atomic/blocks/product-elements/image/edit.js
  assets/js/atomic/blocks/product-elements/tag-list/constants.js
  assets/js/base/context/providers/add-to-cart-form/form-state/index.js
  assets/js/base/context/providers/add-to-cart-form/form/submit/index.js
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/cart-checkout/checkout-state/index.tsx
  assets/js/base/context/providers/cart-checkout/checkout-state/utils.ts
  assets/js/blocks/active-filters/active-attribute-filters.tsx
  assets/js/blocks/active-filters/block.json
  assets/js/blocks/active-filters/index.tsx
  assets/js/blocks/attribute-filter/block.json
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/edit.tsx
  assets/js/blocks/attribute-filter/index.tsx
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/cart-express-payment.js
  assets/js/blocks/cart-checkout-shared/payment-methods/no-payment-methods/index.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-error-boundary.js
  assets/js/blocks/cart/block.js
  assets/js/blocks/cart/inner-blocks/cart-express-payment-block/edit.tsx
  assets/js/blocks/checkout/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/attributes.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-express-payment-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/test/edit.js
  assets/js/blocks/classic-template/index.tsx
  assets/js/blocks/featured-items/featured-product/block.json
  assets/js/blocks/featured-items/featured-product/block.tsx
  assets/js/blocks/featured-items/inspector-controls.tsx
  assets/js/blocks/handpicked-products/edit-mode.tsx
  assets/js/blocks/mini-cart/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.json
  assets/js/blocks/price-filter/block.json
  assets/js/blocks/price-filter/edit.tsx
  assets/js/blocks/product-categories/block.js
  assets/js/blocks/product-category/edit-mode.tsx
  assets/js/blocks/product-search/edit.js
  assets/js/blocks/product-tag/block.js
  assets/js/blocks/products/all-products/edit.js
  assets/js/blocks/reviews/reviews-by-category/edit.js
  assets/js/blocks/reviews/reviews-by-product/index.js
  assets/js/blocks/stock-filter/edit.tsx
  assets/js/blocks/stock-filter/index.tsx
  assets/js/editor-components/error-placeholder/error-message.tsx
  assets/js/editor-components/grid-content-control/index.js
  assets/js/editor-components/grid-layout-control/index.js
  assets/js/editor-components/product-tag-control/index.js
  docs/internal-developers/testing/releases/790.md
  docs/internal-developers/translations/translation-loading.md
  docs/internal-developers/translations/translations-in-FSE-templates.md
  readme.txt
  src/BlockTypes/MiniCart.php
  src/Domain/Bootstrap.php
  src/Domain/Services/Email/CustomerNewAccount.php
  src/StoreApi/Routes/V1/ProductCollectionData.php
Labels: status: ready to merge, type: enhancement, category: accessibility, category: i18n, category: refactor

#7112 Fix pills in the Filter by Attribute block dropdown overlapping with the chevron (second attempt)
  assets/js/blocks/attribute-filter/style.scss
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: filter products by attribute, category: styles

#7111 Fix invisible Reset filter button in some themes
  assets/js/base/components/filter-reset-button/style.scss
Labels: status: ready to merge, type: bug, 🔹 block-type: filter blocks, category: styles

#7137 Fix e2e test - `Filter products by stock` block
  tests/e2e/specs/backend/filter-products-by-stock.test.js
Labels: status: ready to merge, skip-changelog, type: technical debt, ◼️ block: filter products by stock

#7058 Add stale labels to PRs, prevent PRs/issues with certain labels from being marked as stale and prevent closing of issues when stale
  .github/workflows/close-stale-issues.yml
Labels: status: ready to merge, type: build, skip-changelog

#7142 Run `site-editing-templates` test that does snapshot only when Gutenberg is disabled
  tests/e2e/config/setup.js
  tests/e2e/specs/backend/site-editing-templates.test.js
Labels: status: ready to merge, skip-changelog, category: tests

#7150 Remove unused CSS selectors from Filter blocks
  assets/js/blocks/attribute-filter/style.scss
  assets/js/blocks/stock-filter/style.scss
Labels: status: ready to merge, category: refactor, ◼️ block: filter products by attribute, ◼️ block: filter products by stock

#7149 Use the eslint config at the root of the repo
  .eslintrc.js
Labels: status: needs review, type: build

#7139 Make chevron clickable in Filter by Product block input
  assets/js/blocks/attribute-filter/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: products by attribute

#7109 Product Query: Fix pagination issue
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: product-query

#7141 Add Dependabot documentation
  docs/internal-developers/automations/README.md
  docs/internal-developers/automations/dependabot.md
Labels: status: ready to merge, type: documentation, skip-changelog

#6973 Fix: Inner blocks control position for Cart Block
  assets/js/blocks/cart/edit.js
  assets/js/blocks/cart/index.js
Labels: status: ready to merge, type: bug, ◼️ block: cart

#7101 Convert attribute filter to inner block
  assets/js/blocks/attribute-filter/block.json
  assets/js/blocks/attribute-filter/edit.tsx
  assets/js/blocks/attribute-filter/frontend.ts
  assets/js/blocks/attribute-filter/index.tsx
  assets/js/blocks/attribute-filter/inner-block-wrapper.tsx
  assets/js/blocks/attribute-filter/utils.ts
  assets/js/blocks/filter-wrapper/index.tsx
  assets/js/blocks/filter-wrapper/register-components.ts
Labels: status: ready to merge

#7156 Fix indentation on payment method integration documentation
  docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
Labels: status: ready to merge, type: documentation, skip-changelog

#7071 Update checkout-flow-and-events.md
  docs/third-party-developers/extensibility/checkout-payment-methods/checkout-flow-and-events.md
Labels: status: ready to merge, stale

#7152 Prevent Express Checkout block from being cut off
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/style.scss
  assets/js/blocks/checkout/styles/editor.scss
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#7100 Add step to release checklist to review and merge the WC core PR
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
Labels: status: ready to merge, skip-changelog, type: release, stale

#6800 fix: Markup is visible in checkout error notices
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/store-notices/components/style.scss
  assets/js/base/utils/errors.js
  assets/js/blocks/checkout/empty-cart/index.js
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
Labels: status: ready to merge, type: bug

#6645 Create Cross-Sells product list
  assets/js/atomic/blocks/product-elements/button/block.js
  assets/js/atomic/blocks/product-elements/image/block.js
  assets/js/atomic/blocks/product-elements/price/block.js
  assets/js/atomic/blocks/product-elements/rating/block.js
  assets/js/atomic/blocks/product-elements/sale-badge/block.js
  assets/js/atomic/blocks/product-elements/title/types.ts
  assets/js/base/context/hooks/cart/test/use-store-cart.js
  assets/js/base/context/hooks/cart/use-store-cart.ts
  assets/js/blocks/cart/cart-cross-sells-product-list/cart-cross-sells-product.tsx
  assets/js/blocks/cart/cart-cross-sells-product-list/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-block/block.json
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-block/edit.tsx
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-block/frontend.tsx
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-block/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/block.json
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/block.tsx
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/edit.tsx
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/editor.scss
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/frontend.tsx
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/style.scss
  assets/js/blocks/cart/inner-blocks/cart-items-block/edit.tsx
  assets/js/blocks/cart/inner-blocks/component-metadata.ts
  assets/js/blocks/cart/inner-blocks/index.tsx
  assets/js/blocks/cart/inner-blocks/register-components.ts
  assets/js/blocks/cart/style.scss
  assets/js/data/constants.ts
  assets/js/data/default-states.ts
  assets/js/previews/cart.ts
  assets/js/shared/context/product-data-context.js
  assets/js/types/type-defs/cart-response.ts
  assets/js/types/type-defs/cart.ts
  assets/js/types/type-defs/hooks.ts
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  docs/third-party-developers/extensibility/rest-api/available-endpoints-to-extend.md
  images/previews/beanie.jpg
  images/previews/collection.jpg
  images/previews/hoodie-with-logo.jpg
  images/previews/hoodie-with-pocket.jpg
  images/previews/hoodie-with-zipper.jpg
  images/previews/long-sleeve-tee.jpg
  images/previews/pennant.jpg
  images/previews/polo.jpg
  images/previews/tshirt.jpg
  packages/checkout/blocks-registry/types.ts
  storybook/__mocks__/woocommerce-base-hooks.js
Labels: status: ready to merge, category: new block, ◼️ block: cart

#6983 Create 2e2 tests for Cross-Sells block
  .prettierignore
  package.json
  tests/e2e/specs/backend/__fixtures__/cart.fixture.json
  tests/e2e/specs/backend/cart.test.js
  tests/e2e/specs/shopper/cart-checkout/cart.test.js
  tests/mocks/woo-test-helper/woo-test-helper.php
  tests/utils/shopper.js
Labels: status: ready to merge, category: new block, skip-changelog, ◼️ block: cart, category: tests

#7165 Fix failing unit test in `data/payment-methods/test/selectors`
  assets/js/data/payment-methods/test/selectors.js
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout, category: tests

#7188 Remove experimental flag from Cross-Sells block
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-block/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-items-block/edit.tsx
  assets/js/blocks/cart/inner-blocks/register-components.ts
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
Labels: status: ready to merge, category: new block, skip-changelog, ◼️ block: cart

#7146 Refactor `getValidationError` and `getValidationErrorId` selectors in `wc/store/validation` data store
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/attribute-select-control.js
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/components/cart-checkout/totals/coupon/index.tsx
  assets/js/base/components/combobox/index.tsx
  assets/js/base/components/text-input/validated-text-input.tsx
  assets/js/base/components/tsconfig.json
  assets/js/base/components/validation-input-error/index.tsx
  assets/js/base/context/hooks/use-validation.ts
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/test/frontend.js
  assets/js/data/checkout/constants.ts
  assets/js/data/checkout/reducers.ts
  assets/js/data/tsconfig.json
  assets/js/data/validation/reducers.ts
  assets/js/data/validation/selectors.ts
  assets/js/data/validation/test/selectors.ts
  package-lock.json
Labels: status: ready to merge, category: refactor, skip-changelog, category: blocks, ◼️ block: checkout

#7205 Switch to a permanent link in payment assets error.
  src/Payments/Api.php
Labels: type: documentation

#7044 Tests for the Checkout data store
  assets/js/data/checkout/actions.ts
  assets/js/data/checkout/reducers.ts
  assets/js/data/checkout/test/reducer.ts
Labels: status: ready to merge

#7085 Document the selectors for the wc/store/checkout data store
  docs/third-party-developers/extensibility/data-store/README.md
  docs/third-party-developers/extensibility/data-store/checkout.md
Labels: status: ready to merge, type: documentation, skip-changelog, ◼️ block: checkout

#7211 Use full link for WordPress resources when using wp_resource_hints
  src/AssetsController.php
Labels: status: ready to merge, type: bug, type: blocker, ◼️ block: checkout

#7209 Make sure people understand this it WP version
  .github/ISSUE_TEMPLATE/---bug-report.md
Labels: status: ready to merge

#7169 Refactor Product Query to use the latest Gutenberg APIs
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/inspector-controls.tsx
  assets/js/blocks/product-query/types.ts
  assets/js/blocks/product-query/utils.tsx
  assets/js/blocks/product-query/variations/product-query.tsx
  assets/js/blocks/product-query/variations/products-on-sale.tsx
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, category: refactor, skip-changelog, 🔹 block-type: product-query

#7145 Sanitize error message html
  assets/js/base/context/providers/store-notices/components/store-notices-container.js
  assets/js/base/context/providers/store-notices/components/style.scss
  package-lock.json
  package.json
Labels: status: ready to merge

#7084 Check tax display type before returning the tax lines
  src/StoreApi/Schemas/V1/CartSchema.php
Labels: status: ready to merge

#7225 Update Lockfile Since DOMPurify Addition.
  package-lock.json
Labels: status: ready to merge, skip-changelog, type: dependencies

#7047 Clean the top-level of the /build folder
  bin/webpack-configs.js
  src/Assets/Api.php
  src/BlockTypes/AbstractInnerBlock.php
Labels: status: ready to merge, type: build, category: refactor

#7177 Local pickup rates are always returned regardless of the shipping zone.
  src/Domain/Package.php
  src/Package.php
  src/StoreApi/Utilities/CartController.php
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout

#7226 Fix not enough margin for Filter blocks #7018
  assets/js/blocks/active-filters/style.scss
  assets/js/blocks/attribute-filter/style.scss
  assets/js/blocks/price-filter/style.scss
  assets/js/blocks/stock-filter/style.scss
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: filter blocks, ◼️ block: filter products by price, ◼️ block: filter products by attribute, ◼️ block: active product filters, category: styles, ◼️ block: filter products by stock

#6948 Add to the Product Button block the support for the Product Query block
  assets/js/atomic/blocks/product-elements/button/attributes.js
  assets/js/atomic/blocks/product-elements/button/edit.js
  assets/js/atomic/blocks/product-elements/button/index.js
  assets/js/atomic/blocks/product-elements/button/style.scss
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, category: refactor, skip-changelog, 🔺 atomic-block

#7162 [Product Query] Add support for the Filter By Price Block
  src/BlockTypes/PriceFilter.php
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: enhancement, skip-changelog, 🔹 block-type: product-query

#7240 Remove qm/debug action
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, category: refactor, 🔹 block-type: product-query

#7048 Add a Products by Rating filter block
  assets/js/base/components/filter-placeholder/style.scss
  assets/js/base/components/product-list/product-list.tsx
  assets/js/base/components/product-rating/index.tsx
  assets/js/base/components/product-rating/style.scss
  assets/js/base/context/hooks/collections/use-collection-data.ts
  assets/js/blocks/active-filters/block.tsx
  assets/js/blocks/rating-filter/attributes.ts
  assets/js/blocks/rating-filter/block.json
  assets/js/blocks/rating-filter/block.tsx
  assets/js/blocks/rating-filter/edit.tsx
  assets/js/blocks/rating-filter/frontend.ts
  assets/js/blocks/rating-filter/index.tsx
  assets/js/blocks/rating-filter/style.scss
  assets/js/blocks/rating-filter/types.ts
  assets/js/blocks/rating-filter/utils.ts
  bin/webpack-entries.js
  src/BlockTypes/RatingFilter.php
  src/BlockTypesController.php
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼ block: filter products by rating

#7154 Add filter for place order button label
  assets/js/base/context/hooks/tsconfig.json
  assets/js/base/context/hooks/use-checkout-submit.js
  assets/js/types/type-defs/payments.ts
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
  packages/checkout/filter-registry/index.ts
  tsconfig.json
Labels: status: ready to merge, type: enhancement, category: extensibility, ◼️ block: checkout

#7253 Fix failing filter test
  packages/checkout/filter-registry/test/index.js
Labels: status: ready to merge

#7213 Google Analytics - Support a GT tracking ID
  src/Domain/Services/GoogleAnalytics.php
Labels: status: ready to merge

#7255 Document the actions in the checkout and payment-method stores
  assets/js/base/context/providers/cart-checkout/checkout-events/index.tsx
  assets/js/data/checkout/action-types.ts
  assets/js/data/checkout/actions.ts
  assets/js/data/checkout/default-state.ts
  assets/js/data/checkout/reducers.ts
  assets/js/data/checkout/test/reducer.ts
  assets/js/data/checkout/thunks.ts
  assets/js/data/checkout/types.ts
  assets/js/data/payment-methods/actions.ts
  docs/internal-developers/block-client-apis/checkout/checkout-api.md
  docs/internal-developers/block-client-apis/checkout/checkout-flow-and-events.md
  docs/internal-developers/testing/cart-checkout/data-stores.md
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout, type: technical debt
