Repository woocommerce/woocommerce-blocks, pull requests merged in 2022-12, with the labels that each got.

#7794 Prevent Mini Cart loading the same script twice
  assets/js/base/utils/lazy-load-script.ts
  assets/js/base/utils/preload-script.ts
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#7734 Add product query support for Stock indicator block
  assets/js/atomic/blocks/product-elements/stock-indicator/attributes.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/edit.tsx
  assets/js/atomic/blocks/product-elements/stock-indicator/index.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/types.ts
  src/BlockTypes/ProductStockIndicator.php
Labels: status: ready to merge, category: refactor, skip-changelog, 🔺 atomic-block, 🔹 block-type: product-query

#7774 Add product query support for Product Summary block
  assets/js/atomic/blocks/product-elements/summary/attributes.ts
  assets/js/atomic/blocks/product-elements/summary/edit.tsx
  assets/js/atomic/blocks/product-elements/summary/index.ts
  assets/js/atomic/blocks/product-elements/summary/save.tsx
  assets/js/atomic/blocks/product-elements/summary/types.ts
  src/BlockTypes/ProductSummary.php
Labels: status: ready to merge, category: refactor, skip-changelog, 🔺 atomic-block, 🔹 block-type: product-query

#7797 Refactor/escape all values
  src/BlockTypes/FeaturedProduct.php
  src/BlockTypes/MiniCart.php
  src/BlockTypes/ProductButton.php
  src/BlockTypes/ProductCategoryList.php
  src/BlockTypes/ProductImage.php
  src/BlockTypes/ProductSaleBadge.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, category: refactor, skip-changelog, 🔺 atomic-block

#7795 Product Price: Fix alignment setting on the frontend
  assets/js/atomic/blocks/product-elements/price/attributes.js
  assets/js/atomic/blocks/product-elements/price/edit.js
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  src/BlockTypes/ProductPrice.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, type: bug

#7796 Product Query: make sure request params are set when enhancing REST query
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: product-query

#7813 Load `wc-blocks-registry` at the load of the page instead of lazy load it
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#7800 Hide the shipping address form from Checkout Block in Editor and rename the Billing Address label when "Force shipping to the customer billing address" is enabled.
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/attributes.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/constants.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/utils.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/edit.tsx
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#7785 Respect tax label in cart and checkout
  assets/js/base/components/cart-checkout/totals/footer-item/index.tsx
  assets/js/base/components/cart-checkout/totals/footer-item/stories/index.tsx
  assets/js/base/components/cart-checkout/totals/footer-item/test/__snapshots__/index.tsx.snap
  assets/js/base/components/cart-checkout/totals/footer-item/test/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout

#7819 Revert "Adds product query support for Category list block (#7675)"
  assets/js/atomic/blocks/product-elements/category-list/attributes.ts
  assets/js/atomic/blocks/product-elements/category-list/edit.tsx
  assets/js/atomic/blocks/product-elements/category-list/index.ts
  assets/js/atomic/blocks/product-elements/category-list/save.tsx
  assets/js/atomic/blocks/product-elements/category-list/types.ts
  checkstyle.xml
  src/BlockTypes/ProductCategoryList.php
Labels: status: ready to merge, type: blocker

#7818 Revert "Add product query support for Product Summary block"
  assets/js/atomic/blocks/product-elements/summary/attributes.ts
  assets/js/atomic/blocks/product-elements/summary/edit.tsx
  assets/js/atomic/blocks/product-elements/summary/index.ts
  assets/js/atomic/blocks/product-elements/summary/save.tsx
  assets/js/atomic/blocks/product-elements/summary/types.ts
  src/BlockTypes/ProductSummary.php
Labels: status: ready to merge, type: blocker

#7816 Add to Cart: Add support for the alignment setting
  assets/js/atomic/blocks/product-elements/button/attributes.js
  assets/js/atomic/blocks/product-elements/button/block.js
  assets/js/atomic/blocks/product-elements/button/edit.js
  assets/js/atomic/blocks/product-elements/button/style.scss
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, type: enhancement

#7790 Rating: Add support for alignment setting
  assets/js/atomic/blocks/product-elements/rating/attributes.ts
  assets/js/atomic/blocks/product-elements/rating/block.tsx
  assets/js/atomic/blocks/product-elements/rating/edit.tsx
  assets/js/atomic/blocks/product-elements/rating/types.ts
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge, type: enhancement, 🔹 block-type: product-query

#7682 Fix: Product Query editor preview with Stock Status setting
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: bug, type: blocker, 🔹 block-type: product-query

#7827 Add "Store Info Alternating Image and Text" commerce adjacent pattern
  patterns/store-info-alt-image-and-text.php
Labels: status: ready to merge, type: blocker, pattern: commerce-adjacent

#7840 Fix e2e tests after Product Query block name change
  tests/e2e/specs/backend/product-query.test.ts
  tests/e2e/specs/backend/product-query/advanced-filters.ts
  tests/e2e/specs/backend/product-query/atomic-blocks.test.ts
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
Labels: status: ready to merge, skip-changelog, category: styles

#7833 Product Query: Add a better default pattern
  assets/js/atomic/blocks/product-elements/price/block.js
  assets/js/atomic/blocks/product-elements/price/style.scss
  assets/js/blocks/product-query/constants.ts
Labels: status: ready to merge, skip-changelog, 🔹 block-type: product-query

#7815 Product Query: Polishing touches for the feature plugin debut
  assets/js/atomic/blocks/product-elements/price/block.js
  assets/js/atomic/blocks/product-elements/price/style.scss
  assets/js/atomic/blocks/product-elements/sku/index.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/index.ts
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/index.tsx
  assets/js/blocks/product-query/inspector-controls.tsx
  assets/js/blocks/product-query/style.scss
  assets/js/blocks/product-query/variations/product-query.tsx
  assets/js/editor-components/feedback-prompt/index.js
  assets/js/icons/index.js
  assets/js/icons/library/stacks.tsx
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  tests/e2e/specs/backend/product-query.test.ts
  tests/e2e/specs/backend/product-query/advanced-filters.ts
  tests/e2e/specs/backend/product-query/atomic-blocks.test.ts
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
Labels: status: ready to merge, type: enhancement, type: blocker, 🔹 block-type: product-query

#7814 Add "Product Hero 2 Column 2 Row" commerce adjacent pattern.
  patterns/product-hero-2-col-2-row.php
Labels: status: ready to merge, type: blocker, pattern: commerce-adjacent

#7841 Add missing i18n support to pattern
  patterns/store-info-alt-image-and-text.php
Labels: status: ready to merge, type: bug, category: i18n, skip-changelog

#7812 Add "Just Arrived Full Hero" commerce adjacent pattern
  patterns/just-arrived-full-hero.php
Labels: status: ready to merge, type: blocker, pattern: commerce-adjacent

#7836 Product Query: create variation of `core/post-title` as a Product Query inner block
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/index.tsx
  assets/js/blocks/product-query/variations/elements/product-title.tsx
Labels: status: ready to merge, type: enhancement, type: blocker, category: new block, skip-changelog, 🔹 block-type: product-query

#7852 Fix Query Loop crash when an icon of a variation is registered with src attribute
  assets/js/blocks/product-query/variations/product-query.tsx
  assets/js/blocks/product-query/variations/products-on-sale.tsx
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, 🔹 block-type: product-query

#7755 Improve inline validation to avoid invalid server pushes
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/block.tsx
  assets/js/data/cart/push-changes.ts
  packages/checkout/components/text-input/validated-text-input.tsx
Labels: status: ready to merge, ◼️ block: checkout

#7859 Fix validated text input tests
  packages/checkout/components/text-input/test/validated-text-input.tsx
Labels: status: ready to merge, skip-changelog

#7849 Convert radio-control-accordion component to TypeScript
  assets/js/base/components/radio-control-accordion/index.js
  assets/js/base/components/radio-control-accordion/index.tsx
  assets/js/base/components/radio-control/types.ts
Labels: status: ready to merge, type: enhancement, skip-changelog

#7811 Fix payment store performance by getting a focused selector
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-methods.js
  assets/js/blocks/cart-checkout-shared/payment-methods/saved-payment-method-options.js
  assets/js/data/payment/selectors.ts
Labels: status: ready to merge, category: refactor, skip-changelog

#7792 Product Query: implement compatibility with Filter by Rating block
  src/BlockTypes/ProductQuery.php
  src/BlockTypes/RatingFilter.php
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tests/e2e/specs/shopper/filter-products-by-rating.test.ts
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
Labels: status: ready to merge, skip-changelog, ◼ block: filter by rating, 🔹 block-type: product-query

#7871 Add Pickup Location Blank Slate
  assets/js/extensions/shipping-methods/pickup-location/location-settings.tsx
  assets/js/extensions/shipping-methods/shared-components/sortable-table/index.tsx
Labels: status: ready to merge, skip-changelog

#7747 Product Query unit tests
  tests/php/BlockTypes/ProductQuery.php
  tests/php/mocks/ProductQueryMock.php
Labels: status: ready to merge, skip-changelog, category: tests, 🔹 block-type: product-query

#7888 ValidatedTextInput fields should validate on mount
  docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
  packages/checkout/components/text-input/validated-text-input.tsx
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
Labels: status: ready to merge, skip-changelog

#7762 Fix Global Styles Block Icon Color for Mini Cart
  assets/js/icons/library/mini-cart-alt.tsx
Labels: status: ready to merge, ◼️ block: mini cart

#7858 Clarify that the extend class in Store API is for schema
  src/StoreApi/README.md
Labels: status: ready to merge, type: documentation, skip-changelog

#7832 Update MiniCart.php to fix price total amount on page load prices are including tax
  src/BlockTypes/MiniCart.php
Labels: type: bug, ◼️ block: mini cart

#7912 Fix Markdown lint errors
  docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
  src/StoreApi/README.md
Labels: status: ready to merge, type: documentation, category: refactor, skip-changelog

#7906 Fix: encode and decode term slug to support non-ASCII terms
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/utils.ts
Labels: status: ready to merge, type: bug, ◼️ block: filter by attribute

#7887 Update GH token to fine grained token
  .github/workflows/automate-team-review-assignment-config.yml
Labels: type: build, skip-changelog

#7708 Document the selectors for the wc/store/cart data store
  docs/third-party-developers/extensibility/data-store/README.md
  docs/third-party-developers/extensibility/data-store/cart.md
Labels: status: ready to merge, type: documentation, ◼️ block: cart

#7914 Product Elements: Fix block settings
  assets/css/style.scss
  assets/js/atomic/blocks/product-elements/price/index.js
  assets/js/base/hooks/use-typography-props.ts
  src/BlockTypes/ProductButton.php
  src/BlockTypes/ProductPrice.php
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge, type: bug, 🔺 atomic-block

#7641 Product Query - Enable "Inherit Query from template" option
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/editor.scss
  assets/js/blocks/product-query/inspector-controls.tsx
  assets/js/blocks/product-query/types.ts
  assets/js/blocks/product-query/utils.tsx
  assets/js/blocks/product-query/variations/product-query.tsx
  src/BlockTypes/ProductQuery.php
  tests/e2e/config/jest.config.js
  tests/e2e/specs/shopper/product-query/product-query-with-templates.test.ts
  tests/e2e/specs/shopper/product-query/utils.ts
Labels: status: ready to merge, category: tests, 🔹 block-type: templates, 🔹 block-type: product-query

#7763 Filter by Rating Block > Display a notice in the editor if the store has no products with ratings
  assets/js/blocks/rating-filter/block.tsx
Labels: status: ready to merge, type: bug, ◼ block: filter by rating

#7771 Add dropdown version of Filter by Rating
  assets/js/base/components/product-rating/index.tsx
  assets/js/blocks/attribute-filter/edit.tsx
  assets/js/blocks/attribute-filter/style.scss
  assets/js/blocks/attribute-filter/test/block.tsx
  assets/js/blocks/rating-filter/block.json
  assets/js/blocks/rating-filter/block.tsx
  assets/js/blocks/rating-filter/edit.tsx
  assets/js/blocks/rating-filter/style.scss
  assets/js/blocks/rating-filter/test/block.tsx
  assets/js/blocks/rating-filter/types.ts
  assets/js/blocks/rating-filter/utils.ts
  assets/js/blocks/shared/styles/style.scss
  tests/e2e/specs/backend/attribute-filter.test.js
  tests/e2e/specs/backend/rating-filter.test.js
Labels: status: ready to merge

#7857 Product Query: Add patterns
  assets/css/style.scss
  assets/js/atomic/blocks/product-elements/button/style.scss
  assets/js/atomic/blocks/product-elements/button/supports.ts
  assets/js/blocks/product-query/constants.ts
  patterns/product-query-1-1-image-4-column-products-row.php
  patterns/product-query-3-column-product-row.php
  patterns/product-query-4-column-product-row.php
  patterns/product-query-large-image-product-gallery.php
  patterns/product-query-minimal-5-column-products-row.php
  patterns/product-query-minimal-product-list.php
  patterns/product-query-product-gallery.php
  patterns/product-query-product-list-with-1-1-images.php
  patterns/product-query-product-list-with-full-product-description.php
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, 🔹 block-type: product-query

#7733 Edit Proceed to Checkout button
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/attributes.tsx
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/block.tsx
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/constants.tsx
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/edit.tsx
Labels: status: ready to merge

#7817 Make mini cart buttons editable
  assets/js/base/components/button/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/attributes.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/constants.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/attributes.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/constants.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/index.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: mini cart

#7831 Add dropdown version of Filter by Stock Status
  assets/js/blocks/attribute-filter/test/block.tsx
  assets/js/blocks/stock-filter/block.json
  assets/js/blocks/stock-filter/block.tsx
  assets/js/blocks/stock-filter/edit.tsx
  assets/js/blocks/stock-filter/preview.tsx
  assets/js/blocks/stock-filter/style.scss
  assets/js/blocks/stock-filter/test/__snapshots__/block.tsx.snap
  assets/js/blocks/stock-filter/test/block.js
  assets/js/blocks/stock-filter/test/block.tsx
  assets/js/blocks/stock-filter/types.ts
  assets/js/blocks/stock-filter/utils.ts
  tests/e2e/specs/backend/stock-filter.test.js
Labels: status: ready to merge

#7947 Atomic Blocks: fix ancestor definition
  assets/js/atomic/blocks/product-elements/button/index.js
  assets/js/atomic/blocks/product-elements/image/index.ts
  assets/js/atomic/blocks/product-elements/price/index.js
  assets/js/atomic/blocks/product-elements/rating/index.ts
  assets/js/atomic/blocks/product-elements/sale-badge/index.ts
  assets/js/atomic/blocks/product-elements/shared/config.tsx
  assets/js/atomic/blocks/product-elements/sku/index.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/index.ts
Labels: status: ready to merge, type: bug, skip-changelog, 🔺 atomic-block

#7949 Product Query: Add `Sorted by title` preset.
  assets/js/blocks/product-query/inspector-controls/popular-presets.tsx
Labels: status: ready to merge, type: bug, 🔹 block-type: product-query

#7879 Refactor `useForcedLayout` to subscribe to store changes and to batch block insertions
  assets/js/blocks/cart-checkout-shared/use-forced-layout.ts
Labels: status: ready to merge, category: refactor, skip-changelog, category: blocks, ◼️ block: cart, ◼️ block: checkout

#7843 Make place order button editable
  assets/js/base/components/cart-checkout/place-order-button/index.tsx
  assets/js/base/components/cart-checkout/return-to-cart-button/index.tsx
  assets/js/base/context/hooks/use-checkout-submit.js
  assets/js/blocks/checkout/inner-blocks/checkout-actions-block/attributes.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-actions-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-actions-block/constants.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-actions-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-actions-block/index.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout

#7941 Remove account creation setting from Checkout block
  assets/js/blocks/checkout/block.json
  assets/js/blocks/checkout/block.tsx
  assets/js/blocks/checkout/context.ts
  assets/js/blocks/checkout/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/attributes.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/edit.tsx
  assets/js/blocks/checkout/types.ts
  tests/e2e/specs/shopper/cart-checkout/account.test.js
Labels: status: ready to merge, type: enhancement, category: blocks, ◼️ block: checkout

#7937 Filter By Stock: Add E2E for the Product Query Block
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
Labels: status: ready to merge, skip-changelog, category: tests, ◼️ block: filter by stock, 🔹 block-type: product-query

#7829 Handle multiple packages coming from slots
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/style.scss
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-rate-selector.js
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  docs/third-party-developers/extensibility/checkout-block/available-slot-fills.md
  packages/checkout/components/order-shipping-packages/index.js
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: cart, ◼️ block: checkout

#7881 Convert cart-checkout/totals/shipping component to TypeScript.
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/package-rates.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/has-shipping-rate.ts
  assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-rate-selector.tsx
Labels: status: needs review, type: enhancement, skip-changelog, ◼️ block: cart, ◼️ block: checkout

#7958 Handle Local Pickup Selection in the Cart
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/style.scss
  assets/js/base/components/cart-checkout/shipping-rates-control-package/types.ts
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control/types.ts
  assets/js/base/components/cart-checkout/shipping-rates-control/utils.ts
  assets/js/base/components/radio-control/style.scss
  assets/js/base/context/hooks/shipping/index.js
  assets/js/base/context/hooks/shipping/types.ts
  assets/js/base/context/hooks/shipping/use-select-shipping-rate.ts
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
  assets/js/base/context/providers/cart-checkout/shipping/index.js
  assets/js/base/utils/derive-selected-shipping-rates.ts
  assets/js/blocks/cart/style.scss
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  packages/checkout/components/index.js
  packages/checkout/components/store-notice/index.tsx
  packages/checkout/components/store-notice/style.scss
  storybook/__mocks__/woocommerce-base-hooks.js
Labels: skip-changelog, ◼️ block: checkout

#7935 Store API Cart Docs Update
  src/StoreApi/docs/cart.md
Labels: status: ready to merge, type: documentation

#7961 Remove Legacy Webpack Configs along with FallbackModuleDirectoryWebpackPlugin
  assets/js/legacy/README.md
  bin/fallback-module-directory-webpack-plugin.js
  webpack.config.js
Labels: status: ready to merge, type: technical debt

#7938 Add notice on quantity change and update `wc/store/cart` to use thunks
  assets/js/base/context/hooks/cart/use-store-cart-coupons.ts
  assets/js/data/cart/action-types.ts
  assets/js/data/cart/actions.ts
  assets/js/data/cart/controls.js
  assets/js/data/cart/index.ts
  assets/js/data/cart/notify-quantity-changes.ts
  assets/js/data/cart/reducers.ts
  assets/js/data/cart/resolvers.ts
  assets/js/data/cart/selectors.ts
  assets/js/data/cart/test/notify-quantity-changes.ts
  assets/js/data/cart/test/reducers.js
  assets/js/data/cart/test/resolvers.js
  assets/js/data/cart/test/resolvers.ts
  assets/js/data/cart/thunks.ts
  assets/js/data/cart/utils.ts
  assets/js/data/collections/resolvers.js
  assets/js/data/collections/test/resolvers.js
  assets/js/data/mapped-types.ts
  assets/js/data/shared-controls.ts
  assets/js/previews/cart.ts
  src/StoreApi/Routes/V1/CartItemsByKey.php
  src/StoreApi/Utilities/CartController.php
  src/StoreApi/Utilities/QuantityLimits.php
  tests/php/StoreApi/Routes/CartItems.php
Labels: status: ready to merge, category: refactor, category: blocks, ◼️ block: cart, type: technical debt

#7968 Update MD editor config
  .editorconfig
  docs/README.md
  src/StoreApi/docs/cart.md
Labels: status: ready to merge, type: documentation

#7953 Remove country and state autocomplete fields
  assets/js/base/components/country-input/country-input.tsx
  assets/js/base/components/state-input/state-input.tsx
Labels: status: ready to merge, ◼️ block: checkout

#7883 Respect core settings for showing the Checkout block
  assets/js/base/components/block-error-boundary/types.ts
  assets/js/base/components/sidebar-layout/style.scss
  assets/js/blocks/checkout/block.tsx
  assets/js/settings/shared/default-constants.ts
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#7975 Fix overriding `archive-product` when saving a fallback template
  src/BlockTemplatesController.php
Labels: status: ready to merge

#7992 Remove opinionated styles from Button component on TT3 and Zaino themes
  assets/js/base/components/button/index.tsx
  assets/js/base/components/button/style.scss
  assets/js/blocks/mini-cart/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout, category: styles, ◼️ block: mini cart

#7970 Rename configurateFilterProductsByAttributeBlock() to configureAttributeFilterBlock()
  tests/e2e/specs/shopper/active-filters.test.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: filter by attribute

#8001 Remove feature flag from Products block
  assets/js/blocks/product-query/variations/product-query.tsx
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
Labels: status: ready to merge, type: enhancement, 🔹 block-type: product-query

#7936 Convert Reviews component to TypeScript
  assets/js/base/components/reviews/index.js
  assets/js/base/components/reviews/review-list-item/index.tsx
  assets/js/base/components/reviews/review-list/index.tsx
  assets/js/base/components/reviews/review-sort-select/index.tsx
  assets/js/base/components/reviews/types.ts
  assets/js/base/components/sort-select/index.tsx
  assets/js/blocks/reviews/editor-block.js
  assets/js/blocks/reviews/frontend-block.js
  checkstyle.xml
Labels: status: ready to merge, skip-changelog, 🔹 block-type: reviews

#7973 Create merge comments action
  .github/comments-aggregator/README.md
  .github/comments-aggregator/action.yml
  .github/comments-aggregator/index.js
  .github/comments-aggregator/screenshot.png
  .github/comments-aggregator/utils.js
  .github/compare-assets/action.yml
  .github/compare-assets/index.js
  .github/monitor-typescript-errors/action.yml
  .github/monitor-typescript-errors/index.js
  .github/monitor-typescript-errors/utils/markdown.js
  .github/workflows/check-modified-assets.yml
  .github/workflows/generate-zip.yml
  .github/workflows/typescript-monitoring.yml
Labels: status: ready to merge, type: enhancement, skip-changelog, type: cooldown

#8009 Enable Product SKU and Product Stock Indicator in Core
  assets/js/atomic/blocks/product-elements/sku/index.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/index.ts
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
Labels: status: ready to merge, type: enhancement

#8010 Fix: workflows using comment-aggregator are failing on trunk
  .github/comments-aggregator/README.md
  .github/comments-aggregator/action.yml
  .github/comments-aggregator/index.js
  .github/comments-aggregator/utils.js
Labels: status: ready to merge, type: bug, skip-changelog

#7966 Revert #7504 for ProductButton.php to avoid loading unnecessary JS files
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, skip-changelog, 🔺 atomic-block, 🔹 block-type: product-query

#7540 Convert product-elements/rating to TypeScript
  assets/js/atomic/blocks/product-elements/add-to-cart/edit.tsx
  assets/js/atomic/blocks/product-elements/category-list/attributes.ts
  assets/js/atomic/blocks/product-elements/image/attributes.ts
  assets/js/atomic/blocks/product-elements/image/test/block.test.tsx
  assets/js/atomic/blocks/product-elements/rating/attributes.ts
  assets/js/atomic/blocks/product-elements/rating/constants.tsx
  assets/js/atomic/blocks/product-elements/rating/edit.tsx
  assets/js/atomic/blocks/product-elements/rating/index.ts
  assets/js/atomic/blocks/product-elements/rating/types.ts
  assets/js/atomic/blocks/product-elements/sale-badge/attributes.ts
  assets/js/atomic/blocks/product-elements/sku/attributes.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/attributes.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/block.tsx
  assets/js/atomic/blocks/product-elements/summary/attributes.ts
  assets/js/atomic/blocks/product-elements/tag-list/attributes.ts
  assets/js/atomic/blocks/product-elements/title/attributes.ts
  assets/js/base/components/block-error-boundary/block-error.tsx
  assets/js/base/components/block-error-boundary/types.ts
  assets/js/blocks/single-product/block.tsx
  assets/js/blocks/single-product/edit/index.tsx
  assets/js/blocks/single-product/edit/layout-editor.tsx
  assets/js/editor-components/edit-product-link/index.tsx
  assets/js/previews/cart.ts
  assets/js/shared/context/product-data-context.tsx
  assets/js/types/type-defs/product-response.ts
  checkstyle.xml
Labels: status: ready to merge, type: enhancement, type: cooldown

#8006 Refactor View Switcher to use Block Attributes
  assets/js/base/context/providers/editor-context.js
  assets/js/base/context/providers/editor-context.tsx
  assets/js/blocks/cart-checkout-shared/index.js
  assets/js/blocks/cart-checkout-shared/use-view-switcher.tsx
  assets/js/blocks/cart-checkout-shared/view-switcher/index.tsx
  assets/js/blocks/cart-checkout-shared/view-switcher/switcher.tsx
  assets/js/blocks/cart-checkout-shared/view-switcher/types.ts
  assets/js/blocks/cart-checkout-shared/view-switcher/utils.ts
  assets/js/blocks/cart/attributes.js
  assets/js/blocks/cart/edit.js
  assets/js/blocks/mini-cart/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/index.tsx
  assets/js/blocks/single-product/attributes.js
  assets/js/types/type-defs/contexts.js
  package-lock.json
  package.json
Labels: status: ready to merge, ◼️ block: cart, ◼️ block: mini cart

#7876 Add 'Customer Account' block
  assets/js/blocks/customer-account/block.json
  assets/js/blocks/customer-account/block.tsx
  assets/js/blocks/customer-account/edit.tsx
  assets/js/blocks/customer-account/editor.scss
  assets/js/blocks/customer-account/index.tsx
  assets/js/blocks/customer-account/sidebar-settings.tsx
  assets/js/blocks/customer-account/style.scss
  assets/js/blocks/customer-account/types.ts
  assets/js/icons/index.js
  assets/js/icons/library/customer-account-style-alt.tsx
  assets/js/icons/library/customer-account-style.tsx
  assets/js/icons/library/customer-account.tsx
  assets/js/settings/shared/settings-init.ts
  bin/webpack-entries.js
  src/Assets/AssetDataRegistry.php
  src/BlockTypes/CustomerAccount.php
  src/BlockTypesController.php
  tests/e2e/specs/backend/customer-account.js
Labels: status: ready to merge

#7955 Update @wordpress/e2e-test-utils package
  package-lock.json
  package.json
  tests/e2e/specs/backend/product-query/advanced-filters.ts
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tests/e2e/specs/shopper/filter-products-by-rating.test.ts
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
  tests/e2e/specs/shopper/product-query/product-query-with-templates.test.ts
  tests/e2e/specs/shopper/product-query/utils.ts
  tests/e2e/utils.js
Labels: status: ready to merge, skip-changelog, type: dependencies, category: tests

#7944 Add `Customer account` to patterns
  assets/js/blocks/customer-account/block.tsx
  assets/js/blocks/customer-account/sidebar-settings.tsx
  assets/js/blocks/customer-account/style.scss
  patterns/footer-large-dark.php
  patterns/footer-large.php
  patterns/footer-simple-dark.php
  patterns/footer-simple.php
  patterns/footer-with-2-menus-dark.php
  patterns/footer-with-2-menus.php
  patterns/header-essential-dark.php
  patterns/header-essential.php
  patterns/header-large-dark.php
  patterns/header-large.php
  patterns/header-minimal-dark.php
  patterns/header-minimal.php
  src/BlockTypes/CustomerAccount.php
Labels: status: ready to merge

#8019 Simplify @woocommerce/types imports
  assets/js/atomic/blocks/product-elements/image/test/block.test.tsx
  assets/js/base/components/cart-checkout/payment-method-icons/common-icons.ts
  assets/js/base/components/cart-checkout/payment-method-icons/index.tsx
  assets/js/base/components/cart-checkout/payment-method-icons/utils.ts
  assets/js/base/components/cart-checkout/product-details/index.tsx
  assets/js/base/components/cart-checkout/product-metadata/index.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/package-rates.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/render-package-rate-option.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/base/components/cart-checkout/totals/discount/index.tsx
  assets/js/base/components/cart-checkout/totals/discount/stories/index.tsx
  assets/js/base/components/cart-checkout/totals/footer-item/index.tsx
  assets/js/base/components/cart-checkout/totals/footer-item/test/index.tsx
  assets/js/base/components/product-list/product-list-item/utils.tsx
  assets/js/base/components/product-list/types.ts
  assets/js/base/context/hooks/payment-methods/use-payment-methods.ts
  assets/js/base/context/hooks/shipping/use-select-shipping-rate.ts
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
  assets/js/base/context/hooks/use-validation.ts
  assets/js/base/utils/derive-selected-shipping-rates.ts
  assets/js/base/utils/get-icons-from-payment-methods.ts
  assets/js/base/utils/legacy-events.ts
  assets/js/blocks-registry/payment-methods/assertions.ts
  assets/js/blocks-registry/payment-methods/express-payment-method-config.ts
  assets/js/blocks-registry/payment-methods/extensions-config.ts
  assets/js/blocks-registry/payment-methods/payment-method-config-helper.ts
  assets/js/blocks-registry/payment-methods/payment-method-config.tsx
  assets/js/blocks-registry/payment-methods/registry.ts
  assets/js/blocks-registry/payment-methods/test/payment-method-config.tsx
  assets/js/blocks/cart/cart-cross-sells-product-list/cart-cross-sells-product.tsx
  assets/js/blocks/cart/cart-cross-sells-product-list/index.tsx
  assets/js/blocks/cart/cart-line-items-table/cart-line-item-row.tsx
  assets/js/blocks/cart/cart-line-items-table/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  assets/js/blocks/single-product/block.tsx
  assets/js/blocks/single-product/edit/layout-editor.tsx
  assets/js/data/cart/push-changes.ts
  assets/js/data/cart/resolvers.ts
  assets/js/data/cart/test/notify-quantity-changes.ts
  assets/js/data/cart/thunks.ts
  assets/js/data/cart/utils.ts
  assets/js/data/payment/actions.ts
  assets/js/data/payment/default-state.ts
  assets/js/data/payment/test/check-payment-methods.tsx
  assets/js/data/payment/types.ts
  assets/js/data/payment/utils/check-payment-methods.ts
  assets/js/data/payment/utils/set-default-payment-method.ts
  assets/js/settings/shared/settings-init.ts
  assets/js/types/type-defs/cart.ts
  assets/js/types/type-defs/hooks.ts
  assets/js/types/type-defs/index.ts
  packages/checkout/components/totals/fees/index.tsx
  packages/checkout/components/totals/taxes/index.tsx
  packages/checkout/utils/extension-cart-update.ts
Labels: status: ready to merge, type: enhancement, category: refactor, skip-changelog

#7995 Use Woo Blocks instead Woo core translation within the Checkout order Summary block
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
  tests/e2e/specs/shopper/cart-checkout/translations.test.js
Labels: status: ready to merge, type: bug, category: i18n, category: tests

#7683 Convert product-elements/price to TypeScript
  assets/js/atomic/blocks/product-elements/price/attributes.ts
  assets/js/atomic/blocks/product-elements/price/block.tsx
  assets/js/atomic/blocks/product-elements/price/constants.tsx
  assets/js/atomic/blocks/product-elements/price/edit.js
  assets/js/atomic/blocks/product-elements/price/edit.tsx
  assets/js/atomic/blocks/product-elements/price/index.ts
  assets/js/atomic/blocks/product-elements/price/supports.ts
  assets/js/atomic/blocks/product-elements/price/types.ts
  assets/js/atomic/blocks/product-elements/sale-badge/index.ts
  assets/js/atomic/blocks/product-elements/sale-badge/types.ts
  assets/js/atomic/blocks/product-elements/sku/index.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/index.ts
  assets/js/base/components/formatted-monetary-amount/index.tsx
  assets/js/base/components/product-price/index.tsx
  assets/js/settings/shared/settings-init.ts
  assets/js/shared/context/product-data-context.tsx
  checkstyle.xml
Labels: status: ready to merge, type: enhancement, type: cooldown

#8003 Convert product-elements/button to TypeScript
  assets/js/atomic/blocks/product-elements/button/attributes.ts
  assets/js/atomic/blocks/product-elements/button/block.tsx
  assets/js/atomic/blocks/product-elements/button/constants.tsx
  assets/js/atomic/blocks/product-elements/button/edit.tsx
  assets/js/atomic/blocks/product-elements/button/index.ts
  assets/js/atomic/blocks/product-elements/button/types.ts
  assets/js/atomic/blocks/product-elements/category-list/attributes.ts
  assets/js/atomic/blocks/product-elements/image/attributes.ts
  assets/js/atomic/blocks/product-elements/rating/attributes.ts
  assets/js/atomic/blocks/product-elements/sale-badge/attributes.ts
  assets/js/atomic/blocks/product-elements/sale-badge/types.ts
  assets/js/atomic/blocks/product-elements/sku/attributes.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/attributes.ts
  assets/js/atomic/blocks/product-elements/summary/attributes.ts
  assets/js/atomic/blocks/product-elements/tag-list/attributes.ts
  assets/js/atomic/blocks/product-elements/title/attributes.ts
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/attributes.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/edit.tsx
Labels: status: ready to merge, type: enhancement, type: cooldown

#8038 Fix dev version strings
  package-lock.json
  package.json
  readme.txt
  src/Package.php
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge

#8029 Don't check for validation on pushChange
  assets/js/data/cart/push-changes.ts
Labels: status: ready to merge, type: bug, type: blocker

#7929 Display "Add review" link if there's no product rating
  assets/js/atomic/blocks/product-elements/rating/block.tsx
  assets/js/atomic/blocks/product-elements/rating/edit.tsx
  assets/js/atomic/blocks/product-elements/rating/editor.scss
  assets/js/atomic/blocks/product-elements/rating/style.scss
  assets/js/atomic/blocks/product-elements/sku/index.ts
  src/BlockTypes/AbstractProductGrid.php
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge, type: enhancement, 🔺 atomic-block

#8023 Move annotation from incorrect place to the function it describes
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/utils.ts
Labels: status: ready to merge, ◼️ block: filter by attribute, type: technical debt

#7412 Highlight incompatible payment gateways
  assets/js/blocks/cart-checkout-shared/sidebar-notices/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-payment-block/edit.tsx
  assets/js/data/payment/action-types.ts
  assets/js/data/payment/actions.ts
  assets/js/data/payment/default-state.ts
  assets/js/data/payment/reducers.ts
  assets/js/data/payment/selectors.ts
  assets/js/data/payment/test/reducers.js
  assets/js/editor-components/default-notice/index.tsx
  assets/js/editor-components/external-link-card/editor.scss
  assets/js/editor-components/external-link-card/index.tsx
  assets/js/editor-components/incompatible-payment-gateways-notice/editor.scss
  assets/js/editor-components/incompatible-payment-gateways-notice/index.tsx
  assets/js/icons/index.js
  assets/js/icons/library/alert.tsx
  assets/js/types/type-defs/payments.ts
Labels: status: ready to merge, needs design, ◼️ block: cart, ◼️ block: checkout, plugin incompatibility

#8042 9.1.1 testing steps: move testing steps for PR #7909 and #7914 under 'Feature plugin'
  docs/internal-developers/testing/releases/911.md
Labels: status: ready to merge, type: documentation, skip-changelog

#7782 PHP 8.2: fix "Using ${var} in strings is deprecated, use {$var} instead"
  src/StoreApi/RoutesController.php
  src/StoreApi/SchemaController.php
Labels: category: rest-api

#7496 Replace additional instance of wp_is_block_theme() with wc_current_theme_is_fse_theme()
  src/BlockTypes/ProductImage.php
Labels: type: bug, skip-changelog, 🔺 atomic-block

#8045 Make each Bundle Analyzer report open in new tab with the proper title
  bin/webpack-configs.js
Labels: status: ready to merge, type: enhancement, type: build, category: performance

#8050 Update E2E tests for Gutenberg 14.8.x
  tests/e2e/specs/backend/cart.test.js
  tests/e2e/specs/backend/mini-cart.test.js
  tests/e2e/utils.js
Labels: status: ready to merge

#8052 Update the docs with more details about external dependencies and wordpress-components alias
  docs/contributors/contributing/javascript-build-system.md
Labels: status: ready to merge, type: build, type: documentation

#8028 Include the types of Jest customer matchers for unit tests
  assets/js/blocks/rating-filter/test/block.tsx
  tests/js/jest.config.json
  tests/js/setup-after-env.ts
  tsconfig.json
Labels: status: ready to merge, type: build, type: technical debt, category: tests

#7838 Product Query: create variation of `core/post-template` as a Product Query inner block
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/index.tsx
  assets/js/blocks/product-query/variations/elements/product-template.tsx
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
Labels: status: ready to merge, type: enhancement, category: new block, 🔹 block-type: product-query

#7926 Product Query: Remove the “Products on Sale” Product Query variation
  assets/js/blocks/product-query/index.tsx
  assets/js/blocks/product-query/types.ts
  assets/js/blocks/product-query/variations/products-on-sale.tsx
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  tests/e2e/specs/backend/product-query.test.ts
Labels: status: ready to merge, skip-changelog, 🔹 block-type: product-query
