Repository woocommerce/woocommerce-blocks, pull requests merged in 2022-11, with the labels that each got.

#7543 Convert product-elements/sale-badge to TypeScript
  assets/js/atomic/blocks/product-elements/sale-badge/attributes.ts
  assets/js/atomic/blocks/product-elements/sale-badge/block.tsx
  assets/js/atomic/blocks/product-elements/sale-badge/constants.tsx
  assets/js/atomic/blocks/product-elements/sale-badge/edit.tsx
  assets/js/atomic/blocks/product-elements/sale-badge/index.js
  assets/js/atomic/blocks/product-elements/sale-badge/index.ts
  assets/js/atomic/blocks/product-elements/sale-badge/support.ts
  assets/js/atomic/blocks/product-elements/sale-badge/types.ts
Labels: status: ready to merge, type: enhancement, type: cooldown

#7533 Convert product-elements/sku to TypeScript
  assets/js/atomic/blocks/product-elements/sku/attributes.ts
  assets/js/atomic/blocks/product-elements/sku/block.tsx
  assets/js/atomic/blocks/product-elements/sku/constants.tsx
  assets/js/atomic/blocks/product-elements/sku/edit.tsx
  assets/js/atomic/blocks/product-elements/sku/index.ts
  assets/js/atomic/blocks/product-elements/sku/types.ts
Labels: status: ready to merge, type: enhancement, type: cooldown

#7538 Convert product-elements/tag-list to TypeScript
  assets/js/atomic/blocks/product-elements/tag-list/attributes.ts
  assets/js/atomic/blocks/product-elements/tag-list/block.tsx
  assets/js/atomic/blocks/product-elements/tag-list/constants.tsx
  assets/js/atomic/blocks/product-elements/tag-list/edit.tsx
  assets/js/atomic/blocks/product-elements/tag-list/index.ts
  assets/js/atomic/blocks/product-elements/tag-list/supports.ts
  assets/js/atomic/blocks/product-elements/tag-list/types.ts
Labels: status: ready to merge, type: enhancement, type: cooldown

#7564 Fix: add missing export for Product Sale Badge
  assets/js/atomic/blocks/product-elements/sale-badge/block.tsx
Labels: status: ready to merge, skip-changelog, 🔺 atomic-block

#7251 [Product Query] Add support for the Filter Products By Stock block
  src/BlockTypes/ProductQuery.php
  src/BlockTypes/StockFilter.php
Labels: skip-changelog, 🔹 block-type: product-query

#7257 [Product Query] Fix filter block data counter
  assets/js/base/context/hooks/collections/use-collection-data.ts
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/price-filter/block.tsx
  assets/js/blocks/stock-filter/block.tsx
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, skip-changelog, 🔹 block-type: product-query

#6798 Use backslashes to fix webpack build on windows
  bin/webpack-configs.js
Labels: status: ready to merge, type: bug, type: build

#6106 Add CI for monitoring TypeScript errors
  .distignore
  .github/monitor-typescript-errors/action.yml
  .github/monitor-typescript-errors/index.js
  .github/monitor-typescript-errors/utils/airtable.js
  .github/monitor-typescript-errors/utils/github.js
  .github/monitor-typescript-errors/utils/markdown.js
  .github/monitor-typescript-errors/utils/xml.js
  .github/workflows/typescript-monitoring.yml
  assets/js/base/components/tsconfig.json
  assets/js/base/hooks/tsconfig.json
  assets/js/data/tsconfig.json
  assets/js/icons/tsconfig.json
  assets/js/settings/blocks/tsconfig.json
  assets/js/settings/shared/tsconfig.json
  checkstyle.xml
  package-lock.json
  package.json
  packages/tsconfig.json
  tsconfig.json
Labels: status: ready to merge, type: enhancement, category: refactor, skip-changelog

#7569 Run the Monitor TypeScript job on trunk branch
  .github/workflows/typescript-monitoring.yml
Labels: category: refactor

#7570 Run Monitor TypeScript job on trunk branch
  .github/monitor-typescript-errors/index.js
  checkstyle.xml
Labels: category: refactor, skip-changelog

#7556 Fix ESLint errors
  .vscode/storybook.code-snippets
  assets/js/atomic/blocks/product-elements/rating/edit.tsx
  assets/js/base/components/button/stories/index.tsx
  assets/js/base/components/cart-checkout/totals/coupon/stories/index.tsx
  assets/js/base/components/cart-checkout/totals/discount/stories/index.tsx
  assets/js/base/components/cart-checkout/totals/footer-item/stories/index.tsx
  assets/js/base/components/chip/stories/chip.stories.tsx
  assets/js/base/components/chip/stories/removable-chip.stories.tsx
  assets/js/base/components/country-input/stories/index.tsx
  assets/js/base/components/form-token-field/stories/index.tsx
  assets/js/base/components/price-slider/stories/index.tsx
  assets/js/base/components/product-name/stories/index.tsx
  assets/js/base/components/product-price/stories/index.tsx
  assets/js/base/components/quantity-selector/stories/index.tsx
  assets/js/base/components/read-more/stories/index.tsx
  assets/js/blocks/active-filters/edit.tsx
  assets/js/blocks/cart-checkout-shared/block-settings/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  assets/js/blocks/classic-template/index.tsx
  assets/js/blocks/classic-template/utils.ts
  assets/js/blocks/handpicked-products/types.ts
  assets/js/blocks/product-query/index.tsx
  assets/js/blocks/products-by-attribute/types.ts
  assets/js/blocks/stock-filter/block.tsx
  assets/js/editor-components/error-placeholder/stories/error-message.tsx
  assets/js/editor-components/error-placeholder/stories/error-placeholder.tsx
  assets/js/editor-components/external-link-card/stories/index.tsx
  assets/js/icons/stories/index.tsx
  assets/js/utils/sanitize-html.ts
  packages/checkout/components/checkbox-control/stories/index.tsx
  packages/checkout/components/totals/fees/stories/index.tsx
  packages/checkout/components/totals/item/stories/index.tsx
  packages/checkout/components/totals/subtotal/stories/index.tsx
  packages/checkout/components/totals/taxes/stories/index.tsx
  storybook/README.md
Labels: status: ready to merge

#7495 Update ProductSchema description for attributes
  src/StoreApi/Schemas/V1/ProductSchema.php
Labels: status: ready to merge, type: enhancement, category: rest-api, skip-changelog

#7520 Improvements to the 'Update user-facing documentation as needed' step in the release checklist
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
Labels: status: ready to merge, type: documentation, skip-changelog, type: release

#7575 Filter by Rating: Add E2E tests
  assets/js/base/components/product-rating/index.tsx
  tests/e2e/specs/backend/rating-filter.test.js
  tests/e2e/specs/shopper/filter-products-by-rating.test.ts
Labels: skip-changelog

#7442 Update release checklists to include checks for WC PR
  .github/patch-initial-checklist.md
  .github/patch-release-pull-request.md
  .github/release-initial-checklist.md
  .github/release-pull-request.md
Labels: status: ready to merge, skip-changelog

#7577 Active Filters: Fix active filter grouping for Ratings and Stock Status
  assets/js/blocks/active-filters/block.tsx
  checkstyle.xml
Labels: status: ready to merge, ◼️ block: active filters, ◼️ block: filter by stock, ◼ block: filter by rating

#7580 Filter by Rating: Remove the Feature Plugin flag
  assets/js/blocks/filter-wrapper/index.tsx
  assets/js/blocks/rating-filter/index.tsx
  checkstyle.xml
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
Labels: status: ready to merge, ◼ block: filter by rating

#5962 Experiment: Add Rate Limits to Store API
  assets/js/data/shared-controls.ts
  package-lock.json
  src/StoreApi/Authentication.php
  src/StoreApi/Routes/V1/AbstractCartRoute.php
  src/StoreApi/Utilities/RateLimits.php
  src/StoreApi/docs/rate-limiting.md
  tests/php/StoreApi/RateLimitsTests.php
Labels: status: ready to merge, category: rest-api, category: performance

#7552 Prevent padding from placeholder instructions to be overriden
  assets/js/blocks/attribute-filter/edit.tsx
  assets/js/blocks/attribute-filter/style.scss
Labels: status: ready to merge

#7566 Convert product-elements/summary to TypeScript
  assets/js/atomic/blocks/product-elements/summary/attributes.js
  assets/js/atomic/blocks/product-elements/summary/attributes.ts
  assets/js/atomic/blocks/product-elements/summary/block.tsx
  assets/js/atomic/blocks/product-elements/summary/constants.tsx
  assets/js/atomic/blocks/product-elements/summary/edit.js
  assets/js/atomic/blocks/product-elements/summary/edit.tsx
  assets/js/atomic/blocks/product-elements/summary/index.ts
  assets/js/atomic/blocks/product-elements/summary/supports.ts
  assets/js/atomic/blocks/product-elements/summary/types.ts
  checkstyle.xml
Labels: status: ready to merge, type: enhancement, type: cooldown

#7519 Store API: Add missing documentation for reviews, categories, and tags
  docs/third-party-developers/extensibility/rest-api/available-endpoints-to-extend.md
  src/StoreApi/README.md
  src/StoreApi/docs/product-categories.md
  src/StoreApi/docs/product-reviews.md
  src/StoreApi/docs/product-tags.md
Labels: status: ready to merge, type: documentation, skip-changelog

#7507 Fix E2E errors with debounced `updatePaymentMethods` function
  assets/js/data/cart/index.ts
  assets/js/data/cart/update-payment-methods.ts
Labels: status: ready to merge, type: build, skip-changelog, category: performance, category: tests

#7539 Update notices documentation
  docs/internal-developers/block-client-apis/checkout/checkout-api.md
  docs/internal-developers/block-client-apis/notices.md
Labels: status: ready to merge, type: documentation, skip-changelog

#7592 Fix: use correct type specifier for rating HTML
  assets/js/base/components/product-rating/index.tsx
Labels: status: needs review, type: bug, skip-changelog, ◼ block: filter by rating

#7597 Fix `markdownlint` violation
  docs/third-party-developers/extensibility/rest-api/available-endpoints-to-extend.md
Labels: status: ready to merge, category: refactor, skip-changelog

#7598 Add a link to check WC core minimum WP supported version in the release checklist
  .github/release-initial-checklist.md
Labels: status: ready to merge, skip-changelog, type: release

#7328 Use className parameter to set wrapper class for product details
  assets/js/base/components/cart-checkout/product-details/index.tsx
Labels: status: ready to merge, type: enhancement, category: blocks, ◼️ block: cart

#7482 E2E: Product Query: Testing atomic blocks
  assets/js/atomic/blocks/product-elements/image/index.js
  checkstyle.xml
  tests/e2e/specs/backend/product-query/atomic-blocks.test.ts
  tests/e2e/utils.js
  tests/utils/get-fixture-products-data.ts
  tests/utils/index.js
  tests/utils/insert-inner-block.ts
  tests/utils/selectors.ts
Labels: status: ready to merge, skip-changelog, 🔺 atomic-block, category: tests, 🔹 block-type: product-query

#7544 Add milestone only when the PR is merged
  .github/workflows/approved-with-labels.yml
  .github/workflows/merged-with-labels.yml
Labels: status: ready to merge, skip-changelog, github_actions

#7605 Fix TypeScript errors in `CartLineItemRow`
  assets/js/blocks/cart/cart-line-items-table/cart-line-item-row.tsx
  checkstyle.xml
Labels: status: ready to merge, category: refactor, skip-changelog, category: blocks, ◼️ block: cart, type: technical debt

#7636 Revert "Add milestone only when the PR is merged"
  .github/workflows/approved-with-labels.yml
  .github/workflows/merged-with-labels.yml
Labels: status: ready to merge, skip-changelog, github_actions

#7593 TS monitor: Update comment instead of create a new one
  .github/monitor-typescript-errors/index.js
  .github/monitor-typescript-errors/utils/github.js
Labels: status: ready to merge, type: enhancement, skip-changelog

#7528 Add PHP8 Unit Testing
  .github/workflows/php-coding-standards.yml
  .github/workflows/unit-tests.yml
  .wp-env.json
  bin/.htaccess
  composer.json
  composer.lock
  package-lock.json
  package.json
  src/Migration.php
  tests/php/Assets/AssetDataRegistry.php
  tests/php/BlockTypes/Cart.php
  tests/php/Bootstrap/MainFile.php
  tests/php/Domain/Services/DeleteDraftOrders.php
  tests/php/Helpers/TestValidateSchema.php
  tests/php/Migration.php
  tests/php/Registry/Container.php
  tests/php/StoreApi/ControllerTests.php
  tests/php/StoreApi/ExtendSchemaTests.php
  tests/php/StoreApi/Formatters/TestCurrencyFormatter.php
  tests/php/StoreApi/Formatters/TestFormatters.php
  tests/php/StoreApi/Formatters/TestHtmlFormatter.php
  tests/php/StoreApi/Formatters/TestMoneyFormatter.php
  tests/php/StoreApi/RateLimitsTests.php
  tests/php/StoreApi/Routes/Batch.php
  tests/php/StoreApi/Routes/Cart.php
  tests/php/StoreApi/Routes/CartCoupons.php
  tests/php/StoreApi/Routes/CartExtensions.php
  tests/php/StoreApi/Routes/CartItems.php
  tests/php/StoreApi/Routes/Checkout.php
  tests/php/StoreApi/Routes/ControllerTestCase.php
  tests/php/StoreApi/Routes/ProductAttributeTerms.php
  tests/php/StoreApi/Routes/ProductAttributes.php
  tests/php/StoreApi/Routes/ProductCollectionData.php
  tests/php/StoreApi/Routes/Products.php
  tests/php/StoreApi/Utilities/ProductQueryFilters.php
  tests/php/Utils/BlockTemplateUtilsTest.php
Labels: status: ready to merge, skip-changelog, github_actions

#7650 Updated rate-limiting example snippet
  src/StoreApi/docs/rate-limiting.md
Labels: type: documentation, skip-changelog

#7644 Remove UPDATE_LEGACY_CART_FRAGMENTS
  assets/js/base/context/hooks/cart/use-store-cart-item-quantity.ts
  assets/js/base/utils/legacy-events.ts
  assets/js/data/cart/action-types.ts
  assets/js/data/cart/actions.ts
  assets/js/data/cart/controls.js
  checkstyle.xml
Labels: status: ready to merge

#7643 Remove paymentStatuses, isDoingExpressPayment and isExpressPaymentMethodActive from the payment store state
  assets/js/base/context/hooks/use-checkout-submit.js
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/cart-express-payment.js
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/checkout-express-payment.js
  assets/js/data/payment/default-state.ts
  assets/js/data/payment/reducers.ts
  assets/js/data/payment/test/reducers.js
  assets/js/data/payment/types.ts
  docs/third-party-developers/extensibility/data-store/payment.md
Labels: status: ready to merge, skip-changelog, ◼️ block: cart, ◼️ block: checkout, type: technical debt

#7385 Add Product Query Support for Atomic SKU Block
  assets/js/atomic/blocks/product-elements/sku/attributes.ts
  assets/js/atomic/blocks/product-elements/sku/block.tsx
  assets/js/atomic/blocks/product-elements/sku/edit.tsx
  assets/js/atomic/blocks/product-elements/sku/index.ts
  assets/js/atomic/blocks/product-elements/sku/types.ts
  checkstyle.xml
  src/BlockTypes/ProductSKU.php
Labels: status: ready to merge, category: refactor, skip-changelog, 🔺 atomic-block, 🔹 block-type: product-query

#7640 Display correct block template when filtering by attribute
  src/BlockTemplatesController.php
  src/Templates/ProductAttributeTemplate.php
Labels: status: ready to merge, type: bug

#7664 Fix error when trying to access the queried object when it's null
  src/BlockTemplatesController.php
  src/Templates/ProductAttributeTemplate.php
Labels: status: ready to merge, skip-changelog, 🔹 block-type: templates

#7581 React Based Local Pickup Settings Screen
  assets/js/extensions/payment-methods/bacs/constants.js
  assets/js/extensions/payment-methods/bacs/index.js
  assets/js/extensions/payment-methods/cheque/constants.js
  assets/js/extensions/payment-methods/cheque/index.js
  assets/js/extensions/payment-methods/cod/constants.js
  assets/js/extensions/payment-methods/cod/index.js
  assets/js/extensions/payment-methods/paypal/constants.js
  assets/js/extensions/payment-methods/paypal/index.js
  assets/js/extensions/shipping-methods/pickup-location/edit-location/form.tsx
  assets/js/extensions/shipping-methods/pickup-location/edit-location/index.tsx
  assets/js/extensions/shipping-methods/pickup-location/edit-location/state-control.tsx
  assets/js/extensions/shipping-methods/pickup-location/general-settings.tsx
  assets/js/extensions/shipping-methods/pickup-location/index.js
  assets/js/extensions/shipping-methods/pickup-location/location-settings.tsx
  assets/js/extensions/shipping-methods/pickup-location/save.tsx
  assets/js/extensions/shipping-methods/pickup-location/settings-context.tsx
  assets/js/extensions/shipping-methods/pickup-location/settings-page.tsx
  assets/js/extensions/shipping-methods/pickup-location/types.ts
  assets/js/extensions/shipping-methods/pickup-location/utils.ts
  assets/js/extensions/shipping-methods/shared-components/index.ts
  assets/js/extensions/shipping-methods/shared-components/settings-card/index.tsx
  assets/js/extensions/shipping-methods/shared-components/settings-modal/index.tsx
  assets/js/extensions/shipping-methods/shared-components/settings-section/index.tsx
  assets/js/extensions/shipping-methods/shared-components/sortable-table/index.tsx
  bin/webpack-configs.js
  bin/webpack-entries.js
  package-lock.json
  package.json
  src/Domain/Bootstrap.php
  src/Shipping/PickupLocation.php
  src/Shipping/ShippingController.php
  tests/e2e/specs/merchant/local-pickup.test.ts
Labels: status: ready to merge

#7674 Bump version number of @types/wordpress__blocks
  checkstyle.xml
  package-lock.json
  package.json
Labels: status: ready to merge, skip-changelog, type: dependencies

#7567 Convert product-elements/stock-indicator to TypeScript
  assets/js/atomic/blocks/product-elements/stock-indicator/attributes.js
  assets/js/atomic/blocks/product-elements/stock-indicator/attributes.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/block.tsx
  assets/js/atomic/blocks/product-elements/stock-indicator/constants.tsx
  assets/js/atomic/blocks/product-elements/stock-indicator/edit.tsx
  assets/js/atomic/blocks/product-elements/stock-indicator/index.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/supports.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/types.ts
  checkstyle.xml
Labels: status: ready to merge, type: enhancement, type: cooldown

#7666 Refactor the payment status
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/cart-checkout/payment-events/index.tsx
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment-methods.js
  assets/js/data/payment/action-types.ts
  assets/js/data/payment/actions.ts
  assets/js/data/payment/constants.ts
  assets/js/data/payment/default-state.ts
  assets/js/data/payment/reducers.ts
  assets/js/data/payment/selectors.ts
  assets/js/data/payment/set-default-payment-method.ts
  assets/js/data/payment/test/set-default-payment-method.ts
  assets/js/data/payment/thunks.ts
  assets/js/data/payment/types.ts
  assets/js/types/type-defs/payment-method-interface.ts
  checkstyle.xml
  docs/internal-developers/block-client-apis/checkout/checkout-flow-and-events.md
  docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
  docs/third-party-developers/extensibility/data-store/payment.md
Labels: status: ready to merge, category: refactor, skip-changelog, ◼️ block: checkout, type: technical debt

#7658 Make loading placeholder colors match the current font color
  assets/css/abstracts/_mixins.scss
  assets/js/base/components/filter-placeholder/style.scss
  checkstyle.xml
Labels: status: ready to merge

#7554 E2E: Fixing failed tests with Gutenberg
  package-lock.json
  package.json
  tests/e2e/specs/backend/__snapshots__/site-editing-templates.test.js.snap
  tests/e2e/specs/backend/product-query.test.ts
  tests/e2e/specs/shopper/active-filters.test.ts
  tests/e2e/specs/shopper/cart-checkout/account.test.js
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tests/e2e/specs/shopper/filter-products-by-rating.test.ts
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
  tests/e2e/specs/shopper/mini-cart.test.js
  tests/e2e/utils.js
  tests/utils/constants.js
  tests/utils/get-toggle-id-by-label.ts
  tests/utils/index.js
  tests/utils/insert-block-using-quick-inserter.ts
  tests/utils/insert-block-using-slash.ts
  tests/utils/insert-inner-block.ts
  tests/utils/selectors.ts
Labels: status: ready to merge, skip-changelog, category: tests

#7651 Fix: skewed placeholder of product image - issue#7553
  assets/js/atomic/blocks/product-elements/image/block.js
  assets/js/atomic/blocks/product-elements/image/test/block.test.js
  assets/js/base/components/block-error-boundary/block-error.tsx
  assets/js/base/components/reviews/review-list-item/index.js
  checkstyle.xml
  src/BlockTypes/ProductImage.php
Labels: status: ready to merge, type: bug

#7679 Move payment utils and delete orderPaymentMethods
  assets/js/data/payment/actions.ts
  assets/js/data/payment/selectors.ts
  assets/js/data/payment/test/actions.ts
  assets/js/data/payment/test/set-default-payment-method.ts
  assets/js/data/payment/test/utils.js
  assets/js/data/payment/utils/check-payment-methods.ts
  assets/js/data/payment/utils/filter-active-saved-payment-methods.ts
  assets/js/data/payment/utils/set-default-payment-method.ts
  checkstyle.xml
Labels: category: refactor, skip-changelog, ◼️ block: checkout, type: technical debt

#7660 Create the `Products by Attribute` template
  assets/js/blocks/classic-template/README.md
  assets/js/blocks/classic-template/constants.ts
  assets/js/blocks/classic-template/test/utils.ts
  src/BlockTemplatesController.php
  src/BlockTypes/ClassicTemplate.php
  src/Templates/ProductAttributeTemplate.php
  src/Utils/BlockTemplateUtils.php
  templates/templates/taxonomy-product_attribute.html
  tests/e2e/fixtures/fixture-data.js
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/mocks/theme-with-woo-templates/block-templates/taxonomy-product_attribute.html
Labels: status: ready to merge, 🔹 block-type: templates

#7558 Move `StoreNoticesContainer` to `@woocommerce/blocks-checkout` package and add tests
  assets/js/base/context/providers/index.js
  assets/js/base/context/providers/store-notices/index.js
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/cart-express-payment.js
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/checkout-express-payment.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-error-boundary.js
  assets/js/blocks/cart/block.js
  assets/js/blocks/checkout/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-payment-block/frontend.tsx
  assets/js/blocks/products/all-products/block.js
  assets/js/blocks/single-product/block.js
  checkstyle.xml
  docs/internal-developers/block-client-apis/notices.md
  package-lock.json
  package.json
  packages/checkout/components/index.js
  packages/checkout/components/store-notices-container/index.tsx
  packages/checkout/components/store-notices-container/style.scss
  packages/checkout/components/store-notices-container/test/index.tsx
Labels: status: needs review, type: enhancement, category: blocks, ◼️ block: cart, ◼️ block: checkout, ◼️ block: all products

#7599 Update Filter by Stock block name in readme.txt
  readme.txt
Labels: status: ready to merge, type: documentation, skip-changelog

#7601 Add `clearValidationErrors` action to validation data store
  assets/js/data/validation/action-types.ts
  assets/js/data/validation/actions.ts
  assets/js/data/validation/reducers.ts
  assets/js/data/validation/test/reducers.ts
  docs/third-party-developers/extensibility/data-store/validation.md
Labels: status: ready to merge, type: enhancement, category: extensibility, stale, javascript

#7572 Convert product-elements/image to TypeScript
  assets/js/atomic/blocks/product-elements/image/attributes.ts
  assets/js/atomic/blocks/product-elements/image/block.tsx
  assets/js/atomic/blocks/product-elements/image/constants.tsx
  assets/js/atomic/blocks/product-elements/image/edit.tsx
  assets/js/atomic/blocks/product-elements/image/frontend.ts
  assets/js/atomic/blocks/product-elements/image/index.ts
  assets/js/atomic/blocks/product-elements/image/test/block.test.js
  assets/js/atomic/blocks/product-elements/image/types.ts
  assets/js/blocks/cart/cart-cross-sells-product-list/cart-cross-sells-product.tsx
  checkstyle.xml
Labels: status: ready to merge, type: enhancement, type: cooldown

#7700 Update cart.md
  src/StoreApi/docs/cart.md
Labels: status: ready to merge, type: documentation, skip-changelog

#7484 Block Checkout: Apply selected Local Pickup rate to entire order (all packages)
  assets/js/base/components/cart-checkout/totals/shipping/shipping-via.tsx
  assets/js/base/components/radio-control/types.ts
  assets/js/base/context/hooks/shipping/use-select-shipping-rate.ts
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/shared/rate-price.tsx
  assets/js/data/cart/actions.ts
  assets/js/types/type-defs/shipping.ts
  src/Shipping/ShippingController.php
  src/StoreApi/Routes/V1/CartSelectShippingRate.php
Labels: status: ready to merge, ◼️ block: checkout

#7573 Fix various GitHub Actions warnings
  .github/workflows/codeql-analysis.yml
  .github/workflows/php-coding-standards.yml
  .github/workflows/php-js-e2e-tests.yml
  .github/workflows/typescript-monitoring.yml
  .github/workflows/unit-tests.yml
  tests/e2e/specs/shopper/cart-checkout/cart.test.js
Labels: status: ready to merge, type: dependencies, type: cooldown

#7694 Add `CartEventsContext` to dispatch events in the Cart block
  assets/js/base/components/quantity-selector/index.tsx
  assets/js/base/context/providers/cart-checkout/cart-events/event-emit.ts
  assets/js/base/context/providers/cart-checkout/cart-events/index.tsx
  assets/js/base/context/providers/cart-checkout/cart-events/test/index.tsx
  assets/js/base/context/providers/cart-checkout/index.js
  assets/js/blocks/cart/block.js
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/block.tsx
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/test/block.tsx
  checkstyle.xml
Labels: status: ready to merge, type: enhancement, category: blocks, ◼️ block: cart

#7351 Product Query - Add e2e tests for the filter by price block
  src/BlockTypes/ProductQuery.php
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tests/e2e/specs/shopper/filter-products-by-rating.test.ts
Labels: status: ready to merge, skip-changelog, category: tests, 🔹 block-type: product-query

#7684 Product Query E2E tests: Sale and Stock status filters tests
  tests/e2e/specs/backend/product-query/product-filters.test.ts
  tests/utils/find-tools-panel-with-title.ts
  tests/utils/get-fixture-products-data.ts
  tests/utils/get-form-element-id-by-label.ts
  tests/utils/get-toggle-id-by-label.ts
  tests/utils/index.js
Labels: status: ready to merge, skip-changelog, category: tests, 🔹 block-type: product-query

#7717 Refactor TypeScripts error monitoring workflow to avoid tracking checkstyle.xml
  .github/monitor-typescript-errors/action.yml
  .github/monitor-typescript-errors/index.js
  .github/monitor-typescript-errors/utils/github.js
  .github/workflows/typescript-monitoring.yml
  checkstyle.xml
Labels: status: ready to merge, type: enhancement, type: build, category: refactor, skip-changelog

#7478 Add tests to ensure argument passed to `canMakePayment` is correct
  assets/js/data/payment/test/check-payment-methods.tsx
Labels: status: ready to merge, type: build, skip-changelog, category: tests

#7687 Product Query: Add order by “best selling” as a preset
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/inspector-controls.tsx
  assets/js/blocks/product-query/inspector-controls/popular-presets.tsx
  assets/js/blocks/product-query/types.ts
  assets/js/blocks/product-query/utils.tsx
  src/BlockTypes/ProductQuery.php
Labels: type: enhancement, 🔹 block-type: product-query

#7726 E2E: Change label of product filters from `Product filters` to `Advanced Filters`
  tests/e2e/specs/backend/product-query/advanced-filters.ts
  tests/e2e/utils.js
Labels: status: ready to merge, skip-changelog, category: tests, 🔹 block-type: product-query

#7709 Add product query support for Sale badge block
  assets/js/atomic/blocks/product-elements/sale-badge/attributes.ts
  assets/js/atomic/blocks/product-elements/sale-badge/edit.tsx
  assets/js/atomic/blocks/product-elements/sale-badge/index.ts
  assets/js/atomic/blocks/product-elements/sale-badge/types.ts
  checkstyle.xml
  src/BlockTypes/ProductSaleBadge.php
  src/Utils/StyleAttributesUtils.php
Labels: category: refactor, skip-changelog, 🔺 atomic-block, 🔹 block-type: product-query

#7728 Refactor existing error notices from the API
  assets/js/base/context/hooks/index.js
  assets/js/base/context/hooks/use-checkout-notices.js
  assets/js/base/context/providers/cart-checkout/checkout-events/index.tsx
  assets/js/base/context/providers/cart-checkout/checkout-processor.ts
  assets/js/base/context/providers/cart-checkout/payment-events/index.tsx
  assets/js/base/context/providers/cart-checkout/utils.ts
  assets/js/base/utils/create-notice.ts
  assets/js/base/utils/errors.js
  assets/js/base/utils/index.js
  assets/js/blocks/cart/inner-blocks/filled-cart-block/frontend.tsx
  assets/js/blocks/checkout/block.tsx
  assets/js/data/cart/actions.ts
  assets/js/data/cart/default-state.ts
  assets/js/data/cart/push-changes.ts
  assets/js/data/cart/selectors.ts
  assets/js/data/checkout/types.ts
  assets/js/data/index.ts
  assets/js/data/shared-controls.ts
  assets/js/data/types.ts
  assets/js/data/utils/index.js
  assets/js/data/utils/process-error-response.ts
  assets/js/types/type-defs/api-error-response.ts
  assets/js/types/type-defs/api-response.ts
  assets/js/types/type-defs/checkout.ts
  assets/js/types/type-defs/hooks.ts
  assets/js/types/type-defs/index.ts
  packages/checkout/components/store-notices-container/store-notices.tsx
  packages/checkout/filter-registry/index.ts
  packages/checkout/utils/create-notice.ts
  packages/checkout/utils/index.js
Labels: status: ready to merge

#7715 Product Query: Add order by “Top rated” as a preset
  assets/js/blocks/product-query/inspector-controls/popular-presets.tsx
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: enhancement, 🔹 block-type: product-query

#7713 Add checkout selectors
  assets/js/base/context/hooks/use-checkout-address.ts
  assets/js/base/context/hooks/use-checkout-extension-data.ts
  assets/js/base/context/providers/cart-checkout/checkout-events/index.tsx
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/block.tsx
  assets/js/data/checkout/selectors.ts
  assets/js/data/checkout/thunks.ts
  checkstyle.xml
  docs/internal-developers/block-client-apis/checkout/checkout-api.md
  docs/third-party-developers/extensibility/data-store/checkout.md
Labels: category: refactor, ◼️ block: checkout, type: technical debt

#7712 Make `Products by category/tag/attribute` fallback to the `Product catalog` template
  docs/internal-developers/templates/block-template-controller.md
  src/BlockTemplatesController.php
  src/Templates/ProductAttributeTemplate.php
  src/Utils/BlockTemplateUtils.php
  templates/templates/blockified/taxonomy-product_attribute.html
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tests/e2e/specs/shopper/filter-products-by-rating.test.ts
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
Labels: status: ready to merge, 🔹 block-type: templates

#7753 Rename Active Product Filters block to Active Filters
  assets/js/blocks/active-filters/block.json
  assets/js/blocks/active-filters/index.tsx
  assets/js/blocks/filter-wrapper/index.tsx
  docs/internal-developers/testing/smoke-testing.md
  patterns/filters.php
  readme.txt
  tests/e2e/specs/backend/__fixtures__/active-filters.fixture.json
  tests/e2e/specs/backend/__fixtures__/active-product-filters.fixture.json
  tests/e2e/specs/backend/active-filters.test.js
  tests/e2e/specs/shopper/active-filters.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
Labels: status: ready to merge, type: enhancement

#7675 Adds product query support for Category list block
  assets/js/atomic/blocks/product-elements/category-list/attributes.ts
  assets/js/atomic/blocks/product-elements/category-list/edit.tsx
  assets/js/atomic/blocks/product-elements/category-list/index.ts
  assets/js/atomic/blocks/product-elements/category-list/save.tsx
  assets/js/atomic/blocks/product-elements/category-list/types.ts
  checkstyle.xml
  src/BlockTypes/ProductCategoryList.php
Labels: status: ready to merge, category: refactor, skip-changelog, 🔺 atomic-block, 🔹 block-type: product-query

#7699 Make footer and header patterns available in pattern chooser
  patterns/footer-large-dark.php
  patterns/footer-large.php
  patterns/footer-simple-dark.php
  patterns/footer-simple.php
  patterns/footer-with-2-menus-dark.php
  patterns/footer-with-2-menus.php
  patterns/header-essential-dark.php
  patterns/header-essential.php
  patterns/header-large-dark.php
  patterns/header-large.php
  patterns/header-minimal-dark.php
  patterns/header-minimal.php
Labels: status: ready to merge, type: bug

#7751 CSS cleanup from /assets/css/
  assets/css/abstracts/_colors.scss
  assets/css/abstracts/_mixins.scss
  assets/css/abstracts/_variables.scss
  assets/css/editor.scss
  assets/css/style.scss
  assets/js/editor-components/search-list-control/style.scss
Labels: status: ready to merge, category: styles, type: technical debt

#7382 Product Query - add support for the global query
  assets/js/blocks/product-query/inspector-controls.tsx
  assets/js/blocks/product-query/types.ts
  assets/js/blocks/product-query/variations/product-query.tsx
  checkstyle.xml
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: enhancement, skip-changelog, 🔹 block-type: product-query

#7697 Refactor `ProductQuery::merge_queries` to accept multiple queries
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, category: refactor, skip-changelog, 🔹 block-type: product-query

#7776 Disable translations test on the `Checkout` block
  tests/e2e/specs/shopper/cart-checkout/translations.test.js
Labels: status: ready to merge, skip-changelog, category: tests

#7743 Product Query: Add support for filtering by attributes within the block
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/inspector-controls.tsx
  assets/js/blocks/product-query/inspector-controls/attributes-filter.tsx
  assets/js/blocks/product-query/types.ts
  assets/js/blocks/product-query/useProductAttributes.ts
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: enhancement, 🔹 block-type: product-query

#7707 Align text sizing in filter blocks: chips, checkboxes, buttons, dropdown
  assets/js/base/components/chip/style.scss
  assets/js/base/components/filter-reset-button/style.scss
  assets/js/base/components/price-slider/style.scss
  assets/js/blocks/active-filters/style.scss
  assets/js/blocks/attribute-filter/style.scss
  assets/js/blocks/rating-filter/style.scss
  assets/js/blocks/stock-filter/style.scss
  packages/checkout/components/checkbox-control/style.scss
Labels: status: ready to merge
