Repository woocommerce/woocommerce-blocks, pull requests merged in 2022-07, with the labels that each got.

#6402 Convert validation context to data store
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/attribute-select-control.js
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/components/cart-checkout/shipping-calculator/address.tsx
  assets/js/base/components/cart-checkout/totals/coupon/index.tsx
  assets/js/base/components/cart-checkout/totals/coupon/stories/index.tsx
  assets/js/base/components/combobox/index.tsx
  assets/js/base/components/country-input/stories/index.tsx
  assets/js/base/components/state-input/state-input.tsx
  assets/js/base/components/text-input/validated-text-input.tsx
  assets/js/base/components/tsconfig.json
  assets/js/base/components/validation-input-error/index.tsx
  assets/js/base/components/validation-input-error/style.scss
  assets/js/base/context/hooks/cart/use-store-cart-coupons.ts
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/hooks/use-validation.ts
  assets/js/base/context/providers/add-to-cart-form/form-state/index.js
  assets/js/base/context/providers/add-to-cart-form/form/index.js
  assets/js/base/context/providers/add-to-cart-form/form/submit/index.js
  assets/js/base/context/providers/cart-checkout/checkout-events/index.tsx
  assets/js/base/context/providers/cart-checkout/checkout-processor.js
  assets/js/base/context/providers/cart-checkout/payment-methods/payment-method-data-context.tsx
  assets/js/base/context/providers/index.js
  assets/js/base/context/providers/validation/components/index.js
  assets/js/base/context/providers/validation/components/validation-input-error/index.js
  assets/js/base/context/providers/validation/context.js
  assets/js/base/context/providers/validation/index.js
  assets/js/blocks/cart/block.js
  assets/js/blocks/checkout/block.tsx
  assets/js/data/checkout/types.ts
  assets/js/data/index.ts
  assets/js/data/types.ts
  assets/js/data/validation/action-types.ts
  assets/js/data/validation/actions.ts
  assets/js/data/validation/constants.ts
  assets/js/data/validation/index.ts
  assets/js/data/validation/reducers.ts
  assets/js/data/validation/selectors.ts
  assets/js/data/validation/test/reducers.ts
  assets/js/data/validation/test/selectors.ts
  assets/js/types/type-defs/payment-method-interface.ts
Labels: status: needs review, type: enhancement, skip-changelog, type: task

#6640 Prevent `Featured Product` block from breaking when product is out of stock + hidden from catalog
  assets/js/hocs/with-product-variations.js
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: featured product

#6538 Add migration strategy and load blockified templates
  .github/workflows/unit-tests.yml
  .wp-env.json
  package.json
  src/BlockTemplatesController.php
  src/Domain/Bootstrap.php
  src/Domain/Package.php
  src/Domain/Services/FeatureGating.php
  src/Installer.php
  src/Migration.php
  src/Options.php
  src/Package.php
  src/Utils/BlockTemplateUtils.php
  templates/templates/blockified/README.md
  templates/templates/blockified/archive-product.html
  templates/templates/blockified/product-search-results.html
  templates/templates/blockified/single-product.html
  templates/templates/blockified/taxonomy-product_cat.html
  templates/templates/blockified/taxonomy-product_tag.html
  tests/php/Migration.php
  tests/php/Utils/BlockTemplateUtilsTest.php
Labels: status: ready to merge, type: enhancement, skip-changelog, 🔹 block-type: templates

#6660 Disable render blockified Product Grid Block
  src/BlockTemplatesController.php
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
Labels: status: ready to merge, category: refactor, skip-changelog

#6620 Fix: Attribute Filters: allow choosing between single/multiple selection
  assets/js/blocks/attribute-filter/block.json
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/edit.tsx
  assets/js/blocks/attribute-filter/frontend.ts
  assets/js/blocks/attribute-filter/index.tsx
  assets/js/blocks/attribute-filter/types.ts
Labels: status: ready to merge, type: enhancement, ◼️ block: filter products by attribute, priority: low

#6642 Fix: Add support to apply filters via URL for All Products block
  assets/js/blocks/active-filters/active-attribute-filters.tsx
  assets/js/blocks/active-filters/block.tsx
  assets/js/blocks/active-filters/utils.tsx
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/utils.ts
  assets/js/blocks/price-filter/block.tsx
  assets/js/blocks/stock-filter/block.tsx
  assets/js/utils/filters.ts
  src/BlockTypes/ClassicTemplate.php
Labels: status: ready to merge, type: enhancement, ◼️ block: all products, 🔹 block-type: filter blocks

#6682 Prevent showing the blockified templates until they are implemented
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: templates

#6667 Update block template descriptions
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: enhancement, 🔹 block-type: templates

#6639 Fix E2E tests
  .github/workflows/flaky-tests.yml
  .github/workflows/php-js-e2e-tests.yml
  package-lock.json
  package.json
  tests/e2e/config/jest-puppeteer.config-dev.js
  tests/e2e/config/jest-puppeteer.config.js
  tests/e2e/config/jest.config.js
  tests/e2e/config/jest.setup.js
  tests/e2e/config/setup.js
  tests/e2e/specs/backend/__snapshots__/site-editing-templates.test.js.snap
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/specs/shopper/active-filters.test.ts
  tests/e2e/specs/shopper/cart-checkout/account.test.js
  tests/e2e/specs/shopper/cart-checkout/cart.test.js
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
  tests/e2e/utils.js
  tests/utils/shopper.js
  tests/utils/visit-block-page.js
Labels: status: ready to merge, type: enhancement, skip-changelog, category: tests

#6670 Update deps
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: status: ready to merge, skip-changelog, type: dependencies

#6680 Start using `block.json` and convert to TS the `Product by Category` block
  assets/js/blocks/product-category/block.js
  assets/js/blocks/product-category/block.json
  assets/js/blocks/product-category/block.tsx
  assets/js/blocks/product-category/edit-mode.tsx
  assets/js/blocks/product-category/edit.tsx
  assets/js/blocks/product-category/index.js
  assets/js/blocks/product-category/index.tsx
  assets/js/blocks/product-category/inspector-controls.tsx
  assets/js/blocks/product-category/types.ts
  assets/js/editor-components/grid-layout-control/index.js
  assets/js/editor-components/product-category-control/index.js
Labels: status: ready to merge, category: refactor, skip-changelog, category: blocks, ◼️ block: products by category, type: technical debt

#6716 Mini Cart Block: additional classes are visible on the frontend page #5581
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#6683 Start using `block.json` and convert to TS the `Product Best Sellers` block
  assets/js/blocks/product-best-sellers/block.js
  assets/js/blocks/product-best-sellers/block.json
  assets/js/blocks/product-best-sellers/block.tsx
  assets/js/blocks/product-best-sellers/edit.tsx
  assets/js/blocks/product-best-sellers/index.tsx
  assets/js/blocks/product-best-sellers/inspector-controls.tsx
  assets/js/blocks/product-best-sellers/types.ts
Labels: status: ready to merge, category: refactor, skip-changelog, category: blocks, ◼️ block: best selling products, type: technical debt

#6728 Fix: WooCommerce messages don't appear in block themes with Mini Cart block
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, category: fse, ◼️ block: mini cart

#6726 Fix typo & a code error in the translation docs
  docs/internal-developers/translations/translations-in-PHP-files.md
Labels: status: ready to merge, type: documentation, category: i18n, skip-changelog

#6551 `SearchListControl`: Fix preserving case of original item
  assets/js/editor-components/search-list-control/test/__snapshots__/index.js.snap
  assets/js/editor-components/search-list-control/test/index.js
  assets/js/editor-components/search-list-control/utils.tsx
Labels: status: ready to merge, type: bug, ◼️ block: hand-picked products, category: tests

#6735 Revert "ci: try update existing report first"
  .github/compare-assets/index.js
Labels: status: needs review, skip-changelog

#6661 Generate ZIP file using GitHub Actions
  .github/workflows/generate-zip.yml
  .prettierignore
Labels: status: ready to merge, type: build, skip-changelog

#6731 Fix: navigate through Mini Cart contents with keyboard
  assets/js/base/components/button/style.scss
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-items-block/frontend.tsx
  assets/js/blocks/mini-cart/style.scss
  src/BlockTypes/MiniCartContents.php
Labels: status: ready to merge, type: bug, category: accessibility, ◼️ block: mini cart

#6741 Select the correct inner button for the "Featured Item" button to update its url
  assets/js/blocks/featured-items/with-update-button-attributes.tsx
Labels: status: ready to merge, type: bug, ◼️ block: featured category, ◼️ block: featured product

#6755 Switch up token for zip generation automation.
  .github/workflows/generate-zip.yml
Labels: status: ready to merge, skip-changelog

#6753 Ensure shipping rate names show when multiple packages are used
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: checkout

#6740 Add a gap between multiple shipping package panels in the Checkout Block
  assets/js/base/components/cart-checkout/shipping-rates-control-package/style.scss
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: checkout, category: styles

#6769 Add link to ZIP file only ones
  .github/workflows/generate-zip.yml
Labels: status: ready to merge

#6781 Update the `previewCart` property we use to get `hasCalculatedShipping` in `useShippingData` and fix broken JS tests
  assets/js/atomic/blocks/product-elements/image/test/block.test.js
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
Labels: status: ready to merge, type: bug, skip-changelog, category: tests

#6754 All Products block: Migrate to block.json
  assets/js/blocks/products/all-products/block.json
  assets/js/blocks/products/all-products/defaults.js
  assets/js/blocks/products/all-products/deprecated.js
  assets/js/blocks/products/all-products/index.js
  assets/js/blocks/products/all-products/save.js
  assets/js/blocks/products/attributes.js
Labels: status: ready to merge, category: refactor, category: blocks, ◼️ block: all products

#6776 Use the archive-product template to render product attributes pages
  src/BlockTemplatesController.php
  src/Domain/Bootstrap.php
  src/Templates/ProductAttributeTemplate.php
Labels: status: ready to merge, type: bug, 🔹 block-type: templates

#6773 Ensure addresses sync correctly when loading the Checkout Shipping Address Block
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: checkout

#6761 Add: editor version check
  assets/js/blocks/product-search/block.js
  assets/js/blocks/product-search/edit.js
  assets/js/blocks/product-search/index.tsx
  src/BlockTypes/ProductSearch.php
Labels: skip-changelog

#6789 Add comment to prevent PHP linting error in `src/BlockTemplatesController.php`
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: build, skip-changelog

#6718 Refactor external dispatch actions from being called inside useSelect
  assets/js/atomic/blocks/product-elements/image/test/block.test.js
  assets/js/base/context/hooks/cart/use-store-cart-coupons.ts
Labels: status: ready to merge, type: bug, type: blocker, ◼️ block: cart, ◼️ block: checkout
