Repository woocommerce/woocommerce-blocks, pull requests merged in 2023-08, with the labels that each got.

#10402 Catch all the PHPCS errors only on changed files
  .github/workflows/php-coding-standards.yml
Labels: status: ready to merge, skip-changelog, skip-zip

#10429 Run `phpcs` on all files
  .github/workflows/php-coding-standards.yml
  src/BlockTypes/HandpickedProducts.php
Labels: status: ready to merge, skip-changelog, skip-zip

#10373 Refactor Store API hydration logic and prevent fatal errors from session class usage
  src/Assets/AssetDataRegistry.php
  src/BlockTypes/AllProducts.php
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
  src/BlockTypesController.php
  src/Domain/Bootstrap.php
  src/Domain/Services/Hydration.php
Labels: status: ready to merge, category: rest-api, category: refactor

#10247 Add Product Gallery Thumbnails block
  assets/js/blocks/product-gallery/block-settings/index.tsx
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/block-settings/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/block.json
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/constants.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/icon.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/style.scss
  assets/js/blocks/product-gallery/save.tsx
  assets/js/blocks/product-gallery/types.ts
  assets/js/blocks/product-gallery/utils.tsx
  assets/js/icons/index.js
  assets/js/icons/library/thumbnails-position-bottom.tsx
  assets/js/icons/library/thumbnails-position-left.tsx
  assets/js/icons/library/thumbnails-position-right.tsx
  bin/webpack-entries.js
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  src/BlockTypes/ProductGalleryLargeImage.php
  src/BlockTypes/ProductGalleryThumbnails.php
  src/BlockTypesController.php
Labels: status: ready to merge, category: new-block, skip-changelog

#10441 Revert "Add Product Gallery Thumbnails block"
  assets/js/blocks/product-gallery/block-settings/index.tsx
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/block-settings/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/block.json
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/constants.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/icon.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/style.scss
  assets/js/blocks/product-gallery/save.tsx
  assets/js/blocks/product-gallery/types.ts
  assets/js/blocks/product-gallery/utils.tsx
  assets/js/icons/index.js
  assets/js/icons/library/thumbnails-position-bottom.tsx
  assets/js/icons/library/thumbnails-position-left.tsx
  assets/js/icons/library/thumbnails-position-right.tsx
  bin/webpack-entries.js
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  src/BlockTypes/ProductGalleryLargeImage.php
  src/BlockTypes/ProductGalleryThumbnails.php
  src/BlockTypesController.php
Labels: status: ready to merge, type: task

#10374 Remove duplicate HTML element and added classnames for single product…
  src/BlockTypes/SingleProduct.php
Labels: status: ready to merge, skip-changelog, ◼️ block: product

#10434 Top Rated Products: show only products with rating
  src/BlockTypes/ProductTopRated.php
Labels: status: ready to merge, type: enhancement, type: cooldown, ◼️ block: top rated products

#10442 Add Product Gallery Thumbnails block
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/block-settings/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/block.json
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/constants.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/icon.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/style.scss
  assets/js/blocks/product-gallery/save.tsx
  assets/js/blocks/product-gallery/types.ts
  assets/js/blocks/product-gallery/utils.tsx
  assets/js/icons/index.js
  assets/js/icons/library/thumbnails-position-bottom.tsx
  assets/js/icons/library/thumbnails-position-left.tsx
  assets/js/icons/library/thumbnails-position-right.tsx
  bin/webpack-entries.js
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  src/BlockTypes/ProductGalleryLargeImage.php
  src/BlockTypes/ProductGalleryThumbnails.php
  src/BlockTypesController.php
Labels: status: ready to merge, skip-changelog, ◼️ block: product gallery

#10432 Replace propTypes with TypeScript definitions on `price-filter/block.tsx`
  assets/js/blocks/price-filter/block.tsx
Labels: status: ready to merge, type: enhancement, category: refactor, skip-changelog, type: cooldown

#10446 Fix badge wrong spacing on the newest arrivals pattern
  patterns/product-collections-newest-arrivals.php
Labels: status: ready to merge, type: bug, patterns

#10445 Product Gallery: Add Crop, Zoom and Full-screen settings
  assets/js/blocks/product-gallery/block-settings/index.tsx
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/block-settings/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/edit.tsx
  assets/js/blocks/product-gallery/types.ts
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#10415 improve migration to blockified templates
  src/Migration.php
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog

#10351 ProductButton: Add animation
  assets/js/atomic/blocks/product-elements/button/frontend.tsx
  assets/js/atomic/blocks/product-elements/button/style.scss
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, type: enhancement, skip-changelog

#10200 Interactivity API: Update interactive regions during client-side navigation
  assets/js/interactivity/directives.js
  assets/js/interactivity/router.js
  src/BlockTypes/ProductQuery.php
  src/Interactivity/client-side-navigation.php
  src/Interactivity/load.php
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, 🔹 block-type: product-query

#10453 Prevent hooks from being attached to empty content
  src/Templates/ArchiveProductTemplatesCompatibility.php
Labels: status: ready to merge, type: bug, category: extensibility, 🔹 block-type: product-query

#10278 Invalidate script data cache when site URL, scheme, or plugin name changes
  src/Assets/Api.php
Labels: status: ready to merge, type: bug, category: blocks

#10310 Style checkout fields without floats to fix validation error appearance
  assets/js/blocks/checkout/inner-blocks/checkout-fields-block/style.scss
Labels: status: ready to merge, ◼️ block: checkout, category: styles

#10309 Refactor ValidatedTextInput and AddressForm usage
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/components/cart-checkout/address-form/custom-validation-handler.ts
  assets/js/base/components/cart-checkout/address-form/types.ts
  assets/js/base/components/cart-checkout/address-form/validate-shipping-country.ts
  assets/js/base/components/country-input/country-input.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-fields-block/style.scss
  packages/checkout/components/text-input/types.ts
  packages/checkout/components/text-input/validated-text-input.tsx
Labels: status: ready to merge, type: enhancement, category: refactor, ◼️ block: checkout

#9817 remove proptypes from payment-method-card and payment-method-error-bo…
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-card.tsx
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-error-boundary.js
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-error-boundary.tsx
Labels: type: enhancement, category: refactor, ◼️ block: checkout, type: community contribution

#10332 Enable Compatibility Layer for Product Collection
  src/Templates/AbstractTemplateCompatibility.php
  src/Templates/ArchiveProductTemplatesCompatibility.php
  src/Templates/SingleProductTemplateCompatibility.php
Labels: status: ready to merge, type: enhancement, category: extensibility, ◼️ block: product collection

#10455 fix: compatibility layer doesn't work when Products block is the top level block
  src/Templates/ArchiveProductTemplatesCompatibility.php
Labels: status: ready to merge, type: bug, category: extensibility, 🔹 block-type: product-query, ◼️ block: product collection

#10370 E2E: Product Gallery Thumbnails block tests
  .github/workflows/playwright.yml
  package.json
  tests/e2e-pw/tests/product-gallery/inner-blocks/product-gallery-thumbnails/product-gallery-thumbnails.block_theme.spec.ts
  tests/e2e-pw/tests/product-gallery/inner-blocks/product-gallery-thumbnails/utils.ts
  tests/e2e-pw/utils/editor/EditorUtils.ts
  tests/e2e-pw/utils/frontend/FrontendUtils.ts
Labels: status: ready to merge, type: technical debt, ◼️ block: product gallery

#10468 Fix border color class names not being applied correctly
  assets/js/base/utils/get-inline-styles.ts
Labels: status: ready to merge, type: bug

#10462 Update check for active cart template and migration routine
  src/BlockTemplatesController.php
  src/Templates/CartTemplate.php
  src/Templates/CheckoutTemplate.php
Labels: status: ready to merge, type: bug, ◼️ block: cart, 🔹 block-type: templates

#10276 Releases > Include PRs with complex testing instructions in a separate section within the Release Notes
  .github/patch-initial-checklist.md
  .github/pull_request_template.md
  .github/release-initial-checklist.md
  docs/internal-developers/testing/releases/1001.md
Labels: status: ready to merge, skip-changelog, type: release

#10369 Store API: Prevent notices due to missing properties with PHP 8.2
  src/StoreApi/Schemas/V1/OrderSchema.php
Labels: status: ready to merge, type: bug, skip-changelog, skip-zip

#10414 Unauthenticated views for Order Confirmation template
  assets/js/blocks/classic-template/order-confirmation.tsx
  assets/js/blocks/order-confirmation/summary/style.scss
  src/BlockTypes/OrderConfirmation/AbstractOrderConfirmationBlock.php
  src/BlockTypes/OrderConfirmation/BillingAddress.php
  src/BlockTypes/OrderConfirmation/Downloads.php
  src/BlockTypes/OrderConfirmation/ShippingAddress.php
  src/BlockTypes/OrderConfirmation/Status.php
  src/BlockTypes/OrderConfirmation/Summary.php
  src/BlockTypes/OrderConfirmation/Totals.php
Labels: status: ready to merge, ◼️ block: checkout

#9739 Preliminary work to add Playwright E2E tests for the Cart block & merchant cart tests
  tests/e2e-pw/tests/cart-checkout/cart-block.merchant.block_theme.spec.ts
  tests/e2e-pw/tests/templates/cart-template.block_theme.spec.ts
  tests/e2e-pw/types/block-data.ts
  tests/e2e-pw/utils/editor/EditorUtils.ts
  tests/e2e-pw/utils/navigation/navigation.ts
Labels: status: ready to merge, skip-changelog, category: tests

#10472 Performance: Optimise select shipping API calls
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/package-rates.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/style.scss
  assets/js/base/components/cart-checkout/totals/shipping/test/index.tsx
  assets/js/base/components/radio-control/index.tsx
  assets/js/base/components/radio-control/option.tsx
  assets/js/base/components/radio-control/style.scss
  assets/js/base/components/radio-control/types.ts
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
  src/Domain/Bootstrap.php
  src/Domain/Services/GoogleAnalytics.php
  src/Installer.php
  src/Payments/Api.php
  src/StoreApi/Routes/V1/AbstractCartRoute.php
  src/StoreApi/Routes/V1/AbstractRoute.php
  src/StoreApi/Routes/V1/CartSelectShippingRate.php
  src/StoreApi/Routes/V1/Checkout.php
  src/StoreApi/Schemas/V1/CartSchema.php
  src/StoreApi/Utilities/OrderController.php
Labels: status: ready to merge, type: enhancement, category: performance

#10487 Add ESLint `eslint-plugin-playwright` package
  package-lock.json
  package.json
  tests/e2e-pw/.eslintrc.js
  tests/e2e-pw/global-setup.ts
  tests/e2e-pw/tests/attributes-filter/filter-products-by-attributes-count.block_theme.spec.ts
  tests/e2e-pw/tests/basic.block_theme.spec.ts
  tests/e2e-pw/tests/cart-checkout/cart-block.merchant.block_theme.spec.ts
  tests/e2e-pw/tests/classic-template/classic-template.block_theme.side_effects.spec.ts
  tests/e2e-pw/tests/customer-account/customer-account.block_theme.spec.ts
  tests/e2e-pw/tests/mini-cart/mini-cart.block_theme.spec.ts
  tests/e2e-pw/tests/permalink-settings/permalink-settings.block_theme.spec.ts
  tests/e2e-pw/tests/price-filter/price-filter.block_theme.side_effects.spec.ts
  tests/e2e-pw/tests/price-filter/utils.ts
  tests/e2e-pw/tests/product-collection/product-collection.block_theme.spec.ts
  tests/e2e-pw/tests/product-collection/product-collection.page.ts
  tests/e2e-pw/tests/product-gallery/inner-blocks/product-gallery-thumbnails/product-gallery-thumbnails.block_theme.spec.ts
  tests/e2e-pw/tests/products/products.block_theme.side_effects.spec.ts
  tests/e2e-pw/tests/products/utils.ts
  tests/e2e-pw/tests/single-product-template/single-product-template.block_theme.spec.ts
  tests/e2e-pw/tests/templates/cart-template.block_theme.spec.ts
  tests/e2e-pw/tests/templates/checkout-header-template-part.block_theme.spec.ts
  tests/e2e-pw/tests/templates/checkout-template.block_theme.spec.ts
  tests/e2e-pw/tests/templates/order-confirmation.block_theme.spec.ts
  tests/e2e-pw/utils/editor/EditorUtils.ts
  tests/e2e-pw/utils/frontend/FrontendUtils.ts
  tests/e2e-pw/utils/navigation/navigation.ts
Labels: status: ready to merge, category: refactor, skip-changelog

#10509 Revert "Performance: Cache script data in a transient for production builds"
  .wp-env.json
  src/Assets/Api.php
Labels: status: ready to merge, type: bug

#10512 Revert "Top Rated Products: show only products with rating"
  src/BlockTypes/ProductTopRated.php
Labels: status: ready to merge, skip-changelog

#10513 Revert #10509
  src/Assets/Api.php
Labels: status: ready to merge, type: bug, skip-changelog

#10507 Update E2E util to allow adding to cart by name from the shop page
  tests/e2e/utils/frontend/FrontendUtils.ts
Labels: status: needs review, status: ready to merge, skip-changelog, category: tests

#10315 Refactor Push Changes Readability and Performance
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/components/cart-checkout/address-form/types.ts
  assets/js/base/components/state-input/state-input.tsx
  assets/js/base/utils/index.js
  assets/js/base/utils/pick.ts
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  assets/js/data/cart/index.ts
  assets/js/data/cart/push-changes.ts
  assets/js/data/cart/test/push-changes.ts
  assets/js/data/cart/utils.ts
  packages/checkout/components/index.ts
  packages/checkout/components/text-input/test/validated-text-input.tsx
  packages/checkout/components/text-input/validated-text-input.tsx
  tests/utils/shopper.js
Labels: status: ready to merge, type: enhancement, category: refactor, ◼️ block: checkout

#10522 Interactivity API: Disable scroll for Pagination block links inside Product Query
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, 🔹 block-type: product-query

#10036 Interactivity API and Product Button: Add E2E tests
  .eslintrc.js
  .wp-env.json
  tests/e2e/mocks/custom-plugins/index.ts
  tests/e2e/mocks/custom-plugins/readme.md
  tests/e2e/mocks/custom-plugins/utils.ts
  tests/e2e/playwright-utils/test.ts
  tests/e2e/tests/product-button/product-button.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-button/update-product-button-text.php
  tests/e2e/tests/product-button/utils.ts
  tests/e2e/utils/api/index.ts
  tests/e2e/utils/api/template-api-utils.page.ts
  tests/e2e/utils/editor/editor-utils.page.ts
  tests/e2e/utils/editor/index.ts
  tests/e2e/utils/frontend/frontend-utils.page.ts
  tests/e2e/utils/frontend/index.ts
  tests/e2e/utils/index.ts
  tests/e2e/utils/storeApi/index.ts
  tests/e2e/utils/storeApi/store-api-utils.page.ts
  tsconfig.base.json
Labels: status: ready to merge, skip-changelog, category: tests, ◼️ block: add to cart

#10494 Product Collection - logic to hide upgrade notice
  assets/js/blocks/migration-products-to-product-collection/constants.ts
  assets/js/blocks/migration-products-to-product-collection/migration-from-product-collection-to-products.ts
  assets/js/blocks/migration-products-to-product-collection/migration-from-products-to-product-collection.ts
  assets/js/blocks/migration-products-to-product-collection/migration-utils.ts
  assets/js/blocks/migration-products-to-product-collection/types.ts
  assets/js/blocks/product-collection/block.json
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/inspector-controls/upgrade-notice.tsx
  assets/js/blocks/product-collection/types.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: product collection

#10521 Featured Products: Fresh & Tasty pattern > Enhance mobile view and optimize images
  images/pattern-placeholders/fresh-lettuce-washed.png
  images/pattern-placeholders/fresh-organic-tomatoes.png
  images/pattern-placeholders/russet-organic-potatoes.png
  images/pattern-placeholders/sweet-organic-lemons.png
  patterns/featured-products-fresh-and-tasty.php
Labels: status: ready to merge, type: enhancement, patterns

#10516 Fix: Adjust Playwright E2E tests for WP 6.3
  .github/workflows/php-js-e2e-tests.yml
  .wp-env.json
  bin/wp-env-with-wp-622.js
  package-lock.json
  package.json
  tests/e2e/tests/cart-checkout/cart-block.merchant.block_theme.spec.ts
  tests/e2e/tests/customer-account/customer-account.block_theme.spec.ts
  tests/e2e/tests/mini-cart/mini-cart.block_theme.spec.ts
  tests/e2e/tests/price-filter/price-filter.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-collection/product-collection.page.ts
  tests/e2e/tests/products/products.block_theme.side_effects.spec.ts
  tests/e2e/tests/templates/cart-template.block_theme.spec.ts
  tests/e2e/tests/templates/checkout-header-template-part.block_theme.spec.ts
  tests/e2e/tests/templates/checkout-template.block_theme.spec.ts
  tests/e2e/utils/editor/editor-utils.page.ts
Labels: status: ready to merge, skip-changelog, type: technical debt, category: tests

#10361 Product Collection: Use Interactivity API for pagination
  src/BlockTypes/ProductCollection.php
Labels: status: ready to merge, type: task, ◼️ block: product collection

#10479 Store Customization > Add placeholder images for the Alternating Image and Text pattern
  images/pattern-placeholders/crafting-pots.png
  images/pattern-placeholders/hand-made-pots.png
  patterns/store-info-alt-image-and-text.php
Labels: status: ready to merge, type: enhancement, patterns

#10526 Simplify code path and remove todo in e2e for clearing session via logout
  tests/e2e-jest/specs/shopper/cart-checkout/checkout.test.js
Labels: status: ready to merge, skip-changelog, category: tests, skip-zip

#10541 Store Customization > Add an identifier to all header patterns
  patterns/header-centered-search-pattern.php
  patterns/header-essential-dark.php
  patterns/header-essential.php
  patterns/header-large-dark.php
  patterns/header-large.php
  patterns/header-minimal.php
Labels: status: ready to merge, type: enhancement, ▫️ pattern: headers

#10550 Fix the `on sale` badge for product blocks
  assets/css/editor.scss
  assets/css/style.scss
Labels: status: ready to merge, type: bug

#10426 Product Gallery block: Fix incorrect icon color when block is selected
  assets/js/blocks/product-gallery/icon.tsx
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#10542 Store Customization > Add an identifier to all footer patterns
  patterns/footer-large-dark.php
  patterns/footer-large.php
  patterns/footer-simple-dark.php
  patterns/footer-simple-menu-and-cart.php
  patterns/footer-simple.php
  patterns/footer-with-2-menus-dark.php
  patterns/footer-with-2-menus.php
  patterns/footer-with-3-menus.php
Labels: status: ready to merge, type: enhancement, ▫️ pattern: footers

#10534 Fix express button display in the Cart block
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/style.scss
Labels: status: ready to merge, type: bug, type: blocker, ◼️ block: cart, ◼️ block: checkout

#10596 Fix: warning with default archive templates when queryId is missing
  templates/templates/blockified/archive-product.html
  templates/templates/blockified/product-search-results.html
  templates/templates/blockified/taxonomy-product_attribute.html
  templates/templates/blockified/taxonomy-product_cat.html
  templates/templates/blockified/taxonomy-product_tag.html
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: templates, 🔹 block-type: product-query

#10532 Convert shipping selection Checkout tests to playwright
  tests/e2e-jest/specs/shopper/cart-checkout/checkout.test.js
  tests/e2e/playwright-utils/test.ts
  tests/e2e/tests/checkout/checkout-block-shipping.block_theme.side_effects.spec.ts
  tests/e2e/tests/checkout/checkout.page.ts
  tests/e2e/utils/frontend/frontend-utils.page.ts
Labels: status: ready to merge, type: build, skip-changelog, ◼️ block: checkout, category: tests

#10508 Better handling tests with global side effects
  .github/patch-initial-checklist.md
  .github/workflows/playwright.yml
  package.json
  tests/e2e/README.md
  tests/e2e/playwright.config.ts
  tests/e2e/playwright.side-effects.config.ts
  tests/e2e/tests/price-filter/price-filter.block_theme.side_effects.spec.ts
  tests/e2e/tests/price-filter/utils.ts
  tests/e2e/utils/frontend/frontend-utils.page.ts
Labels: status: ready to merge, category: refactor, skip-changelog, category: tests

#10515 Open links from the Editor in the top frame, not editor iframe
  assets/js/blocks/attribute-filter/edit.tsx
  assets/js/blocks/price-filter/edit.tsx
  assets/js/blocks/products/edit-utils.js
Labels: status: ready to merge, type: bug, type: cooldown, type: compatibility

#10540 Add E2E tests for Product Collection with Compatibility Layer
  tests/e2e/tests/product-collection/compatibility-layer.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-collection/compatibility-plugin.php
  tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  tests/e2e/tests/product-collection/product-collection.page.ts
  tests/e2e/utils/editor/editor-utils.page.ts
Labels: status: ready to merge, skip-changelog, category: tests, ◼️ block: product collection

#10548 Fix: disable product query title and summary variations from inserter in favour of Product Collection ones
  assets/js/blocks/product-query/variations/elements/product-summary.tsx
  assets/js/blocks/product-query/variations/elements/product-template.tsx
  assets/js/blocks/product-query/variations/elements/product-title.tsx
  assets/js/blocks/product-query/variations/elements/utils.tsx
Labels: status: ready to merge, type: enhancement, skip-changelog, 🔹 block-type: product-query, ◼️ block: product collection

#10440 Product-details: Add margin spacing controls
  assets/js/atomic/blocks/product-elements/product-details/block.json
  src/BlockTypes/ProductDetails.php
Labels: status: ready to merge, type: enhancement, ◼️ block: product details

#10622 Update WooCommerce Blocks brand assets
  .wordpress-org/banner-1544x500.png
  .wordpress-org/banner-772x250.png
  .wordpress-org/icon-128x128.png
  .wordpress-org/icon-256x256.png
Labels: skip-changelog, type: task

#10592 Import RouteException in CheckoutTrait
  src/StoreApi/Utilities/CheckoutTrait.php
  src/StoreApi/Utilities/OrderAuthorizationTrait.php
Labels: status: ready to merge, type: bug, category: rest-api, skip-changelog

#10616 Remove `queryId` parameter from patterns
  patterns/featured-products-5-cols.php
  patterns/product-collections-featured-collection.php
  patterns/product-featured-2-columns.php
  patterns/product-query-1-1-image-4-column-products-row.php
  patterns/product-query-3-column-product-row.php
  patterns/product-query-4-column-product-row.php
  patterns/product-query-large-image-product-gallery.php
  patterns/product-query-minimal-5-column-products-row.php
  patterns/product-query-minimal-product-list.php
  patterns/product-query-product-gallery.php
  patterns/product-query-product-list-with-1-1-images.php
  patterns/product-query-product-list-with-full-product-description.php
Labels: status: ready to merge, skip-changelog, 🔹 block-type: product-query, patterns

#10549 Update to PR template
  .github/pull_request_template.md
Labels: status: ready to merge, type: documentation, skip-changelog

#10636 Remove client side navigation from Products beta block
  src/BlockTypes/ProductButton.php
  src/BlockTypes/ProductQuery.php
  tests/e2e-jest/specs/shopper/cart-checkout/translations.test.js
  tests/e2e-jest/specs/shopper/mini-cart.test.js
Labels: status: ready to merge, type: task, 🔹 block-type: product-query

#10634 Fix "On sale" badge class
  assets/css/style.scss
Labels: status: ready to merge, type: bug, 🔹 block-type: product-grid

#10614 Footer Patterns > Ensure the “My Account” text has the same font size as the other texts nearby
  patterns/footer-large-dark.php
  patterns/footer-large.php
  patterns/footer-simple-dark.php
  patterns/footer-simple.php
Labels: status: ready to merge, type: enhancement, ▫️ pattern: footers

#10640 Checkout templates: Fix endpoint and page sync logic
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug

#10600 Testimonials Single Pattern > Update the image format and content width
  patterns/testimonials-single.php
Labels: status: ready to merge, type: enhancement, patterns

#10267 Add logic of Upgrade Notice after upgrading Products to Product Collection
  assets/js/blocks/migration-products-to-product-collection/constants.ts
  assets/js/blocks/migration-products-to-product-collection/index.ts
  assets/js/blocks/migration-products-to-product-collection/migration-from-product-collection-to-products.ts
  assets/js/blocks/migration-products-to-product-collection/migration-from-products-to-product-collection.ts
  assets/js/blocks/migration-products-to-product-collection/migration-utils.ts
  assets/js/blocks/migration-products-to-product-collection/types.ts
  assets/js/blocks/product-collection/block.json
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/inspector-controls/upgrade-notice.tsx
  assets/js/blocks/product-collection/types.ts
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/inspector-controls.tsx
Labels: status: ready to merge, skip-changelog, 🔹 block-type: product-query, ◼️ block: product collection

#10567 Order confirmation block: Verify email address for guest customers
  assets/js/blocks/classic-template/order-confirmation.tsx
  assets/js/blocks/order-confirmation/summary/style.scss
  package-lock.json
  package.json
  src/BlockTypes/OrderConfirmation/AbstractOrderConfirmationBlock.php
  src/BlockTypes/OrderConfirmation/BillingAddress.php
  src/BlockTypes/OrderConfirmation/BillingWrapper.php
  src/BlockTypes/OrderConfirmation/Downloads.php
  src/BlockTypes/OrderConfirmation/ShippingAddress.php
  src/BlockTypes/OrderConfirmation/ShippingWrapper.php
  src/BlockTypes/OrderConfirmation/Status.php
  src/BlockTypes/OrderConfirmation/Summary.php
  src/BlockTypes/OrderConfirmation/Totals.php
Labels: status: ready to merge, type: enhancement, skip-changelog

#10482 E2E: Product Gallery Large Image block test
  tests/e2e-pw/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.spec.ts
Labels: status: ready to merge, skip-changelog, type: technical debt

#10641 Fix: Made migration migrate block templates in the current theme
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateMigrationUtils.php
Labels: status: ready to merge, type: bug

#10652 Store Breadcrumbs block: Fix icon color when block is selected in List View
  assets/js/blocks/breadcrumbs/icon.tsx
  assets/js/blocks/breadcrumbs/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: store breadcrumbs

#10675 Make View Cart link displayed below the Add to Cart button
  assets/js/atomic/blocks/product-elements/button/style.scss
Labels: status: ready to merge, type: bug, category: styles, ◼️ block: add to cart

#10674 [Store Customization MVP] Create the new patterns dictionary
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: enhancement, skip-changelog, skip-zip, patterns

#10608 Fix/10530 Inconsistent new install behaviour for templates when using block themes
  src/BlockTemplatesController.php
  src/Templates/CartTemplate.php
  src/Templates/CheckoutTemplate.php
  src/Utils/BlockTemplateMigrationUtils.php
Labels: status: ready to merge, type: bug, priority: high, 🔹 block-type: templates

#10633 Add style controls for order shipping and billing address blocks
  assets/js/blocks/order-confirmation/billing-address/block.json
  assets/js/blocks/order-confirmation/billing-address/style.scss
  assets/js/blocks/order-confirmation/shipping-address/block.json
  assets/js/blocks/order-confirmation/shipping-address/style.scss
Labels: category: new-block, skip-changelog, category: styles

#10555 Product Gallery block: Fix 404 errors occurring on frontend
  src/BlockTypes/ProductGallery.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#10655 Enable manual migration of Products to Product Collection
  assets/js/blocks/migration-products-to-product-collection/constants.ts
Labels: status: ready to merge, type: enhancement, 🔹 block-type: product-query, ◼️ block: product collection

#10611 E2E: Improve the setup script
  tests/e2e/bin/all-products.txt
  tests/e2e/bin/pages/cart.html
  tests/e2e/bin/pages/checkout.html
  tests/e2e/bin/pages/my-account.html
  tests/e2e/bin/posts/active-filters.html
  tests/e2e/bin/posts/all-reviews.html
  tests/e2e/bin/posts/customer-account.html
  tests/e2e/bin/posts/featured-category.html
  tests/e2e/bin/posts/featured-product.html
  tests/e2e/bin/posts/handpicked-products.html
  tests/e2e/bin/posts/mini-cart.html
  tests/e2e/bin/posts/product-best-sellers.html
  tests/e2e/bin/posts/product-categories.html
  tests/e2e/bin/posts/product-category.html
  tests/e2e/bin/posts/product-new.html
  tests/e2e/bin/posts/product-on-sale.html
  tests/e2e/bin/posts/product-search.html
  tests/e2e/bin/posts/product-top-rated.html
  tests/e2e/bin/posts/products-by-attribute.html
  tests/e2e/bin/posts/reviews-by-category.html
  tests/e2e/bin/posts/reviews-by-product.html
  tests/e2e/bin/posts/single-product.html
  tests/e2e/bin/scripts/attributes.sh
  tests/e2e/bin/scripts/index.sh
  tests/e2e/bin/scripts/parallel/blog-name.sh
  tests/e2e/bin/scripts/parallel/customer.sh
  tests/e2e/bin/scripts/parallel/pages.sh
  tests/e2e/bin/scripts/parallel/payment.sh
  tests/e2e/bin/scripts/parallel/posts.sh
  tests/e2e/bin/scripts/parallel/products.sh
  tests/e2e/bin/scripts/parallel/shipping.sh
  tests/e2e/bin/scripts/parallel/tax.sh
  tests/e2e/bin/scripts/rewrite.sh
  tests/e2e/bin/test-env-setup.sh
Labels: status: ready to merge, type: enhancement, skip-changelog, category: tests

#10320 Product Gallery block: Add Pager block
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/block.json
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/constants.ts
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/icons.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/settings.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/style.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/types.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/edit.tsx
  assets/js/blocks/product-gallery/types.ts
  bin/webpack-entries.js
  src/BlockTypes/ProductGalleryPager.php
  src/BlockTypesController.php
Labels: status: ready to merge, type: enhancement, category: new-block, stale, ◼️ block: product gallery

#10663 Cart e2e test housekeeping
  tests/e2e-jest/specs/backend/cart.test.js
  tests/e2e/tests/cart/cart-block.merchant.block_theme.spec.ts
Labels: status: ready to merge, type: build, skip-changelog, ◼️ block: cart, category: tests

#10677 Convert frontend-block.js to frontend-block.tsx and replace propTypes with TypeScript definitions
  assets/js/base/components/reviews/review-list-item/index.tsx
  assets/js/base/components/reviews/review-list/index.tsx
  assets/js/blocks/reviews/attributes.ts
  assets/js/blocks/reviews/frontend-block.js
  assets/js/blocks/reviews/frontend-block.tsx
  assets/js/blocks/reviews/frontend.js
  assets/js/blocks/reviews/reviews-by-category/index.tsx
  assets/js/blocks/reviews/test/frontend-block.test.tsx
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: all reviews

#10689 Fix nightly builds
  .github/workflows/nightly-builds.yml
Labels: status: ready to merge, type: build, skip-changelog

#10697 Use GITHUB_TOKEN as the env variable for the changelog script
  bin/changelog/README.md
  bin/changelog/common/get-entry.js
  bin/changelog/config.js
  bin/changelog/github/make-change-log.js
  bin/changelog/zenhub/make-change-log.js
Labels: status: ready to merge, skip-changelog

#10710 Update composer.lock and package-lock.json files
  composer.lock
  package-lock.json
Labels: status: ready to merge, skip-changelog, type: task

#10695 E2E: Ensure the Shop page is created
  tests/e2e/bin/scripts/parallel/pages.sh
Labels: status: ready to merge, skip-changelog, category: tests

#10696 Add a generic arg to useCollection to improve typing of results.
  assets/js/base/context/hooks/collections/use-collection.ts
  assets/js/base/context/hooks/use-store-products.ts
  assets/js/blocks/active-filters/active-attribute-filters.tsx
  assets/js/blocks/attribute-filter/block.tsx
Labels: status: ready to merge, skip-changelog

#10719 Remove debug log
  assets/js/interactivity/index.js
Labels: status: ready to merge, skip-changelog, type: technical debt

#10660 Add Product Collection Grid pattern
  patterns/product-collection-grid.php
Labels: status: ready to merge, type: enhancement, patterns, ◼️ block: product collection

#10619 Dispatch the `wc-blocks_render_blocks_frontend` event when rendering the empty cart block
  assets/js/blocks/cart/inner-blocks/empty-cart-block/frontend.tsx
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: cart

#10701 Refactor block variation registration in product-collection
  assets/js/blocks/product-collection/index.tsx
  assets/js/blocks/product-collection/variations/elements/product-summary.tsx
  assets/js/blocks/product-collection/variations/elements/product-title.tsx
Labels: status: ready to merge, type: bug

#10704 E2E: Refactor Mini Cart to be ready for fully parallel
  tests/e2e/bin/posts/mini-cart.html
  tests/e2e/tests/mini-cart/mini-cart.block_theme.spec.ts
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.spec.ts
Labels: status: ready to merge, category: refactor, skip-changelog, category: tests

#10723 Revert dequeue add-to-cart-variation script
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, type: bug, ◼️ block: add to cart

#10524 Enable Product Collection as a core feature
  assets/js/blocks/migration-products-to-product-collection/constants.ts
  assets/js/blocks/product-collection/block.json
  assets/js/blocks/product-collection/index.tsx
  assets/js/blocks/product-collection/variations/elements/product-summary.tsx
  assets/js/blocks/product-collection/variations/elements/product-title.tsx
  assets/js/blocks/product-collection/variations/index.ts
  assets/js/blocks/product-query/variations/elements/product-summary.tsx
  assets/js/blocks/product-query/variations/elements/product-template.tsx
  assets/js/blocks/product-query/variations/elements/product-title.tsx
  assets/js/blocks/product-query/variations/elements/utils.tsx
  assets/js/blocks/product-template/index.tsx
  bin/webpack-entries.js
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  src/BlockTypesController.php
Labels: status: ready to merge, type: enhancement, category: new-block, ◼️ block: product collection

#10732 Fix UI misalignment of Filter by Price in TT1 theme
  assets/js/base/components/price-slider/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: filter by price, category: styles

#10716 Product Gallery block: Add support to Interactivity API
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/frontend.tsx
  src/BlockTypes/ProductGallery.php
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#10329 E2E Next Previous block
  tests/e2e/playwright.config.ts
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image-next-previous/product-gallery-large-image-next-previous.block_theme.spec.ts
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image-next-previous/utils.ts
Labels: status: ready to merge, skip-changelog, category: tests

#10665 Add Product Collection Full Grid pattern
  assets/js/atomic/blocks/product-elements/button/block.tsx
  assets/js/atomic/blocks/product-elements/button/style.scss
  patterns/product-collection-full-grid.php
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, type: enhancement, patterns, ◼️ block: product collection

#10151 Display notices on cart/checkout FSE templates
  templates/templates/blockified/cart.html
  templates/templates/blockified/checkout.html
  templates/templates/cart.html
  templates/templates/checkout.html
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout, stale

#10668 Next Previous Button block - Add layout support
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/block.json
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/style.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/style.scss
  src/BlockTypes/ProductGalleryLargeImageNextPrevious.php
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image-next-previous/product-gallery-large-image-next-previous.block_theme.spec.ts
  tests/e2e/utils/editor/editor-utils.page.ts
Labels: status: ready to merge, type: enhancement, skip-changelog

#10743 Next Previous Buttons: hide buttons when the product has only one image
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/block.json
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/edit.tsx
  assets/js/blocks/product-gallery/types.ts
  src/BlockTypes/ProductGalleryLargeImageNextPrevious.php
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image-next-previous/product-gallery-large-image-next-previous.block_theme.spec.ts
Labels: status: ready to merge, type: enhancement, skip-changelog

#10744 E2E: ensure the shop page is created by creating it manually
  tests/e2e/bin/scripts/parallel/pages.sh
Labels: status: ready to merge, skip-changelog, category: tests

#10476 Fix inconsistent padding in Customer Account block
  assets/js/blocks/customer-account/editor.scss
  assets/js/blocks/customer-account/style.scss
Labels: status: ready to merge, type: bug, category: styles, ◼️ block: customer account

#10552 Convert `product-control` to TypeScript
  assets/js/editor-components/product-attribute-term-control/index.tsx
  assets/js/editor-components/product-control/index.tsx
  assets/js/editor-components/search-list-control/item.tsx
  assets/js/editor-components/search-list-control/search-list-control.tsx
  assets/js/editor-components/search-list-control/types.ts
  assets/js/hocs/index.js
  assets/js/hocs/with-searched-products.tsx
  assets/js/hocs/with-transform-single-select-to-multiple-select.tsx
  assets/js/types/type-defs/hocs.ts
  assets/js/types/type-defs/index.ts
  assets/js/types/type-defs/product-response.ts
  assets/js/utils/products.js
  assets/js/utils/products.ts
Labels: status: ready to merge, category: refactor, skip-changelog, type: task

#10687 [Store Customization MVP] Verticals API client
  src/Verticals/Client.php
  tests/php/Verticals/ClientTest.php
Labels: status: ready to merge, type: enhancement, skip-changelog, patterns

#10745 Fix/Template endpoint update for subpages
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, type: blocker

#10746 Add team members to the WordPress.org Contributors & Developers list for WooCommerce Blocks
  readme.txt
Labels: status: ready to merge, skip-changelog

#10754 Refactor errors util to TypeScript, minor typing fixes
  .eslintrc.js
  assets/js/base/hocs/with-reviews.js
  assets/js/base/utils/errors.js
  assets/js/base/utils/errors.ts
  assets/js/base/utils/test/errors.js
  assets/js/editor-components/product-control/index.tsx
  assets/js/editor-components/search-list-control/types.ts
  assets/js/hocs/with-attributes.js
  assets/js/hocs/with-categories.js
  assets/js/hocs/with-category.js
  assets/js/hocs/with-product-variations.js
  assets/js/hocs/with-product.js
  assets/js/hocs/with-searched-products.tsx
Labels: status: ready to merge, skip-changelog

#10768 Fix bug with wpautop for the empty cart
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: cart, priority: high

#10709 Adjust `Follow us on social media` pattern icon alignment
  patterns/social-follow-us-in-social-media.php
Labels: status: ready to merge, type: enhancement, needs design, category: styles, design review, patterns

#10785 Lockfile Maintenance – 2023-08-30
  package-lock.json
Labels: status: ready to merge, skip-changelog, type: dependencies
