Repository woocommerce/woocommerce-blocks, pull requests merged in 2023-09, with the labels that each got.

#9875 Update @wordpress/env to 8.1.1 and re-enable PHP Unit Tests for PHP v 8.1 and 8.2
  .github/workflows/unit-tests.yml
  package-lock.json
  package.json
  tests/e2e/bin/test-env-setup.sh
  tests/e2e/block-theme.setup.ts
  tests/e2e/classic-theme.setup.ts
  tests/e2e/global-setup.ts
  tests/e2e/mocks/custom-plugins/utils.ts
  tests/e2e/tests/classic-template/classic-template.block_theme.side_effects.spec.ts
  tests/e2e/tests/permalink-settings/permalink-settings.block_theme.spec.ts
  tests/e2e/tests/price-filter/price-filter.block_theme.side_effects.spec.ts
Labels: status: ready to merge, skip-changelog, github_actions

#10805 Fix: use correct bump strategy for Assign Milestone workflow
  .github/workflows/approved-with-labels.yml
Labels: status: ready to merge, type: bug, skip-changelog, type: release, skip-zip

#10808 Bump @wordpress/env to 8.2.0
  package-lock.json
  package.json
Labels: status: ready to merge, skip-changelog, type: dependencies

#10784 Product Gallery > Prevent error when "layout" is missing in block attributes
  src/BlockTypes/ProductGalleryLargeImageNextPrevious.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#10533 Fix customer account icon not scaling in certain environments
  assets/js/blocks/customer-account/style.scss
Labels: status: ready to merge, type: bug, theme: Twenty Twenty-One, ◼️ block: customer account

#10624 Ensure WooCommerce Core scripts are dequeued correctly
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: cart, stale, php

#10829 Update release checklist for WC Core version bump.
  .github/release-initial-checklist.md
Labels: status: ready to merge, type: documentation, skip-changelog

#10788 Fixes for jest transpilation issues.
  assets/js/base/components/read-more/trim-html.js
  assets/js/base/components/read-more/utils.ts
  assets/js/blocks/cart/test/block.js
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/test/edit.js
  package-lock.json
  tests/e2e-jest/config/jest.config.js
  tests/js/jest.config.json
Labels: status: ready to merge, skip-changelog

#10786 Retry link retrieval on 429, fix the version of markdown-link-check
  .github/workflows/check-doc-links-config.json
  .github/workflows/check-doc-links.yml
Labels: skip-changelog

#10832 Product Hero Pattern > Adjust the content width
  patterns/product-hero.php
Labels: status: ready to merge, type: enhancement

#10604 Product button: sync temporary number of items on instantiation
  assets/js/atomic/blocks/product-elements/button/frontend.tsx
  assets/js/interactivity/directives.js
  assets/js/interactivity/hooks.js
  src/BlockTypes/ProductButton.php
  src/BlockTypes/ProductTemplate.php
Labels: status: ready to merge, type: enhancement, stale

#10795 Product Gallery Block: Add zoom on hovering on the frontend - E2E tests
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.spec.ts
  tests/e2e/tests/product-gallery/product-gallery.page.ts
  tests/e2e/utils/editor/editor-utils.page.ts
Labels: status: ready to merge, type: enhancement, skip-changelog

#10825 Update cart API response and data store to contain product type
  assets/js/previews/cart.ts
  assets/js/types/type-defs/cart.ts
  src/StoreApi/Schemas/V1/CartItemSchema.php
  src/StoreApi/Schemas/V1/ItemSchema.php
  src/StoreApi/docs/cart-items.md
  tests/php/StoreApi/Routes/CartItems.php
Labels: status: ready to merge, ◼️ block: cart, ◼️ block: checkout, type: task, category: data-store

#10782 Product Gallery > Pager block: Fix block alignment
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/style.scss
  assets/js/blocks/product-gallery/utils.tsx
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-thumbnails/product-gallery-thumbnails.block_theme.spec.ts
  tests/e2e/utils/frontend/frontend-utils.page.ts
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#10837 Fix the artifacts path for classic theme
  tests/e2e/playwright.classic-theme.config.ts
Labels: status: ready to merge, skip-changelog, type: technical debt, category: tests

#10791 Product Gallery Block: Add zoom on hovering on the frontend
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/style.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/block.json
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/frontend.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/style.scss
  src/BlockTypes/AbstractBlock.php
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
  src/BlockTypes/MiniCartContents.php
  src/BlockTypes/ProductButton.php
  src/BlockTypes/ProductGallery.php
  src/BlockTypes/ProductGalleryLargeImage.php
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.spec.ts
  tests/e2e/tests/product-gallery/product-gallery.page.ts
  tests/e2e/utils/editor/editor-utils.page.ts
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#10840 Add initial E2E setup for the Order Confirmation Block
  tests/e2e/tests/checkout/checkout.page.ts
  tests/e2e/tests/checkout/constants.ts
  tests/e2e/tests/checkout/order-confirmation.block_theme.spec.ts
  tests/e2e/tests/templates/order-confirmation.block_theme.spec.ts
  tests/e2e/utils/frontend/frontend-utils.page.ts
Labels: status: ready to merge, skip-changelog, category: tests

#10835 Add Simple Grid Product Collection pattern
  patterns/product-collection-simple-grid.php
Labels: status: ready to merge, type: enhancement, patterns, ◼️ block: product collection

#10859 Product Image: Fix bug that prevented block styles being applied within the editor.
  assets/js/atomic/blocks/product-elements/image/block.tsx
Labels: status: ready to merge, type: bug, ◼️ block: product, ◼️ block: product collection

#10857 Add Product Collection Rows pattern
  patterns/product-collection-rows.php
Labels: status: ready to merge, type: enhancement, patterns

#10866 Fix JS Lint issues
  assets/js/base/context/hooks/cart/test/use-store-cart.js
  assets/js/base/context/hooks/collections/test/use-collection.js
  assets/js/base/context/hooks/test/use-query-state.js
  assets/js/base/hocs/test/with-reviews.js
  assets/js/base/hooks/test/use-previous.js
  assets/js/base/hooks/test/use-shallow-equal.js
  assets/js/blocks/price-filter/test/use-price-constraints.js
  assets/js/hocs/test/with-categories.js
  assets/js/hocs/test/with-category.js
  assets/js/hocs/test/with-product-variations.js
  assets/js/hocs/test/with-product.js
  assets/js/hocs/test/with-searched-products.js
Labels: status: ready to merge, skip-changelog, category: tests, github_actions

#10758 Fix: load blocks style separately for classic themes
  bin/webpack-configs.js
  bin/webpack-entries.js
  src/AssetsController.php
  src/BlockTypes/AbstractBlock.php
  webpack.config.js
Labels: status: ready to merge, type: enhancement, priority: high

#10839 Product Gallery: fix warning
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/utils.tsx
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-thumbnails/product-gallery-thumbnails.block_theme.side_effects.spec.ts
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#10875 Change default number of columns in Related Products
  assets/js/blocks/product-query/variations/related-products.tsx
Labels: status: ready to merge, type: bug, 🔹 block-type: product-query

#10842 Add additional information block
  assets/js/base/components/skeleton/index.tsx
  assets/js/base/components/skeleton/style.scss
  assets/js/blocks/classic-template/order-confirmation.tsx
  assets/js/blocks/order-confirmation/additional-information/block.json
  assets/js/blocks/order-confirmation/additional-information/edit.tsx
  assets/js/blocks/order-confirmation/additional-information/index.tsx
  assets/js/blocks/order-confirmation/additional-information/style.scss
  bin/webpack-entries.js
  src/BlockTypes/OrderConfirmation/AdditionalInformation.php
  src/BlockTypes/OrderConfirmation/Summary.php
  src/BlockTypesController.php
Labels: type: enhancement, skip-changelog, skip-zip

#10864 PHPCS: Update PHP and WP versions to match with current requirements
  phpcs.xml
Labels: status: ready to merge, skip-changelog

#10869 Product Gallery: Lock the Sale Badge and the Next/Prev Buttons
  assets/js/blocks/product-gallery/edit.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: product gallery

#10778 [Store Customization] Create a service to get the selected vertical from the business description and the verticals
  src/Verticals/ChatGPTClient.php
  src/Verticals/VerticalsSelector.php
  tests/php/Verticals/VerticalsSelectorTest.php
Labels: status: ready to merge, type: enhancement, skip-changelog

#10789 [Store Customization] Make request to the Verticals API to fetch matching images and classify them
  src/Patterns/PatternImages.php
  tests/php/Patterns/PatternImagesTest.php
Labels: status: ready to merge, type: enhancement, skip-changelog, stale

#10776 Product Gallery Thumbnails: Interactivity API directives
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/frontend.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/style.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/style.scss
  src/BlockTypes/ProductGallery.php
  src/BlockTypes/ProductGalleryLargeImage.php
  src/BlockTypes/ProductGalleryThumbnails.php
  src/Utils/ProductGalleryUtils.php
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-gallery/product-gallery.block_theme.side_effects.spec.ts
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#10846 Store Customization > Implement Client for requests to the GPT API
  composer.json
  composer.lock
  src/AI/Configuration.php
  src/AI/Connection.php
  tests/php/AI/ConnectionTest.php
Labels: status: ready to merge, type: enhancement, skip-changelog

#10879 BlockTemplatesController: Check that $attributes['theme'] value isset before operating on it
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, Templates API

#10932 Place Order Button Label: Add code snippet and screenshot
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
Labels: type: documentation, skip-changelog, ◼️ block: checkout, type: community contribution

#10726 Add collection filters block
  assets/js/blocks/collection-filters/block.json
  assets/js/blocks/collection-filters/edit.tsx
  assets/js/blocks/collection-filters/index.tsx
  assets/js/blocks/collection-filters/save.tsx
  bin/webpack-entries.js
  src/BlockTypes/CollectionFilters.php
  src/BlockTypesController.php
Labels: status: ready to merge, skip-changelog

#10930 Totals Footer Item: Add code snippet and screenshot
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
Labels: type: documentation, skip-changelog, ◼️ block: checkout

#10876 Add pattern chooser in Product Collection
  assets/js/blocks/product-collection/editor.scss
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/toolbar-controls/display-layout-toolbar.tsx
  assets/js/blocks/product-collection/toolbar-controls/index.tsx
  assets/js/blocks/product-collection/toolbar-controls/pattern-chooser-toolbar.tsx
  assets/js/blocks/product-collection/toolbar-controls/pattern-selection-modal.tsx
  assets/js/blocks/product-collection/types.ts
  patterns/product-collection-full-grid.php
  patterns/product-collection-grid.php
  patterns/product-collection-rows.php
  patterns/product-collection-simple-grid.php
Labels: status: ready to merge, type: enhancement, ◼️ block: product collection

#10926 Add readme file to extend-rest-api directory and move internal doc into internal folder
  docs/README.md
  docs/internal-developers/rest-api/README.md
  docs/internal-developers/rest-api/extend-rest-api-new-endpoint.md
  docs/third-party-developers/extensibility/README.md
  docs/third-party-developers/extensibility/rest-api/README.md
  docs/third-party-developers/extensibility/rest-api/available-endpoints-to-extend.md
  src/StoreApi/README.md
Labels: status: ready to merge, type: documentation, category: extensibility, skip-changelog

#10936 Updated composer.lock
  composer.lock
Labels: status: ready to merge, skip-changelog

#10928 Add custom regex for validating Nicaraguan postal codes
  packages/checkout/utils/validation/is-postcode.ts
  packages/checkout/utils/validation/test/is-postcode.ts
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout

#10931 Show Apply Coupon Notice / Show Remove Coupon Notice: Add code snippet and screenshot
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
Labels: type: documentation, skip-changelog, ◼️ block: cart, type: community contribution

#10945 Hide unexpected bullet point in Product Collection on Storefront
  assets/js/blocks/product-template/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: product collection

#10962 Revert "Fix: use correct bump strategy for Assign Milestone workflow (#10805)
  .github/workflows/approved-with-labels.yml
Labels: status: ready to merge, skip-changelog

#10944 Improve the testing notes to include information about Product Rating
  docs/internal-developers/testing/releases/1110.md
Labels: status: ready to merge, type: documentation, skip-changelog

#10953 Allowing blocks in specific areas in the Cart and Checkout blocks: Add screenshot
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
Labels: type: documentation, skip-changelog, ◼️ block: cart, ◼️ block: checkout, type: community contribution

#10823 Product Gallery Block: Add Product Gallery template to allow users to edit full mode view
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/frontend.tsx
  assets/js/blocks/product-gallery/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/frontend.tsx
  assets/js/blocks/product-gallery/style.scss
  assets/js/blocks/product-gallery/types.ts
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  src/BlockTemplatesController.php
  src/BlockTypes/ProductGallery.php
  src/BlockTypes/ProductGalleryLargeImage.php
  src/BlockTypes/ProductGalleryThumbnails.php
  src/Utils/BlockTemplateUtils.php
  templates/parts/product-gallery.html
  tests/e2e/tests/on-sale-badge/on-sale-badge-single-product-template.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image-next-previous/product-gallery-large-image-next-previous.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-thumbnails/product-gallery-thumbnails.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-gallery/product-gallery.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-gallery/product-gallery.page.ts
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#10958 Order Summary Items » subtotalPriceFormat: Add code snippet and screenshot
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
Labels: type: documentation, skip-changelog, ◼️ block: checkout, type: community contribution

#10922 Product Collection: Transfer layout options from Toolbar to Inspector controls
  assets/js/blocks/product-collection/constants.ts
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/inspector-controls/inherit-query-control.tsx
  assets/js/blocks/product-collection/inspector-controls/layout-options-control.tsx
  assets/js/blocks/product-collection/types.ts
Labels: status: ready to merge, type: enhancement, category: blocks, ◼️ block: product collection

#10955 Proceed to Checkout Button Label: Add code snippet and screenshot
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
Labels: type: documentation, skip-changelog, ◼️ block: cart, type: community contribution

#10972 Tests for order confirmation conditional blocks
  tests/e2e/tests/checkout/checkout.page.ts
  tests/e2e/tests/checkout/order-confirmation.block_theme.spec.ts
Labels: status: ready to merge, skip-changelog, category: tests, skip-zip

#10957 Coupons: Add code snippet and screenshot
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
Labels: type: documentation, skip-changelog, ◼️ block: cart, ◼️ block: checkout, type: community contribution

#10924 Update `postcode-validator` to 3.8.15 to validate "new" Taiwanese postcodes
  package-lock.json
  package.json
  packages/checkout/utils/validation/is-postcode.ts
  packages/checkout/utils/validation/test/is-postcode.ts
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#10881 Store Customization > Create a new endpoint within Store API for updating patterns with AI-generated content
  src/Patterns/PatternImages.php
  src/StoreApi/Routes/V1/Patterns.php
  src/StoreApi/RoutesController.php
  src/StoreApi/SchemaController.php
  src/StoreApi/Schemas/V1/PatternsSchema.php
  src/Verticals/VerticalsSelector.php
  tests/php/Patterns/PatternImagesTest.php
  tests/php/Verticals/VerticalsSelectorTest.php
Labels: status: ready to merge, type: enhancement, skip-changelog, patterns

#10969 Cart Line Items » itemName / subtotalPriceFormat / showRemoveItemLink: Add code snippet and screenshot
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
Labels: type: documentation, skip-changelog, ◼️ block: cart, type: community contribution

#10976 ExperimentalOrderMeta / ExperimentalOrderLocalPickupPackages / ExperimentalDiscountsMeta: add code snippet
  docs/third-party-developers/extensibility/checkout-block/available-slot-fills.md
Labels: type: documentation, skip-changelog, ◼️ block: cart, ◼️ block: checkout, type: community contribution

#10873 CollectionFilters: Hydrate Collection Data for inner filter blocks
  src/BlockTypes/CollectionFilters.php
Labels: status: ready to merge, skip-changelog

#10977 Single Product: Fix the Align setting
  src/BlockTypes/SingleProduct.php
Labels: status: ready to merge, type: bug

#10956 Store Customization > Schedule an action to update the patterns content whenever the business description is changed
  src/BlockPatterns.php
Labels: status: ready to merge, type: enhancement, type: blocker, skip-changelog

#10988 ExperimentalOrderShippingPackages: Add code snippet
  docs/third-party-developers/extensibility/checkout-block/available-slot-fills.md
Labels: type: documentation, skip-changelog, ◼️ block: cart, ◼️ block: checkout, type: community contribution

#10796 [Store Customization] Update patterns to use the AI selected verticals for images
  patterns/banner.php
  patterns/discount-banner-with-image.php
  patterns/featured-category-focus.php
  patterns/featured-category-triple.php
  patterns/featured-products-fresh-and-tasty.php
  patterns/hero-product-3-split.php
  patterns/hero-product-chessboard.php
  patterns/hero-product-split.php
  patterns/product-collection-banner.php
  patterns/product-collections-featured-collections.php
  patterns/small-discount-banner-with-image.php
  patterns/social-follow-us-in-social-media.php
  patterns/store-info-alt-image-and-text.php
  patterns/testimonials-single.php
  src/BlockPatterns.php
  src/Patterns/PatternImages.php
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: enhancement, type: blocker, skip-changelog, patterns

#10989 Cart Line Items » saleBadgePriceFormat / cartItemClass / cartItemPrice: Add code snippet and screenshot
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
Labels: type: documentation, skip-changelog, ◼️ block: cart, type: community contribution

#10773 Refactor Cart and Checkout Page Templates
  assets/js/blocks/cart-checkout-shared/sidebar-notices/index.tsx
  assets/js/blocks/classic-shortcode/cart.tsx
  assets/js/blocks/classic-shortcode/checkout.tsx
  assets/js/blocks/classic-shortcode/constants.ts
  assets/js/blocks/classic-shortcode/editor.scss
  assets/js/blocks/classic-shortcode/index.tsx
  assets/js/blocks/classic-shortcode/style.scss
  assets/js/blocks/classic-shortcode/types.ts
  assets/js/blocks/classic-shortcode/utils.ts
  assets/js/blocks/classic-template/constants.ts
  assets/js/blocks/page-content-wrapper/block.json
  assets/js/blocks/page-content-wrapper/editor.scss
  assets/js/blocks/page-content-wrapper/index.tsx
  assets/js/blocks/store-notices/editor.scss
  assets/js/editor-components/default-notice/index.tsx
  assets/js/editor-components/template-notice/editor.scss
  assets/js/editor-components/template-notice/index.tsx
  bin/webpack-entries.js
  images/template-placeholders/cart.svg
  images/template-placeholders/checkout.svg
  src/BlockTemplatesController.php
  src/BlockTypes/Checkout.php
  src/BlockTypes/ClassicShortcode.php
  src/BlockTypes/PageContentWrapper.php
  src/BlockTypesController.php
  src/Installer.php
  src/Migration.php
  src/Templates/AbstractPageTemplate.php
  src/Templates/CartTemplate.php
  src/Templates/CheckoutTemplate.php
  src/Templates/OrderConfirmationTemplate.php
  src/Utils/BlockTemplateMigrationUtils.php
  src/Utils/BlockTemplateUtils.php
  src/Utils/SettingsUtils.php
  templates/parts/checkout-header.html
  templates/templates/blockified/cart.html
  templates/templates/blockified/checkout.html
  templates/templates/blockified/page-cart.html
  templates/templates/blockified/page-checkout.html
  templates/templates/cart.html
  templates/templates/checkout.html
  templates/templates/page-cart.html
  templates/templates/page-checkout.html
  tests/e2e/block-theme.setup.ts
  tests/e2e/tests/cart/cart-block.merchant.block_theme.spec.ts
  tests/e2e/tests/checkout/checkout-block-shipping.block_theme.side_effects.spec.ts
  tests/e2e/tests/permalink-settings/permalink-settings.block_theme.spec.ts
  tests/e2e/tests/templates/cart-template.block_theme.spec.ts
  tests/e2e/tests/templates/checkout-header-template-part.block_theme.spec.ts
  tests/e2e/tests/templates/checkout-template.block_theme.spec.ts
  tests/e2e/tests/templates/order-confirmation.block_theme.spec.ts
  tests/e2e/utils/frontend/frontend-utils.page.ts
Labels: status: ready to merge, type: enhancement, needs dev-note, ◼️ block: cart, ◼️ block: checkout, needs docs, Templates API

#10937 Update experimental blocks in the feature-flags-and-experimental-interfaces doc
  bin/webpack-entries.js
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
Labels: status: ready to merge, skip-changelog

#10787 Refactor frontend, frontend-container-block (of reviews) to TypeScript
  assets/js/blocks/reviews/frontend-container-block.tsx
  assets/js/blocks/reviews/frontend.ts
  bin/webpack-entries.js
Labels: status: ready to merge, skip-changelog, type: task

#10999 Fix: Password Protection not respected on single product template
  src/BlockTemplatesController.php
  src/Templates/SingleProductTemplate.php
  tests/e2e/tests/single-product-template/single-product-template-protected-product.block_theme.side_effects.spec.ts
  tests/php/Templates/SingleProductTemplateTests.php
Labels: status: ready to merge, type: bug

#10761 Product Gallery Thumbnails: Only output thumbnails markup when multiple product thumbnails are present
  src/BlockTypes/ProductGalleryThumbnails.php
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#8013 Upgrade webpack to version 5
  assets/js/base/context/hooks/cart/test/use-store-cart.jsx
  assets/js/base/context/hooks/collections/test/use-collection.jsx
  assets/js/base/context/hooks/test/use-query-state.jsx
  assets/js/base/hocs/test/with-reviews.jsx
  assets/js/base/hooks/test/use-previous.jsx
  assets/js/base/hooks/test/use-shallow-equal.jsx
  assets/js/blocks/price-filter/test/use-price-constraints.jsx
  assets/js/hocs/test/with-categories.jsx
  assets/js/hocs/test/with-category.jsx
  assets/js/hocs/test/with-product-variations.jsx
  assets/js/hocs/test/with-product.jsx
  assets/js/hocs/test/with-searched-products.jsx
  bin/webpack-configs.js
  bin/webpack-helpers.js
  bin/webpack-rtl-plugin.js
  docs/contributors/coding-guidelines.md
  docs/contributors/css-build-system.md
  package-lock.json
  package.json
  storybook/main.js
  storybook/preview.js
  storybook/webpack.config.js
  tests/e2e-jest/specs/shopper/cart-checkout/translations.test.js
  tests/e2e-jest/specs/shopper/filter-products-by-attribute.test.ts
Labels: status: ready to merge, type: enhancement, type: build, priority: high

#10867 Product Gallery: CSS styling tightening up
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/editor.scss
  assets/js/blocks/product-gallery/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/icons.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/style.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/utils.ts
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/block.json
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/style.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/style.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/style.scss
  assets/js/blocks/product-gallery/save.tsx
  assets/js/blocks/product-gallery/style.scss
  assets/js/blocks/product-gallery/utils.tsx
  src/BlockTypes/ProductGallery.php
  src/BlockTypes/ProductGalleryLargeImage.php
  src/BlockTypes/ProductGalleryLargeImageNextPrevious.php
  src/BlockTypes/ProductGalleryPager.php
  src/BlockTypes/ProductGalleryThumbnails.php
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image-next-previous/product-gallery-large-image-next-previous.block_theme.side_effects.spec.ts
Labels: status: ready to merge, type: bug, ◼️ block: product gallery

#11006 BlockTemplateController: Remove unncessary PHP variable
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: enhancement, skip-changelog

#10815 Track checkout and cart page info (blocks in use or shortcode in use)
  assets/js/extensions/jetpack/woocommerce-analytics/constants.ts
  assets/js/extensions/jetpack/woocommerce-analytics/index.ts
  assets/js/extensions/jetpack/woocommerce-analytics/test/index.ts
  bin/webpack-entries.js
  src/Domain/Bootstrap.php
  src/Domain/Services/JetpackWooCommerceAnalytics.php
Labels: status: ready to merge, skip-changelog, category: blocks, ◼️ block: cart, ◼️ block: checkout, type: task

#10736 Product Gallery > Pager block: Add support to interactivity API
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/frontend.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/block.json
  assets/js/blocks/product-gallery/style.scss
  src/BlockTypes/ProductGallery.php
  src/BlockTypes/ProductGalleryPager.php
  src/Utils/ProductGalleryUtils.php
Labels: type: enhancement, skip-changelog, ◼️ block: product gallery

#10978 Add condition to register blocks and variation in single product temp…
  assets/js/atomic/utils/register-block-single-product-template.ts
  tests/e2e/tests/add-to-cart-form/add-to-cart-form.block_theme.spec.ts
  tests/e2e/tests/related-products/related-products.block_theme.spec.ts
Labels: status: ready to merge, type: bug, ◼️ block: single product

#11023 Product Gallery Large Image: Add wrapper to fix zoom
  assets/js/blocks/product-gallery/style.scss
  src/Utils/ProductGalleryUtils.php
Labels: status: ready to merge, type: bug, ◼️ block: product gallery

#11024 WooExpress: Fix Checkout and Cart Blocks Editor Crash
  assets/js/blocks/cart-checkout-shared/use-forced-layout/index.ts
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout

#11032 Product Gallery: Fix the Product Gallery Thumbnails on click
  src/BlockTypes/ProductGalleryLargeImage.php
  src/BlockTypes/ProductGalleryThumbnails.php
  src/Utils/ProductGalleryUtils.php
Labels: status: ready to merge, type: bug, ◼️ block: product gallery

#10998 Product Gallery Pager: Remove the Pager markup if there's only one image
  src/BlockTypes/ProductGalleryPager.php
Labels: status: ready to merge, type: bug, ◼️ block: product gallery

#11034 Interactivity API: Add support for underscores and leading dashes in the suffix part of the directive
  assets/js/interactivity/vdom.js
Labels: status: ready to merge, type: enhancement, skip-changelog, type: task

#11029 Make default heading level for cart and checkout templates a h1
  templates/templates/blockified/page-cart.html
  templates/templates/blockified/page-checkout.html
  templates/templates/page-cart.html
  templates/templates/page-checkout.html
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, ◼️ block: cart, ◼️ block: checkout

#11022 Remove order and checkout order endpoints experimental flag
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  src/StoreApi/RoutesController.php
Labels: status: ready to merge, type: blocker, type: task

#10032 Remove data attributes from being saved in html of All products block
  assets/js/blocks/products/all-products/deprecated.js
  assets/js/blocks/products/all-products/save.js
Labels: skip-changelog, ◼️ block: all products, type: community contribution

#11056 Fix downloads block visibility
  assets/js/blocks/order-confirmation/downloads-wrapper/edit.tsx
  assets/js/blocks/order-confirmation/downloads-wrapper/editor.scss
  assets/js/blocks/order-confirmation/totals-wrapper/edit.tsx
  src/BlockTypesController.php
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, skip-zip

#11055 Fix failing Playwright E2E tests
  tests/e2e/tests/price-filter/price-filter.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-collection/compatibility-layer.block_theme.side_effects.spec.ts
  tests/e2e/tests/templates/checkout-template.block_theme.spec.ts
Labels: status: ready to merge, skip-changelog, category: tests

#11054 #11053 added fee id
  packages/checkout/components/totals/fees/index.tsx
Labels: type: enhancement, ◼️ block: cart, ◼️ block: checkout, type: community contribution

#11035 Product Gallery > Pager block: Fix classname to adhere to the Coding Guidelines
  assets/js/blocks/product-gallery/style.scss
  src/BlockTypes/ProductGalleryPager.php
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#11031 Product Gallery: Remove additional wrapper
  src/BlockTypes/ProductGallery.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#10877 Update the sidebar notice we show for incompatible extensions
  assets/js/blocks/cart-checkout-shared/sidebar-notices/index.tsx
  assets/js/data/index.ts
  assets/js/editor-components/incompatible-extension-notice/editor.scss
  assets/js/editor-components/incompatible-extension-notice/index.tsx
  assets/js/editor-components/incompatible-extension-notice/use-combined-incompatibility-notice.ts
  assets/js/editor-components/incompatible-extension-notice/use-incompatible-extensions-notice.ts
  assets/js/editor-components/incompatible-extension-notice/use-incompatible-payment-gateways-notice.ts
  assets/js/editor-components/incompatible-payment-gateways-notice/index.tsx
  composer.lock
  docs/internal-developers/testing/cart-checkout/shipping.md
  src/BlockTypes/Checkout.php
Labels: type: enhancement, ◼️ block: cart, ◼️ block: checkout, type: compatibility
