Repository woocommerce/woocommerce-blocks, pull requests merged in 2023-11, with the labels that each got.

#11383 Move `Title` to components package
  assets/js/base/components/index.ts
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/checkout-express-payment.js
  assets/js/blocks/checkout/form-step/form-step-heading.tsx
  packages/components/form-step/index.tsx
  packages/components/index.ts
  packages/components/title/index.tsx
  packages/components/title/style.scss
Labels: status: ready to merge, type: enhancement, category: components

#11527 Update link to GH PRs
  .github/workflows/nightly-builds.yml
Labels: status: ready to merge, type: build, skip-changelog

#11528 Add checkout-header template to the correct area in site editor
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: enhancement

#11532 Fix state input in playwright tests
  tests/e2e/tests/checkout/checkout.page.ts
Labels: status: ready to merge, skip-changelog, category: tests, skip-zip

#11526 Ensure that the "Remove Item" link on Cart block has a hover state
  assets/css/abstracts/_mixins.scss
  assets/js/base/components/cart-checkout/cart-line-items-table/style.scss
Labels: status: ready to merge, type: bug, category: accessibility, ◼️ block: cart, 🔹 block-type: filter blocks, ◼️ block: filter by price, ◼️ block: filter by attribute, ◼️ block: active filters, category: styles, ◼️ block: filter by stock, ◼ block: filter by rating

#11544 `Footer with 3 menus` pattern: update the spacing in the columns to improve the mobile view
  patterns/footer-with-3-menus.php
Labels: status: ready to merge, type: enhancement, ▫️ pattern: footers, patterns

#11524 Add Notices Documentation to Storybook and upgrade to Storybook 7
  .eslintrc.js
  assets/js/base/components/button/stories/index.stories.tsx
  assets/js/base/components/cart-checkout/totals/coupon/stories/index.stories.tsx
  assets/js/base/components/cart-checkout/totals/discount/stories/index.stories.tsx
  assets/js/base/components/cart-checkout/totals/footer-item/stories/index.stories.tsx
  assets/js/base/components/country-input/stories/index.stories.tsx
  assets/js/base/components/form-token-field/stories/index.stories.tsx
  assets/js/base/components/notice-banner/README.md
  assets/js/base/components/notice-banner/docs/docs.mdx
  assets/js/base/components/notice-banner/index.tsx
  assets/js/base/components/notice-banner/screenshots/default.png
  assets/js/base/components/notice-banner/screenshots/error.png
  assets/js/base/components/notice-banner/screenshots/info.png
  assets/js/base/components/notice-banner/screenshots/success.png
  assets/js/base/components/notice-banner/screenshots/warning.png
  assets/js/base/components/notice-banner/stories/index.stories.tsx
  assets/js/base/components/price-slider/stories/index.stories.tsx
  assets/js/base/components/product-name/stories/index.stories.tsx
  assets/js/base/components/product-price/stories/index.stories.tsx
  assets/js/base/components/quantity-selector/stories/index.stories.tsx
  assets/js/base/components/read-more/stories/index.stories.tsx
  assets/js/base/components/snackbar-list/README.md
  assets/js/base/components/snackbar-list/docs/docs.mdx
  assets/js/base/components/snackbar-list/snackbar.tsx
  assets/js/base/components/snackbar-list/stories/index.stories.tsx
  assets/js/base/components/snackbar-list/stories/snackbar.stories.tsx
  assets/js/base/components/snackbar-list/style.scss
  assets/js/base/components/tabs/stories/index.stories.tsx
  assets/js/base/utils/test/errors.js
  assets/js/editor-components/error-placeholder/index.tsx
  assets/js/editor-components/error-placeholder/stories/error-message.stories.tsx
  assets/js/editor-components/error-placeholder/stories/error-placeholder.stories.tsx
  assets/js/editor-components/external-link-card/stories/index.stories.tsx
  assets/js/editor-components/search-list-control/test/__snapshots__/index.js.snap
  assets/js/icons/docs/iconography.mdx
  assets/js/icons/stories/index.tsx
  package-lock.json
  package.json
  packages/checkout/components/checkbox-control/stories/index.stories.tsx
  packages/checkout/components/totals/fees/stories/index.stories.tsx
  packages/checkout/components/totals/item/stories/index.stories.tsx
  packages/checkout/components/totals/subtotal/stories/index.stories.tsx
  packages/checkout/components/totals/taxes/stories/index.stories.tsx
  packages/components/chip/chip.tsx
  packages/components/chip/removable-chip.tsx
  packages/components/chip/stories/chip.stories.tsx
  packages/components/chip/stories/removable-chip.stories.tsx
  packages/components/formatted-monetary-amount/stories/index.stories.tsx
  storybook/main.js
  storybook/preview.js
  storybook/style.scss
Labels: status: ready to merge, type: documentation, skip-changelog, type: dependencies

#11545 Change the "chessboard" pattern structure to improve mobile view
  patterns/hero-product-chessboard.php
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: enhancement, patterns

#11553 [CYS] Fix `Product Collection 4 Columns` pattern button height
  assets/js/atomic/blocks/product-elements/button/style.scss
Labels: status: ready to merge, type: enhancement, patterns

#11471 Backport 11.4.x changes in trunk
  docs/internal-developers/testing/releases/1142.md
  docs/internal-developers/testing/releases/1143.md
  docs/internal-developers/testing/releases/README.md
  readme.txt
  src/BlockTypes/OrderConfirmation/AbstractOrderConfirmationBlock.php
  templates/parts/checkout-header.html
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, type: release

#11484 Footer with 2 Menus Dark pattern: Fix the Site Title color contrast in TT4.
  patterns/footer-with-2-menus-dark.php
Labels: status: ready to merge, type: bug

#11087 Product Gallery Thumbnails: Add View all overlay
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/frontend.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/block.json
  assets/js/blocks/product-gallery/style.scss
  src/BlockTypes/ProductGallery.php
  src/BlockTypes/ProductGalleryLargeImage.php
  src/BlockTypes/ProductGalleryThumbnails.php
  tests/e2e/tests/on-sale-badge/on-sale-badge-single-product-template.block_theme.side_effects.spec.ts
Labels: status: ready to merge, type: enhancement, ◼️ block: product gallery

#11556 Prevent Sale badge overflowing the Product Image in some product grid blocks
  assets/css/style.scss
Labels: status: ready to merge, type: bug, 🔹 block-type: product-grid, category: styles, theme: Twenty Twenty-Four

#11546 Fix spelling issues in prompt.
  src/Patterns/ProductUpdater.php
Labels: status: ready to merge, type: bug, skip-changelog, artificial-intelligence

#11570 Add aspect ratio to the `Featured Products 5 Columns` pattern
  patterns/product-collection-featured-products-5-columns.php
Labels: status: ready to merge, type: enhancement, patterns

#11573 Add margin bottom to the `Hero Product 3 Split` pattern
  patterns/hero-product-3-split.php
Labels: status: ready to merge, type: enhancement, patterns

#11577 Docs: Update examples to use window global imports
  docs/contributors/documentation-guidelines.md
  docs/internal-developers/block-client-apis/checkout/checkout-flow-and-events.md
  docs/internal-developers/block-client-apis/notices.md
  docs/internal-developers/translations/translations-in-JS-TS-files.md
  docs/third-party-developers/extensibility/README.md
  docs/third-party-developers/extensibility/checkout-block/available-filters/additional-cart-checkout-inner-block-types.md
  docs/third-party-developers/extensibility/checkout-block/available-filters/cart-line-items.md
  docs/third-party-developers/extensibility/checkout-block/available-filters/checkout-and-place-order-button.md
  docs/third-party-developers/extensibility/checkout-block/available-filters/coupons.md
  docs/third-party-developers/extensibility/checkout-block/available-filters/order-summary-items.md
  docs/third-party-developers/extensibility/checkout-block/available-filters/totals-footer-item.md
  docs/third-party-developers/extensibility/checkout-block/available-slot-fills.md
  docs/third-party-developers/extensibility/checkout-payment-methods/filtering-payment-methods.md
  docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
  docs/third-party-developers/extensibility/data-store/README.md
  docs/third-party-developers/extensibility/data-store/cart.md
  docs/third-party-developers/extensibility/data-store/checkout.md
  docs/third-party-developers/extensibility/data-store/collections.md
  docs/third-party-developers/extensibility/data-store/payment.md
  docs/third-party-developers/extensibility/data-store/query-state.md
  docs/third-party-developers/extensibility/data-store/schema.md
  docs/third-party-developers/extensibility/data-store/store-notices.md
  docs/third-party-developers/extensibility/data-store/validation.md
  docs/third-party-developers/extensibility/rest-api/extend-rest-api-update-cart.md
Labels: status: ready to merge, type: documentation, skip-changelog, skip-zip

#11575 Add legacy hooks documentation
  docs/third-party-developers/extensibility/hooks/README.md
  docs/third-party-developers/extensibility/hooks/migrated-hooks.md
Labels: status: ready to merge, type: documentation, category: extensibility, skip-changelog

#11564 Prevent theme button border appearing in opinionated patterns
  patterns/discount-banner-with-image.php
  patterns/discount-banner.php
  patterns/product-collection-banner.php
Labels: status: ready to merge, type: bug, patterns

#11218 Fix: Make filter block contextual - Editor
  assets/js/blocks/collection-filters/inner-blocks/price-filter/block.json
  assets/js/blocks/collection-filters/inner-blocks/price-filter/edit.tsx
  assets/js/blocks/collection-filters/inner-blocks/price-filter/price-slider/inspector.tsx
  assets/js/blocks/collection-filters/inner-blocks/price-filter/types.ts
  assets/js/blocks/collection-filters/test/utils.ts
  assets/js/blocks/collection-filters/utils.ts
  src/BlockTypes/CollectionFilters.php
  tests/js/jest.config.json
Labels: status: ready to merge, type: enhancement, skip-changelog, 🔹 block-type: filter blocks

#11062 Ensure input is validated when autofilled in Firefox
  packages/checkout/components/text-input/validated-text-input.tsx
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: checkout

#11612 Fix `Hero Product 3 Split` pattern text content
  patterns/hero-product-3-split.php
Labels: status: ready to merge, type: bug, patterns

#11559 Product Gallery: Add e2e tests for crop image option
  assets/js/blocks/product-gallery/block-settings/index.tsx
  src/Utils/ProductGalleryUtils.php
  tests/e2e/tests/product-gallery/product-gallery.block_theme.side_effects.spec.ts
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#11614 Add to Cart with Options block: fix inconsistency between editor and frontend
  assets/js/atomic/blocks/product-elements/add-to-cart-form/edit.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart-form/editor.scss
  assets/js/atomic/blocks/product-elements/add-to-cart-form/style.scss
  src/BlockTypes/AddToCartForm.php
Labels: status: ready to merge, type: bug, category: styles, ◼️ block: add to cart form

#11615 Enhancement/New blockified Order Confirmation on new installs with block-based themes
  src/BlockTypes/OrderConfirmation/AbstractOrderConfirmationBlock.php
  templates/templates/blockified/order-confirmation.html
  templates/templates/order-confirmation.html
Labels: status: ready to merge, type: enhancement

#11616 Fix the link to latest PRs on github nightly workflow
  .github/workflows/nightly-builds.yml
Labels: status: ready to merge, type: build, skip-changelog

#11476 Collection Filters refactor: data fetching, context passing, and code organization
  assets/js/blocks/collection-filters/block.json
  assets/js/blocks/collection-filters/edit.tsx
  assets/js/blocks/collection-filters/inner-blocks/price-filter/block.json
  assets/js/blocks/collection-filters/inner-blocks/price-filter/components/inspector.tsx
  assets/js/blocks/collection-filters/inner-blocks/price-filter/components/price-slider.tsx
  assets/js/blocks/collection-filters/inner-blocks/price-filter/edit.tsx
  assets/js/blocks/collection-filters/inner-blocks/price-filter/frontend.ts
  assets/js/blocks/collection-filters/inner-blocks/price-filter/price-slider/index.tsx
  assets/js/blocks/collection-filters/inner-blocks/price-filter/price-slider/style.scss
  assets/js/blocks/collection-filters/inner-blocks/price-filter/style.scss
  assets/js/blocks/collection-filters/inner-blocks/price-filter/types.ts
  assets/js/blocks/collection-filters/inner-blocks/price-filter/utils.ts
  assets/js/blocks/collection-filters/type.ts
  assets/js/blocks/collection-filters/utils.ts
  bin/webpack-entries.js
  src/BlockTypes/CollectionFilters.php
  src/BlockTypes/CollectionPriceFilter.php
Labels: status: ready to merge, category: refactor, skip-changelog

#11647 Restore checkout header which was reverted in trunk
  templates/parts/checkout-header.html
Labels: status: ready to merge, type: bug, skip-changelog

#11644 Filter By Rating: fix overlapping stars
  assets/js/base/components/product-rating/style.scss
  assets/js/blocks/rating-filter/style.scss
Labels: status: ready to merge, type: bug, skip-changelog, ◼ block: filter by rating

#11638 Fix Playwright E2E tests - SideEffects
  tests/e2e/tests/checkout/checkout-block-shipping.block_theme.side_effects.spec.ts
  tests/e2e/tests/checkout/checkout.page.ts
Labels: status: ready to merge, skip-changelog, category: tests

#11636 Add `Title` entry to Storybook
  packages/components/title/index.tsx
  packages/components/title/stories/index.stories.tsx
Labels: status: ready to merge, category: extensibility, category: components, skip-changelog, storybook

#11535 Fix pattern route performance
  src/Patterns/ProductUpdater.php
  src/StoreApi/Routes/V1/AI/BusinessDescription.php
  src/StoreApi/Routes/V1/AI/Images.php
  src/StoreApi/Routes/V1/AI/Middleware.php
  src/StoreApi/Routes/V1/AI/Patterns.php
  src/StoreApi/Routes/V1/AI/Product.php
  src/StoreApi/Routes/V1/AI/Products.php
  src/StoreApi/RoutesController.php
  src/StoreApi/SchemaController.php
  src/StoreApi/Schemas/V1/AI/BusinessDescriptionSchema.php
  src/StoreApi/Schemas/V1/AI/ImagesSchema.php
  src/StoreApi/Schemas/V1/AI/PatternsSchema.php
  src/StoreApi/Schemas/V1/AI/ProductSchema.php
  src/StoreApi/Schemas/V1/AI/ProductsSchema.php
Labels: status: ready to merge, type: enhancement, artificial-intelligence

#11653 Bump trunk to 11.6.0-dev
  composer.json
  docs/internal-developers/testing/releases/1150.md
  docs/internal-developers/testing/releases/README.md
  package-lock.json
  package.json
  readme.txt
  src/Package.php
  woocommerce-gutenberg-products-block.php
Labels: type: release

#11652 Fix PHP warning after `upgrader_process_complete`
  src/BlockPatterns.php
Labels: status: ready to merge, type: bug, skip-changelog

#11637 Rename Centered Header Menu with Search pattern
  patterns/header-centered-pattern.php
Labels: status: ready to merge, type: enhancement, patterns

#11538 Product Gallery block: Disable zoom when hovering the Next/Previous buttons
  assets/js/blocks/product-gallery/frontend.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/frontend.tsx
  src/BlockTypes/ProductGallery.php
  src/BlockTypes/ProductGalleryLargeImageNextPrevious.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#11537 Product Button: Remove the hardcoded width and padding
  assets/css/style.scss
  assets/js/atomic/blocks/product-elements/button/style.scss
Labels: status: ready to merge, type: bug

#11619 Update Feedback Prompt styles by removing horizontal margin causing scroll to show up
  assets/js/editor-components/feedback-prompt/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout, category: styles, 🔹 block-type: product-query, ◼️ block: product collection

#11455 Fix Single Product Classic Template block not showing on the front-end
  src/BlockTypes/ClassicTemplate.php
Labels: status: ready to merge, type: compatibility, priority: high

#11658 MiniCart: Check that data is countable before counting
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, skip-changelog, ◼️ block: mini-cart

#11562 Product Collection - Add `Created` filter in inspector controls
  assets/js/blocks/product-collection/constants.ts
  assets/js/blocks/product-collection/inspector-controls/created-control.tsx
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/types.ts
  src/BlockTypes/ProductCollection.php
Labels: status: ready to merge, type: enhancement, category: blocks, type: task, ◼️ block: product collection

#11522 Product Collection: Add support for filtering products by featured status
  assets/js/blocks/product-collection/constants.ts
  assets/js/blocks/product-collection/inspector-controls/featured-products-control.tsx
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/types.ts
  src/BlockTypes/ProductCollection.php
Labels: status: ready to merge, category: blocks, type: task, ◼️ block: product collection

#11622 Add `Spinner` storybook entry
  packages/components/spinner/stories/index.stories.tsx
Labels: status: ready to merge, category: extensibility, category: components, skip-changelog, storybook

#11469 Add storybook entry for `CheckboxList`
  packages/components/checkbox-list/index.tsx
  packages/components/checkbox-list/stories/index.tsx
Labels: status: ready to merge, type: build, type: documentation, category: components, skip-changelog

#11618 Add `SortSelect` to Storybook
  package-lock.json
  package.json
  packages/checkout/components/checkbox-control/stories/index.stories.tsx
  packages/checkout/components/totals/fees/stories/index.stories.tsx
  packages/checkout/components/totals/item/stories/index.stories.tsx
  packages/checkout/components/totals/subtotal/stories/index.stories.tsx
  packages/checkout/components/totals/taxes/stories/index.stories.tsx
  packages/components/chip/stories/chip.stories.tsx
  packages/components/chip/stories/removable-chip.stories.tsx
  packages/components/formatted-monetary-amount/stories/index.stories.tsx
  packages/components/sort-select/index.tsx
  packages/components/sort-select/stories/index.stories.tsx
Labels: status: ready to merge, category: extensibility, category: components, skip-changelog, storybook

#11659 Use wp_post table instead wp_option to store patterns data generated by AI
  src/BlockPatterns.php
  src/Patterns/PatternUpdater.php
  src/Patterns/PatternsHelper.php
Labels: status: ready to merge, type: enhancement

#11681 [CYS] Fix decoding issue and pattern
  patterns/featured-products-fresh-and-tasty.php
  src/Patterns/PatternsHelper.php
Labels: status: ready to merge, type: bug, skip-changelog

#11700 Skip template related E2E tests
  tests/e2e/tests/templates/cart-template.block_theme.spec.ts
  tests/e2e/tests/templates/checkout-template.block_theme.spec.ts
Labels: status: ready to merge, skip-changelog, category: tests

#11473 Fix attempts to count possible non-countable variables or usage of undefined variables
  src/BlockTypes/ProductCollection.php
  src/BlockTypes/ProductQuery.php
  src/StoreApi/Schemas/V1/ProductReviewSchema.php
  src/Templates/SingleProductTemplateCompatibility.php
  templates/notices/error.php
Labels: status: ready to merge, type: bug, php

#11690 Add protection against wrong params in get_block_template_fallback()
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, Templates API

#11655 e2e: Add hacky workaround for product image gallery
  tests/e2e/bin/scripts/parallel/products.sh
Labels: status: ready to merge, skip-changelog

#11693 Translate Related Products heading in Single Product template
  assets/js/blocks/product-query/variations/related-products.tsx
  patterns/related-products.php
  templates/templates/blockified/single-product.html
Labels: status: ready to merge, type: bug, category: i18n, category: styles

#11673 Remove author, sticky, parents attributes from the Product Collection block in patterns
  patterns/product-collection-3-columns.php
  patterns/product-collection-4-columns.php
  patterns/product-collection-5-columns.php
  patterns/product-collection-featured-products-5-columns.php
  patterns/product-collection-full-grid.php
  patterns/product-collection-grid.php
  patterns/product-collection-rows.php
  patterns/product-collection-simple-grid.php
  patterns/product-query-product-gallery.php
Labels: status: ready to merge, type: technical debt, patterns

#11707 Update Jetpack WooCommerce Analytics module integration to check for changed template names
  src/Domain/Services/JetpackWooCommerceAnalytics.php
Labels: status: ready to merge, type: bug, skip-changelog

#11578 onPaymentProcessing->onPaymentSetup
  docs/internal-developers/block-client-apis/checkout/checkout-api.md
  docs/internal-developers/block-client-apis/checkout/checkout-flow-and-events.md
  docs/internal-developers/testing/cart-checkout/data-stores.md
  docs/third-party-developers/extensibility/checkout-block/available-filters/cart-line-items.md
  docs/third-party-developers/extensibility/checkout-block/available-filters/order-summary-items.md
  docs/third-party-developers/extensibility/checkout-block/available-filters/totals-footer-item.md
  docs/third-party-developers/extensibility/checkout-block/how-checkout-processes-an-order.md
  docs/third-party-developers/extensibility/checkout-payment-methods/filtering-payment-methods.md
  docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
Labels: status: ready to merge, type: documentation, skip-changelog, skip-zip

#11714 Fix address block invalidations in the editor and address card display in Firefox
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/components/cart-checkout/address-form/types.ts
  assets/js/blocks/checkout/address-card/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/customer-address.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/customer-address.tsx
  packages/checkout/components/text-input/types.ts
  packages/checkout/components/text-input/validated-text-input.tsx
Labels: status: ready to merge, type: bug

#11716 Product Gallery: Fix limited images displayed in the dialog
  assets/js/blocks/product-gallery/frontend.tsx
  src/BlockTypes/ProductGallery.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#11710 Fix: different collection data request between editor and front end
  assets/js/blocks/collection-filters/edit.tsx
  assets/js/blocks/collection-filters/utils.ts
  src/BlockTypes/CollectionFilters.php
  src/BlockTypes/CollectionPriceFilter.php
Labels: status: ready to merge, skip-changelog, 🔹 block-type: filter blocks

#11486 Fix the Layout for Shipping and Billing Address Forms in the Checkout Block
  assets/js/blocks/checkout/inner-blocks/checkout-fields-block/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#11287 Product Gallery Pager: Remove unnecessary margin
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/editor.scss
  assets/js/blocks/product-gallery/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: product gallery

#11735 PR Template: Add checklist item for browsers & viewports.
  .github/pull_request_template.md
Labels: status: ready to merge, type: documentation, skip-changelog

#11697 Backport changelog release 11.1.3
  docs/internal-developers/testing/releases/1113.md
  docs/internal-developers/testing/releases/README.md
  readme.txt
Labels: status: ready to merge, type: release

#11489 Add `FormStep` to Storybook
  packages/components/form-step/index.tsx
  packages/components/form-step/stories/index.stories.tsx
  storybook/preview.js
Labels: status: ready to merge, type: build, category: components, skip-changelog

#11698 Move `Panel` to components package
  assets/js/base/components/cart-checkout/order-summary/index.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  packages/checkout/components/index.ts
  packages/components/index.ts
  packages/components/panel/index.tsx
  packages/components/panel/style.scss
Labels: status: ready to merge, type: enhancement, category: extensibility, category: components, needs dev-note

#11736 Ensure that incompatible notices are displayed in Safari
  assets/js/editor-components/incompatible-extension-notice/editor.scss
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout, priority: high

#11733 [CYS] Reduce the number of times the patterns dictionary is accessed
  patterns/banner.php
  patterns/discount-banner-with-image.php
  patterns/discount-banner.php
  patterns/featured-category-cover-image.php
  patterns/featured-category-focus.php
  patterns/featured-category-triple.php
  patterns/featured-products-fresh-and-tasty.php
  patterns/hero-product-3-split.php
  patterns/hero-product-chessboard.php
  patterns/hero-product-split.php
  patterns/just-arrived-full-hero.php
  patterns/product-collection-3-columns.php
  patterns/product-collection-4-columns.php
  patterns/product-collection-5-columns.php
  patterns/product-collection-banner.php
  patterns/product-collection-featured-products-5-columns.php
  patterns/product-collections-featured-collection.php
  patterns/product-collections-featured-collections.php
  patterns/product-collections-newest-arrivals.php
  patterns/product-featured-2-columns.php
  patterns/product-hero-2-col-2-row.php
  patterns/product-query-product-gallery.php
  patterns/shop-by-price.php
  patterns/small-discount-banner-with-image.php
  patterns/social-follow-us-in-social-media.php
  patterns/store-info-alt-image-and-text.php
  patterns/testimonials-3-columns.php
  patterns/testimonials-single.php
  src/BlockPatterns.php
  src/Patterns/PatternsHelper.php
Labels: status: ready to merge, type: enhancement, patterns

#11635 Add `Textarea` entry to Storybook
  packages/components/textarea/index.tsx
  packages/components/textarea/stories/index.stories.tsx
Labels: status: needs review, category: extensibility, category: components, skip-changelog, storybook

#11694 Fix styling of Classic Cart and Checkout Blocks on regular pages
  src/BlockTypesController.php
Labels: status: ready to merge, type: bug

#11742 Fix TT4 mobile styling for cart and notes field on checkout
  assets/js/base/components/cart-checkout/cart-line-items-table/style.scss
  assets/js/blocks/cart/style.scss
  packages/components/textarea/style.scss
Labels: status: ready to merge, type: bug, category: styles

#11657 Add storybook entries for RadioControl and RadioControlAccordion
  packages/components/radio-control-accordion/index.tsx
  packages/components/radio-control-accordion/stories/index.stories.tsx
  packages/components/radio-control/stories/index.stories.tsx
Labels: status: ready to merge, type: build, category: extensibility, category: components, skip-changelog, storybook

#11739 Update codex link
  src/StoreApi/docs/nonce-tokens.md
Labels: type: community contribution

#11426 fixed multiple typos inside /docs
  docs/contributors/javascript-testing.md
  docs/internal-developers/data-store/checkout.md
  docs/internal-developers/testing/releases/1010.md
  docs/internal-developers/testing/releases/1064.md
  docs/internal-developers/testing/releases/1080.md
  docs/internal-developers/testing/releases/1081.md
  docs/internal-developers/testing/releases/410.md
  docs/internal-developers/testing/when-to-employ-e2e-testing.md
  docs/third-party-developers/extensibility/checkout-block/how-checkout-processes-an-order.md
Labels: type: community contribution

#11382 Fix typo.
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/block.json
Labels: type: community contribution

#11682 Add storybook entry for Label component
  packages/components/label/index.tsx
  packages/components/label/stories/index.stories.tsx
Labels: status: ready to merge, category: extensibility, category: components, skip-changelog, storybook

#11737 Playwright Fixes from the 11.5.x release branch
  tests/e2e/tests/checkout/checkout.page.ts
  tests/e2e/utils/editor/editor-utils.page.ts
Labels: status: ready to merge, skip-changelog, category: tests, skip-zip

#11660 Update release checklist
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
Labels: status: ready to merge, type: documentation

#11654 Move `TextInput`, `ValidatedTextInput` and `ValidationInputError` to the `@woocommerce/blocks-components` package.
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/attribute-select-control.tsx
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/components/cart-checkout/totals/coupon/index.tsx
  assets/js/base/components/combobox/index.tsx
  assets/js/base/components/state-input/state-input.tsx
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/block.tsx
  assets/js/blocks/checkout/phone-number/index.tsx
  assets/js/types/type-defs/payment-method-interface.ts
  packages/checkout/components/index.ts
  packages/checkout/components/text-input/index.tsx
  packages/checkout/components/validation-input-error/index.tsx
  packages/components/index.ts
  packages/components/text-input/style.scss
  packages/components/text-input/test/validated-text-input.tsx
  packages/components/text-input/text-input.tsx
  packages/components/text-input/types.ts
  packages/components/text-input/validated-text-input.tsx
  packages/components/validation-input-error/index.tsx
  packages/components/validation-input-error/style.scss
Labels: status: ready to merge, category: extensibility, category: components, category: blocks, needs dev-note, ◼️ block: cart, ◼️ block: checkout, type: task

#11536 Product Gallery block: Add E2E tests to cover Variable Products
  src/BlockTypes/ProductGalleryLargeImage.php
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-gallery/product-gallery.page.ts
Labels: status: ready to merge, skip-changelog, category: tests, ◼️ block: product gallery

#11651 Move phone to default fields section instead of being handled inline.
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/context/hooks/use-checkout-address.ts
  assets/js/blocks/checkout/address-card/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/customer-address.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/customer-address.tsx
  assets/js/blocks/checkout/phone-number/test/index.js
  assets/js/extensions/google-analytics/index.ts
  assets/js/settings/shared/default-address-fields.ts
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  packages/components/text-input/types.ts
  packages/components/text-input/validated-text-input.tsx
Labels: status: ready to merge, ◼️ block: checkout, type: technical debt

#11663 Add a stock filter block powered by the interactivity API
  assets/js/blocks/collection-filters/inner-blocks/stock-filter/block.json
  assets/js/blocks/collection-filters/inner-blocks/stock-filter/components/inspector.tsx
  assets/js/blocks/collection-filters/inner-blocks/stock-filter/edit.tsx
  assets/js/blocks/collection-filters/inner-blocks/stock-filter/frontend.ts
  assets/js/blocks/collection-filters/inner-blocks/stock-filter/index.tsx
  assets/js/blocks/collection-filters/inner-blocks/stock-filter/preview.tsx
  assets/js/blocks/collection-filters/inner-blocks/stock-filter/style.scss
  assets/js/blocks/collection-filters/inner-blocks/stock-filter/types.ts
  assets/js/interactivity/directives.js
  bin/webpack-entries.js
  packages/interactivity-components/dropdown/index.ts
  src/AssetsController.php
  src/BlockTypes/CollectionFilters.php
  src/BlockTypes/CollectionStockFilter.php
  src/BlockTypesController.php
  src/InteractivityComponents/Dropdown.php
  tsconfig.base.json
  tsconfig.json
Labels: status: ready to merge, 🔹 block-type: filter blocks

#11770 Adds a state example for the payment data store
  docs/third-party-developers/extensibility/data-store/payment.md
Labels: status: ready to merge, type: documentation, skip-changelog, skip-zip

#11765 Refactor default editing state for customer address fields
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/customer-address.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/customer-address.tsx
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: checkout

#11755 Product gallery/dialog/enhancement
  assets/js/blocks/product-gallery/frontend.tsx
  src/BlockTypes/ProductGallery.php
  templates/parts/product-gallery.html
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#11784 Add Storybook entry for `TotalsWrapper`
  packages/components/totals-wrapper/docs/docs.mdx
  packages/components/totals-wrapper/index.tsx
  packages/components/totals-wrapper/stories/index.stories.tsx
  storybook/main.js
Labels: status: ready to merge, category: components, skip-changelog, storybook

#11796 Fix the order endpoint tax line items format
  src/StoreApi/Schemas/V1/OrderSchema.php
Labels: status: ready to merge, type: bug, category: rest-api

#11664 Product Gallery block: Restrict block to be available only on the Single Product template or the Product Gallery template part
  assets/js/atomic/utils/blocks-registration-manager/block-registration-strategy.ts
  assets/js/atomic/utils/blocks-registration-manager/blocks-registration-manager.ts
  assets/js/atomic/utils/blocks-registration-manager/blocks-with-restriction.ts
  assets/js/atomic/utils/blocks-registration-manager/index.ts
  assets/js/atomic/utils/blocks-registration-manager/template-change-detector.ts
  assets/js/atomic/utils/register-block-single-product-template.ts
  assets/js/blocks/product-gallery/index.tsx
  assets/js/blocks/product-gallery/settings.ts
  assets/js/index.js
  package.json
  tests/e2e/tests/product-gallery/product-gallery.block_theme.side_effects.spec.ts
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#11804 Make "Use same address for billing" visible by default
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#11721 Product Gallery block: Migrate to new Interactivity API store
  assets/js/blocks/product-gallery/frontend.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/frontend.tsx
  assets/js/utils/index.ts
  assets/js/utils/interactivity.ts
  src/BlockTypes/ProductGallery.php
  src/BlockTypes/ProductGalleryLargeImage.php
  src/BlockTypes/ProductGalleryLargeImageNextPrevious.php
  src/BlockTypes/ProductGalleryPager.php
  src/BlockTypes/ProductGalleryThumbnails.php
  src/Utils/ProductGalleryUtils.php
  tests/e2e/tests/product-gallery/product-gallery.block_theme.side_effects.spec.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: product gallery

#11558 Migration of Product Collection and Product Button blocks to the new `store()` API
  assets/js/atomic/blocks/product-elements/button/frontend.tsx
  assets/js/blocks/product-gallery/frontend.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/frontend.tsx
  assets/js/utils/index.ts
  assets/js/utils/interactivity.ts
  bin/webpack-configs.js
  src/BlockTypes/ProductButton.php
  src/BlockTypes/ProductCollection.php
  src/BlockTypes/ProductGallery.php
  src/BlockTypes/ProductGalleryLargeImage.php
  src/BlockTypes/ProductGalleryLargeImageNextPrevious.php
  src/BlockTypes/ProductGalleryPager.php
  src/BlockTypes/ProductGalleryThumbnails.php
  src/Utils/ProductGalleryUtils.php
  tests/e2e/tests/product-gallery/product-gallery.block_theme.side_effects.spec.ts
Labels: status: ready to merge, type: enhancement

#11813 Remove unused Verticals client PHP tests
  tests/php/Verticals/ClientTest.php
Labels: status: ready to merge, type: build, skip-changelog, category: tests, php

#11751 Update payment docs
  docs/internal-developers/block-client-apis/checkout/checkout-flow-and-events.md
Labels: status: ready to merge, type: documentation

#11816 Update Puppeteer E2E tests to WP 6.4.1 and disable failing ones
  .eslintrc.js
  .github/workflows/php-js-e2e-tests.yml
  bin/wp-env-with-wp-641.js
  tests/e2e-jest/specs/backend/active-filters.test.js
  tests/e2e-jest/specs/backend/add-to-cart-form.test.js
  tests/e2e-jest/specs/backend/all-reviews.test.js
  tests/e2e-jest/specs/backend/breadcrumbs.test.js
  tests/e2e-jest/specs/backend/catalog-sorting.test.js
  tests/e2e-jest/specs/backend/checkout.test.js
  tests/e2e-jest/specs/backend/mini-cart.test.js
  tests/e2e-jest/specs/backend/product-results-count.test.js
  tests/e2e-jest/specs/backend/reviews-by-category.test.js
  tests/e2e-jest/specs/backend/reviews-by-product.test.js
  tests/e2e-jest/specs/backend/single-product-details.test.js
  tests/e2e-jest/specs/backend/store-notices.test.js
  tests/e2e-jest/specs/shopper/active-filters.test.ts
  tests/e2e-jest/specs/shopper/cart-checkout/account.test.js
  tests/e2e-jest/specs/shopper/cart-checkout/cart.test.js
  tests/e2e-jest/specs/shopper/cart-checkout/checkout.test.js
  tests/e2e-jest/specs/shopper/cart-checkout/tax.test.js
  tests/e2e-jest/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e-jest/specs/shopper/filter-products-by-price.test.ts
  tests/e2e-jest/specs/shopper/filter-products-by-rating.test.ts
  tests/e2e-jest/specs/shopper/filter-products-by-stock.test.ts
  tests/e2e-jest/specs/shopper/mini-cart.test.js
Labels: status: needs review, type: blocker, skip-changelog, category: tests

#11771 Fix strings in classic-checkout modal window
  assets/js/editor-components/incompatible-extension-notice/modal.tsx
Labels: status: ready to merge, type: bug

#11817 Updated composer.lock and minor deps
  composer.lock
Labels: skip-changelog, type: technical debt

#11773 Move all totals components into components package
  assets/js/base/components/cart-checkout/totals/discount/index.tsx
  assets/js/base/components/cart-checkout/totals/footer-item/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/test/index.tsx
  assets/js/base/context/hooks/tsconfig.json
  assets/js/blocks/cart/inner-blocks/cart-order-summary-coupon-form/block.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-discount/block.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-fee/block.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-shipping/block.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-subtotal/block.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-taxes/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-cart-items/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-coupon-form/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-discount/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-fee/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-subtotal/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-taxes/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/edit.tsx
  assets/js/types/type-defs/cart.ts
  packages/checkout/components/discounts-meta/index.js
  packages/checkout/components/index.ts
  packages/checkout/components/order-meta/index.js
  packages/components/index.ts
  packages/components/totals-wrapper/docs/docs.mdx
  packages/components/totals-wrapper/index.tsx
  packages/components/totals-wrapper/stories/index.stories.tsx
  packages/components/totals-wrapper/style.scss
  packages/components/totals/fees/index.tsx
  packages/components/totals/fees/stories/index.stories.tsx
  packages/components/totals/index.js
  packages/components/totals/item/index.tsx
  packages/components/totals/item/stories/index.stories.tsx
  packages/components/totals/item/style.scss
  packages/components/totals/subtotal/index.tsx
  packages/components/totals/subtotal/stories/index.stories.tsx
  packages/components/totals/taxes/index.tsx
  packages/components/totals/taxes/stories/index.stories.tsx
  storybook/main.js
Labels: status: ready to merge, type: enhancement, category: extensibility, category: components, category: blocks, ◼️ block: cart, ◼️ block: checkout

#11792 Continue validating schema after validating nested properties
  src/StoreApi/Schemas/V1/AbstractSchema.php
Labels: status: ready to merge, type: bug, category: extensibility, category: rest-api

#11772 Increase CSS specificity for local pickup address
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#11794 Add Storybook entries for `TextInput`, `ValidatedTextInput`, and `ValidationInputError`
  package-lock.json
  package.json
  packages/components/label/index.tsx
  packages/components/text-input/stories/text-input.stories.tsx
  packages/components/text-input/stories/validated-text-input.stories.tsx
  packages/components/text-input/text-input.tsx
  packages/components/text-input/types.ts
  packages/components/text-input/validated-text-input.tsx
  packages/components/validation-input-error/index.tsx
  packages/components/validation-input-error/stories/index.stories.tsx
Labels: status: ready to merge, type: documentation, category: components, skip-changelog, storybook

#11679 Rename Checkbox List story to work with storybook 7
  packages/components/checkbox-list/stories/index.stories.tsx
Labels: status: ready to merge, category: components, skip-changelog, storybook

#11783 Product Collection - New 'No Results' block with default UI
  assets/js/blocks/product-collection/edit.tsx
  assets/js/blocks/product-collection/inner-blocks/no-results/block.json
  assets/js/blocks/product-collection/inner-blocks/no-results/edit.tsx
  assets/js/blocks/product-collection/inner-blocks/no-results/index.tsx
  assets/js/blocks/product-collection/inner-blocks/no-results/save.tsx
  bin/webpack-entries.js
  src/BlockTypes/ProductCollectionNoResults.php
  src/BlockTypes/ProductTemplate.php
  src/BlockTypesController.php
  src/Utils/ProductCollectionUtils.php
Labels: status: ready to merge, type: enhancement, category: blocks, type: task, ◼️ block: product collection

#11782 Update patterns with the new images
  images/pattern-placeholders/crafting-pots.png
  images/pattern-placeholders/dining-room.png
  images/pattern-placeholders/dish-food-baking-dessert-bread-bakery.png
  images/pattern-placeholders/dish-meal-food-breakfast-dessert-eat.png
  images/pattern-placeholders/drinkware-liquid-tableware-dishware-bottle-fluid.jpg
  images/pattern-placeholders/floor-home-decoration-fireplace-property-living-room.png
  images/pattern-placeholders/hand-guitar-finger-tshirt-clothing-rack.png
  images/pattern-placeholders/hand-made-pots.png
  images/pattern-placeholders/living-room-sofa.png
  images/pattern-placeholders/living-room.png
  images/pattern-placeholders/man-person-music-black-and-white-white-photography.jpg
  images/pattern-placeholders/music-needle-turntable-black-and-white-white-photography.jpg
  images/pattern-placeholders/office.png
  images/pattern-placeholders/person-winter-blur-wood-girl-woman.png
  images/pattern-placeholders/plant-in-vase.jpg
  images/pattern-placeholders/plant-white-leaf-flower-vase-green.jpg
  images/pattern-placeholders/portrait.png
  images/pattern-placeholders/road-sport-vintage-wheel-retro-old.jpg
  images/pattern-placeholders/shop-jeans.png
  images/pattern-placeholders/sweet-restaurant-celebration-food-chocolate-cupcake.png
  images/pattern-placeholders/table-wood-chair-floor-living-room-furniture-horizontal.png
  images/pattern-placeholders/table-wood-house-chair-floor-window.jpg
  images/pattern-placeholders/tea-leaf-meal-food-herb-produce.jpg
  images/pattern-placeholders/tree-branch-plant-wood-leaf-flower.jpg
  images/pattern-placeholders/watch-hand-brand-jewellery-strap-platinum.jpg
  images/pattern-placeholders/white-black-black-and-white-photograph-monochrome-photography.jpg
  images/pattern-placeholders/white-vase-decoration-pattern-ceramic-lamp.jpg
  images/pattern-placeholders/wood-home-wall-decoration-shelf-living-room.png
  patterns/banner.php
  patterns/featured-category-cover-image.php
  patterns/featured-category-focus.php
  patterns/featured-category-triple.php
  patterns/hero-product-3-split.php
  patterns/hero-product-chessboard.php
  patterns/hero-product-split.php
  patterns/just-arrived-full-hero.php
  patterns/product-hero-2-col-2-row.php
  patterns/social-follow-us-in-social-media.php
  patterns/store-info-alt-image-and-text.php
  patterns/testimonials-single.php
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: enhancement, skip-changelog

#11818 Add Storybook entry for `Panel`
  packages/components/panel/index.tsx
  packages/components/panel/stories/index.stories.tsx
Labels: status: ready to merge, type: documentation, category: components, skip-changelog, storybook

#11790 Add storybook entry for StoreNotice component
  packages/components/store-notice/stories/index.stories.tsx
Labels: status: ready to merge, category: extensibility, category: components, skip-changelog, storybook

#11785 Prevent fatal errors when using Cart Tokens and creating new accounts on checkout
  src/StoreApi/Routes/V1/Checkout.php
Labels: status: ready to merge, type: bug, category: rest-api

#11759 Customize your Store > Implement retry mechanism, enhance prompts and fix issue with AI content not being generated for new products
  src/AI/Connection.php
  src/BlockPatterns.php
  src/Images/Pexels.php
  src/Patterns/PatternUpdater.php
  src/Patterns/PatternsHelper.php
  src/Patterns/ProductUpdater.php
  src/Patterns/dictionary.json
  src/StoreApi/Routes/V1/AI/Product.php
  src/StoreApi/Routes/V1/AI/Products.php
Labels: status: ready to merge, type: enhancement, skip-changelog, patterns, artificial-intelligence

#11708 Fix: Product Collection show products with correct stock statuses
  src/BlockTypes/ProductCollection.php
  tests/php/BlockTypes/ProductCollection.php
Labels: status: ready to merge, type: bug, 🔹 block-type: product-query

#11749 MVP: Attribute filter block powered interactivity API
  assets/js/blocks/collection-filters/inner-blocks/attribute-filter/block.json
  assets/js/blocks/collection-filters/inner-blocks/attribute-filter/components/attribute-checkbox-list.tsx
  assets/js/blocks/collection-filters/inner-blocks/attribute-filter/components/attribute-dropdown.tsx
  assets/js/blocks/collection-filters/inner-blocks/attribute-filter/components/attribute-select-controls.tsx
  assets/js/blocks/collection-filters/inner-blocks/attribute-filter/components/inspector-controls.tsx
  assets/js/blocks/collection-filters/inner-blocks/attribute-filter/components/placeholder.tsx
  assets/js/blocks/collection-filters/inner-blocks/attribute-filter/edit.tsx
  assets/js/blocks/collection-filters/inner-blocks/attribute-filter/frontend.ts
  assets/js/blocks/collection-filters/inner-blocks/attribute-filter/index.tsx
  assets/js/blocks/collection-filters/inner-blocks/attribute-filter/style.scss
  assets/js/blocks/collection-filters/inner-blocks/attribute-filter/types.ts
  assets/js/blocks/collection-filters/inner-blocks/attribute-filter/utils.ts
  assets/js/blocks/collection-filters/inner-blocks/price-filter/frontend.ts
  assets/js/blocks/collection-filters/utils.ts
  bin/webpack-entries.js
  src/BlockTypes/CollectionAttributeFilter.php
  src/BlockTypes/CollectionFilters.php
  src/BlockTypes/CollectionPriceFilter.php
  src/BlockTypesController.php
Labels: status: ready to merge, skip-changelog, ◼️ block: filter by attribute

#11854 Fix: 404 error for No results block CSS file
  src/BlockTypes/ProductCollectionNoResults.php
Labels: status: ready to merge, skip-changelog, ◼️ block: product collection

#11466 Run E2E test suite on Twenty-Twenty Four
  .wp-env.json
  tests/e2e/utils/constants.ts
Labels: status: ready to merge, type: enhancement, skip-changelog, category: tests, skip-zip

#11805 Add: default template for Collection Filters block
  assets/js/blocks/collection-filters/edit.tsx
Labels: status: ready to merge, skip-changelog, 🔹 block-type: filter blocks

#11858 Product Button: always enqueue the store
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, type: bug

#11807 Add tests for company address field
  tests/e2e/tests/checkout/checkout-block.merchant.block_theme.spec.ts
  tests/e2e/utils/editor/editor-utils.page.ts
Labels: status: ready to merge, skip-changelog, type: task, category: tests, skip-zip

#11071 Interactivity API: implement the new `store()` API
  assets/js/atomic/blocks/product-elements/button/frontend.tsx
  assets/js/blocks/product-gallery/frontend.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/frontend.tsx
  assets/js/interactivity/constants.js
  assets/js/interactivity/directives.js
  assets/js/interactivity/hooks.js
  assets/js/interactivity/hooks.tsx
  assets/js/interactivity/index.js
  assets/js/interactivity/portals.js
  assets/js/interactivity/router.js
  assets/js/interactivity/slots.js
  assets/js/interactivity/store.js
  assets/js/interactivity/store.ts
  assets/js/interactivity/utils.js
  assets/js/interactivity/vdom.js
  assets/js/utils/index.ts
  assets/js/utils/interactivity.ts
  bin/webpack-configs.js
  src/BlockTypes/ProductButton.php
  src/BlockTypes/ProductCollection.php
  src/BlockTypes/ProductGallery.php
  src/BlockTypes/ProductGalleryLargeImage.php
  src/BlockTypes/ProductGalleryLargeImageNextPrevious.php
  src/BlockTypes/ProductGalleryPager.php
  src/BlockTypes/ProductGalleryThumbnails.php
  src/Interactivity/class-wc-interactivity-initial-state.php
  src/Interactivity/class-wc-interactivity-store.php
  src/Interactivity/initial-state.php
  src/Interactivity/load.php
  src/Interactivity/store.php
  src/Utils/ProductGalleryUtils.php
  tests/e2e/tests/product-gallery/product-gallery.block_theme.side_effects.spec.ts
Labels: type: enhancement

#11662 Move `CheckboxControl` to components package and leave alias in checkout package
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-card.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/frontend.tsx
  assets/js/blocks/checkout/order-notes/index.tsx
  assets/js/blocks/collection-filters/inner-blocks/stock-filter/style.scss
  packages/checkout/components/checkbox-control/index.tsx
  packages/checkout/components/index.ts
  packages/components/checkbox-control/index.tsx
  packages/components/checkbox-control/stories/index.stories.tsx
  packages/components/checkbox-control/style.scss
  packages/components/checkbox-list/index.tsx
  packages/components/index.ts
Labels: status: needs review, category: extensibility, category: components, ◼️ block: cart, ◼️ block: checkout, ◼️ block: filter by attribute, type: task

#11837 Add an example of woocommerce_store_api_add_to_cart_data
  docs/third-party-developers/extensibility/hooks/filters.md
  src/StoreApi/Routes/V1/CartAddItem.php
  src/StoreApi/docs/cart.md
Labels: status: ready to merge, type: documentation, skip-changelog, skip-zip

#11861 Update notice for default cart and checkout
  assets/js/editor-components/default-notice/index.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: cart, ◼️ block: checkout

#11860 Validate coupon usage against customer id AND emails
  src/StoreApi/Utilities/OrderController.php
Labels: status: ready to merge, type: bug, type: blocker, ◼️ block: checkout

#11862 Fix arguments passed to `woocommerce_before_thankyou` to mirror core hook
  src/BlockTypes/OrderConfirmation/Status.php
Labels: status: ready to merge, type: bug, category: extensibility, type: blocker, ◼️ block: checkout

#11866 Update @wordpress/e2e-test-utils-playwright package
  package-lock.json
  package.json
  tests/e2e/tests/checkout/checkout-block.merchant.block_theme.spec.ts
  tests/e2e/tests/templates/cart-template.block_theme.spec.ts
  tests/e2e/tests/templates/checkout-template.block_theme.spec.ts
  tests/e2e/tests/templates/order-confirmation.block_theme.spec.ts
  tests/e2e/utils/editor/editor-utils.page.ts
Labels: status: ready to merge, skip-changelog, category: tests, type: flaky test

#11872 Don't register or unregister if block can't be found
  assets/js/atomic/utils/blocks-registration-manager/blocks-registration-manager.ts
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, ◼️ block: product gallery

#11904 Update/11.6.0 changelog and testing instructions
  composer.json
  composer.lock
  docs/internal-developers/testing/releases/1160.md
  docs/internal-developers/testing/releases/README.md
  package-lock.json
  package.json
  phpcs.xml
  readme.txt
  src/Package.php
  woocommerce-gutenberg-products-block.php
Labels: skip-changelog, type: task

#11905 Preserve shrinkColumns value when switching the layout type of Product Collection
  assets/js/blocks/product-collection/inspector-controls/layout-options-control.tsx
  assets/js/blocks/product-collection/toolbar-controls/display-layout-toolbar.tsx
  assets/js/blocks/product-collection/types.ts
Labels: status: ready to merge, type: enhancement, ◼️ block: product collection

#11890 Add DELETE `private/ai/pattern` endpoint
  src/Patterns/PatternsHelper.php
  src/StoreApi/Routes/V1/AI/Patterns.php
Labels: status: ready to merge, type: enhancement

#11859 Store Customization > Ensure the price for products is also AI-generated
  src/Patterns/ProductUpdater.php
Labels: status: ready to merge, type: enhancement, skip-changelog, patterns, artificial-intelligence, team: Kirigami & Origami

#11821 Enable shrink columns option in Product Collection by default
  assets/js/blocks/product-collection/constants.ts
  patterns/product-collection-full-grid.php
  patterns/product-collection-grid.php
  patterns/product-collection-rows.php
  patterns/product-collection-simple-grid.php
  patterns/product-query-product-gallery.php
  patterns/related-products.php
  tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  tests/e2e/tests/product-collection/product-collection.page.ts
Labels: status: ready to merge, type: enhancement, ◼️ block: product collection, team: Kirigami & Origami

#11913 Fix Reviews blocks not being rendered
  src/StoreApi/Schemas/V1/ProductReviewSchema.php
Labels: status: ready to merge, type: bug, 🔹 block-type: reviews

#11918 Fix an issue that caused the Order by select in Reviews blocks to always be disabled
  assets/js/base/components/reviews/review-sort-select/index.tsx
  assets/js/blocks/reviews/frontend-block.tsx
Labels: status: ready to merge, type: bug, 🔹 block-type: reviews

#11919 Add missing `woocommerce` classname to Classic Cart/Checkout Blocks container
  src/BlockTypes/ClassicShortcode.php
Labels: status: ready to merge, type: bug, ◼️ block: cart

#11891 Remove alignment from template part
  templates/parts/product-gallery.html
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#11923 Update/testing instructions and changelog for 11.6.1
  docs/internal-developers/testing/releases/1161.md
  docs/internal-developers/testing/releases/README.md
  readme.txt
Labels: status: ready to merge, skip-changelog, type: task

#11811 Translate the prefixes passed to post-terms in product-meta.
  assets/js/atomic/blocks/product-elements/product-meta/edit.tsx
Labels: status: ready to merge, type: bug

#10531 Remove isExperimental flag from product-query module which is not experimental
  bin/webpack-entries.js
Labels: status: ready to merge, skip-changelog, type: technical debt, team: Kirigami & Origami

#11878 [Store Customization] AI-generated store name
  src/StoreApi/Routes/V1/AI/BusinessDescription.php
  src/StoreApi/Routes/V1/AI/StoreTitle.php
  src/StoreApi/RoutesController.php
  src/StoreApi/SchemaController.php
  src/StoreApi/Schemas/V1/AI/StoreTitleSchema.php
Labels: status: ready to merge, type: enhancement, skip-changelog, artificial-intelligence

#11665 Product Gallery Thumbnails: Fix overflow issues and improve responsiveness
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/block-settings/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/editor.scss
  assets/js/blocks/product-gallery/style.scss
  src/BlockTypes/ProductGalleryThumbnails.php
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-thumbnails/product-gallery-thumbnails.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-gallery/product-gallery.block_theme.side_effects.spec.ts
Labels: status: ready to merge, type: bug, ◼️ block: product gallery, team: Kirigami & Origami

#11718 Product Gallery Thumbnails: Add support for cropping
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/block.json
  src/BlockTypes/ProductGalleryThumbnails.php
Labels: status: ready to merge, type: bug, ◼️ block: product gallery, team: Kirigami & Origami

#11827 Migrate interactivity stock filter to new store API, add improvements and bugfixes
  assets/js/blocks/collection-filters/inner-blocks/stock-filter/frontend.ts
  assets/js/interactivity/directives.js
  packages/interactivity-components/dropdown/index.ts
  src/BlockTypes/CollectionStockFilter.php
  src/InteractivityComponents/Dropdown.php
Labels: status: ready to merge, skip-changelog, team: Kirigami & Origami

#11927 [Product Collection] Fix: HTML entity decoding for product names in Hand-Picked Products
  assets/js/blocks/product-collection/inspector-controls/hand-picked-products-control.tsx
  tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: product collection

#10471 Convert to tsx and replace proptypes by ts definitions
  assets/js/blocks/reviews/all-reviews/block.tsx
  assets/js/blocks/reviews/editor-container-block.tsx
  assets/js/blocks/reviews/reviews-by-category/block.tsx
  assets/js/blocks/reviews/reviews-by-product/edit.tsx
  assets/js/blocks/reviews/types.ts
Labels: status: ready to merge, type: enhancement, category: refactor, skip-changelog, type: cooldown, team: Kirigami & Origami

#11910 replace Stories root Dir to "External Components"
  assets/js/base/components/button/stories/index.stories.tsx
  packages/components/form-step/stories/index.stories.tsx
  packages/components/spinner/stories/index.stories.tsx
  packages/components/textarea/stories/index.stories.tsx
  packages/components/title/stories/index.stories.tsx
Labels: type: documentation, category: components, skip-changelog, storybook, type: community contribution

#11932 fix: store notices always shows as an error type #11768
  packages/components/store-notices-container/store-notices.tsx
Labels: type: bug, type: community contribution

#11924 Update extensibility doc
  docs/third-party-developers/extensibility/README.md
Labels: status: ready to merge, type: documentation

#11964 Remove unneeded block type check
  assets/js/atomic/utils/blocks-registration-manager/blocks-registration-manager.ts
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#11874 Investigate E2E CI caching issue
  assets/js/blocks/page-content-wrapper/index.tsx
  src/Utils/BlockTemplateMigrationUtils.php
  tests/e2e/tests/templates/cart-template.block_theme.spec.ts
  tests/e2e/tests/templates/checkout-header-template-part.block_theme.spec.ts
  tests/e2e/tests/templates/checkout-template.block_theme.spec.ts
Labels: status: ready to merge, type: bug, category: refactor, skip-changelog, category: tests

#11937 Reorganise Columns controls and fix undefined problem in Product Collection settings
  assets/js/blocks/product-collection/inspector-controls/columns-control.tsx
  tests/e2e/tests/product-collection/product-collection.page.ts
Labels: status: ready to merge, type: enhancement, ◼️ block: product collection

#11948 Remove unused Add to Cart product element
  assets/js/atomic/blocks/component-init.js
  assets/js/atomic/blocks/index.js
  assets/js/atomic/blocks/product-elements/add-to-cart/attributes.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/block.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/constants.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/edit.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/frontend.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/index.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/external.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/grouped.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/index.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/simple.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/index.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/types.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/attribute-picker.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/attribute-select-control.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/index.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/style.scss
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/test/index.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/utils.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/shared/add-to-cart-button.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/shared/index.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/shared/product-unavailable.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/shared/quantity-input.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/style.scss
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/editor.scss
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/style.scss
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  docs/internal-developers/translations/translation-loading.md
  src/BlockTypes/ProductAddToCart.php
  src/BlockTypesController.php
Labels: status: ready to merge, skip-changelog, 🔹 block-type: product elements, type: technical debt

#11952 [Store Customization] Update product slug when updating the title and flush cache
  src/Patterns/ProductUpdater.php
Labels: status: ready to merge, type: enhancement, skip-changelog, patterns, artificial-intelligence

#11903 Tweak the product prompt
  src/Patterns/PatternUpdater.php
  src/Patterns/ProductUpdater.php
Labels: status: ready to merge, type: enhancement, artificial-intelligence

#11954 Migrate cart/checkout tax tests to Playwright
  tests/e2e-jest/specs/shopper/cart-checkout/tax.test.js
  tests/e2e/tests/cart/cart-checkout-block-taxes.shopper.block_theme.spec.ts
  tests/e2e/utils/frontend/frontend-utils.page.ts
Labels: status: needs review, skip-changelog, ◼️ block: cart, ◼️ block: checkout, category: tests

#11961 Move the Checkout -> Account tests from puppeteer to Playwright
  tests/e2e-jest/specs/shopper/cart-checkout/account.test.js
  tests/e2e/playwright.config.ts
  tests/e2e/tests/checkout/checkout-block.shopper.block_theme.side_effects.spec.ts
Labels: status: needs review, skip-changelog, ◼️ block: checkout, category: tests

#11943 Update interactivity price filter block to use latest Interactivity Store API
  assets/js/blocks/collection-filters/inner-blocks/price-filter/frontend.ts
  assets/js/blocks/collection-filters/inner-blocks/price-filter/types.ts
  src/BlockTypes/CollectionPriceFilter.php
Labels: status: ready to merge, skip-changelog
