Repository woocommerce/woocommerce-blocks, pull requests merged in 2023-06, with the labels that each got.

#9577 Products block: Add e2e tests
  .github/workflows/playwright.yml
  tests/e2e-pw/playwright-utils/test.ts
  tests/e2e-pw/playwright.config.ts
  tests/e2e-pw/tests/products/products.block_theme.side_effects.spec.ts
  tests/e2e-pw/tests/products/utils.ts
  tests/e2e-pw/utils/api/TemplateApiUtils.ts
Labels: skip-changelog, category: tests, 🔹 block-type: templates

#9575 Migrate Classic Block E2E tests to Playwright
  .github/workflows/playwright.yml
  .wp-env.json
  docs/contributors/e2e-guidelines.md
  tests/e2e-pw/playwright-utils/test.ts
  tests/e2e-pw/playwright.config.ts
  tests/e2e-pw/tests/classic-template/classic-template.block_theme.side_effects.spec.ts
  tests/e2e-pw/tests/classic-template/utils.ts
  tests/e2e-pw/tests/price-filter/price-filter.block_theme.side_effects.spec.ts
  tests/e2e-pw/tests/products/products.block_theme.side_effects.spec.ts
  tests/e2e-pw/tests/products/utils.ts
  tests/e2e-pw/types/block-data.ts
  tests/e2e-pw/utils/api/TemplateApiUtils.ts
  tests/e2e-pw/utils/editor/EditorUtils.ts
  tests/e2e-pw/utils/editor/index.ts
  tests/e2e-pw/utils/index.ts
  tests/e2e/specs/backend/__snapshots__/site-editing-templates.test.js.snap
  tests/e2e/specs/backend/add-to-cart-form.test.js
  tests/e2e/specs/backend/single-product-details.test.js
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/specs/frontend/legacy-template-blocks.test.ts
  tests/e2e/specs/shopper/active-filters.test.ts
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-rating.test.ts
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
  tests/e2e/specs/shopper/product-query/product-query-with-templates.test.ts
  tests/e2e/specs/shopper/product-query/utils.ts
Labels: skip-changelog, category: tests, 🔹 block-type: templates

#9551 Enable blockified templates
  .github/workflows/playwright.yml
  .wp-env.json
  docs/contributors/e2e-guidelines.md
  src/BlockTemplatesController.php
  src/Domain/Bootstrap.php
  src/Migration.php
  templates/templates/blockified/taxonomy-product_tag.html
  tests/e2e-pw/playwright-utils/test.ts
  tests/e2e-pw/playwright.config.ts
  tests/e2e-pw/tests/classic-template/classic-template.block_theme.side_effects.spec.ts
  tests/e2e-pw/tests/classic-template/utils.ts
  tests/e2e-pw/tests/price-filter/price-filter.block_theme.side_effects.spec.ts
  tests/e2e-pw/tests/products/products.block_theme.side_effects.spec.ts
  tests/e2e-pw/tests/products/utils.ts
  tests/e2e-pw/types/block-data.ts
  tests/e2e-pw/utils/api/TemplateApiUtils.ts
  tests/e2e-pw/utils/editor/EditorUtils.ts
  tests/e2e-pw/utils/editor/index.ts
  tests/e2e-pw/utils/index.ts
  tests/e2e/specs/backend/__snapshots__/site-editing-templates.test.js.snap
  tests/e2e/specs/backend/add-to-cart-form.test.js
  tests/e2e/specs/backend/single-product-details.test.js
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/specs/frontend/legacy-template-blocks.test.ts
  tests/e2e/specs/shopper/active-filters.test.ts
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-rating.test.ts
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
  tests/e2e/specs/shopper/product-query/product-query-with-templates.test.ts
  tests/e2e/specs/shopper/product-query/utils.ts
  tests/php/Utils/BlockTemplateUtilsTest.php
Labels: status: ready to merge, type: enhancement, 🔹 block-type: templates

#9643 Fix local pickup e2e test
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
Labels: status: ready to merge, category: tests

#9672 Ensure aria-label is showing correct value based on setting
  assets/js/blocks/mini-cart/block.tsx
  assets/js/blocks/mini-cart/utils/data.ts
Labels: status: ready to merge, type: bug, category: accessibility, ◼️ block: mini-cart

#9678 Update test command so PHP unit tests can be ran locally again
  .wp-env.json
  package.json
Labels: status: ready to merge, type: build, category: tests

#9623 Remove propTypes definitions from Reviews By Category
  assets/js/blocks/reviews/reviews-by-category/block.tsx
  assets/js/blocks/reviews/reviews-by-category/edit.tsx
  assets/js/blocks/reviews/reviews-by-category/index.tsx
  assets/js/blocks/reviews/reviews-by-category/no-reviews-placeholder.tsx
  assets/js/blocks/reviews/reviews-by-category/types.ts
  checkstyle.xml
Labels: category: refactor, skip-changelog, ◼️ block: reviews by category, type: community contribution

#9634 Product Collection: Add Taxonomy filters to sidebar settings
  assets/js/blocks/product-collection/constants.ts
  assets/js/blocks/product-collection/edit.tsx
  assets/js/blocks/product-collection/editor.scss
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/inspector-controls/keyword-control.tsx
  assets/js/blocks/product-collection/inspector-controls/on-sale-control.tsx
  assets/js/blocks/product-collection/inspector-controls/stock-status-control.tsx
  assets/js/blocks/product-collection/inspector-controls/taxonomy-controls/index.tsx
  assets/js/blocks/product-collection/inspector-controls/taxonomy-controls/taxonomy-item.tsx
  assets/js/blocks/product-collection/types.ts
  assets/js/blocks/product-collection/utils.tsx
  src/BlockTypes/ProductCollection.php
Labels: status: ready to merge, category: blocks, type: task, ◼️ block: product collection

#9630 Product Image Gallery > Reintroduce filters and override-restore the global product variable.
  src/BlockTypes/ProductImageGallery.php
Labels: status: ready to merge, type: blocker, ◼️ block: product image gallery

#9698 Blockified Single Product Template: use h1 for the Product Title
  templates/templates/blockified/single-product.html
Labels: status: ready to merge, type: enhancement, 🔹 block-type: templates

#9699 Blockified Single Product Template: avoid to add another group block on the editor side when the user creates a template for a specific product
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: templates

#9697 Blockified Single Product Template: add product-classes via `wc_get_product_class`
  src/BlockTemplatesController.php
  tests/e2e-pw/playwright.config.ts
  tests/e2e-pw/tests/single-product-template/single-product-template.block_theme.spec.ts
Labels: status: ready to merge, 🔹 block-type: templates

#9685 Add to Cart Form block: Prevent notice from appearing after clicking on Add to Cart button inside Single Product block
  assets/js/atomic/blocks/product-elements/add-to-cart-form/block.json
  assets/js/atomic/blocks/product-elements/add-to-cart-form/edit.tsx
  src/BlockTypes/AddToCartForm.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product, ◼️ block: add to cart form

#9485 Product Collection - Add Inherit query from template control
  assets/js/base/hooks/use-previous.ts
  assets/js/blocks/product-collection/constants.ts
  assets/js/blocks/product-collection/edit.tsx
  assets/js/blocks/product-collection/inspector-controls/columns-control.tsx
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/inspector-controls/inherit-query-control.tsx
  assets/js/blocks/product-collection/types.ts
  assets/js/blocks/product-collection/utils.tsx
  src/BlockTypes/ProductCollection.php
Labels: status: ready to merge, skip-changelog, ◼️ block: product collection

#9691 Add to Cart with Options block: Prevent page redirection when clicking on Add to Cart button
  src/BlockTypes/AddToCartForm.php
Labels: status: ready to merge, type: blocker, skip-changelog, ◼️ block: product, ◼️ block: add to cart form

#9719 Product Rating: fix the filter woocommerce_product_get_rating_html is removed
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge, type: bug, skip-changelog

#9505 Create `Customer account` block e2e playwright tests
  tests/e2e-pw/tests/customer-account/customer-account.block_theme.spec.ts
Labels: status: ready to merge, skip-changelog, stale, category: tests, skip-zip

#9707 Make mini cart icon RTL on RTL sites in editor
  assets/js/blocks/mini-cart/editor.scss
  assets/js/blocks/mini-cart/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: mini-cart

#9723 Single Product Template: fix Compatibility Layer when the template implements the Single Product Template
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, skip-changelog

#9176 [Patterns] Add new `Footer with Simple Menu and Cart` pattern
  patterns/footer-simple-menu-and-cart.php
Labels: status: ready to merge, type: enhancement, stale, patterns

#9727 Fix value without onchaning warning
  assets/js/atomic/blocks/product-elements/add-to-cart-form/edit.tsx
Labels: status: ready to merge, type: bug, ◼️ block: add to cart form

#9715 Fix/escape add query arg template url
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, skip-changelog, ◼️ block: mini-cart

#9467 [Patterns] Update button color for `Hero Product 3 Split`
  patterns/featured-products-5-cols.php
  patterns/hero-product-3-split.php
Labels: status: ready to merge, skip-changelog, patterns

#9708 Add text limit to payment method descriptions in the page editor
  assets/js/base/components/summary/utils.ts
  assets/js/blocks/checkout/inner-blocks/checkout-payment-block/edit.tsx
  assets/js/utils/index.ts
  assets/js/utils/test/trim-words.ts
  assets/js/utils/trim-words.ts
  package-lock.json
  package.json
Labels: status: ready to merge, category: blocks, needs dev-note, ◼️ block: checkout, category: tests

#9713 Remove propTypes definitions from Grid Content Control
  assets/js/editor-components/grid-content-control/index.tsx
  checkstyle.xml
Labels: type: community contribution

#9741 Prevent showing edit product details link when in multiple products c…
  assets/js/editor-components/edit-product-link/index.tsx
Labels: status: ready to merge, ◼️ block: product

#9736 Product Collection: Add author filter in sidebar settings
  assets/js/blocks/product-collection/inspector-controls/author-control.tsx
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  src/BlockTypes/ProductCollection.php
Labels: status: ready to merge, category: blocks, type: task, ◼️ block: product collection

#9733 Product Collection: Hand picked products control in sidebar settings
  assets/js/blocks/product-collection/constants.ts
  assets/js/blocks/product-collection/inspector-controls/hand-picked-products-control.tsx
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/types.ts
  src/BlockTypes/ProductCollection.php
Labels: status: ready to merge, category: blocks, type: task, ◼️ block: product collection

#9751 Convert product-orderby-control to use typescript
  assets/js/editor-components/product-orderby-control/index.tsx
  assets/js/editor-components/product-orderby-control/types.ts
Labels: status: ready to merge, type: enhancement, skip-changelog

#9756 Use correct SVG for RTL display
  assets/js/blocks/mini-cart/edit.tsx
  images/blocks/mini-cart/cart-drawer-rtl.svg
Labels: status: ready to merge, type: bug, ◼️ block: mini-cart

#9760 Update Banner Pattern To Replace Unsplash Image
  images/pattern-placeholders/product-furniture-11.png
  images/pattern-placeholders/wood-home-wall-decoration-shelf-living-room.png
  patterns/banner.php
Labels: status: ready to merge, patterns

#9762 Update the Hero Product Split
  images/pattern-placeholders/hero-product-split.webp
  images/pattern-placeholders/pattern-fashion-clothing-outerwear-wool-scarf.png
  patterns/hero-product-split.php
Labels: status: ready to merge

#9761 Update Chessboard pattern images
  images/pattern-placeholders/man-person-winter-photography-statue-coat.png
  images/pattern-placeholders/person-winter-blur-wood-girl-woman.png
  images/pattern-placeholders/product-apparel-5.jpg
  images/pattern-placeholders/product-apparel-6.jpg
  patterns/hero-product-chessboard.php
Labels: status: ready to merge

#9763 Remove unused pattern image
  images/pattern-placeholders/product-apparel-4.jpg
Labels: skip-changelog, skip-zip

#9766 Update/collection pattern images
  images/pattern-placeholders/leather-guitar-typewriter-red-gadget-sofa.png
  images/pattern-placeholders/music-technology-play-equipment-studio-gadget.png
  images/pattern-placeholders/product-apparel-7.png
  images/pattern-placeholders/product-electronics-1.png
  images/pattern-placeholders/product-electronics-2.png
  images/pattern-placeholders/product-electronics-3.png
  images/pattern-placeholders/technology-joystick-gadget-console-games-playstation.png
  images/pattern-placeholders/technology-white-camera-photography-vintage-photographer.png
  patterns/product-collections-featured-collections.php
  patterns/shop-by-price.php
Labels: status: ready to merge, patterns

#9765 Update/patterns featured category product collection
  images/pattern-placeholders/dish-food-baking-dessert-bread-bakery.png
  images/pattern-placeholders/dish-meal-food-breakfast-dessert-eat.png
  images/pattern-placeholders/floor-home-decoration-fireplace-property-living-room.png
  images/pattern-placeholders/product-apparel-1.png
  images/pattern-placeholders/product-beauty-1.png
  images/pattern-placeholders/product-beauty-2.png
  images/pattern-placeholders/product-beauty-3.png
  images/pattern-placeholders/product-furniture-10.png
  images/pattern-placeholders/sweet-restaurant-celebration-food-chocolate-cupcake.png
  images/pattern-placeholders/wood-leather-fur-shop-jeans-shelf.png
  patterns/featured-category-cover-image.php
  patterns/featured-category-focus.php
  patterns/featured-category-triple.php
Labels: status: ready to merge, patterns

#9764 Update Images for the Product Details Patterns
  images/pattern-placeholders/desk-table-wood-chair-floor-home-square.png
  images/pattern-placeholders/product-details-product-listing.jpg
  images/pattern-placeholders/product-furniture-1.png
  images/pattern-placeholders/product-furniture-2.png
  images/pattern-placeholders/product-furniture-3.png
  images/pattern-placeholders/product-furniture-4.png
  images/pattern-placeholders/table-floor-home-living-room-furniture-room-square.png
  images/pattern-placeholders/table-floor-home-living-room-furniture-room.png
  images/pattern-placeholders/table-floor-interior-atmosphere-living-room-furniture-square-lg.png
  images/pattern-placeholders/table-floor-interior-atmosphere-living-room-furniture-square.png
  images/pattern-placeholders/table-white-chair-floor-shelf-lamp-square-lg.png
  images/pattern-placeholders/table-wood-chair-floor-living-room-furniture-horizontal.png
  images/pattern-placeholders/table-wood-chair-floor-living-room-furniture-vertical.png
  patterns/product-details-listing.php
  patterns/product-details-pattern.php
  patterns/product-hero.php
  patterns/product-listing-with-gallery-and-description.php
Labels: status: ready to merge, patterns

#9769 Update hero patterns titles
  patterns/hero-product-3-split.php
  patterns/hero-product-chessboard.php
  patterns/hero-product-split.php
Labels: status: ready to merge, skip-changelog, skip-zip

#9770 Remove unused pattern image
  images/pattern-placeholders/product-electronics-4.png
Labels: status: ready to merge, skip-changelog, skip-zip, patterns

#9676 Prevent Mini-Cart table to show horizontal scrollbar
  assets/js/blocks/mini-cart/style.scss
Labels: status: ready to merge, type: bug, stale, ◼️ block: mini-cart

#9777 Fix capitalization in Product Collections: Newest Arrivals pattern
  patterns/product-collections-newest-arrivals.php
Labels: status: ready to merge, type: bug, patterns

#9755 Removed proptypes and js to ts conversion for Product Categories
  assets/js/blocks/product-categories/block.tsx
  assets/js/blocks/product-categories/edit.tsx
  assets/js/blocks/product-categories/index.tsx
  assets/js/blocks/product-categories/types.ts
Labels: type: community contribution

#9759 WooCommerce Classic Template block: Fix error on clearing customizations on Woo Templates
  assets/js/blocks/classic-template/index.tsx
Labels: status: ready to merge, type: bug, 🔹 block-type: templates

#9570 Mini Cart: Add an alternative icon setting
  assets/js/blocks/mini-cart/block.tsx
  assets/js/blocks/mini-cart/component-frontend.tsx
  assets/js/blocks/mini-cart/edit.tsx
  assets/js/blocks/mini-cart/index.tsx
  assets/js/blocks/mini-cart/quantity-badge/index.tsx
  assets/js/blocks/mini-cart/quantity-badge/style.scss
  assets/js/blocks/mini-cart/types.ts
  assets/js/icons/index.js
  assets/js/icons/library/bag-alt.tsx
  assets/js/icons/library/bag.tsx
  assets/js/icons/library/cart-outline.tsx
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: enhancement, ◼️ block: mini-cart

#9803 Apply Additional Optimization to Pattern Images
  images/pattern-placeholders/dish-food-baking-dessert-bread-bakery.png
  images/pattern-placeholders/dish-meal-food-breakfast-dessert-eat.png
  images/pattern-placeholders/floor-home-decoration-fireplace-property-living-room.png
  images/pattern-placeholders/hand-guitar-finger-tshirt-clothing-rack.png
  images/pattern-placeholders/leather-guitar-typewriter-red-gadget-sofa.png
  images/pattern-placeholders/man-person-winter-photography-statue-coat.png
  images/pattern-placeholders/music-technology-play-equipment-studio-gadget.png
  images/pattern-placeholders/pattern-fashion-clothing-outerwear-wool-scarf.png
  images/pattern-placeholders/person-winter-blur-wood-girl-woman.png
  images/pattern-placeholders/sweet-restaurant-celebration-food-chocolate-cupcake.png
  images/pattern-placeholders/technology-joystick-gadget-console-games-playstation.png
  images/pattern-placeholders/technology-white-camera-photography-vintage-photographer.png
  images/pattern-placeholders/wood-leather-fur-shop-jeans-shelf.png
Labels: status: ready to merge, category: performance, patterns

#9712 Remove propTypes definitions from Block Title
  assets/js/editor-components/block-title/index.tsx
  checkstyle.xml
Labels: type: enhancement, category: refactor, type: community contribution

#9799 Convert inner-block-layout-context to typescript
  assets/js/shared/context/inner-block-layout-context.tsx
Labels: status: ready to merge, skip-changelog, category: blocks

#9811 Convert grid-layout-control to use Typescript
  assets/js/editor-components/grid-layout-control/index.tsx
Labels: status: ready to merge, category: components, skip-changelog

#9829 e2e tests: Wait for cart to be removed from the DOM when emptied
  tests/utils/shopper.js
Labels: status: ready to merge, category: tests

#9828 Mini Cart: Fix icon render
  assets/js/icons/library/mini-cart-alt.tsx
Labels: status: ready to merge, type: bug, ◼️ block: mini-cart

#9812 Add a default attribute to the pattern if exists
  patterns/filters.php
Labels: status: ready to merge, type: bug, type: cooldown, 🔹 block-type: filter blocks, ◼️ block: filter by attribute, patterns

#9824 Replace `propTypes` with TypeScript definitions for the `Active filters` block
  assets/js/blocks/active-filters/block.tsx
Labels: status: ready to merge, type: enhancement, category: refactor, skip-changelog, type: cooldown

#9827 Peer Dependency: Request 2.88.2
  package-lock.json
  package.json
Labels: status: ready to merge, type: dependencies

#9809 Keep change address button visible even if prefersCollection is true
  assets/js/base/components/cart-checkout/totals/shipping/shipping-address.tsx
Labels: status: ready to merge, ◼️ block: cart

#9120 Performance: Cache script data in a transient for production builds
  src/Assets/Api.php
Labels: status: ready to merge, category: performance, type: cooldown

#9834 Convert Product On Sale block file from JS to TS
  assets/js/blocks/product-on-sale/block.js
  assets/js/blocks/product-on-sale/block.tsx
  assets/js/blocks/product-on-sale/inspector-controls.tsx
  assets/js/blocks/product-on-sale/types.ts
Labels: status: ready to merge, category: refactor, skip-changelog, type: cooldown

#9798 Refactor: Convert with-transform-single-select-to-multiple-select.js to with-transform-single-select-to-multiple-select.tsx and replace propTypes with TypeScript definitions
  assets/js/hocs/with-transform-single-select-to-multiple-select.js
  assets/js/hocs/with-transform-single-select-to-multiple-select.tsx
Labels: status: ready to merge, skip-changelog, type: cooldown

#9815 Allow Customer Account Block to be found with keyword "My Account"
  assets/js/blocks/customer-account/block.json
Labels: type: community contribution

#9747 Product Collection - Add Display Settings Toolbar
  assets/js/blocks/product-collection/edit.tsx
  assets/js/blocks/product-collection/editor.scss
  assets/js/blocks/product-collection/toolbar-controls/display-settings-toolbar.tsx
  assets/js/blocks/product-collection/toolbar-controls/index.tsx
Labels: status: ready to merge, category: blocks, type: task, ◼️ block: product collection

#9254 Don't treat Dependabot as community contributor
  .github/workflows/scripts/is-community-contributor.js
Labels: status: ready to merge, skip-changelog, github_actions

#9868 Product by Category block: Fix error when adding the block to a store without reviews
  assets/js/blocks/reviews/editor-container-block.js
  assets/js/blocks/reviews/reviews-by-category/block.tsx
Labels: status: ready to merge, type: bug, ◼️ block: reviews by category

#9647 Mini Cart: Add Price, Icon and Product Count color settings
  assets/js/blocks/mini-cart/block.tsx
  assets/js/blocks/mini-cart/component-frontend.tsx
  assets/js/blocks/mini-cart/edit.tsx
  assets/js/blocks/mini-cart/index.tsx
  assets/js/blocks/mini-cart/quantity-badge/index.tsx
  assets/js/blocks/mini-cart/types.ts
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: enhancement, ◼️ block: mini-cart

#7809 Add `CartEventContext` and dispatch events when pressing proceed to checkout button
  assets/js/base/context/providers/cart-checkout/cart-events/event-emit.ts
  assets/js/base/context/providers/cart-checkout/cart-events/index.tsx
  assets/js/base/context/providers/cart-checkout/cart-events/test/index.tsx
  assets/js/base/context/providers/cart-checkout/index.js
  assets/js/blocks/cart/block.js
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/block.tsx
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/test/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/test/block.tsx
  tests/js/setup-globals.js
Labels: status: ready to merge, type: enhancement, category: extensibility, skip-changelog, category: blocks, ◼️ block: cart, stale

#9825 Add E2E tests for Product Collection Block
  .gitignore
  assets/js/blocks/product-collection/inspector-controls/order-by-control.tsx
  tests/e2e-pw/tests/product-collection/product-collection.block_theme.spec.ts
  tests/e2e-pw/tests/product-collection/product-collection.page.ts
Labels: status: ready to merge, skip-changelog, category: tests, ◼️ block: product collection

#9879 Hero Split pattern: add shop link to the button
  patterns/hero-product-split.php
Labels: status: ready to merge, patterns

#9877 Banner pattern: improve spacing and centering in responsive designs
  patterns/banner.php
Labels: status: ready to merge, patterns

#9912 Reference Mini Cart drawer preview dynamically
  assets/js/blocks/mini-cart/edit.tsx
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini-cart

#9914 Mini-Cart: don't include shipping price
  assets/js/blocks/mini-cart/utils/data.ts
  assets/js/blocks/mini-cart/utils/test/data.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: mini-cart

#9893 Styling and improvements
  patterns/hero-product-3-split.php
Labels: status: ready to merge, patterns

#9857 Fix PHP CS warnings in src/BlockTypesAddToCartForm.php
  src/BlockTypes/AddToCartForm.php
Labels: status: ready to merge, skip-changelog, ◼️ block: add to cart form

#9776 docs: add link to batching cart item
  src/StoreApi/docs/cart-items.md
Labels: type: community contribution

#9906 Mini Cart: Remove template part from the block inserter
  assets/js/blocks/mini-cart/index.tsx
Labels: status: ready to merge, ◼️ block: mini-cart

#9814 Consistent Pattern Titles
  patterns/README.md
  patterns/featured-products-5-cols.php
  patterns/filters.php
  patterns/footer-large-dark.php
  patterns/footer-large.php
  patterns/footer-simple-dark.php
  patterns/footer-simple.php
  patterns/footer-with-2-menus-dark.php
  patterns/footer-with-2-menus.php
  patterns/footer-with-3-menus.php
  patterns/header-centered-search-pattern.php
  patterns/header-essential-dark.php
  patterns/header-essential.php
  patterns/header-large-dark.php
  patterns/header-large.php
  patterns/hero-product-split.php
  patterns/just-arrived-full-hero.php
  patterns/product-collections-featured-collection.php
  patterns/product-collections-featured-collections.php
  patterns/product-collections-newest-arrivals.php
  patterns/product-details-listing.php
  patterns/product-hero-2-col-2-row.php
  patterns/product-query-1-1-image-4-column-products-row.php
  patterns/product-query-3-column-product-row.php
  patterns/product-query-4-column-product-row.php
  patterns/product-query-large-image-product-gallery.php
  patterns/product-query-minimal-5-column-products-row.php
  patterns/product-query-minimal-product-list.php
  patterns/product-query-product-gallery.php
  patterns/product-query-product-list-with-1-1-images.php
  patterns/product-query-product-list-with-full-product-description.php
  patterns/store-info-alt-image-and-text.php
Labels: type: enhancement, category: refactor, patterns, type: community contribution

#9920 CI: Ensure that the CI fails if PHP code doesn't respect phpcs configuration
  .github/workflows/php-coding-standards.yml
Labels: status: ready to merge, skip-changelog, type: task

#9816 Removed the second keyword (which previously denoted the text domain) from two blocks
  assets/js/blocks/product-new/block.json
  assets/js/blocks/product-top-rated/block.json
Labels: category: refactor, skip-changelog, ◼️ block: top rated products, ◼️ block: newest products, type: community contribution

#9931 Adjust the Dependabot GitHub username
  .github/workflows/scripts/is-community-contributor.js
Labels: status: ready to merge, skip-changelog, github_actions

#9838 Removed proptypes from feedback-promt
  assets/js/editor-components/feedback-prompt/index.tsx
Labels: category: components, category: refactor, skip-changelog, type: community contribution

#9915 Shop by Price pattern: add price filters to buttons
  patterns/shop-by-price.php
Labels: status: ready to merge, patterns

#9928 Product Collection: Make it compatible with filter blocks
  src/BlockTypes/ProductCollection.php
Labels: status: ready to merge, type: enhancement, skip-changelog, category: blocks, ◼️ block: product collection

#9936 Add new `Discount banner` pattern
  patterns/discount-banner.php
Labels: status: ready to merge, patterns

#9750 Allow customer account block to center align
  assets/js/blocks/customer-account/editor.scss
  assets/js/blocks/customer-account/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: customer account

#9954 Add back filter blocks frontend scripts
  assets/js/blocks/attribute-filter/frontend.ts
  assets/js/blocks/price-filter/frontend.ts
  assets/js/blocks/stock-filter/frontend.ts
  src/BlockTypes/AttributeFilter.php
  src/BlockTypes/PriceFilter.php
  src/BlockTypes/StockFilter.php
Labels: status: ready to merge, type: bug, 🔹 block-type: filter blocks

#9927 Add order number to checkout schema
  src/StoreApi/Schemas/V1/CheckoutSchema.php
Labels: status: ready to merge

#9965 Update testing instruction for #9573
  docs/internal-developers/testing/releases/1040.md
Labels: status: ready to merge, skip-changelog, type: task

#9974 Update rating filter test to match the new logic
  tests/e2e/specs/backend/rating-filter.test.js
Labels: status: ready to merge, skip-changelog, skip-zip

#9957 Add new `Discount banner with image` pattern
  patterns/discount-banner-with-image.php
Labels: status: ready to merge, patterns

#9968 Single Product Block > Ensure the Product Summary and Title are always rendered with the correct context independent of their position
  src/BlockTypes/SingleProduct.php
Labels: status: ready to merge, type: bug, ◼️ block: product

#9947 Add new `Small discount banner with image` pattern
  patterns/small-discount-banner-with-image.php
Labels: status: ready to merge, patterns

#9955 Single Product Block: update testing instructions about notice
  docs/internal-developers/testing/releases/1040.md
Labels: status: ready to merge, skip-changelog, type: task

#9953 Add new `Product collection banner` pattern
  images/pattern-placeholders/beach-landscape-sea-coast-nature-person.jpg
  patterns/product-collection-banner.php
Labels: status: ready to merge, patterns

#9951 Fix Products block tests
  tests/e2e-pw/playwright-utils/test.ts
  tests/e2e-pw/tests/products/products.block_theme.side_effects.spec.ts
  tests/e2e-pw/utils/constants.ts
  tests/e2e-pw/utils/editor/EditorUtils.ts
Labels: status: ready to merge, skip-changelog, category: tests

#9924 Update the Interactivity API files to include latest changes
  assets/js/interactivity/components.js
  assets/js/interactivity/constants.js
  assets/js/interactivity/directives.js
  assets/js/interactivity/hooks.js
  assets/js/interactivity/index.js
  assets/js/interactivity/router.js
  assets/js/interactivity/store.js
  assets/js/interactivity/utils.js
  assets/js/interactivity/vdom.js
  bin/webpack-configs.js
  bin/webpack-helpers.js
  src/Interactivity/class-wc-interactivity-store.php
  src/Interactivity/client-side-navigation.php
  src/Interactivity/directives/attributes/woo-bind.php
  src/Interactivity/directives/attributes/woo-class.php
  src/Interactivity/directives/attributes/woo-context.php
  src/Interactivity/directives/attributes/woo-style.php
  src/Interactivity/directives/class-woo-directive-context.php
  src/Interactivity/directives/class-woo-directive-store.php
  src/Interactivity/directives/tags/woo-context.php
  src/Interactivity/directives/utils.php
  src/Interactivity/directives/woo-process-directives.php
  src/Interactivity/load.php
  src/Interactivity/scripts.php
  src/Interactivity/store.php
  src/Interactivity/woo-directives.php
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge

#9984 Product Image: use WC Core function to render image
  assets/js/atomic/blocks/product-elements/image/style.scss
  src/BlockTypes/ProductImage.php
Labels: status: ready to merge, type: bug, 🔹 block-type: product-query

#9801 upkeep/9546: Migrate from Javascript to TypeScript
  assets/js/blocks/active-filters/block.tsx
  assets/js/blocks/active-filters/utils.tsx
  src/BlockTypes/MiniCart.php
Labels: category: refactor, skip-changelog, ◼️ block: active filters, type: community contribution

#9995 Product Rating block: Fix reviews count not showing on Single Product page
  assets/js/atomic/blocks/product-elements/rating/style.scss
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge, type: bug, ◼️ block: product rating

#9986 Single Product: Gallery variation image switching
  src/BlockTypes/AddToCartForm.php
Labels: status: ready to merge, 🔹 block-type: templates

#9998 Product Rating block > Ensure the customer reviews text is linked to the relevant reviews
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge, type: bug, ◼️ block: product rating

#9988 Add to Cart with options block > Remove opinionated style for the price list in grouped products.
  assets/js/atomic/blocks/product-elements/add-to-cart-form/style.scss
Labels: status: ready to merge, needs feedback, block: add to cart

#9982 Single Product Template: fix compatibility layer logic when the blocks aren't wrapped in a group block
  src/Templates/SingleProductTemplateCompatibility.php
  tests/php/Templates/SingleProductTemplateCompatibilityTests.php
Labels: status: ready to merge, type: bug

#9990 Single Product: Fix Product SKU not loading for different variations
  src/BlockTypes/ProductSKU.php
Labels: status: ready to merge, type: bug, 🔹 block-type: templates

#9822 Product Rating: Remove empty markup if no ratings are present
  assets/js/atomic/blocks/product-elements/rating/block.tsx
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge, type: enhancement, ◼️ block: product rating

#9917 Prevent saved payment methods showing if their main method `canPay` function returns `false`
  assets/js/blocks/cart-checkout-shared/payment-methods/saved-payment-method-options.tsx
  assets/js/blocks/cart-checkout-shared/payment-methods/test/saved-payment-method-options.tsx
  assets/js/data/payment/utils/check-payment-methods.ts
  assets/js/types/type-defs/cart-response.ts
  assets/js/types/type-defs/payments.ts
Labels: status: ready to merge, category: blocks, ◼️ block: checkout, category: tests, category: data-store

#9935 Use the single product block on the Hero Product pattern
  patterns/product-hero.php
Labels: status: ready to merge, patterns

#10017 Avoid usage of __experimentalUseFocusOutside
  assets/js/base/components/drawer/index.tsx
  assets/js/base/components/quantity-selector/index.tsx
Labels: status: ready to merge, category: refactor, skip-changelog, ◼️ block: mini-cart

#10007 Make filter by rating preview consistent with default settings
  assets/js/blocks/rating-filter/preview.tsx
Labels: status: ready to merge, type: bug, ◼ block: filter by rating

#10013 Product Image Gallery block: Fix overflow when multiple images are used
  assets/js/atomic/blocks/product-elements/product-image-gallery/style.scss
  assets/js/blocks/classic-template/single-product.ts
  templates/templates/blockified/single-product.html
Labels: status: ready to merge, type: bug, ◼️ block: product image gallery

#10033 Add FrontendUtils class
  tests/e2e-pw/playwright-utils/test.ts
  tests/e2e-pw/tests/customer-account/customer-account.block_theme.spec.ts
  tests/e2e-pw/tests/permalink-settings/permalink-settings.block_theme.spec.ts
  tests/e2e-pw/tests/price-filter/price-filter.block_theme.side_effects.spec.ts
  tests/e2e-pw/tests/price-filter/utils.ts
  tests/e2e-pw/utils/frontend/FrontendUtils.ts
  tests/e2e-pw/utils/frontend/add-to-cart.ts
  tests/e2e-pw/utils/frontend/get-block-by-name.ts
  tests/e2e-pw/utils/frontend/go-to-shop.ts
  tests/e2e-pw/utils/frontend/index.ts
Labels: status: ready to merge, category: refactor, skip-changelog, category: tests

#10040 Product Rating: append #reviews on the Single Product Block
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge, type: enhancement, skip-changelog

#10044 Single Product Block: avoid to register incompatibility blocks with the Single Product Block on the post/page editor
  assets/js/atomic/blocks/product-elements/add-to-cart-form/index.tsx
  assets/js/atomic/blocks/product-elements/product-details/index.tsx
  assets/js/atomic/blocks/product-elements/product-image-gallery/index.ts
  assets/js/atomic/blocks/product-elements/product-meta/index.tsx
  assets/js/atomic/blocks/product-elements/product-reviews/index.tsx
  assets/js/atomic/blocks/product-elements/rating/index.ts
  assets/js/atomic/blocks/product-elements/related-products/index.tsx
  assets/js/atomic/utils/register-block-single-product-template.ts
Labels: status: ready to merge, type: bug

#10029 Prevent prefetched Cart payload causing wrong values with cached Mini-Cart block
  assets/js/blocks/mini-cart/block.tsx
  assets/js/blocks/mini-cart/component-frontend.tsx
  assets/js/blocks/mini-cart/frontend.ts
  assets/js/blocks/mini-cart/test/block.js
  assets/js/blocks/mini-cart/types.ts
  assets/js/blocks/mini-cart/utils/data.ts
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, ◼️ block: mini-cart
