Repository woocommerce/woocommerce-blocks, pull requests merged in 2023-05, with the labels that each got.

#8937 Order Received FSE template
  assets/js/blocks/classic-template/constants.ts
  assets/js/blocks/classic-template/index.tsx
  assets/js/blocks/classic-template/order-received.ts
  assets/js/blocks/classic-template/types.ts
  src/BlockTemplatesController.php
  src/BlockTypes/ClassicTemplate.php
  src/Domain/Bootstrap.php
  src/Templates/OrderReceivedTemplate.php
  src/Utils/BlockTemplateUtils.php
  templates/templates/order-received.html
Labels: status: blocked, status: ready to merge, category: fse, 🔹 block-type: templates

#8350 Cart and Checkout FSE templates for block themes
  src/Templates/CartTemplate.php
  src/Templates/CheckoutTemplate.php
Labels: status: blocked, needs tests, ◼️ block: cart, ◼️ block: checkout, category: fse, 🔹 block-type: templates

#9297 Product Image Gallery: fix inline
  assets/js/atomic/blocks/product-elements/product-image-gallery/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: product image gallery

#9179 Related Products: make Product Title a link by default
  assets/js/blocks/product-query/variations/related-products.tsx
Labels: status: ready to merge, 🔹 block-type: product

#9285 Fix shipping notices for multiple packages
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
  assets/js/data/cart/actions.ts
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
  src/StoreApi/Routes/V1/CartSelectShippingRate.php
Labels: status: ready to merge, ◼️ block: cart

#9257 Fix Mini Cart block not respecting Add-to-Cart behaviour attribute when adding the first product
  assets/js/blocks/mini-cart/frontend.ts
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#9299 Product Image Gallery: fix resize width when the window resizes
  assets/js/atomic/blocks/product-elements/product-image-gallery/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: product image gallery

#9315 Rename Add to Cart
  assets/js/atomic/blocks/product-elements/add-to-cart-form/block.json
  tests/e2e/specs/backend/add-to-cart-form.test.js
Labels: status: ready to merge, type: enhancement, category: refactor, skip-changelog

#9335 Single Product Block > Ensure the product title is correct when used in a post or page
  src/BlockTypes/SingleProduct.php
Labels: status: ready to merge, type: bug, ◼️ block: product

#9319 [Pattern] Add new `Hero product 3 split` pattern
  images/pattern-placeholders/product-apparel-4.jpg
  patterns/hero-product-3-split.php
Labels: status: ready to merge, patterns

#9328 Prevent email address being removed when changing shipping method/entering shipping address
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
Labels: status: ready to merge, type: bug, ◼️ block: checkout, priority: high

#9284 Add featured category cover image
  images/pattern-placeholders/product-apparel-1.png
  patterns/featured-category-cover-image.php
Labels: status: ready to merge, patterns

#9330 Check that the customized fallback template is archive-product before…
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, priority: high, 🔹 block-type: templates

#9191 Implement new `Hero Product – Split` pattern
  images/pattern-placeholders/hero-product-split.webp
  patterns/hero-product-split.php
Labels: status: ready to merge, type: enhancement, patterns

#9276 Fix Product Price styles leaking into the Mini Cart, Cart and Checkout blocks
  assets/js/atomic/blocks/product-elements/price/block.tsx
  assets/js/atomic/blocks/product-elements/price/supports.ts
  src/BlockTypes/ProductPrice.php
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout, category: styles, :small_blue_diamond: block-type: product elements, ◼️ block: mini cart

#9283 Remove duplicated code in BlockTypesController.php
  src/BlockTypesController.php
Labels: status: ready to merge, category: refactor, skip-changelog

#9348 Fix: Edit Mini Cart template part URL.
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#9286 Single Product Template - Related Products: fix items per page option
  src/BlockTypes/RelatedProducts.php
Labels: status: ready to merge, type: bug

#9181 Add product hero pattern
  images/pattern-placeholders/product-electronics-1.png
  patterns/product-hero-wide.php
Labels: status: ready to merge, patterns

#9340 Convert to use WP core blocks
  images/pattern-placeholders/product-beauty-1.png
  images/pattern-placeholders/product-beauty-2.png
  images/pattern-placeholders/product-beauty-3.png
  patterns/featured-category-triple.php
Labels: status: ready to merge

#9343 Add permalink to plugin documentation in readme.
  readme.txt
Labels: status: ready to merge, type: documentation, skip-changelog

#9329 Mini Cart drawer: print width in PHP
  assets/js/base/components/drawer/style.scss
  assets/js/blocks/mini-cart/mini-cart-contents/block.tsx
  src/BlockTypes/MiniCartContents.php
  tests/e2e/specs/shopper/mini-cart.test.js
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#9148 Improve the E2E testing process with Playwright
  .github/workflows/php-js-e2e-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-tests.yml
  .gitignore
  .wp-env.json
  bin/wp-env-config.sh
  docs/contributors/README.md
  docs/contributors/contributing/README.md
  docs/contributors/contributing/e2e-guidelines.md
  docs/contributors/contributing/javascript-testing.md
  package-lock.json
  package.json
  tests/e2e-pw/bin/test-env-setup.sh
  tests/e2e-pw/block-theme.setup.ts
  tests/e2e-pw/classic-theme.setup.ts
  tests/e2e-pw/global-setup.ts
  tests/e2e-pw/playwright-utils/index.ts
  tests/e2e-pw/playwright-utils/test.ts
  tests/e2e-pw/playwright.config.ts
  tests/e2e-pw/tests/basic.block_theme.spec.ts
  tests/e2e-pw/tests/price-filter/price-filter.block_theme.spec.ts
  tests/e2e-pw/tests/price-filter/utils.ts
  tests/e2e-pw/tsconfig.json
  tests/e2e-pw/types/block-data.ts
  tests/e2e-pw/types/index.ts
  tests/e2e-pw/utils/api/TemplateApiUtils.ts
  tests/e2e-pw/utils/api/index.ts
  tests/e2e-pw/utils/cli.ts
  tests/e2e-pw/utils/constants.ts
  tests/e2e-pw/utils/frontend/get-block-by-name.ts
  tests/e2e-pw/utils/frontend/index.ts
  tests/e2e-pw/utils/go-to-shop.ts
  tests/e2e-pw/utils/index.ts
  tests/e2e-pw/utils/use-block-theme.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tsconfig.base.json
  wp-cli.yml
Labels: skip-changelog, type: cooldown, category: tests

#9339 Migrate Cart and Checkout Pages to the Template Editor when using a FSE theme
  src/Templates/CartTemplate.php
  src/Templates/CheckoutTemplate.php
  src/Templates/OrderReceivedTemplate.php
  src/Utils/BlockTemplateUtils.php
  templates/templates/cart.html
  templates/templates/checkout.html
Labels: type: enhancement, skip-changelog

#9378 Removed header and footer from checkout template.
  src/Templates/CheckoutTemplate.php
  templates/templates/checkout.html
Labels: ◼️ block: checkout

#9373 Add shop by price pattern
  patterns/shop-by-price.php
Labels: status: ready to merge, patterns

#9180 [Pattern] Add new `Hero product chessboard` pattern
  images/pattern-placeholders/product-apparel-5.jpg
  images/pattern-placeholders/product-apparel-6.jpg
  patterns/hero-product-chessboard.php
Labels: status: ready to merge, type: enhancement, patterns

#9382 Add color and typography styles on the mini cart title block
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-block/block.json
Labels: type: enhancement, category: styles, ◼️ block: mini cart, type: community contribution

#7925 Implement Hand-Picked Products block
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/inspector-controls.tsx
  assets/js/blocks/product-query/inspector-controls/product-selector.tsx
  assets/js/blocks/product-query/types.ts
  assets/js/utils/index.ts
  assets/js/utils/object-operations.ts
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: enhancement, 🔹 block-type: product-query

#9390 Update patterns images paths
  patterns/featured-category-cover-image.php
  patterns/featured-category-focus.php
  patterns/featured-category-triple.php
  patterns/hero-product-3-split.php
  patterns/hero-product-chessboard.php
  patterns/hero-product-split.php
  patterns/product-hero.php
Labels: status: ready to merge, patterns

#9407 Related Products: Fix hardcoded limit product
  src/BlockTypes/RelatedProducts.php
Labels: status: ready to merge, type: bug, skip-changelog

#9408 Add product details pattern
  images/pattern-placeholders/product-furniture-1.png
  images/pattern-placeholders/product-furniture-2.png
  images/pattern-placeholders/product-furniture-3.png
  patterns/product-details-pattern.php
Labels: status: ready to merge, patterns

#9410 Update pattern alignments
  patterns/shop-by-price.php
Labels: status: ready to merge, skip-changelog, patterns

#9409 Remove `<br>` In `Hero Product – Split` Pattern Heading
  patterns/hero-product-split.php
Labels: status: ready to merge

#9405 Skip the failing test
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
Labels: status: ready to merge, skip-changelog, category: tests

#9404 Add to Cart Button > Update block registration to rely on metadata and enable usage for the Single Product Block
  assets/js/atomic/blocks/product-elements/button/attributes.ts
  assets/js/atomic/blocks/product-elements/button/block.json
  assets/js/atomic/blocks/product-elements/button/constants.tsx
  assets/js/atomic/blocks/product-elements/button/index.ts
  assets/js/atomic/blocks/product-elements/button/index.tsx
  assets/js/atomic/blocks/product-elements/button/save.tsx
  assets/js/atomic/blocks/product-elements/button/types.ts
  assets/js/blocks/products/base-utils.js
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, type: enhancement, block: add to cart

#9386 Improve transform classic product template UX
  assets/js/blocks/classic-template/archive-product.ts
  assets/js/blocks/classic-template/editor.scss
  assets/js/blocks/classic-template/index.tsx
  assets/js/blocks/classic-template/product-search-results.ts
  assets/js/blocks/classic-template/single-product.ts
  assets/js/blocks/classic-template/types.ts
  assets/js/index.js
  assets/js/templates/revert-button/index.tsx
  assets/js/templates/revert-button/style.scss
  bin/webpack-helpers.js
  tsconfig.base.json
Labels: status: ready to merge, type: enhancement, 🔹 block-type: templates

#9414 Update pattern with images and alignment
  images/pattern-placeholders/product-beauty-1.png
  images/pattern-placeholders/product-beauty-2.png
  images/pattern-placeholders/product-beauty-3.png
  patterns/featured-category-triple.php
Labels: status: ready to merge, skip-changelog, patterns

#9411 Refactor cart/checkout template handling to extend shared class
  src/BlockTemplatesController.php
  src/BlockTypes/ClassicTemplate.php
  src/Templates/AbstractPageTemplate.php
  src/Templates/CartTemplate.php
  src/Templates/CheckoutTemplate.php
  src/Templates/OrderReceivedTemplate.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, category: refactor, ◼️ block: checkout, 🔹 block-type: templates

#9423 Update text
  images/pattern-placeholders/product-apparel-2.png
  images/pattern-placeholders/product-furniture-10.png
  patterns/featured-category-focus.php
Labels: status: ready to merge, skip-changelog, patterns

#9420 Update Mini-Cart block editor sidebar
  assets/js/blocks/mini-cart/edit.tsx
  assets/js/blocks/mini-cart/editor.scss
  assets/js/blocks/mini-cart/frontend.ts
  assets/js/blocks/mini-cart/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/attributes.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks-style.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-items-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-products-table-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-items-counter-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-label-block/block.json
  assets/js/blocks/mini-cart/style.scss
  assets/js/blocks/mini-cart/test/block.js
  docs/internal-developers/translations/translations-for-lazy-loaded-components.md
  docs/internal-developers/translations/translations-in-FSE-templates.md
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
  docs/third-party-developers/extensibility/checkout-block/dom-events.md
  docs/third-party-developers/extensibility/checkout-block/integration-interface.md
  docs/third-party-developers/extensibility/rest-api/extend-rest-api-add-data.md
  images/blocks/mini-cart/cart-drawer.svg
  packages/checkout/README.md
  packages/checkout/blocks-registry/README.md
  packages/checkout/filter-registry/README.md
  readme.txt
  src/BlockTypes/MiniCart.php
  src/BlockTypes/MiniCartContents.php
  src/Utils/BlockTemplateUtils.php
  tests/e2e-pw/bin/test-env-setup.sh
  tests/e2e/specs/backend/__fixtures__/mini-cart.fixture.json
  tests/e2e/specs/backend/mini-cart.test.js
  tests/e2e/specs/shopper/mini-cart.test.js
  tests/utils/shopper.js
Labels: status: ready to merge, type: enhancement, ◼️ block: mini cart

#9177 PR to test #9173 - GitHub Actions: labels removal update
  test.text
Labels: status: ready to merge, stale

#9434 Add banner pattern
  images/pattern-placeholders/product-furniture-11.png
  patterns/banner.php
Labels: status: ready to merge, patterns

#9347 Add new `Product listing with gallery` pattern
  images/pattern-placeholders/product-furniture-4.png
  patterns/product-listing-with-gallery-and-description.php
Labels: status: ready to merge, patterns

#9259 Only show the Mini Cart count badge when there are items in the cart
  assets/js/blocks/mini-cart/frontend.ts
  assets/js/blocks/mini-cart/quantity-badge/index.tsx
  assets/js/blocks/mini-cart/quantity-badge/style.scss
  assets/js/blocks/mini-cart/test/block.js
  assets/js/icons/library/mini-cart.tsx
  src/BlockTypes/MiniCart.php
  tests/e2e/specs/shopper/mini-cart.test.js
Labels: status: ready to merge, type: enhancement, needs design, ◼️ block: mini cart

#9173 Replace ‘actions-ecosystem/action-remove-labels’ with ‘mondeja/remove-labels-gh-action’
  .github/workflows/merged-with-labels.yml
Labels: status: ready to merge, skip-changelog, type: technical debt, github_actions

#9392 Fix alignment issue with 'Add Coupon Code' button in WooCommerce Blocks (#9391)
  assets/js/base/components/sidebar-layout/style.scss
Labels: type: enhancement, ◼️ block: checkout, category: styles, type: community contribution

#9442 Mini-Cart: prevent 'Mini-Cart in cart and checkout pages' toggle from showing up in the post/page editor
  assets/js/blocks/mini-cart/edit.tsx
  assets/js/blocks/mini-cart/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#9440 Improve the Contact Information section in the post editor
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/edit.tsx
  assets/js/blocks/checkout/styles/editor.scss
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout, category: styles

#9383 Add Product Details: product listing pattern
  images/pattern-placeholders/product-details-product-listing.jpg
  patterns/product-details-listing.php
Labels: status: ready to merge, patterns

#9388 Add new `Product collections: featured collections` pattern
  images/pattern-placeholders/product-apparel-7.png
  images/pattern-placeholders/product-electronics-2.png
  images/pattern-placeholders/product-electronics-3.png
  images/pattern-placeholders/product-electronics-4.png
  patterns/product-collections-featured-collections.php
Labels: status: ready to merge

#9251 Experiment: Replace style hooks coming from `@wordpress/block-editor`
  assets/js/atomic/blocks/product-elements/button/block.tsx
  assets/js/atomic/blocks/product-elements/button/types.ts
  assets/js/atomic/blocks/product-elements/image/block.tsx
  assets/js/atomic/blocks/product-elements/image/test/block.test.tsx
  assets/js/atomic/blocks/product-elements/price/block.tsx
  assets/js/atomic/blocks/product-elements/rating/block.tsx
  assets/js/atomic/blocks/product-elements/sale-badge/block.tsx
  assets/js/atomic/blocks/product-elements/sku/block.tsx
  assets/js/atomic/blocks/product-elements/stock-indicator/block.tsx
  assets/js/atomic/blocks/product-elements/summary/block.tsx
  assets/js/atomic/blocks/product-elements/title/block.tsx
  assets/js/base/components/product-price/index.tsx
  assets/js/base/hooks/index.js
  assets/js/base/hooks/use-border-props.ts
  assets/js/base/hooks/use-color-props.ts
  assets/js/base/hooks/use-spacing-props.ts
  assets/js/base/hooks/use-style-props.ts
  assets/js/base/hooks/use-typography-props.ts
  assets/js/base/utils/get-inline-styles.ts
  assets/js/base/utils/index.js
  assets/js/blocks/active-filters/block-wrapper.tsx
  assets/js/blocks/attribute-filter/block-wrapper.tsx
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/frontend.ts
  assets/js/blocks/featured-items/with-featured-item.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-items-counter-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-label-block/block.tsx
  assets/js/blocks/price-filter/block-wrapper.tsx
  assets/js/blocks/price-filter/frontend.ts
  assets/js/blocks/rating-filter/block-wrapper.tsx
  assets/js/blocks/rating-filter/block.tsx
  assets/js/blocks/stock-filter/block-wrapper.tsx
  assets/js/blocks/stock-filter/block.tsx
  assets/js/blocks/stock-filter/frontend.ts
  package-lock.json
  package.json
  src/BlockTypes/AttributeFilter.php
  src/BlockTypes/RatingFilter.php
  src/BlockTypes/StockFilter.php
Labels: status: ready to merge, category: refactor, category: performance

#9447 Update/cleanup patterns
  patterns/featured-category-cover-image.php
  patterns/featured-category-focus.php
  patterns/featured-category-triple.php
  patterns/product-details-pattern.php
  patterns/product-hero.php
  patterns/shop-by-price.php
  patterns/testimonials-single.php
Labels: status: ready to merge, skip-changelog, patterns

#9433 Update `Hero Product – Split` Pattern Color Settings
  patterns/hero-product-split.php
Labels: status: ready to merge, skip-changelog, patterns

#9462 Update the logic of disabling some blocks in the widget areas and post editor
  src/BlockTypesController.php
Labels: category: refactor, type: technical debt, type: community contribution

#9352 Foundation of New Product Collection Block
  assets/js/atomic/blocks/product-elements/button/block.json
  assets/js/atomic/blocks/product-elements/image/index.ts
  assets/js/atomic/blocks/product-elements/rating/index.ts
  assets/js/atomic/blocks/product-elements/sale-badge/index.ts
  assets/js/atomic/blocks/product-elements/sku/index.tsx
  assets/js/atomic/blocks/product-elements/stock-indicator/index.ts
  assets/js/blocks/product-collection/block.json
  assets/js/blocks/product-collection/edit.tsx
  assets/js/blocks/product-collection/icon.tsx
  assets/js/blocks/product-collection/index.tsx
  assets/js/blocks/product-collection/save.tsx
  assets/js/blocks/product-collection/types.ts
  assets/js/blocks/product-collection/variations/elements/product-summary.tsx
  assets/js/blocks/product-collection/variations/elements/product-title.tsx
  assets/js/blocks/product-collection/variations/elements/utils.tsx
  assets/js/blocks/product-collection/variations/index.ts
  assets/js/blocks/product-template/block.json
  assets/js/blocks/product-template/edit.tsx
  assets/js/blocks/product-template/editor.scss
  assets/js/blocks/product-template/icon.tsx
  assets/js/blocks/product-template/index.tsx
  assets/js/blocks/product-template/save.tsx
  assets/js/blocks/product-template/style.scss
  bin/webpack-entries.js
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  src/BlockTypes/ProductCollection.php
  src/BlockTypes/ProductTemplate.php
  src/BlockTypesController.php
Labels: status: ready to merge, category: new-block, type: task, ◼️ block: product collection

#9436 Global Styles: Fix radio control overlap when font-size is small
  assets/js/base/components/radio-control/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: checkout, category: styles

#9437 Styling fixes for form step headings
  assets/js/base/components/cart-checkout/form-step/style.scss
  assets/js/blocks/checkout/form-step/editor.scss
Labels: status: ready to merge, ◼️ block: checkout

#9426 Sync endpoints with pages
  src/BlockTemplatesController.php
  src/Templates/AbstractPageTemplate.php
  src/Templates/CartTemplate.php
  src/Templates/CheckoutTemplate.php
  src/Templates/OrderReceivedTemplate.php
Labels: status: ready to merge, ◼️ block: checkout

#9406 Permalink solution for the checkout endpoint/template
  src/BlockTemplatesController.php
  src/BlockTypes/ClassicTemplate.php
  src/Templates/AbstractPageTemplate.php
  src/Templates/CartTemplate.php
  src/Templates/CheckoutTemplate.php
  src/Templates/OrderReceivedTemplate.php
  src/Utils/BlockTemplateUtils.php
  src/Utils/SettingsUtils.php
Labels: status: ready to merge, ◼️ block: checkout, 🔹 block-type: templates

#9457 Add to Cart with Options Block > Remove global variable overwrite.
  src/BlockTypes/AddToCartForm.php
Labels: status: ready to merge, type: bug, ◼️ block: add to cart form

#9475 Product Gallery Block > Remove global variable overwrite and keep support for the Single Product Block.
  src/BlockTypes/ProductImageGallery.php
Labels: status: ready to merge

#9345 Mini Cart: stop using Modal component
  assets/js/base/components/drawer/index.tsx
  assets/js/base/components/drawer/style.scss
  assets/js/base/components/drawer/utils/aria-helper.ts
  assets/js/base/components/quantity-selector/index.tsx
  assets/js/blocks/mini-cart/block.tsx
  assets/js/blocks/mini-cart/style.scss
  src/BlockTypes/MiniCart.php
  src/BlockTypes/MiniCartContents.php
  tests/e2e/specs/shopper/mini-cart.test.js
Labels: status: ready to merge, type: bug, category: refactor, ◼️ block: mini cart

#9450 [Patterns] Improvements on `Product Collections: Featured Collection`
  patterns/product-collections-featured-collection.php
Labels: status: ready to merge, skip-changelog, patterns

#9466 Product Collection: Add columns control to product collection block editor settings
  assets/js/blocks/product-collection/edit.tsx
  assets/js/blocks/product-collection/inspector-controls/columns-control.tsx
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/types.ts
  assets/js/blocks/product-template/block.json
  assets/js/blocks/product-template/edit.tsx
Labels: status: ready to merge, category: blocks, type: task, ◼️ block: product collection

#9479 Render Product Details block when used along the Post Content block
  src/BlockTypes/ProductDetails.php
Labels: status: ready to merge, type: bug

#9481 Fix Filter by Price block making a 404 request in the frontend
  src/BlockTypes/PriceFilter.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: filter by price

#9468 Add isSiteEditorPage util
  assets/js/blocks/product-query/utils.tsx
  assets/js/blocks/product-query/variations/product-query.tsx
  assets/js/templates/revert-button/index.tsx
  assets/js/utils/index.ts
  assets/js/utils/is-site-editor-page.ts
  package.json
Labels: status: ready to merge, type: bug, skip-changelog

#9446 Fix Product SKU not being displayed on frontend
  assets/js/atomic/blocks/product-elements/shared/use-is-descendent-of-single-product-block.tsx
  assets/js/atomic/blocks/product-elements/sku/edit.tsx
  assets/js/atomic/blocks/product-elements/sku/types.ts
Labels: status: ready to merge, type: bug, 🔹 block-type: product

#9413 Fix Product Rating Block not showing when manually inserted to Single Product Block
  assets/js/atomic/blocks/product-elements/rating/edit.tsx
  assets/js/atomic/blocks/product-elements/rating/types.ts
Labels: status: ready to merge

#9492 Product Search Results Template: fix compatibility layer when the Product Catalog isn't blockified
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug

#9375 Store API: Fix payment method validation (fixes COD)
  src/StoreApi/Routes/V1/Checkout.php
  src/StoreApi/Schemas/V1/CheckoutSchema.php
Labels: status: ready to merge, category: rest-api, ◼️ block: checkout

#9489 Product Rating block: Refactor the block to use useIsDescendentOfSingleProductBlock hook
  assets/js/atomic/blocks/product-elements/rating/edit.tsx
Labels: status: ready to merge

#9456 Allow Shipping method prices to inherit global styles text color
  assets/js/base/components/cart-checkout/shipping-rates-control-package/style.scss
Labels: status: ready to merge, type: bug, category: styles

#9487 Prevent QuantitySelector stealing focus on page load
  assets/js/base/components/quantity-selector/index.tsx
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, ◼️ block: mini-cart

#9452 Product Archive Template: Fix compatibility Layer with Product Recommendations extension
  src/Templates/ArchiveProductTemplatesCompatibility.php
Labels: status: ready to merge, type: bug

#9495 Fix compatibility between the checkout block and the template editor.
  src/Assets/AssetDataRegistry.php
Labels: status: ready to merge, ◼️ block: checkout

#9480 Product Collection: Add 'Order By' Control to Product Collection Inspector
  assets/js/blocks/product-collection/block.json
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/inspector-controls/order-by-control.tsx
  assets/js/blocks/product-collection/types.ts
  src/BlockTypes/ProductCollection.php
Labels: status: ready to merge, type: enhancement, category: blocks, ◼️ block: product collection

#9472 Add to Cart with Options: Fix styles that are not being applied correctly
  assets/js/atomic/blocks/product-elements/add-to-cart-form/style.scss
  src/BlockTypes/AddToCartForm.php
  src/BlockTypes/SingleProduct.php
Labels: status: ready to merge

#9464 Fix compatibility layer when no products are displayed
  src/Templates/ArchiveProductTemplatesCompatibility.php
Labels: status: ready to merge, type: bug

#9474 Single Product Block > Only reset the post data if `setup_postdata` was invoked.
  src/BlockTypes/SingleProduct.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product

#9501 Update Mini-Cart block logic to use isSiteEditorPage util
  assets/js/blocks/mini-cart/edit.tsx
  assets/js/blocks/mini-cart/index.tsx
Labels: status: ready to merge, category: refactor, skip-changelog, type: technical debt, ◼️ block: mini-cart

#9503 Product Details block: Remove the fill color of the Product Details icon and move it to the icons library
  assets/js/atomic/blocks/product-elements/product-details/index.tsx
  assets/js/icons/index.js
  assets/js/icons/library/product-details.tsx
  images/blocks/product-details/product-details-icon.svg
Labels: status: ready to merge, type: bug, ◼️ block: product details

#9506 Product Meta block: Remove the fill color of the icon and move it to the Icons library
  assets/js/atomic/blocks/product-elements/product-meta/index.tsx
  assets/js/icons/index.js
  assets/js/icons/library/product-meta.tsx
  images/blocks/product-meta/product-meta-icon.svg
Labels: status: ready to merge, type: bug, ◼️ block: product meta

#9497 Fix Checkout block stepped sections numbers overlapping
  assets/js/base/components/cart-checkout/form-step/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: checkout, category: styles

#9336 Add unit test cases for Min and Max price for shipping methods
  assets/js/base/utils/test/shipping-rates.ts
Labels: status: ready to merge, skip-changelog

#8841 Trigger the set-billing-address when editing Shipping and useShippingAsBilling is true
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
Labels: status: ready to merge, type: enhancement, category: extensibility, ◼️ block: checkout

#9351 Prevent fatal error if a plugin makes a package's `rates` null/non-array
  src/Shipping/ShippingController.php
Labels: status: needs review, status: ready to merge, type: bug, category: blocks, ◼️ block: cart, ◼️ block: checkout

#9509 Enable blockified conversation to archive templates
  assets/js/blocks/classic-template/archive-product.ts
  assets/js/blocks/classic-template/product-search-results.ts
Labels: status: ready to merge, type: enhancement

#9561 Revert "Update the logic of disabling some blocks in the widget areas and post editor"
  src/BlockTypesController.php
Labels: status: ready to merge

#9563 Fix > Product details listing pattern - Ensure the editor preview is properly rendered after page refresh
  patterns/product-details-listing.php
Labels: status: ready to merge, type: bug, patterns

#9493 Make Mini-Cart block work well with caching plugins
  assets/js/blocks/mini-cart/frontend.ts
  assets/js/blocks/mini-cart/quantity-badge/style.scss
  assets/js/blocks/mini-cart/style.scss
  assets/js/blocks/mini-cart/utils/data.ts
  assets/js/blocks/mini-cart/utils/set-styles.ts
  assets/js/blocks/mini-cart/utils/test/data.ts
  assets/js/blocks/rating-filter/test/block.tsx
  assets/js/blocks/stock-filter/test/block.tsx
  package-lock.json
  package.json
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: enhancement, ◼️ block: mini-cart

#8994 Update documentation for `additionalCartCheckoutInnerBlockTypes` filter
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
Labels: status: ready to merge, type: documentation

#9572 update @wordpress/env package
  .github/workflows/php-js-e2e-tests.yml
  package-lock.json
  package.json
Labels: status: ready to merge, skip-changelog, type: dependencies

#9569 Product templates: Add 'products-block-post-template' class
  templates/templates/blockified/archive-product.html
  templates/templates/blockified/product-search-results.html
  templates/templates/blockified/single-product.html
Labels: status: ready to merge, skip-changelog, category: fse, 🔹 block-type: templates

#9586 Fix Mini-Cart block conflict with Page Optimize and Product Bundles (II)
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, ◼️ block: mini-cart

#9574 Lockfile Maintenance – 2023-05-23
  package-lock.json
Labels: status: ready to merge, skip-changelog, type: dependencies

#9593 Remove trailing comma
  tsconfig.base.json
Labels: status: ready to merge, type: bug, skip-changelog, storybook

#8819 Fix total shipping display info when no shipping method is available
  assets/js/base/components/cart-checkout/shipping-rates-control-package/package-rates.tsx
  assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/test/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/utils.ts
  assets/js/base/context/hooks/index.js
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
  assets/js/base/context/hooks/tsconfig.json
  assets/js/base/context/hooks/use-show-shipping-total-warning.ts
  assets/js/blocks/checkout/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-totals-block/frontend.tsx
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#9549 Product Collection: Add 'on sale' filter and enhance settings management in product collection block
  assets/js/blocks/product-collection/block.json
  assets/js/blocks/product-collection/inspector-controls/columns-control.tsx
  assets/js/blocks/product-collection/inspector-controls/constants.ts
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/inspector-controls/on-sale-control.tsx
  assets/js/blocks/product-collection/inspector-controls/order-by-control.tsx
  assets/js/blocks/product-collection/inspector-controls/utils.tsx
  assets/js/blocks/product-collection/types.ts
  src/BlockTypes/ProductCollection.php
Labels: status: ready to merge, category: blocks, type: task, ◼️ block: product collection

#9573 Classic Product Template block visible in the inserter
  assets/js/blocks/classic-template/index.tsx
Labels: status: ready to merge, type: enhancement, 🔹 block-type: templates

#9556 Product Rating block: Hide rating when the product has no reviews
  assets/js/atomic/blocks/product-elements/rating/block.tsx
  assets/js/atomic/blocks/product-elements/rating/edit.tsx
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge, type: enhancement, ◼️ block: product rating

#9595 Remove propTypes definitions from Top Rated Products block
  assets/js/blocks/product-top-rated/block.json
  assets/js/blocks/product-top-rated/block.tsx
  assets/js/blocks/product-top-rated/edit.tsx
  assets/js/blocks/product-top-rated/index.tsx
  assets/js/blocks/product-top-rated/types.ts
Labels: category: refactor, skip-changelog, ◼️ block: top rated products, type: community contribution

#9605 Clarify step when bumping a release in WC core
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
Labels: status: ready to merge, skip-changelog, skip-zip

#9580 Product Collection: Add stock status filter
  assets/js/blocks/product-collection/block.json
  assets/js/blocks/product-collection/constants.ts
  assets/js/blocks/product-collection/edit.tsx
  assets/js/blocks/product-collection/index.tsx
  assets/js/blocks/product-collection/inspector-controls/columns-control.tsx
  assets/js/blocks/product-collection/inspector-controls/constants.ts
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/inspector-controls/on-sale-control.tsx
  assets/js/blocks/product-collection/inspector-controls/order-by-control.tsx
  assets/js/blocks/product-collection/inspector-controls/stock-status-control.tsx
  assets/js/blocks/product-collection/types.ts
  src/BlockTypes/ProductCollection.php
  src/BlockTypes/ProductTemplate.php
Labels: status: ready to merge, type: enhancement, category: blocks, ◼️ block: product collection

#9583 Product Collection - Add keyword control to sidebar settings
  assets/js/blocks/product-collection/inspector-controls/constants.ts
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/inspector-controls/keyword-control.tsx
  src/BlockTypes/ProductCollection.php
Labels: status: ready to merge, category: blocks, type: task, ◼️ block: product collection

#9608 Fix PHP lint
  src/BlockTypes/ProductCollection.php
  src/BlockTypes/ProductImage.php
  src/BlockTypes/ProductRating.php
  src/BlockTypes/ProductTemplate.php
  src/StoreApi/Utilities/ProductQueryFilters.php
Labels: status: ready to merge, category: refactor, skip-changelog

#9597 Fix Cambodian postcode validation
  packages/checkout/utils/validation/is-postcode.ts
  packages/checkout/utils/validation/test/is-postcode.ts
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#9594 Product Image Gallery block: Fix magnifying glass appearing outside the block content area
  assets/js/atomic/blocks/product-elements/product-image-gallery/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: product image gallery

#9578 Mini-Cart: Make error notifications non-dismissable
  assets/js/data/cart/notify-errors.ts
Labels: status: ready to merge, type: enhancement, ◼️ block: mini-cart

#9616 Remove propTypes definitions from Product List container
  assets/js/base/components/product-list/container.tsx
Labels: type: community contribution

#9613 Remove propTypes definitions from Newest Products block
  assets/js/blocks/README.md
  assets/js/blocks/product-new/block.json
  assets/js/blocks/product-new/block.tsx
  assets/js/blocks/product-new/edit.tsx
  assets/js/blocks/product-new/index.tsx
  assets/js/blocks/product-new/types.ts
  checkstyle.xml
  docs/internal-developers/translations/translation-loading.md
Labels: category: refactor, skip-changelog, ◼️ block: newest products, type: community contribution

#9636 Blockified Single Product Template: Show upsells.
  assets/css/style.scss
  src/Templates/SingleProductTemplateCompatibility.php
Labels: status: ready to merge, 🔹 block-type: templates

#9499 Product Rating block: Add Single Product template support to the block
  assets/js/atomic/blocks/product-elements/rating/attributes.ts
  assets/js/atomic/blocks/product-elements/rating/block.json
  assets/js/atomic/blocks/product-elements/rating/edit.tsx
  assets/js/atomic/blocks/product-elements/rating/index.ts
  assets/js/atomic/blocks/product-elements/rating/types.ts
Labels: status: ready to merge, type: enhancement, ◼️ block: product rating

#9601 Fix invisible Mini-Cart badge in themes without <body> background
  assets/js/blocks/mini-cart/utils/set-styles.ts
Labels: status: ready to merge, type: bug, ◼️ block: mini-cart

#9600 [Product Collection] Add `Attributes` filter control to sidebar settings
  assets/js/blocks/product-collection/constants.ts
  assets/js/blocks/product-collection/inspector-controls/attributes-control.tsx
  assets/js/blocks/product-collection/inspector-controls/constants.ts
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/types.ts
  src/BlockTypes/ProductCollection.php
Labels: status: ready to merge, category: blocks, type: task, ◼️ block: product collection

#9579 Replace placeholder blockified templates with the right one
  templates/templates/blockified/taxonomy-product_attribute.html
  templates/templates/blockified/taxonomy-product_cat.html
  templates/templates/blockified/taxonomy-product_tag.html
Labels: status: ready to merge, skip-changelog, 🔹 block-type: templates

#9640 Ensure inner content is not truncated on different widths
  patterns/just-arrived-full-hero.php
Labels: status: ready to merge, type: bug, patterns

#9602 Template Placeholder Design for the Order Received Template
  assets/js/blocks/classic-template/archive-product.ts
  assets/js/blocks/classic-template/editor.scss
  assets/js/blocks/classic-template/index.tsx
  assets/js/blocks/classic-template/order-received.ts
  assets/js/blocks/classic-template/order-received.tsx
  assets/js/blocks/classic-template/product-search-results.ts
  assets/js/blocks/classic-template/single-product.ts
  assets/js/blocks/classic-template/types.ts
  src/BlockTypes/ClassicTemplate.php
Labels: status: ready to merge, ◼️ block: checkout

#9607 Add simplified header on checkout template
  assets/js/blocks/classic-template/constants.ts
  src/Domain/Bootstrap.php
  src/Templates/CheckoutHeaderTemplate.php
  src/Utils/BlockTemplateUtils.php
  templates/parts/checkout-header.html
  templates/templates/checkout.html
Labels: status: ready to merge, ◼️ block: checkout, 🔹 block-type: templates

#9606 Remove `setFullAddressPushed` to prevent address continually pushing
  assets/js/data/cart/actions.ts
  assets/js/data/cart/default-state.ts
  assets/js/data/cart/push-changes.ts
  assets/js/data/cart/reducers.ts
  assets/js/data/cart/resolvers.ts
  assets/js/data/cart/selectors.ts
  assets/js/types/type-defs/cart.ts
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: checkout

#9649 Fix Mini-Cart block check to see whether a script has already been enqueued
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, ◼️ block: mini-cart

#9654 Partially uplift #9251 to 10.0.x
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/color-utils.ts
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/block.tsx
  package-lock.json
  package.json
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini-cart

#9603 Stack cart and checkout buttons on smaller screens
  assets/js/blocks/mini-cart/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: mini-cart

#9550 Product Categories List: Add show child categories only toggle
  assets/js/blocks/product-categories/block.js
  assets/js/blocks/product-categories/block.json
  assets/js/utils/index.ts
  assets/js/utils/is-widget-editor-page.ts
  src/BlockTypes/ProductCategories.php
Labels: status: ready to merge, type: enhancement, ◼️ block: product categories list

#9661 Fix colors not being applied to Mini-Cart Proceed to Checkout Button in the editor
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/edit.tsx
Labels: status: ready to merge, skip-changelog, ◼️ block: mini-cart

#9667 Allow plugin based template parts in templates
  src/BlockTemplatesController.php
Labels: status: ready to merge, ◼️ block: checkout, 🔹 block-type: templates
