Repository woocommerce/woocommerce-blocks, pull requests merged in 2023-03, with the labels that each got.

#8585 Fix image is not showing at correct position
  docs/internal-developers/testing/releases/970.md
Labels: status: ready to merge

#8574 Fix 'Edit Mini Cart template part' link in WP 6.2
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#8579 Rename BlockTemplatesCompatibility class to ArchiveProductTemplatesCompatibility
  src/Domain/Bootstrap.php
  src/Templates/AbstractTemplateCompatibility.php
  src/Templates/ArchiveProductTemplatesCompatibility.php
Labels: status: ready to merge, category: refactor, skip-changelog

#8582 Add to Cart Form Block > Ensure the editor preview is properly displayed with the Gutenberg plugin disabled
  assets/js/atomic/blocks/product-elements/add-to-cart-form/edit.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart-form/editor.scss
Labels: status: ready to merge

#8498 Add Debounce to Shipping Calculation selection
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: cart

#8595 Bump plugin versions to 9.8.0-dev
  package-lock.json
  package.json
  readme.txt
  src/Package.php
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, skip-changelog, type: release

#8588 Check if WordPress version is 6.1 and higher to allow for template conversion
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, 🔹 block-type: templates

#8591 Fix Mini Cart missing translations
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-items-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-products-table-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-block/index.tsx
  src/BlockTypes/EmptyMiniCartContentsBlock.php
  src/BlockTypes/FilledMiniCartContentsBlock.php
  src/BlockTypes/MiniCart.php
  src/BlockTypes/MiniCartContents.php
  src/BlockTypes/MiniCartFooterBlock.php
  src/BlockTypes/MiniCartItemsBlock.php
  src/BlockTypes/MiniCartProductsTableBlock.php
  src/BlockTypes/MiniCartShoppingButtonBlock.php
  src/BlockTypes/MiniCartTitleBlock.php
  src/BlockTypesController.php
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#8593 Fix Interactivity API setup
  src/Interactivity/directives/wp-html.php
  src/Interactivity/woo-directives.php
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, skip-changelog

#8601 Show three Express Payments buttons in-line
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: checkout, category: styles

#8557 Remove `colorClassName` and `style` from QuantityBadge
  assets/js/blocks/mini-cart/quantity-badge/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#8517 Product Result Count block: Add support for global styles
  src/BlockTypes/ProductResultsCount.php
Labels: status: ready to merge, type: bug, category: blocks, category: styles

#8558 Switch `Select` by `Toggle` for the 'Add-to-Cart behaviour'
  assets/js/blocks/mini-cart/edit.tsx
Labels: status: ready to merge

#8624 Upgrade @types/wordpress__blocks package
  assets/js/atomic/blocks/product-elements/button/index.ts
  assets/js/atomic/blocks/product-elements/image/index.ts
  assets/js/atomic/blocks/product-elements/price/index.ts
  assets/js/atomic/blocks/product-elements/rating/index.ts
  assets/js/atomic/blocks/product-elements/sale-badge/index.ts
  assets/js/atomic/blocks/product-elements/sku/index.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/index.ts
  package-lock.json
  package.json
Labels: status: ready to merge, skip-changelog, type: dependencies

#8622 Fix "Add to cart form" test
  tests/e2e/specs/backend/add-to-cart-form.test.js
Labels: skip-changelog, category: tests, skip-zip

#8594 Make the customer account icon bigger to match the mini-cart one
  assets/js/blocks/customer-account/block.json
  assets/js/blocks/customer-account/block.tsx
  assets/js/blocks/customer-account/index.tsx
  assets/js/blocks/customer-account/style.scss
  assets/js/blocks/customer-account/types.ts
  src/BlockTypes/CustomerAccount.php
Labels: status: ready to merge, needs design, category: styles, ◼️ block: mini cart

#8620 Update release steps mentioning the version on the WooCommerce.com plugin page takes some hours to update
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
Labels: status: ready to merge, skip-changelog, type: task, skip-zip

#8602 Revert "Show Cart and Checkout blocks in Style Book"
  assets/js/blocks/cart/index.js
  assets/js/blocks/checkout/block.json
Labels: status: ready to merge, type: bug, type: blocker, ◼️ block: cart, ◼️ block: checkout, priority: high

#8611 [Products]: Fix attributes filters that do not update the editor preview correctly
  src/BlockTypes/ProductQuery.php
  tests/php/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: bug, 🔹 block-type: product-query

#8609 Product Price block: add support to the Single Product Template
  assets/js/atomic/blocks/product-elements/price/attributes.ts
  assets/js/atomic/blocks/product-elements/price/block.tsx
  assets/js/atomic/blocks/product-elements/price/edit.tsx
  assets/js/atomic/blocks/product-elements/price/index.tsx
  assets/js/atomic/blocks/product-elements/price/types.ts
  assets/js/atomic/blocks/product-elements/shared/product-selector.tsx
Labels: status: ready to merge, type: enhancement, skip-changelog

#8633 Checkout: Fix state validation after changing countries when there are error notices (push-changes fix)
  assets/js/data/cart/push-changes.ts
Labels: status: ready to merge, type: bug, category: rest-api, ◼️ block: checkout

#7489 use correct path when running php unit tests
  package.json
Labels: type: build, skip-changelog, status: on hold

#8648 Add tests to ensure dirty props are re-pushed if the original `pushChanges` request fails
  assets/js/data/cart/test/push-changes.ts
  tests/js/setup-globals.js
Labels: status: ready to merge, type: build, skip-changelog, category: tests

#8649 Remove patch version from Requires at least
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, type: technical debt

#8532 Fix Products block Add to Cart button when AJAX on archives is disabled
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, type: enhancement, 🔹 block-type: product-query

#8429 Allow view switcher to toggle view when using Gutenberg list view
  assets/js/blocks/cart-checkout-shared/view-switcher/switcher.tsx
  assets/js/blocks/cart-checkout-shared/view-switcher/utils.ts
  assets/js/editor-components/view-switcher/editor.scss
  assets/js/editor-components/view-switcher/index.js
Labels: status: ready to merge, type: enhancement, ◼️ block: cart, ◼️ block: checkout

#8644 Move CartLineItemsTable from the Cart block directory to base-components
  assets/js/base/components/cart-checkout/cart-line-items-table/cart-line-item-row.tsx
  assets/js/base/components/cart-checkout/cart-line-items-table/index.tsx
  assets/js/base/components/cart-checkout/index.js
  assets/js/blocks/cart/inner-blocks/cart-line-items-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-products-table-block/block.tsx
Labels: status: ready to merge, category: refactor, skip-changelog, type: technical debt

#8647 Only print wp.apiFetch.createPreloadingMiddleware() when needed
  src/Assets/AssetDataRegistry.php
Labels: status: ready to merge, category: performance, ◼️ block: cart, ◼️ block: checkout, type: technical debt, ◼️ block: mini cart

#8664 Fix a circular dependency in CartLineItemRow
  assets/js/base/components/cart-checkout/cart-line-items-table/cart-line-item-row.tsx
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: cart, ◼️ block: mini cart

#8657 Remove wc-blocks-registry from Mini Cart block dependencies so more scripts can be lazy-loaded
  assets/js/base/utils/lazy-load-script.ts
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: enhancement, category: performance, ◼️ block: mini cart

#8583 Improve Products block Attributes Filter Inspector Controls
  assets/js/base/context/hooks/tsconfig.json
  assets/js/base/context/hooks/use-product-attributes.ts
  assets/js/blocks/attribute-filter/edit.tsx
  assets/js/blocks/attribute-filter/preview.tsx
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/inspector-controls/attributes-filter.tsx
  assets/js/blocks/product-query/style.scss
  assets/js/blocks/product-query/types.ts
  assets/js/blocks/product-query/useProductAttributes.ts
  assets/js/editor-components/error-placeholder/index.tsx
  assets/js/editor-components/expandable-search-list-item/expandable-search-list-item.tsx
  assets/js/editor-components/product-attribute-term-control/index.tsx
  assets/js/editor-components/product-attribute-term-control/style.scss
  assets/js/editor-components/search-list-control/item.tsx
  assets/js/editor-components/search-list-control/search-list-control.tsx
  assets/js/editor-components/search-list-control/style.scss
  assets/js/editor-components/search-list-control/test/__snapshots__/index.js.snap
  assets/js/editor-components/search-list-control/test/index.js
  assets/js/editor-components/search-list-control/types.ts
  assets/js/editor-components/search-list-control/utils.tsx
  assets/js/types/type-defs/attributes.ts
  assets/js/types/type-defs/utils.ts
  assets/js/utils/array-operations.ts
  assets/js/utils/attributes.ts
  assets/js/utils/index.ts
Labels: status: ready to merge, type: enhancement, category: components, category: blocks, 🔹 block-type: product-query

#8674 Rename JS translation function name
  docs/internal-developers/translations/translation-loading.md
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, type: enhancement, category: i18n, skip-changelog

#8605 Mini Cart drawer close button: inherit text color and improve alignment
  assets/js/base/components/drawer/style.scss
  assets/js/blocks/mini-cart/style.scss
Labels: status: ready to merge, type: enhancement, ◼️ block: mini cart

#8652 fix: Show sale bage on Product Image Gallery block
  assets/js/atomic/blocks/product-elements/product-image-gallery/block.json
  assets/js/atomic/blocks/product-elements/product-image-gallery/index.ts
  assets/js/atomic/blocks/product-elements/product-image-gallery/style.scss
  src/BlockTypes/ProductImageGallery.php
Labels: status: ready to merge, type: bug, skip-changelog

#8653 Preload Mini Cart inner blocks frontend scripts
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, type: enhancement, category: performance, ◼️ block: mini cart

#8401 Products: Update product element margins in patterns
  assets/js/blocks/product-query/constants.ts
  patterns/product-query-1-1-image-4-column-products-row.php
  patterns/product-query-3-column-product-row.php
  patterns/product-query-4-column-product-row.php
  patterns/product-query-large-image-product-gallery.php
  patterns/product-query-minimal-5-column-products-row.php
  patterns/product-query-minimal-product-list.php
  patterns/product-query-product-gallery.php
  patterns/product-query-product-list-with-1-1-images.php
  patterns/product-query-product-list-with-full-product-description.php
Labels: status: ready to merge, type: enhancement, needs design

#8654 Add border support to mini cart contents
  assets/js/blocks/mini-cart/mini-cart-contents/index.tsx
  assets/js/blocks/mini-cart/style.scss
Labels: status: ready to merge, type: enhancement, category: styles, ◼️ block: mini cart

#8703 Remove wc-settings from Mini Cart block dependencies
  assets/js/blocks/mini-cart/frontend.ts
  src/Assets/AssetDataRegistry.php
  src/BlockTypes/MiniCart.php
Labels: status: needs review, type: enhancement, category: performance, ◼️ block: mini cart

#8634 Add `LocalPickupSelect` component
  assets/js/base/components/cart-checkout/local-pickup-select/index.tsx
  assets/js/base/components/cart-checkout/local-pickup-select/test/index.tsx
Labels: status: ready to merge, skip-changelog, category: blocks, ◼️ block: checkout, type: technical debt, category: tests

#8543 Add E2E test for third-party local pickup methods
  assets/js/base/utils/shipping-rates.ts
  assets/js/base/utils/test/shipping-rates.ts
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/mocks/woo-test-helper/woo-test-helper.php
Labels: status: ready to merge, type: build, skip-changelog, ◼️ block: checkout, category: tests

#8621 Add unit tests for shipping rate calculator
  assets/js/base/components/cart-checkout/totals/shipping/test/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/test/shipping-placeholder.tsx
  tests/js/setup-globals.js
Labels: status: ready to merge, skip-changelog, ◼️ block: cart, ◼️ block: checkout

#8613 Add filter to change proceed to checkout button text and URL
  assets/js/base/components/button/index.tsx
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/block.tsx
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/test/block.tsx
  assets/js/types/type-defs/cart.ts
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
  packages/checkout/filter-registry/index.ts
  packages/checkout/filter-registry/test/index.js
Labels: status: ready to merge, type: enhancement, category: extensibility, category: blocks, needs dev-note, ◼️ block: cart

#8441 Checkout - Available Payment Method Filtering
  assets/js/base/context/hooks/cart/use-store-cart.ts
  assets/js/base/context/hooks/tsconfig.json
  assets/js/blocks/cart-checkout-shared/payment-methods/test/payment-methods.js
  assets/js/data/cart/default-state.ts
  assets/js/data/constants.ts
  assets/js/data/payment/default-state.ts
  assets/js/data/payment/test/check-payment-methods.tsx
  assets/js/data/payment/utils/check-payment-methods.ts
  assets/js/previews/cart.ts
  assets/js/types/type-defs/cart-response.ts
  assets/js/types/type-defs/cart.ts
  assets/js/types/type-defs/hooks.ts
  src/BlockTypes/Checkout.php
  src/Payments/Api.php
  src/StoreApi/Schemas/V1/CartSchema.php
  src/StoreApi/Schemas/V1/CheckoutSchema.php
  src/StoreApi/docs/cart.md
Labels: status: needs review, category: extensibility

#8679 Remove WC Core shipping settings if Cart/Checkout blocks are in use
  assets/js/base/components/state-input/StateInputProps.ts
  assets/js/base/components/state-input/state-input.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/attributes.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/attributes.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/frontend.tsx
  assets/js/data/cart/action-types.ts
  assets/js/data/cart/actions.ts
  assets/js/data/cart/default-state.ts
  assets/js/data/cart/push-changes.ts
  assets/js/data/cart/reducers.ts
  assets/js/data/cart/resolvers.ts
  assets/js/data/cart/selectors.ts
  assets/js/data/cart/test/push-changes.ts
  assets/js/data/cart/utils.ts
  assets/js/types/type-defs/cart.ts
  assets/js/utils/attributes.ts
  src/Shipping/ShippingController.php
  src/Utils/CartCheckoutUtils.php
  tests/e2e/specs/backend/__fixtures__/checkout.fixture.json
  tests/e2e/specs/backend/checkout.test.js
  tests/e2e/specs/merchant/checkout-terms.test.js
  tests/e2e/specs/merchant/local-pickup.test.ts
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/utils/merchant.js
  tests/utils/merchant.ts
Labels: status: ready to merge, type: enhancement, category: blocks, ◼️ block: cart, ◼️ block: checkout, category: tests

#8636 Add `ExperimentalOrderLocalPickupPackages` Slot/Fill
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  docs/third-party-developers/extensibility/checkout-block/available-slot-fills.md
  packages/checkout/components/index.js
  packages/checkout/components/order-local-pickup-packages/index.tsx
Labels: status: ready to merge, category: extensibility, needs tests, ◼️ block: checkout

#8719 Enable the compatibility layer when Product Meta, Product Price and Breadcrumbs blocks are added
  src/Templates/SingleProductTemplateCompatibility.php
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog

#8676 Add spacing between Mini Cart title and products list when scrolled
  assets/js/blocks/mini-cart/style.scss
Labels: status: ready to merge, type: enhancement, category: styles, ◼️ block: mini cart

#8718 Ignore shipping address from server when updating shipping methods
  assets/js/data/cart/actions.ts
Labels: status: ready to merge, type: blocker, priority: high

#8503 Add client side postcode validation
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/components/combobox/index.tsx
  assets/js/base/components/state-input/StateInputProps.ts
  package-lock.json
  package.json
  packages/checkout/utils/validation/get-validity-message-for-input.ts
  packages/checkout/utils/validation/index.ts
  packages/checkout/utils/validation/is-postcode.ts
  packages/checkout/utils/validation/must-contain.ts
  packages/checkout/utils/validation/test/is-postcode.ts
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout

#8656 Fix the related products block result when used along a grouped product
  assets/js/blocks/product-query/variations/related-products.tsx
  src/BlockTypes/RelatedProducts.php
Labels: status: ready to merge, type: bug, skip-changelog

#8408 Local Pickup: merge country and state into same field in location modal
  assets/js/extensions/shipping-methods/pickup-location/edit-location/form.tsx
  assets/js/extensions/shipping-methods/pickup-location/edit-location/state-control.tsx
  assets/js/extensions/shipping-methods/pickup-location/location-settings.tsx
  assets/js/extensions/shipping-methods/pickup-location/types.ts
  assets/js/extensions/shipping-methods/pickup-location/utils.ts
  src/Shipping/ShippingController.php
Labels: status: ready to merge

#8737 Add a higher z-index than the title for mini cart close button
  assets/js/base/components/drawer/style.scss
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: mini cart

#8745 Fix Local pickup e2e tests
  tests/e2e/specs/merchant/local-pickup.test.ts
  tests/utils/merchant.ts
Labels: status: ready to merge, skip-changelog, category: tests, 🔹 block-type: local pickup

#8758 fix: disable compatibility layer for block themes that have a default block template
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, skip-changelog, priority: high, 🔹 block-type: templates

#8759 Change the property name of the attribute slug in Products By Attribute
  assets/js/blocks/products-by-attribute/edit-mode.tsx
Labels: status: ready to merge, type: bug, ◼️ block: products by attribute

#8598 Add method to get products based on filtered term
  src/StoreApi/Utilities/ProductQueryFilters.php
Labels: status: ready to merge, ◼️ block: active filters

#8623 Fix the local pickup price in the shipping type selector and pickup options
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/shared/helpers.ts
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#8645 Add get_product_by_metas method to query the lookup table
  src/StoreApi/Utilities/ProductQueryFilters.php
Labels: status: ready to merge, ◼️ block: active filters

#8702 inject hooks on the first block after the main div wrapper
  src/Templates/SingleProductTemplateCompatibility.php
Labels: status: ready to merge, type: bug, skip-changelog

#8733 Lockfile Maintenance 2023-03-14
  package-lock.json
Labels: status: ready to merge, skip-changelog, type: dependencies

#7965 Product Search Results template: fix the preview when the Inherit Query option is enabled
  assets/js/blocks/product-query/inspector-controls.tsx
Labels: status: ready to merge, type: enhancement, skip-changelog, 🔹 block-type: product-query

#8767 Fix `isDescendentOfSingleProductTemplate` check
  assets/js/atomic/blocks/product-elements/price/edit.tsx
Labels: status: ready to merge, type: bug, skip-changelog

#8727 Enhancement/local pickup order confirmation
  src/Shipping/ShippingController.php
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/utils/shopper.js
Labels: status: ready to merge, ◼️ block: checkout, 🔹 block-type: local pickup

#8763 Remove Single Product Block
  assets/js/atomic/blocks/component-init.js
  assets/js/atomic/blocks/index.js
  assets/js/atomic/blocks/product-elements/category-list/attributes.ts
  assets/js/atomic/blocks/product-elements/category-list/block.tsx
  assets/js/atomic/blocks/product-elements/category-list/constants.tsx
  assets/js/atomic/blocks/product-elements/category-list/edit.tsx
  assets/js/atomic/blocks/product-elements/category-list/index.ts
  assets/js/atomic/blocks/product-elements/category-list/save.tsx
  assets/js/atomic/blocks/product-elements/category-list/style.scss
  assets/js/atomic/blocks/product-elements/category-list/types.ts
  assets/js/atomic/blocks/product-elements/tag-list/attributes.ts
  assets/js/atomic/blocks/product-elements/tag-list/block.tsx
  assets/js/atomic/blocks/product-elements/tag-list/constants.tsx
  assets/js/atomic/blocks/product-elements/tag-list/edit.tsx
  assets/js/atomic/blocks/product-elements/tag-list/index.ts
  assets/js/atomic/blocks/product-elements/tag-list/save.tsx
  assets/js/atomic/blocks/product-elements/tag-list/style.scss
  assets/js/atomic/blocks/product-elements/tag-list/supports.ts
  assets/js/atomic/blocks/product-elements/tag-list/types.ts
  assets/js/blocks/single-product/attributes.js
  assets/js/blocks/single-product/block.tsx
  assets/js/blocks/single-product/constants.js
  assets/js/blocks/single-product/edit/api-error.js
  assets/js/blocks/single-product/edit/editor-block-controls.js
  assets/js/blocks/single-product/edit/editor.scss
  assets/js/blocks/single-product/edit/index.tsx
  assets/js/blocks/single-product/edit/layout-editor.tsx
  assets/js/blocks/single-product/edit/shared-product-control.js
  assets/js/blocks/single-product/frontend.js
  assets/js/blocks/single-product/index.js
  assets/js/blocks/single-product/save.js
  assets/js/previews/index.js
  assets/js/previews/single-product-block.js
  bin/webpack-entries.js
  src/BlockTypes/ProductCategoryList.php
  src/BlockTypes/ProductSummary.php
  src/BlockTypes/ProductTagList.php
  src/BlockTypes/SingleProduct.php
  src/BlockTypesController.php
  tests/e2e/specs/backend/__fixtures__/single-product.fixture.json
  tests/e2e/specs/backend/single-product.test.js
Labels: status: ready to merge, category: refactor, skip-changelog, type: technical debt

#8788 Update release version at the beginning of the release process
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
  bin/change-versions.sh
  bin/github-deploy.sh
  bin/version-changes.sh
  composer.json
  package.json
Labels: status: ready to merge, skip-changelog, skip-zip

#8726 Add `woocommerce_cart_item_permalink` filter to cart item endpoint
  src/StoreApi/Schemas/V1/CartItemSchema.php
Labels: status: ready to merge, category: extensibility, category: rest-api

#8798 Fix Customer Account block doing a 404 request in the frontend
  src/BlockTypes/AbstractBlock.php
  src/BlockTypes/CustomerAccount.php
Labels: status: ready to merge, type: bug, ◼️ block: customer account

#8632 Wrap up default single product html template
  assets/js/atomic/blocks/product-elements/add-to-cart-form/style.scss
  templates/templates/blockified/single-product.html
Labels: status: ready to merge, type: enhancement, skip-changelog

#8141 Display the link to add the shipping address when shipping address is not available
  assets/js/base/components/cart-checkout/shipping-location/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/calculator-button.tsx
  assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-address.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-placeholder.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-rate-selector.tsx
  assets/js/base/components/cart-checkout/totals/shipping/style.scss
  assets/js/base/components/cart-checkout/totals/shipping/test/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/test/shipping-placeholder.tsx
  assets/js/base/utils/address.ts
  assets/js/base/utils/test/address.ts
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-shipping/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: cart, status: on hold, category: wc-settings

#8779 Allow themes to remove the Mini Cart title on overridden template parts
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/register-components.ts
  packages/checkout/blocks-registry/register-checkout-block.ts
  packages/checkout/blocks-registry/types.ts
Labels: status: ready to merge, type: enhancement, category: extensibility, ◼️ block: mini cart

#8813 Use shared save function for all the product elements blocks
  assets/js/atomic/blocks/product-elements/button/save.tsx
  assets/js/atomic/blocks/product-elements/price/index.tsx
  assets/js/atomic/blocks/product-elements/rating/save.tsx
  assets/js/atomic/blocks/product-elements/sale-badge/save.tsx
  assets/js/atomic/blocks/product-elements/save.js
  assets/js/atomic/blocks/product-elements/sku/index.tsx
Labels: status: ready to merge, type: bug, category: refactor, skip-changelog

#8754 Fix "Save changes" default behavior bug in the Firefox browser
  assets/js/extensions/shipping-methods/pickup-location/save.tsx
Labels: status: ready to merge, type: bug

#8802 Fixed dynamic property creation on CheckoutSchema::class
  src/StoreApi/Schemas/V1/CheckoutSchema.php
Labels: status: ready to merge, skip-changelog, type: technical debt

#8784 Normalise the search param for comparison to avoid endless redirections
  assets/js/blocks/rating-filter/block.tsx
  assets/js/blocks/stock-filter/block.tsx
  assets/js/utils/filters.ts
  assets/js/utils/test/filters.js
Labels: status: ready to merge, type: bug, ◼️ block: filter by stock

#8832 Stock Indicator Block: remove unused save function
  assets/js/atomic/blocks/product-elements/stock-indicator/save.tsx
Labels: status: ready to merge, type: enhancement, category: refactor, skip-changelog

#8820 Prevent `withSidebarNotices` breaking the rules of hooks
  assets/js/blocks/cart-checkout-shared/sidebar-notices/index.tsx
Labels: status: ready to merge

#8824 Add decoding to product names
  assets/js/blocks/reviews/reviews-by-product/no-reviews-placeholder.js
  assets/js/editor-components/products-control/index.js
  assets/js/editor-components/search-list-control/item.tsx
Labels: status: ready to merge, type: bug, ◼️ block: hand-picked products, ◼️ block: reviews by product, ◼️ block: featured product

#8776 Add style to the `Mini Cart` buttons
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/attributes.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/constants.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/attributes.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/constants.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/constants.ts
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/register-components.ts
  assets/js/blocks/mini-cart/style.scss
  packages/checkout/blocks-registry/types.ts
  src/BlockTypes/MiniCart.php
  src/BlockTypes/MiniCartCartButtonBlock.php
  src/BlockTypes/MiniCartCheckoutButtonBlock.php
  src/BlockTypes/MiniCartContents.php
  templates/parts/mini-cart.html
Labels: status: ready to merge, type: enhancement, category: styles, ◼️ block: mini cart

#8324 Provide a way to switch to the blockified Single Product Template
  assets/js/blocks/classic-template/single-product.ts
  assets/js/blocks/product-query/variations/related-products.tsx
Labels: status: ready to merge, category: fse, 🔹 block-type: templates

#8825 Product Image Gallery: remove attributes key
  assets/js/atomic/blocks/product-elements/product-image-gallery/block.json
Labels: status: ready to merge, type: enhancement

#8749 Fix _n usage to use plural and singular correctly
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout

#8781 Add more Inspector controls for Product(Add to cart) button
  assets/js/atomic/blocks/product-elements/button/attributes.ts
  assets/js/atomic/blocks/product-elements/button/constants.tsx
  assets/js/atomic/blocks/product-elements/button/edit.tsx
  assets/js/atomic/blocks/product-elements/button/index.ts
  assets/js/atomic/blocks/product-elements/button/save.tsx
  assets/js/atomic/blocks/product-elements/button/style.scss
  assets/js/atomic/blocks/product-elements/button/supports.ts
  assets/js/atomic/blocks/product-elements/button/types.ts
  assets/js/blocks/products/base-utils.js
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, category: blocks, :small_blue_diamond: block-type: product elements, type: task, 🔹 block-type: product-query

#8835 Mini-cart: add the option to change the style between 'Outline' and 'Fill' in all the buttons
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/utils.ts
Labels: status: ready to merge

#8847 Mini-cart buttons: add explanation regarding why we need to check for children
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.tsx
Labels: status: ready to merge, skip-changelog, ◼️ block: mini cart, skip-zip

#8833 Single Product Template: add the Store Notice block to the template
  assets/js/blocks/classic-template/single-product.ts
  templates/templates/blockified/single-product.html
Labels: status: ready to merge, type: enhancement, skip-changelog, 🔹 block-type: templates

#8836 Release process: move the step to update the release PR to the bottom
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
Labels: status: ready to merge, skip-changelog, skip-zip

#8854 Add compatibility layer documentation
  docs/internal-developers/blockified-templates/compatibility-layer.md
Labels: status: ready to merge, type: documentation, skip-changelog

#8878 Check for `address` on `shippingData`
  assets/js/data/payment/thunks.ts
Labels: status: ready to merge, type: bug, category: extensibility, needs dev-note, ◼️ block: checkout

#8877 Checkout/Mini Cart: Add $schema property to block.json files
  assets/js/blocks/checkout/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/empty-mini-cart-contents-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-items-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-products-table-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-block/block.json
Labels: status: ready to merge

#8821 Add customer-account icon class to patterns
  patterns/header-essential-dark.php
  patterns/header-essential.php
  patterns/header-large-dark.php
  patterns/header-large.php
  patterns/header-minimal-dark.php
  patterns/header-minimal.php
Labels: status: ready to merge, type: bug, needs design, ▫️ pattern: headers, ▫️ pattern: footers, ◼️ block: customer account

#8849 Remove code that disabled attribute lookup in e2e tests
  tests/e2e/config/setup.js
  tests/e2e/fixtures/fixture-loaders.js
Labels: status: ready to merge, skip-changelog, category: tests, skip-zip

#8650 Add `additionalCartCheckoutInnerBlockTypes` filter to enable additional blocks in the Cart/Checkout blocks.
  assets/js/blocks/cart-checkout-shared/editor-utils.ts
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
  tests/e2e/specs/backend/cart.test.js
  tests/e2e/specs/backend/checkout.test.js
Labels: status: needs review, type: enhancement, category: extensibility, category: blocks, needs dev-note, ◼️ block: cart, ◼️ block: checkout, category: tests

#8885 Bump Node version to 16.15.0
  .nvmrc
Labels: status: ready to merge

#8857 Add Product Reviews block
  assets/js/atomic/blocks/index.js
  assets/js/atomic/blocks/product-elements/product-reviews/block.json
  assets/js/atomic/blocks/product-elements/product-reviews/block.tsx
  assets/js/atomic/blocks/product-elements/product-reviews/edit.tsx
  assets/js/atomic/blocks/product-elements/product-reviews/index.tsx
  assets/js/atomic/blocks/product-elements/product-reviews/style.scss
  assets/js/atomic/blocks/product-elements/product-reviews/types.ts
  bin/.htaccess
  images/block-placeholders/product-reviews.svg
  src/BlockTypes/ProductReviews.php
  src/BlockTypesController.php
Labels: status: ready to merge, category: new-block, category: fse

#8844 Ensure Checkout block supports the theme-level global styles for `Colors » Buttons`
  assets/css/abstracts/_mixins.scss
  assets/js/base/components/button/style.scss
  assets/js/base/components/radio-control/style.scss
  assets/js/blocks/cart-checkout-shared/payment-methods/style.scss
  assets/js/blocks/checkout/styles/style.scss
  assets/js/blocks/rating-filter/style.scss
  assets/js/blocks/stock-filter/style.scss
  packages/checkout/components/checkbox-control/style.scss
  packages/checkout/components/panel/style.scss
  packages/checkout/components/text-input/style.scss
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout, category: styles

#8893 Fix unlinked border widths in WP 6.2
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, type: blocker, ◼️ block: featured category, ◼️ block: featured product, category: styles

#8895 Add padding support for `Product Image` block
  assets/js/atomic/blocks/product-elements/image/supports.ts
  src/BlockTypes/ProductImage.php
Labels: status: ready to merge, type: enhancement, category: blocks, 🔹 block-type: product-query

#8888 Show Cart and Checkout blocks in Style Book
  assets/js/base/context/providers/editor-context.tsx
  assets/js/blocks/cart-checkout-shared/use-forced-layout/index.ts
  assets/js/blocks/cart-checkout-shared/use-forced-layout/types.ts
  assets/js/blocks/cart-checkout-shared/use-forced-layout/utils.ts
  assets/js/blocks/cart/edit.js
  assets/js/blocks/cart/index.js
  assets/js/blocks/checkout/block.json
  assets/js/blocks/checkout/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-fields-block/edit.tsx
Labels: status: ready to merge, ◼️ block: cart, ◼️ block: checkout

#8911 Fix the incorrect position of the after_shop_loop_item_title hook
  src/Templates/ArchiveProductTemplatesCompatibility.php
Labels: status: ready to merge, type: bug, category: extensibility

#8901 Product Image Gallery: Prevent image placeholder from going outside its wrapper
  assets/js/atomic/blocks/product-elements/product-image-gallery/editor.scss
Labels: status: ready to merge
