Repository woocommerce/woocommerce-blocks, pull requests merged in 2023-01, with the labels that each got.

#8002 Ensure filter blocks are not reloaded every time they are selected in the editor
  assets/js/base/context/hooks/collections/use-collection-data.ts
  assets/js/base/context/hooks/collections/use-collection.ts
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/edit.tsx
  assets/js/blocks/price-filter/block.tsx
  assets/js/blocks/rating-filter/block.tsx
  assets/js/blocks/stock-filter/block.tsx
Labels: status: ready to merge, ◼️ block: filter by price, ◼️ block: filter by attribute, ◼️ block: filter by stock, ◼ block: filter by rating

#8040 Dependabot: Enable auto-merge on pull requests.
  .github/workflows/auto-merge-dependabot.yml
  docs/internal-developers/automations/dependabot.md
Labels: status: ready to merge, skip-changelog, type: dependencies

#7934 Disable Rate Limiting when editing Blocks in admin
  src/StoreApi/Authentication.php
Labels: status: ready to merge, type: bug, category: rest-api

#8034 load all JSON translation files correctly
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
Labels: status: ready to merge, type: bug, skip-changelog

#8082 Hide `core/no-results` as default in Product Query if WP <= 5.9
  assets/js/blocks/product-query/constants.ts
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: product-query

#8095 Refactor Filter Wrapper to remove usage of useInnerBlocksProps
  assets/js/blocks/filter-wrapper/index.tsx
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: filter blocks

#8080 Attribute, Rating and Stock filters: Fix the dropdown indicator icon display
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/rating-filter/block.tsx
  assets/js/blocks/stock-filter/block.tsx
Labels: status: ready to merge, type: bug, ◼️ block: filter by attribute, ◼️ block: filter by stock, ◼ block: filter by rating

#8101 Add back ToggleButtonControl component in WC Blocks 8.9 so it supports WP 5.9
  assets/js/atomic/blocks/product-elements/image/edit.js
  assets/js/blocks/active-filters/edit.tsx
  assets/js/blocks/attribute-filter/edit.tsx
  assets/js/blocks/featured-items/inspector-controls.tsx
  assets/js/blocks/featured-items/with-featured-item.tsx
  assets/js/blocks/price-filter/edit.tsx
  assets/js/blocks/product-categories/block.js
  assets/js/blocks/reviews/edit-utils.js
  assets/js/editor-components/toggle-button-control/README.md
  assets/js/editor-components/toggle-button-control/index.js
  assets/js/editor-components/toggle-button-control/screenshot.png
  assets/js/editor-components/toggle-button-control/style.scss
  checkstyle.xml
Labels: status: ready to merge, type: bug, category: components

#7904 Convert sidebar layout component to TypeScript
  assets/js/base/components/sidebar-layout/main.js
  assets/js/base/components/sidebar-layout/main.tsx
  assets/js/base/components/sidebar-layout/sidebar-layout.tsx
  assets/js/base/components/sidebar-layout/sidebar.js
  assets/js/base/components/sidebar-layout/sidebar.tsx
  assets/js/base/components/sidebar-layout/types.ts
  assets/js/base/context/providers/container-width-context.tsx
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: cart, ◼️ block: checkout

#7749 E2E: Product Query: Popular filters presets
  tests/e2e/config/jest.config.js
  tests/e2e/specs/backend/__fixtures__/product-query.fixture.json
  tests/e2e/specs/backend/__fixtures__/products-beta.fixture.json
  tests/e2e/specs/backend/product-query/advanced-filters.test.ts
  tests/e2e/specs/backend/product-query/advanced-filters.ts
  tests/e2e/specs/backend/product-query/atomic-blocks.test.ts
  tests/e2e/specs/backend/product-query/common.ts
  tests/e2e/specs/backend/product-query/popular-filters.test.ts
  tests/utils/get-form-element-id-by-label.ts
  tests/utils/index.js
  tests/utils/insert-shortcode-block.ts
Labels: status: ready to merge, skip-changelog, category: tests, 🔹 block-type: product-query

#8083 Add example request and example payment data to Checkout docs
  src/StoreApi/docs/checkout.md
Labels: status: ready to merge, type: documentation, skip-changelog

#8100 Add internal validation data store docs
  docs/README.md
  docs/internal-developers/data-store/README.md
  docs/internal-developers/data-store/validation.md
Labels: status: ready to merge, type: documentation, skip-changelog

#8112 Remove the “Products (Beta)” block from WP 6.0 or lower
  assets/js/atomic/blocks/product-elements/rating/style.scss
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/index.tsx
  assets/js/blocks/product-query/variations/product-query.tsx
Labels: status: ready to merge, type: bug, type: compatibility, 🔹 block-type: product-query

#8111 Ensure Slot/Fills render in editor
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/blocks/cart/edit.js
  assets/js/blocks/checkout/edit.tsx
Labels: status: ready to merge, type: bug, category: extensibility, category: blocks, ◼️ block: cart, ◼️ block: checkout

#7873 Ensure Checkout order summary and totals block cannot be removed
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-totals-block/block.json
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: checkout

#8099 Context for aria-label on cart quantity controls
  assets/js/base/components/quantity-selector/index.tsx
  assets/js/blocks/cart/cart-line-items-table/cart-line-item-row.tsx
Labels: status: ready to merge, type: enhancement, category: accessibility, ◼️ block: cart

#8117 Add checkout data store docs
  docs/internal-developers/data-store/README.md
  docs/internal-developers/data-store/checkout.md
Labels: status: ready to merge, type: documentation, skip-changelog

#8114 Add Customer Account block name to readme.txt
  readme.txt
Labels: status: ready to merge, type: documentation, category: new block

#8088 Update the docs to create a WC core changelog entry when doing a release
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
Labels: status: ready to merge, type: documentation, skip-changelog

#8107 Fix broken E2E tests cause by edit template button class name change in latest Gutenberg release
  tests/e2e/specs/backend/product-query/popular-filters.test.ts
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-rating.test.ts
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
  tests/e2e/utils.js
  tests/utils/find-tools-panel-with-title.ts
  tests/utils/get-form-element-id-by-label.ts
  tests/utils/get-toggle-id-by-label.ts
Labels: status: ready to merge, skip-changelog, category: tests

#8123 Add testing steps for WC Blocks 8.9.3 and 8.9.4
  docs/internal-developers/testing/releases/893.md
  docs/internal-developers/testing/releases/894.md
  docs/internal-developers/testing/releases/README.md
  readme.txt
Labels: status: ready to merge, type: documentation, skip-changelog

#8077 Convert `Add to Cart` to TypeScript
  assets/js/atomic/blocks/product-elements/add-to-cart/attributes.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/block.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/constants.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/frontend.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/index.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/external.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/grouped/group-list/index.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/grouped/index.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/index.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/simple.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/index.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/types.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/attribute-picker.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/attribute-select-control.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/index.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/test/index.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/utils.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/shared/add-to-cart-button.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/shared/index.ts
  assets/js/atomic/blocks/product-elements/add-to-cart/shared/product-unavailable.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/shared/quantity-input.js
  assets/js/atomic/blocks/product-elements/add-to-cart/shared/quantity-input.tsx
  assets/js/base/components/button/index.tsx
  assets/js/types/type-defs/product-response.ts
  assets/js/types/type-defs/utils.ts
  package-lock.json
  package.json
Labels: status: ready to merge, category: refactor, skip-changelog, 🔺 atomic-block

#8136 Add thunk support for < WP 5.9
  assets/js/data/cart/index.ts
  assets/js/data/checkout/index.ts
  assets/js/data/payment/index.ts
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, category: blocks, ◼️ block: cart, ◼️ block: checkout, priority: critical

#8140 Fix: unable to customize All Products block
  assets/js/blocks/cart-checkout-shared/sidebar-notices/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: all products

#8079 useCollection: Do not bail early if isEditor
  assets/js/base/context/hooks/collections/use-collection-data.ts
  assets/js/base/context/hooks/collections/use-collection.ts
  assets/js/blocks/attribute-filter/block.tsx
Labels: status: ready to merge, type: bug

#7996 Avoid usage of `@wordpress/components` inside base components
  assets/js/atomic/blocks/product-elements/button/supports.ts
  assets/js/atomic/blocks/product-elements/image/supports.ts
  assets/js/atomic/blocks/product-elements/rating/support.ts
  assets/js/atomic/blocks/product-elements/sale-badge/support.ts
  assets/js/atomic/blocks/product-elements/title/index.ts
  assets/js/base/README.MD
  assets/js/base/components/drawer/index.tsx
  assets/js/base/hooks/use-border-props.ts
  assets/js/base/hooks/use-color-props.ts
  assets/js/base/hooks/use-spacing-props.ts
  assets/js/types/type-defs/blocks.ts
  assets/js/types/type-defs/cart-response.ts
  assets/js/types/type-defs/cart.ts
  assets/js/types/type-defs/checkout.ts
  assets/js/types/type-defs/hooks.ts
  assets/js/types/type-defs/payment-method-interface.ts
  assets/js/types/type-defs/payments.ts
  assets/js/types/type-defs/product-response.ts
  assets/js/types/type-guards/attributes.ts
  assets/js/types/type-guards/cart-response-totals.ts
  assets/js/utils/global-style.js
  assets/js/utils/index.ts
Labels: skip-changelog

#8109 Order blocks alphabetically in webpack-entries and BlockTypesController
  bin/webpack-entries.js
  src/BlockTypesController.php
Labels: status: ready to merge, category: refactor, skip-changelog, type: technical debt

#8155 Product Elements [Variations]: Change block icon colors to match core blocks
  assets/js/blocks/product-query/variations/elements/product-summary.tsx
  assets/js/blocks/product-query/variations/elements/product-title.tsx
Labels: status: ready to merge, 🔹 block-type: product-query

#8154 Update minimum PHP required version to 7.2
  phpcs.xml
  readme.txt
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, type: compatibility

#7865 Convert tabs component to TypeScript
  assets/js/base/components/tabs/index.tsx
  assets/js/base/components/tabs/stories/index.tsx
Labels: status: ready to merge, type: enhancement, skip-changelog

#7363 Remove old cart notices before showing new ones
  assets/js/blocks/cart/inner-blocks/filled-cart-block/frontend.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/frontend.tsx
  checkstyle.xml
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: cart

#8183 Update release checklist adding a step to add highlights to WC core release post
  .github/release-initial-checklist.md
Labels: status: ready to merge, type: documentation, skip-changelog

#8194 Update package-lock.json file to fix nightly build release
  package-lock.json
Labels: status: ready to merge, skip-changelog, type: release

#8197 Prevent undefined variable notice on checkout
  src/BlockTypes/Checkout.php
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#8200 Remove purple color from WC Blocks icons
  assets/css/editor.scss
Labels: status: ready to merge, category: styles

#8203 Refresh shipping cache when saving Local Pickup
  src/Shipping/ShippingController.php
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, ◼️ block: checkout

#8173 Products: Fix variable products add to cart
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, type: bug, 🔺 atomic-block, 🔹 block-type: product-query

#8201 Correctly detect compatible express payment methods
  assets/js/data/payment/action-types.ts
  assets/js/data/payment/actions.ts
  assets/js/data/payment/default-state.ts
  assets/js/data/payment/reducers.ts
  assets/js/data/payment/selectors.ts
Labels: status: ready to merge, type: bug, type: blocker, ◼️ block: cart, ◼️ block: checkout, type: compatibility, plugin incompatibility

#7993 Add coupon link instead of dropdown in Cart and Checkout blocks
  assets/js/base/components/cart-checkout/totals/coupon/index.tsx
  assets/js/base/components/cart-checkout/totals/coupon/style.scss
  assets/js/base/components/sidebar-layout/style.scss
  assets/js/blocks/cart/inner-blocks/cart-order-summary-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/test/block.js
  assets/js/blocks/checkout/styles/style.scss
  assets/js/data/cart/actions.ts
  tests/e2e/specs/performance/cart.test.js
  tests/utils/shopper.js
Labels: status: ready to merge, type: enhancement

#8207 Account for local pickup rates before disabling shipping in editor
  assets/js/previews/cart.ts
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: checkout

#8078 [Blockifying Product Archive Templates] Add Results Count block
  assets/js/blocks/product-results-count/block.json
  assets/js/blocks/product-results-count/edit.tsx
  assets/js/blocks/product-results-count/index.tsx
  assets/js/blocks/product-results-count/style.scss
  bin/webpack-entries.js
  src/BlockTypes/ProductResultsCount.php
  src/BlockTypesController.php
  tests/e2e/specs/backend/product-results-count.test.js
Labels: status: ready to merge, category: new block

#8157 Add Store Notices block
  assets/js/blocks/store-notices/block.json
  assets/js/blocks/store-notices/edit.tsx
  assets/js/blocks/store-notices/index.tsx
  bin/webpack-entries.js
  src/BlockTypes/StoreNotices.php
  src/BlockTypesController.php
  tests/e2e/specs/backend/store-notices.test.js
Labels: status: ready to merge

#8182 Update Shipping Calculator Handling so errors are reported to the customer
  assets/js/base/components/cart-checkout/shipping-calculator/address.tsx
  assets/js/base/components/cart-checkout/shipping-calculator/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  assets/js/base/utils/create-notice.ts
  assets/js/data/cart/actions.ts
  assets/js/data/utils/index.js
  assets/js/data/utils/process-error-response.ts
Labels: ◼️ block: cart, ◼️ block: checkout

#8231 Fix "Writing Your First Block Type" tutorial link in docs
  README.md
Labels: status: ready to merge, type: documentation

#8223 Lockfile Maintenance (@woocommerce/block-library)
  package-lock.json
Labels: status: ready to merge, skip-changelog, type: dependencies

#8162 Expose cart errors as notices
  assets/js/base/components/cart-checkout/form-step/style.scss
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  assets/js/base/context/hooks/shipping/types.ts
  assets/js/base/context/hooks/shipping/use-select-shipping-rate.ts
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
  assets/js/base/context/providers/cart-checkout/shipping/constants.js
  assets/js/base/context/providers/cart-checkout/shipping/constants.ts
  assets/js/base/context/providers/cart-checkout/shipping/index.tsx
  assets/js/base/context/providers/cart-checkout/shipping/types.ts
  assets/js/base/utils/create-notice.ts
  assets/js/blocks/cart/inner-blocks/filled-cart-block/frontend.tsx
  assets/js/blocks/checkout/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/frontend.tsx
  assets/js/data/cart/action-types.ts
  assets/js/data/cart/actions.ts
  assets/js/data/cart/notify-errors.ts
  assets/js/data/cart/reducers.ts
  assets/js/data/cart/test/reducers.js
  assets/js/data/cart/thunks.ts
  assets/js/data/store-notices/selectors.ts
  assets/js/data/utils/process-error-response.ts
  assets/js/types/type-defs/api-error-response.ts
  assets/js/types/type-defs/cart.js
  assets/js/types/type-defs/contexts.js
  assets/js/types/type-defs/shipping.ts
  assets/js/types/type-guards/api-error-response.ts
  assets/js/types/type-guards/index.ts
  packages/checkout/components/store-notices-container/index.tsx
  packages/checkout/components/store-notices-container/store-notices.tsx
  packages/checkout/components/store-notices-container/test/index.tsx
  storybook/__mocks__/woocommerce-base-hooks.js
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout

#8172 Add a compatibility layer to keep extensions continue working with Blockified Archive Templates
  src/Domain/Bootstrap.php
  src/Templates/BlockTemplatesCompatibility.php
Labels: status: ready to merge, category: fse, 🔹 block-type: templates

#8247 Avoid changing the markup of all ratings when the Product Rating block is present in the page
  assets/js/atomic/blocks/product-elements/rating/style.scss
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge, ◼️ block: product, 🔺 atomic-block

#8241 Update Local Pickup price display when price is 0 and multiple packages are used
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/style.scss
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/shared/rate-price.tsx
Labels: status: ready to merge, ◼️ block: checkout

#8195 Product Price: Transition from using CSS margin to Global Styles
  assets/js/atomic/blocks/product-elements/price/block.tsx
  assets/js/atomic/blocks/product-elements/price/style.scss
  assets/js/atomic/blocks/product-elements/price/supports.ts
  assets/js/base/components/product-price/index.tsx
  assets/js/blocks/product-query/constants.ts
  patterns/product-query-1-1-image-4-column-products-row.php
  patterns/product-query-3-column-product-row.php
  patterns/product-query-4-column-product-row.php
  patterns/product-query-large-image-product-gallery.php
  patterns/product-query-minimal-5-column-products-row.php
  patterns/product-query-minimal-product-list.php
  patterns/product-query-product-gallery.php
  patterns/product-query-product-list-with-1-1-images.php
  patterns/product-query-product-list-with-full-product-description.php
  src/BlockTypes/ProductPrice.php
Labels: type: enhancement

#8202 Product Rating: Transition from using CSS margin to Global Styles
  assets/js/atomic/blocks/product-elements/rating/style.scss
  patterns/product-query-3-column-product-row.php
  patterns/product-query-4-column-product-row.php
  patterns/product-query-minimal-product-list.php
  patterns/product-query-product-gallery.php
  patterns/product-query-product-list-with-1-1-images.php
  patterns/product-query-product-list-with-full-product-description.php
Labels: status: ready to merge, type: enhancement

#8239 Product Button: Transition from using CSS margin to Global Styles
  assets/js/atomic/blocks/product-elements/button/style.scss
  assets/js/blocks/product-query/constants.ts
  patterns/product-query-1-1-image-4-column-products-row.php
  patterns/product-query-4-column-product-row.php
  patterns/product-query-product-list-with-1-1-images.php
  patterns/product-query-product-list-with-full-product-description.php
Labels: status: ready to merge, type: enhancement

#8253 Stop notice removal when current notices changes
  assets/js/blocks/cart/inner-blocks/filled-cart-block/frontend.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/filled-mini-cart-contents-block/frontend.tsx
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: cart, ◼️ block: checkout

#8199 Use cart item key instead of index in shipping items
  src/StoreApi/Schemas/V1/CartShippingRateSchema.php
Labels: status: ready to merge, type: bug, skip-changelog

#8163 Allow observers to set `billingAddress` by returning `billingData`
  assets/js/data/payment/test/thunks.tsx
  assets/js/data/payment/thunks.ts
  assets/js/types/type-guards/address.ts
  assets/js/types/type-guards/test/index.ts
Labels: status: ready to merge, skip-changelog, category: blocks, ◼️ block: checkout

#8232 Document `woocommerce_order_get_tax_location` filter usage inline
  src/StoreApi/Utilities/OrderController.php
Labels: status: ready to merge, type: documentation, category: rest-api

#8228 Move notices to corresponding context
  .github/workflows/php-js-e2e-tests.yml
  .github/workflows/unit-tests.yml
  assets/js/base/context/providers/cart-checkout/checkout-processor.ts
  assets/js/data/checkout/thunks.ts
  docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
Labels: status: ready to merge, type: enhancement, category: refactor, ◼️ block: checkout

#8270 Fix `Catalog Sorting` colors in dark themes
  assets/js/blocks/catalog-sorting/style.scss
Labels: status: ready to merge, type: bug, category: styles

#8251 Set `inherit` setting to true when is inserted in the archive product template
  assets/js/blocks/product-query/constants.ts
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: enhancement

#8269 Product Price: allow margin styles in WC core
  assets/js/atomic/blocks/product-elements/price/supports.ts
Labels: status: ready to merge, type: enhancement, category: styles, 🔺 atomic-block

#8030 Checkout/Store API: Push valid changes selectively
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  assets/js/blocks/checkout/phone-number/index.tsx
  assets/js/data/cart/push-changes.ts
  assets/js/types/type-defs/cart.ts
  src/StoreApi/Routes/V1/AbstractCartRoute.php
  src/StoreApi/Routes/V1/CartUpdateCustomer.php
Labels: status: ready to merge, category: rest-api, ◼️ block: checkout

#8260 Remove duplicated key from the object containing TEMPLATES in the test file
  assets/js/blocks/classic-template/test/utils.ts
Labels: status: ready to merge, type: technical debt

#8290 Update testing instructions on 9.2.0 release
  docs/internal-developers/testing/releases/920.md
Labels: status: ready to merge, skip-changelog

#8226 Fix/ Ensure variation data is populated with unspecified default attribute values
  src/StoreApi/Utilities/CartController.php
  tests/php/StoreApi/Routes/Cart.php
Labels: status: ready to merge, type: bug, category: rest-api

#8278 Make `Notice` component legible in dark themes
  assets/js/blocks/attribute-filter/editor.scss
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/editor.scss
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/editor.scss
  assets/js/blocks/rating-filter/edit.tsx
  assets/js/blocks/rating-filter/editor.scss
  assets/js/blocks/store-notices/edit.tsx
  assets/js/blocks/store-notices/editor.scss
Labels: status: ready to merge, type: bug, category: styles

#8263 Fix E2E tests
  package-lock.json
  package.json
  tests/e2e/specs/backend/active-filters.test.js
  tests/e2e/specs/backend/attribute-filter.test.js
  tests/e2e/specs/backend/cart.test.js
  tests/e2e/specs/backend/catalog-sorting.test.js
  tests/e2e/specs/backend/checkout.test.js
  tests/e2e/specs/backend/customer-account.test.js
  tests/e2e/specs/backend/price-filter.test.js
  tests/e2e/specs/backend/product-query.test.ts
  tests/e2e/specs/backend/product-query/advanced-filters.test.ts
  tests/e2e/specs/backend/product-query/popular-filters.test.ts
  tests/e2e/specs/backend/rating-filter.test.js
  tests/e2e/specs/backend/stock-filter.test.js
  tests/e2e/specs/merchant/checkout-terms.test.js
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/e2e/specs/shopper/cart-checkout/translations.test.js
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tests/e2e/specs/shopper/filter-products-by-rating.test.ts
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
  tests/e2e/specs/shopper/product-query/product-query-with-templates.test.ts
  tests/e2e/specs/shopper/product-query/utils.ts
  tests/e2e/utils.js
  tests/utils/index.js
  tests/utils/switch-block-inspector-tab-when-gutenberg-is-installed.ts
Labels: status: ready to merge, skip-changelog, category: tests

#8236 Refresh the cart when using the browser back button
  assets/js/base/context/hooks/cart/use-store-cart-event-listeners.ts
  assets/js/base/context/hooks/cart/use-store-cart.ts
  assets/js/base/utils/get-navigation-type.ts
  assets/js/base/utils/index.js
  assets/js/blocks/mini-cart/frontend.ts
  assets/js/data/cart/notify-quantity-changes.ts
  assets/js/data/cart/test/notify-quantity-changes.ts
Labels: status: ready to merge, ◼️ block: checkout

#8291 Fix for wrong shipping schema in checkout
  src/StoreApi/Schemas/V1/CheckoutSchema.php
Labels: status: ready to merge, type: bug

#8220 Add the Interactivity API runtime to WooCommerce blocks
  assets/js/interactivity/components.js
  assets/js/interactivity/directives.js
  assets/js/interactivity/hooks.js
  assets/js/interactivity/index.js
  assets/js/interactivity/router.js
  assets/js/interactivity/utils.js
  assets/js/interactivity/vdom.js
  assets/js/interactivity/wpx.js
  bin/webpack-configs.js
  bin/webpack-helpers.js
  package-lock.json
  package.json
  tsconfig.base.json
  webpack.config.js
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, skip-changelog

#8301 Disable ESLint for the interactivity package
  .eslintignore
Labels: status: ready to merge, skip-changelog

#8297 Remove feature flag from Element variations
  assets/js/blocks/product-query/variations/elements/product-summary.tsx
  assets/js/blocks/product-query/variations/elements/product-template.tsx
  assets/js/blocks/product-query/variations/elements/product-title.tsx
Labels: status: ready to merge, 🔺 atomic-block, 🔹 block-type: product-query

#8243 Fix `useForcedLayout` to prevent breaking style book
  assets/js/blocks/cart-checkout-shared/use-forced-layout.ts
Labels: status: ready to merge, type: bug, category: refactor, ◼️ block: cart, ◼️ block: checkout, category: fse, ◼️ block: mini cart

#8280 Product Button and Rating: Allow margin styles in WC core
  assets/js/atomic/blocks/product-elements/button/supports.ts
  assets/js/atomic/blocks/product-elements/rating/support.ts
Labels: status: ready to merge, type: enhancement

#8313 Style Book: Fix Featured Product and Featured Category Blocks preview
  assets/js/blocks/featured-items/featured-category/block.json
  assets/js/blocks/featured-items/featured-category/example.ts
  assets/js/blocks/featured-items/featured-product/example.ts
  assets/js/blocks/featured-items/register.tsx
Labels: status: ready to merge, type: bug, ◼️ block: featured category, ◼️ block: featured product

#8312 Show JETPACK_AUTOLOAD_DEV notice if it's not set to true
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, skip-changelog

#8222 Create Store Breadcrumbs Block
  assets/js/blocks/breadcrumbs/block.json
  assets/js/blocks/breadcrumbs/edit.tsx
  assets/js/blocks/breadcrumbs/index.tsx
  assets/js/blocks/breadcrumbs/style.scss
  bin/webpack-entries.js
  src/BlockTypes/Breadcrumbs.php
  src/BlockTypesController.php
  tests/e2e/specs/backend/breadcrumbs.test.js
Labels: status: ready to merge, category: new block

#8309 [Style Book] Hide Filter blocks and Product Search block
  assets/js/blocks/attribute-filter/block.json
  assets/js/blocks/price-filter/block.json
  assets/js/blocks/product-search/index.tsx
  assets/js/blocks/rating-filter/block.json
  assets/js/blocks/stock-filter/block.json
Labels: status: ready to merge, type: bug, category: blocks, 🔹 block-type: filter blocks, ◼️ block: product search

#8292 Fix `catalog sorting` and `checkout` tests
  tests/e2e/specs/backend/catalog-sorting.test.js
  tests/utils/shopper.js
Labels: status: ready to merge, category: tests

#8304 Add border attributes to featured items block to show border styles i…
  assets/js/blocks/featured-items/with-featured-item.tsx
Labels: status: ready to merge

#8311 Remove font family styling support from Catalog Sorting and Product Results Count blocks
  assets/js/blocks/catalog-sorting/block.json
  assets/js/blocks/product-results-count/block.json
Labels: status: ready to merge, skip-changelog, 🔹 block-type: templates

#8051 Update FormTokenField styles after @wordpress/components update
  assets/js/base/components/form-token-field/style.scss
  assets/js/blocks/attribute-filter/style.scss
  assets/js/blocks/rating-filter/style.scss
  assets/js/blocks/stock-filter/style.scss
Labels: status: ready to merge, category: components, skip-changelog, 🔹 block-type: filter blocks, stale

#8289 Adjust return to cart arrow
  assets/js/base/components/cart-checkout/return-to-cart-button/style.scss
Labels: status: ready to merge, type: bug, category: accessibility, ◼️ block: checkout

#8285 Add reset button in the editor for product attributer filter
  assets/js/blocks/attribute-filter/block.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: filter by attribute

#8266 Document how to add multiple items via batch request
  src/StoreApi/docs/cart.md
Labels: status: ready to merge, type: documentation, skip-changelog

#8272 Cart Action Promises with success/reject handling
  assets/js/base/components/cart-checkout/totals/coupon/index.tsx
  assets/js/base/components/cart-checkout/totals/coupon/stories/index.tsx
  assets/js/base/context/hooks/cart/test/use-store-cart.js
  assets/js/base/context/hooks/cart/use-store-cart-coupons.ts
  assets/js/base/context/hooks/cart/use-store-cart-item-quantity.ts
  assets/js/base/context/hooks/cart/use-store-cart.ts
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
  assets/js/base/context/providers/cart-checkout/checkout-processor.ts
  assets/js/base/utils/create-notice.ts
  assets/js/data/cart/actions.ts
  assets/js/data/cart/notify-errors.ts
  assets/js/data/cart/thunks.ts
  assets/js/data/utils/process-error-response.ts
  assets/js/types/type-defs/hooks.ts
Labels: status: ready to merge, type: blocker, ◼️ block: cart, ◼️ block: checkout

#8315 Style Book: Hide all the products grid
  assets/js/blocks/product-best-sellers/block.json
  assets/js/blocks/product-category/block.json
  assets/js/blocks/product-new/index.js
  assets/js/blocks/product-on-sale/index.js
  assets/js/blocks/product-tag/block.json
  assets/js/blocks/product-top-rated/index.js
  assets/js/blocks/products/all-products/block.json
  assets/js/blocks/single-product/index.js
Labels: status: ready to merge, type: enhancement, ◼️ block: all products, ◼️ block: best selling products, ◼️ block: products by category, ◼️ block: products by tag, ◼️ block: top rated products, ◼️ block: on sale products, ◼️ block: products by attribute, ◼️ block: newest products

#8339 Update apply button description to be more clear for filter blocks
  assets/js/blocks/attribute-filter/edit.tsx
  assets/js/blocks/price-filter/edit.tsx
  assets/js/blocks/rating-filter/edit.tsx
  assets/js/blocks/stock-filter/edit.tsx
Labels: status: ready to merge
