Repository woocommerce/woocommerce-blocks, pull requests merged in 2023-02, with the labels that each got.

#8328 Remove unnecessary __experimentalDuotone instances
  assets/js/blocks/featured-items/register.tsx
  src/BlockTypes/FeaturedItem.php
Labels: status: ready to merge, skip-changelog, ◼️ block: featured category, ◼️ block: featured product

#8326 Remove __experimentalDefaultControls from Filter by Stock and Filter by Rating blocks
  assets/js/blocks/rating-filter/block.json
  assets/js/blocks/stock-filter/block.json
Labels: status: ready to merge, skip-changelog, ◼️ block: filter by stock, ◼ block: filter by rating

#8345 Store breadcrumbs block > Ensure experimental global styles are limited to the Feature plugin
  assets/js/blocks/breadcrumbs/block.json
  assets/js/blocks/breadcrumbs/index.tsx
Labels: status: ready to merge, ◼️ block: store breadcrumbs

#8351 Mini Cart block - Fix the drawer content height to allow checkout button to show.
  assets/js/blocks/mini-cart/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#8356 Switch to `select` instead of `resolveSelector` in data store.
  assets/js/data/cart/actions.ts
Labels: status: ready to merge, type: bug, type: blocker, ◼️ block: cart

#8374 Fix Filter by Rating reset button
  assets/js/blocks/rating-filter/block.tsx
Labels: status: ready to merge, type: bug, ◼ block: filter by rating

#8366 Add reset button to all filter blocks
  assets/js/base/components/price-slider/index.tsx
  assets/js/blocks/price-filter/block.tsx
  assets/js/blocks/rating-filter/block.tsx
  assets/js/blocks/stock-filter/block.tsx
Labels: status: ready to merge

#8240 Add how checkout block processes an order to the repo docs
  docs/third-party-developers/extensibility/README.md
  docs/third-party-developers/extensibility/checkout-block/how-checkout-processes-an-order.md
Labels: status: ready to merge, stale

#8340 Remove unneeded isloading attribute
  assets/js/base/components/price-slider/index.tsx
Labels: status: ready to merge, category: blocks, ◼️ block: filter by price

#8347 Product Rating: Add support for the padding setting
  assets/js/atomic/blocks/product-elements/rating/support.ts
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge, type: enhancement

#8329 Global Styles: Add support for additional text settings
  assets/js/base/hooks/use-typography-props.ts
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, type: enhancement, skip-changelog

#8334 Sale Badge: Add support for text settings and margin
  assets/js/atomic/blocks/product-elements/sale-badge/block.tsx
  assets/js/atomic/blocks/product-elements/sale-badge/support.ts
  src/BlockTypes/ProductSaleBadge.php
Labels: status: ready to merge, type: enhancement, skip-changelog, 🔺 atomic-block, 🔹 block-type: product-query

#8354 Fix/extension data conflicts
  assets/js/base/context/hooks/use-checkout-extension-data.ts
  assets/js/data/checkout/actions.ts
  assets/js/data/checkout/reducers.ts
  assets/js/data/checkout/test/reducer.ts
  docs/internal-developers/block-client-apis/checkout/checkout-api.md
Labels: status: ready to merge, category: extensibility, ◼️ block: checkout

#8256 Allow third party methods to appear in local pickup area
  assets/js/base/context/hooks/shipping/types.ts
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
  assets/js/base/utils/shipping-rates.js
  assets/js/base/utils/shipping-rates.ts
  assets/js/base/utils/test/shipping-rates.ts
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/shared/helpers.ts
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  assets/js/data/checkout/selectors.ts
  src/Shipping/PickupLocation.php
  src/Shipping/ShippingController.php
Labels: status: ready to merge, type: enhancement, category: extensibility, ◼️ block: cart, ◼️ block: checkout

#8371 Remove Classic Template from Style Book.
  assets/js/blocks/classic-template/index.tsx
Labels: status: ready to merge, category: fse, 🔹 block-type: templates

#8369 Style Book: Remove Cart block from Style Book
  assets/js/blocks/cart/index.js
Labels: status: ready to merge, skip-changelog, ◼️ block: cart

#8372 Fix: color setting for Catalog Sorting
  assets/js/blocks/catalog-sorting/edit.tsx
  assets/js/blocks/catalog-sorting/style.scss
Labels: status: ready to merge, type: bug, skip-changelog, category: fse, 🔹 block-type: templates

#8389 Add settings as a supports prop for local pickup
  src/Shipping/PickupLocation.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: checkout

#8365 Update the incompatible gateways notice design
  assets/js/editor-components/incompatible-payment-gateways-notice/editor.scss
  assets/js/editor-components/incompatible-payment-gateways-notice/index.tsx
  assets/js/icons/index.js
  assets/js/icons/library/alert.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: cart, ◼️ block: checkout, category: styles, plugin incompatibility

#8380 Update Cart/Checkout Default Template Styling
  assets/js/blocks/cart/cart-cross-sells-product-list/cart-cross-sells-product.tsx
  assets/js/blocks/cart/inner-blocks/cart-cross-sells-block/edit.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-heading/edit.tsx
  assets/js/blocks/cart/inner-blocks/empty-cart-block/edit.tsx
  assets/js/blocks/cart/inner-blocks/empty-cart-block/icon-data-uri.js
  assets/js/blocks/cart/inner-blocks/empty-cart-block/style.scss
  assets/js/blocks/checkout/form-step/form-step-block.tsx
  assets/js/blocks/product-search/edit.js
  assets/js/editor-components/block-title/index.js
  tests/e2e/specs/backend/__fixtures__/cart.fixture.json
Labels: status: ready to merge, ◼️ block: cart, ◼️ block: checkout

#8400 Push address changes for email, name and address fields
  assets/js/data/cart/push-changes.ts
Labels: status: ready to merge

#8390 Capture notices from hidden block into siblings block
  assets/js/base/components/cart-checkout/shipping-calculator/index.tsx
  assets/js/blocks/checkout/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  docs/internal-developers/block-client-apis/notices.md
  packages/checkout/components/store-notices-container/index.tsx
  packages/checkout/components/store-notices-container/store-notices.tsx
  packages/checkout/components/store-notices-container/test/index.tsx
  packages/checkout/components/store-notices-container/types.ts
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#8404 Handle single notice issues
  packages/checkout/components/store-notices-container/index.tsx
  packages/checkout/components/store-notices-container/store-notices.tsx
  packages/checkout/components/store-notices-container/test/index.tsx
  packages/checkout/components/store-notices-container/types.ts
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, ◼️ block: cart

#8385 Change coupon component label to "Add a coupon"
  assets/js/base/components/cart-checkout/totals/coupon/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/test/block.js
  tests/e2e/specs/shopper/cart-checkout/translations.test.js
Labels: status: ready to merge, skip-changelog, ◼️ block: cart, ◼️ block: checkout

#8382 Fix Products block Feedback prompt display
  assets/js/blocks/product-query/inspector-controls.tsx
Labels: status: ready to merge, skip-changelog, 🔹 block-type: product-query

#8346 Graduate `__experimentalApplyCheckoutFilter` and `__experimentalRegisterCheckoutFilters` to stable.
  assets/js/base/components/cart-checkout/order-summary/order-summary-item.tsx
  assets/js/base/components/cart-checkout/totals/discount/index.tsx
  assets/js/base/components/cart-checkout/totals/footer-item/index.tsx
  assets/js/base/context/hooks/cart/use-store-cart-coupons.ts
  assets/js/blocks/cart/cart-line-items-table/cart-line-item-row.tsx
  assets/js/blocks/cart/test/block.js
  assets/js/blocks/checkout/inner-blocks/checkout-actions-block/block.tsx
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
  packages/checkout/filter-registry/README.md
  packages/checkout/filter-registry/index.ts
  packages/checkout/filter-registry/test/admin.js
  packages/checkout/filter-registry/test/index.js
Labels: status: ready to merge, category: extensibility, category: refactor, ◼️ block: cart, ◼️ block: checkout

#8319 Add stricter observer type checks in payments thunk to improve resilience to bad observer responses
  assets/js/base/components/cart-checkout/address-form/address-form.tsx
  assets/js/base/context/event-emit/emitters.ts
  assets/js/base/context/event-emit/utils.ts
  assets/js/base/context/tsconfig.json
  assets/js/data/checkout/types.ts
  assets/js/data/index.ts
  assets/js/data/payment/thunks.ts
  assets/js/data/payment/types.ts
  assets/js/data/types.ts
  assets/js/data/validation/actions.ts
  assets/js/data/validation/reducers.ts
  assets/js/data/validation/test/reducers.ts
  assets/js/data/validation/test/selectors.ts
  assets/js/types/type-defs/index.ts
  assets/js/types/type-defs/validation.ts
  assets/js/types/type-guards/observers.ts
  assets/js/types/type-guards/test/validation.ts
  assets/js/types/type-guards/validation.ts
Labels: status: ready to merge, category: extensibility, ◼️ block: cart, ◼️ block: checkout, type: technical debt

#8410 Sync email from customer object to cart response
  src/StoreApi/Routes/V1/CartUpdateCustomer.php
Labels: status: ready to merge, type: blocker, status: cherry-picked 🍒, skip-changelog, ◼️ block: checkout

#8375 Set inherit default to true when products is inserted on archive product templates
  assets/js/blocks/product-query/variations/product-query.tsx
  tests/e2e/specs/shopper/product-query/product-query-with-templates.test.ts
  tests/e2e/specs/shopper/product-query/utils.ts
Labels: status: ready to merge, stale

#8417 Remove newsletter repo example from the docs
  docs/README.md
Labels: type: documentation, skip-changelog

#8414 Clarify __experimental_woocommerce_blocks_hidden
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
Labels: status: ready to merge, type: documentation

#8391 Fixes CSS spacing and availability issues for breadcrumb, catalog sort, and result count blocks.
  assets/js/blocks/breadcrumbs/style.scss
  assets/js/blocks/catalog-sorting/style.scss
  assets/js/blocks/product-results-count/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: store breadcrumbs, ◼️ block: catalog sorting, ◼️ block: product results count

#8110 Refactor payment status
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/providers/cart-checkout/checkout-processor.ts
  assets/js/base/context/providers/cart-checkout/payment-events/index.tsx
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment-methods.js
  assets/js/data/checkout/constants.ts
  assets/js/data/checkout/reducers.ts
  assets/js/data/checkout/test/reducer.ts
  assets/js/data/payment/action-types.ts
  assets/js/data/payment/actions.ts
  assets/js/data/payment/constants.ts
  assets/js/data/payment/default-state.ts
  assets/js/data/payment/reducers.ts
  assets/js/data/payment/selectors.ts
  assets/js/data/payment/test/set-default-payment-method.ts
  assets/js/data/payment/test/thunks.tsx
  assets/js/data/payment/thunks.ts
  assets/js/data/payment/utils/set-default-payment-method.ts
  assets/js/types/type-defs/payment-method-interface.ts
  docs/internal-developers/block-client-apis/checkout/checkout-flow-and-events.md
  docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
  docs/third-party-developers/extensibility/data-store/payment.md
Labels: status: ready to merge, category: refactor, ◼️ block: checkout, type: technical debt

#8235 Add Product Image Gallery
  assets/js/atomic/blocks/index.js
  assets/js/atomic/blocks/product-elements/product-image-gallery/block.json
  assets/js/atomic/blocks/product-elements/product-image-gallery/edit.tsx
  assets/js/atomic/blocks/product-elements/product-image-gallery/editor.scss
  assets/js/atomic/blocks/product-elements/product-image-gallery/index.ts
  assets/js/atomic/utils/index.js
  assets/js/atomic/utils/register-block-single-product-template.ts
  assets/js/types/type-guards/object.ts
  assets/js/types/type-guards/test/object.ts
  images/block-placeholders/product-image-gallery.svg
  package-lock.json
  package.json
  src/BlockTypes/ProductImageGallery.php
  src/BlockTypesController.php
  tsconfig.json
Labels: status: ready to merge, type: enhancement, category: new-block

#8364 Wrap the Single Product Template in a div with the product class
  src/BlockTemplatesController.php
  src/Templates/BlockTemplatesCompatibility.php
  tests/php/Templates/BlockTemplatesCompatibilityTests.php
Labels: status: ready to merge, skip-changelog, type: compatibility

#8398 Product Price: Fix typography styles in the editor
  assets/js/atomic/blocks/product-elements/price/block.tsx
Labels: status: ready to merge, type: bug

#8425 Checkout/Store API - Allow partial pushes without country
  assets/js/data/cart/index.ts
  assets/js/data/cart/push-changes.ts
  src/StoreApi/Schemas/V1/AbstractAddressSchema.php
Labels: status: ready to merge, type: bug, category: rest-api, ◼️ block: checkout

#8445 Product Image Gallery: fix 404 error
  src/BlockTypes/ProductImageGallery.php
Labels: status: ready to merge, type: bug, skip-changelog

#8437 Fix Customer account sidebar link incorrect margin in WP 6.2
  assets/js/blocks/customer-account/editor.scss
  assets/js/blocks/customer-account/sidebar-settings.tsx
Labels: status: ready to merge, type: bug, ◼️ block: customer account

#8225 Add Single Product Details block
  assets/js/atomic/blocks/index.js
  assets/js/atomic/blocks/product-elements/product-details/block.json
  assets/js/atomic/blocks/product-elements/product-details/block.tsx
  assets/js/atomic/blocks/product-elements/product-details/edit.tsx
  assets/js/atomic/blocks/product-elements/product-details/index.tsx
  assets/js/atomic/blocks/product-elements/product-details/style.scss
  assets/js/atomic/blocks/product-elements/product-details/types.ts
  src/BlockTemplatesController.php
  src/BlockTypes/ProductDetails.php
  src/BlockTypes/ProductImageGallery.php
  src/BlockTypesController.php
  tests/e2e/config/custom-matchers/__fixtures__/single-product-details.fixture.json
  tests/e2e/specs/backend/single-produt-details.test.js
Labels: status: ready to merge

#8451 Product Image Gallery: not declare the same method twice
  src/BlockTypes/ProductImageGallery.php
Labels: status: ready to merge, category: refactor, skip-changelog

#8284 Create the Add to Cart Form Block
  assets/js/blocks/add-to-cart-form/block.json
  assets/js/blocks/add-to-cart-form/edit.tsx
  assets/js/blocks/add-to-cart-form/editor.scss
  assets/js/blocks/add-to-cart-form/index.tsx
  assets/js/blocks/add-to-cart-form/style.scss
  bin/webpack-entries.js
  src/BlockTypes/AddToCartForm.php
  src/BlockTypesController.php
  tests/e2e/specs/backend/add-to-cart-form.test.js
Labels: status: ready to merge, category: new-block

#8443 Check if property exists before accessing
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, category: fse, 🔹 block-type: templates

#8422 Add support for woocommerce_loop_add_to_cart_args filter in Products block
  src/BlockTypes/ProductButton.php
Labels: status: ready to merge, type: enhancement, category: extensibility, 🔹 block-type: product-query

#8440 Prevent cart from breaking when item_data contains an array
  src/StoreApi/Schemas/V1/CartItemSchema.php
Labels: status: ready to merge, type: bug, type: blocker, category: refactor, ◼️ block: cart, ◼️ block: checkout

#8450 Skip `generate-zip-file` action when `skip-zip` label is present on the PR
  .github/workflows/generate-zip.yml
Labels: status: ready to merge, type: build, skip-changelog, type: cooldown, skip-zip

#8458 Add minimum height to Mini Cart Contents block in the Style Book
  assets/js/blocks/mini-cart/mini-cart-contents/editor.scss
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#8381 Rename the checkout events
  assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  assets/js/base/context/providers/cart-checkout/checkout-events/event-emit.ts
  assets/js/base/context/providers/cart-checkout/checkout-events/index.tsx
  assets/js/base/context/providers/cart-checkout/checkout-processor.ts
  assets/js/base/context/providers/cart-checkout/payment-events/event-emit.ts
  assets/js/base/context/providers/cart-checkout/payment-events/index.tsx
  assets/js/data/checkout/thunks.ts
  assets/js/data/checkout/utils.ts
  assets/js/data/payment/test/thunks.tsx
  assets/js/data/payment/thunks.ts
  assets/js/types/type-defs/payment-method-interface.ts
  docs/internal-developers/block-client-apis/checkout/checkout-api.md
  docs/internal-developers/block-client-apis/checkout/checkout-flow-and-events.md
  docs/internal-developers/testing/cart-checkout/data-stores.md
  docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
Labels: status: ready to merge, category: refactor, needs dev-note, ◼️ block: checkout, type: technical debt

#8459 e2e tests: update close modal aria-label to match new versions of GB
  tests/e2e/utils.js
Labels: status: ready to merge, skip-changelog, category: tests

#8438 Simplify unused Add to Cart button form placeholder for grouped product
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/grouped.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/grouped/group-list/index.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/grouped/index.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart/product-types/index.ts
Labels: status: ready to merge, type: cooldown, 🔺 atomic-block

#8428 Check for wc-blocks script registration before checking payment method script dependencies
  src/Payments/Api.php
Labels: status: ready to merge, type: bug

#8462 Fix e2e tests related to inserting blocks
  tests/e2e/specs/backend/add-to-cart-form.test.js
  tests/e2e/specs/backend/all-products.test.js
  tests/e2e/specs/backend/breadcrumbs.test.js
  tests/e2e/specs/backend/cart.test.js
  tests/e2e/specs/backend/catalog-sorting.test.js
  tests/e2e/specs/backend/checkout.test.js
  tests/e2e/specs/backend/mini-cart.test.js
  tests/e2e/utils.js
  tests/utils/visit-block-page.js
Labels: status: ready to merge, skip-changelog, category: tests

#8457 Move the usage of Notices from @wordpress/components from frontend to editor (Filter by Attribute)
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/attribute-filter/edit.tsx
  assets/js/blocks/attribute-filter/types.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: filter by attribute

#8472 Add parsed border props to featured items
  assets/js/blocks/featured-items/with-featured-item.tsx
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: featured category, ◼️ block: featured product

#8316 Update directives prefix to `data-woo-`
  assets/js/interactivity/components.js
  assets/js/interactivity/constants.js
  assets/js/interactivity/directives.js
  assets/js/interactivity/hooks.js
  assets/js/interactivity/index.js
  assets/js/interactivity/router.js
  assets/js/interactivity/vdom.js
  assets/js/interactivity/wpx.js
  bin/webpack-configs.js
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge

#8468 Update actions
  .github/workflows/bundle-size.yml
  .github/workflows/js-css-md-linting.yml
  .github/workflows/php-js-e2e-tests.yml
Labels: status: ready to merge, type: build, skip-changelog, skip-zip

#8377 Fix Product categories, Product Tags & Keyword filter not working in Products block
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: bug, category: fse, 🔹 block-type: product-query

#8264 All Products: Re-add alignment controls for Product Rating and Price
  assets/js/atomic/blocks/product-elements/price/attributes.ts
  assets/js/atomic/blocks/product-elements/price/edit.tsx
  assets/js/atomic/blocks/product-elements/rating/attributes.ts
  assets/js/atomic/blocks/product-elements/rating/edit.tsx
Labels: status: ready to merge, type: enhancement

#8467 Add more test to the BlockTemplateUtils
  tests/php/Utils/BlockTemplateUtilsTest.php
  tests/php/Utils/single-product.html
Labels: status: ready to merge, skip-changelog, category: tests, skip-zip

#8444 Move the usage of Notices from @wordpress/components from frontend to editor (Filter by Rating)
  assets/js/blocks/rating-filter/block.tsx
  assets/js/blocks/rating-filter/edit.tsx
Labels: status: ready to merge

#8478 Remove opinionated styles from Button component on block themes that define button styles
  assets/js/base/components/button/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout, category: styles, ◼️ block: mini cart

#8308 Update the archive templates to use Products block (#8308)Co-authored-by: Alba Rincón <alba.rincon@automattic.com>
  assets/js/blocks/store-notices/block.json
  patterns/no-products-found.php
  patterns/product-search-form.php
  src/BlockTemplatesController.php
  src/BlockTypes/StoreNotices.php
  src/Templates/BlockTemplatesCompatibility.php
  src/Utils/BlockTemplateUtils.php
  templates/templates/blockified/archive-product.html
  templates/templates/blockified/product-search-results.html
Labels: status: ready to merge, category: fse, 🔹 block-type: templates

#8476 Pin node version in nightly build action
  .github/workflows/nightly-builds.yml
Labels: status: ready to merge, type: build, skip-changelog

#8494 Update Product Details block so it inherits more styles from the theme
  assets/js/atomic/blocks/product-elements/product-details/block.tsx
  assets/js/atomic/blocks/product-elements/product-details/style.scss
Labels: status: ready to merge, type: bug, category: styles

#8499 Ensure Products on Store API always contain an array of images
  src/StoreApi/Schemas/V1/ProductSchema.php
Labels: status: ready to merge, type: bug, category: rest-api, skip-changelog

#8507 Disable compatibility layer
  src/BlockTemplatesController.php
  src/Domain/Bootstrap.php
Labels: status: ready to merge, type: bug

#8489 Show Cart and Checkout blocks in Style Book
  assets/js/blocks/cart/index.js
  assets/js/blocks/checkout/block.json
Labels: status: ready to merge

#8519 Make a product titles in Products block a link
  assets/js/blocks/product-query/constants.ts
Labels: status: ready to merge, 🔹 block-type: product-query

#8496 Add workflow to check valid links in all documentations
  .github/workflows/check-doc-links-config.json
  .github/workflows/check-doc-links.yml
  storybook/README.md
Labels: status: ready to merge, skip-changelog, github_actions

#8495 Fix noticeContext declaration in the Shipping calculator
  assets/js/base/components/cart-checkout/shipping-calculator/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: cart

#8526 Fix Product Price and Product Rating alignment
  assets/js/atomic/blocks/product-elements/price/attributes.ts
  assets/js/atomic/blocks/product-elements/rating/attributes.ts
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, type: bug, skip-changelog, 🔺 atomic-block

#8299 Improve the dismissal behavior of the incompatible gateways notice
  assets/js/base/hooks/use-local-storage-state.ts
  assets/js/blocks/cart-checkout-shared/sidebar-notices/index.tsx
  assets/js/data/payment/selectors.ts
  assets/js/editor-components/incompatible-payment-gateways-notice/index.tsx
  assets/js/editor-components/incompatible-payment-gateways-notice/use-incompatible-payment-gateways-notice.ts
Labels: status: ready to merge, type: enhancement, ◼️ block: cart, ◼️ block: checkout, plugin incompatibility

#8031 Bump woocommerce/woocommerce-sniffs from 0.1.0 to 0.1.3
  bin/hook-docs/data/actions.json
  bin/hook-docs/data/filters.json
  composer.json
  composer.lock
  docs/README.md
  docs/contributors/contributing/css-build-system.md
  docs/contributors/contributing/folder-structure.md
  docs/contributors/contributing/getting-started.md
  docs/contributors/contributing/javascript-build-system.md
  docs/third-party-developers/extensibility/README.md
  docs/third-party-developers/extensibility/checkout-block/available-filters.md
  docs/third-party-developers/extensibility/checkout-block/how-checkout-processes-an-order.md
  docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
  docs/third-party-developers/extensibility/data-store/cart.md
  docs/third-party-developers/extensibility/data-store/checkout.md
  docs/third-party-developers/extensibility/data-store/payment.md
  docs/third-party-developers/extensibility/hooks/actions.md
  docs/third-party-developers/extensibility/hooks/filters.md
  src/Assets/Api.php
  src/Assets/AssetDataRegistry.php
  src/BlockTypes/AbstractProductGrid.php
  src/BlockTypes/AddToCartForm.php
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
  src/BlockTypes/ClassicTemplate.php
  src/BlockTypes/MiniCart.php
  src/BlockTypes/ProductButton.php
  src/BlockTypesController.php
  src/Domain/Bootstrap.php
  src/Integrations/IntegrationRegistry.php
  src/Payments/Integrations/PayPal.php
  src/StoreApi/Authentication.php
  src/StoreApi/README.md
  src/StoreApi/Routes/V1/AbstractCartRoute.php
  src/StoreApi/Routes/V1/CartAddItem.php
  src/StoreApi/Routes/V1/CartSelectShippingRate.php
  src/StoreApi/Routes/V1/CartUpdateCustomer.php
  src/StoreApi/Routes/V1/Checkout.php
  src/StoreApi/Schemas/V1/CartItemSchema.php
  src/StoreApi/Utilities/CartController.php
  src/StoreApi/Utilities/ProductQuery.php
  src/StoreApi/Utilities/QuantityLimits.php
  src/StoreApi/Utilities/RateLimits.php
  src/StoreApi/docs/cart.md
  src/Templates/BlockTemplatesCompatibility.php
  templates/emails/customer-new-account-blocks.php
  templates/emails/plain/customer-new-account-blocks.php
Labels: status: ready to merge, skip-changelog, type: dependencies, type: technical debt

#8502 Fix E2E tests - Wait for the Checkout to push changes before proceeding with tests
  tests/e2e/specs/merchant/checkout-terms.test.js
  tests/e2e/specs/shopper/cart-checkout/account.test.js
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/utils/shopper.js
Labels: status: ready to merge, skip-changelog, ◼️ block: cart, ◼️ block: checkout, category: tests

#8537 Check for null session before going setting up tax address
  src/Shipping/ShippingController.php
Labels: status: ready to merge, type: blocker, ◼️ block: checkout, priority: critical

#8535 Fix Payment Options settings crash in the editor
  assets/js/editor-components/external-link-card/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: checkout, plugin incompatibility

#8522 Add Related Products block
  assets/js/atomic/blocks/index.js
  assets/js/atomic/blocks/product-elements/related-products/block.json
  assets/js/atomic/blocks/product-elements/related-products/edit.tsx
  assets/js/atomic/blocks/product-elements/related-products/editor.scss
  assets/js/atomic/blocks/product-elements/related-products/index.tsx
  assets/js/atomic/blocks/product-elements/related-products/save.tsx
  assets/js/blocks/product-query/index.tsx
  assets/js/blocks/product-query/types.ts
  assets/js/blocks/product-query/variations/index.ts
  assets/js/blocks/product-query/variations/related-products.tsx
  src/BlockTypes/ProductQuery.php
  src/BlockTypes/RelatedProducts.php
  src/BlockTypesController.php
Labels: status: ready to merge, category: new-block, 🔹 block-type: templates

#8482 Fine-tune the Add to cart form block
  assets/js/atomic/blocks/index.js
  assets/js/atomic/blocks/product-elements/add-to-cart-form/block.json
  assets/js/atomic/blocks/product-elements/add-to-cart-form/edit.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart-form/editor.scss
  assets/js/atomic/blocks/product-elements/add-to-cart-form/index.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart-form/style.scss
  assets/js/blocks/add-to-cart-form/index.tsx
  assets/js/blocks/add-to-cart-form/style.scss
  src/BlockTypes/AddToCartForm.php
Labels: status: ready to merge

#8509 Small cleanup of webpack-helpers
  bin/webpack-helpers.js
Labels: status: ready to merge, type: build, skip-changelog

#8463 Move usage of wordpress-components to editor and replace with @wordpr…
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/no-shipping-placeholder/index.js
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout

#8548 Ensure express payment buttons are visible next to each other
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/style.scss
Labels: status: ready to merge, type: bug, type: blocker, category: styles, priority: high

#8497 Prevent double triggering select shipping on the same rate
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  assets/js/base/components/radio-control/index.tsx
  assets/js/data/cart/actions.ts
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#8471 Fix `renderInnerBlocks` so it doesn't change prop names in the DOM
  assets/js/atomic/utils/render-parent-block.tsx
Labels: status: ready to merge, ◼️ block: checkout

#8553 Related Products: fix 404 error
  src/BlockTypes/RelatedProducts.php
Labels: status: ready to merge, type: bug, skip-changelog

#8525 Do not mount the coupon form until toggled visible
  assets/js/base/components/cart-checkout/totals/coupon/index.tsx
Labels: status: ready to merge, ◼️ block: cart

#8461 Filter out saved payment methods for payment gateways that are not enabled
  src/BlockTypes/Checkout.php
Labels: status: ready to merge, ◼️ block: checkout

#8550 Disable compatibility layer via hook
  bin/hook-docs/data/filters.json
  docs/third-party-developers/extensibility/hooks/filters.md
  src/BlockTemplatesController.php
  src/Templates/BlockTemplatesCompatibility.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: bug, type: blocker, 🔹 block-type: templates

#8518 Fix "Product Price" block margin on the "All products" block
  assets/js/base/hooks/use-spacing-props.ts
Labels: status: ready to merge, type: bug, category: blocks

#8549 Fix warning when removing the term-description from the archive-product template
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: templates

#8248 [Blockifying Product Archive Templates]: Implement the blockified template conversion for the Classic Template Block.
  assets/js/blocks/classic-template/archive-product.ts
  assets/js/blocks/classic-template/constants.ts
  assets/js/blocks/classic-template/index.tsx
  assets/js/blocks/classic-template/product-search-results.ts
  assets/js/blocks/classic-template/single-product.ts
  assets/js/blocks/classic-template/types.ts
  assets/js/blocks/classic-template/utils.ts
  assets/js/blocks/product-query/variations/product-query.tsx
  src/BlockTypes/CatalogSorting.php
  src/BlockTypes/StoreNotices.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, category: new-block, 🔹 block-type: templates

#8542 Fix more instances of hardcoded `pickup_location` string
  src/BlockTypes/Checkout.php
  src/Shipping/ShippingController.php
  src/StoreApi/Utilities/LocalPickupUtils.php
Labels: status: ready to merge, ◼️ block: cart, ◼️ block: checkout, type: technical debt

#8508 Add Store Breadcrumbs block and make Product Title a link in the blockified archive-product and product-search-results templates
  templates/templates/blockified/archive-product.html
  templates/templates/blockified/product-search-results.html
Labels: status: ready to merge, 🔹 block-type: templates

#8578 Fix styles of the Add to Cart form and Product Image Gallery block
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog

#8538 Disable compatibility layer when the WooCommerce Product Grid Block block and WooCommerce Single Product Block are used
  bin/hook-docs/data/actions.json
  bin/hook-docs/data/filters.json
  docs/third-party-developers/extensibility/hooks/actions.md
  docs/third-party-developers/extensibility/hooks/filters.md
  src/Templates/AbstractTemplateCompatibility.php
Labels: status: ready to merge, type: bug, skip-changelog

#8442 Single Product Template: Add compatibility layer
  bin/hook-docs/data/actions.json
  bin/hook-docs/data/filters.json
  docs/third-party-developers/extensibility/hooks/actions.md
  docs/third-party-developers/extensibility/hooks/filters.md
  src/BlockTemplatesController.php
  src/Domain/Bootstrap.php
  src/Templates/AbstractTemplateCompatibility.php
  src/Templates/BlockTemplatesCompatibility.php
  src/Templates/SingleProductTemplateCompatibility.php
  tests/php/Templates/SingleProductTemplateCompatibilityTests.php
Labels: status: ready to merge, skip-changelog, type: compatibility, 🔹 block-type: templates

#8516 Add explicit CSS styling to mini-cart block amount in inserter preview
  assets/js/blocks/mini-cart/index.tsx
  assets/js/blocks/mini-cart/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: mini cart
