Repository woocommerce/woocommerce-blocks, pull requests merged in 2023-10, with the labels that each got.

#10947 Product Gallery: Polish Gallery in full view mode
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/frontend.tsx
  assets/js/blocks/product-gallery/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/block.json
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/frontend.tsx
  assets/js/blocks/product-gallery/style.scss
  assets/js/blocks/product-gallery/types.ts
  src/BlockTypes/ProductGallery.php
  src/BlockTypes/ProductGalleryLargeImage.php
  templates/parts/product-gallery.html
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#11124 Product Gallery: fix 'Block woocommerce/product-gallery-large-image is already registered' error
  assets/js/blocks/product-gallery/index.tsx
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#11125 Product Button: use setTimeout when requestIdleCallback isn't available
  assets/js/atomic/blocks/product-elements/button/frontend.tsx
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: add to cart

#11110 Remove opinionated styles from the Hero Product 3 Split pattern
  patterns/hero-product-3-split.php
Labels: status: ready to merge, type: enhancement, patterns

#11109 Store Customization > Add the Featured Category Cover Image pattern
  images/pattern-placeholders/shop-jeans.png
  patterns/featured-category-cover-image.php
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: enhancement, patterns

#11115 Store Customization > Wireframe and adjust width for the Just Arrived Full Hero pattern
  patterns/just-arrived-full-hero.php
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: enhancement, patterns

#11082 [Store Customization MVP] Fix conflict with other plugins
  src/StoreApi/Routes/V1/Patterns.php
  src/StoreApi/Schemas/V1/PatternsSchema.php
Labels: status: ready to merge, type: bug, patterns

#11001 Product Gallery > Pager block: Add E2E tests for the block
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/settings.tsx
  assets/js/blocks/product-gallery/style.scss
  src/BlockTypes/ProductGalleryPager.php
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-pager/product-gallery-pager.block_theme.side_effects.spec.ts
  tests/e2e/tests/product-gallery/product-gallery.page.ts
Labels: skip-changelog, stale, category: tests, ◼️ block: product gallery

#11130 Store Customization > Add default image to Just Arrived pattern
  images/pattern-placeholders/plant-in-vase.jpg
  patterns/just-arrived-full-hero.php
Labels: status: ready to merge, type: enhancement, patterns

#11108 Revalidate inputs when the value in the store changes on checkout
  packages/checkout/components/text-input/validated-text-input.tsx
Labels: status: ready to merge, type: bug, skip-changelog

#11129 Store Customization > Homepage Template 2: Review layout and spacing in between patterns
  patterns/product-collection-4-columns.php
  patterns/product-collection-5-columns.php
  patterns/testimonials-3-columns.php
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: enhancement, patterns

#11131 Store Customization > Homepage Template 3: Review layout and spacing in between patterns
  patterns/featured-category-triple.php
  patterns/product-collection-featured-products-5-columns.php
  patterns/product-query-product-gallery.php
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: enhancement, patterns

#11143 Returing $pre_render_block in the pre_render_block filter
  src/BlockTypes/ProductCollection.php
  src/BlockTypes/ProductQuery.php
  src/BlockTypes/RelatedProducts.php
Labels: status: ready to merge, type: bug, category: refactor, skip-changelog

#11144 Store Customization > Homepage Template 1: Review layout and spacing in between patterns
  patterns/featured-category-triple.php
  patterns/product-collection-3-columns.php
  patterns/social-follow-us-in-social-media.php
  patterns/testimonials-3-columns.php
  src/Patterns/dictionary.json
Labels: type: enhancement, patterns

#10938 Product Gallery > Next/Previous Buttons block: Add support to Interactivity API
  assets/js/blocks/product-gallery/frontend.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/editor.scss
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/editor.scss
  assets/js/blocks/product-gallery/style.scss
  src/BlockTypes/ProductGallery.php
  src/BlockTypes/ProductGalleryLargeImageNextPrevious.php
  src/BlockTypes/ProductGalleryPager.php
  src/Utils/ProductGalleryUtils.php
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#11145 Remove placeholder and pagination
  assets/js/atomic/blocks/product-elements/image/attributes.ts
  assets/js/atomic/blocks/product-elements/image/block.tsx
  assets/js/atomic/blocks/product-elements/image/types.ts
  patterns/product-collection-3-columns.php
  patterns/product-collection-4-columns.php
  patterns/product-collection-5-columns.php
  patterns/product-query-product-gallery.php
  src/BlockTypes/ProductImage.php
Labels: type: enhancement, patterns

#11133 Force 100% width for combobox in checkout block
  assets/js/base/components/country-input/style.scss
  assets/js/base/components/state-input/style.scss
Labels: status: ready to merge, type: bug, type: cooldown

#11158 Store Customization > Fix the Testimonials 3 Columns pattern
  patterns/testimonials-3-columns.php
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: bug, patterns

#11159 Store Customization > Ensure the Just Arrived Full Hero pattern can have an AI selected image assigned to it
  patterns/just-arrived-full-hero.php
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: bug, patterns

#11161 Store Customization > Update aspect ratio, icons and default text for the Social: Follow us on social media pattern
  patterns/social-follow-us-in-social-media.php
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: enhancement, patterns

#11165 Fix: Store Notices block breaks page editors
  src/BlockTypes/StoreNotices.php
Labels: status: ready to merge, type: bug

#10919 Making filter block contextual on the front end
  assets/js/blocks/collection-filters/block.json
  src/BlockTypes/CollectionFilters.php
Labels: status: ready to merge, type: enhancement, skip-changelog, 🔹 block-type: filter blocks

#11127 Icon should use current color on checkout error
  assets/js/blocks/checkout/checkout-order-error/style.scss
Labels: status: ready to merge, type: bug

#11111 Product Gallery: fix CSS leak
  assets/js/blocks/product-gallery/style.scss
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#11167 WIP: Condensed Address Form Implementation
  assets/css/abstracts/_colors.scss
  assets/js/base/components/cart-checkout/form-step/style.scss
  assets/js/blocks/checkout/address-card/index.tsx
  assets/js/blocks/checkout/address-card/style.scss
  assets/js/blocks/checkout/address-wrapper/index.tsx
  assets/js/blocks/checkout/address-wrapper/style.scss
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/customer-address.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/customer-address.tsx
  package-lock.json
  package.json
  tests/e2e/tests/checkout/checkout.page.ts
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout

#11135 Updated cart json response example
  src/StoreApi/docs/cart.md
Labels: status: ready to merge, type: documentation, skip-changelog

#11151 Single Product block: Redirect to the cart page after successful addition setting isn't respected
  src/BlockTypes/AddToCartForm.php
Labels: status: ready to merge, type: bug, ◼️ block: single product

#10888 Update wording on checkout error message to try to prevent retries
  assets/js/base/context/providers/cart-checkout/checkout-processor.ts
Labels: status: ready to merge, type: enhancement, ◼️ block: cart

#11126 Remove all instances of GUTENBERG_EDITOR_CONTEXT
  .github/workflows/php-js-e2e-tests.yml
  docs/contributors/javascript-testing.md
  tests/e2e-jest/specs/backend/product-query.test.ts
  tests/e2e-jest/specs/backend/product-query/advanced-filters.test.ts
  tests/e2e-jest/specs/backend/product-query/atomic-blocks.test.ts
  tests/e2e-jest/specs/backend/product-query/popular-filters.test.ts
  tests/e2e-jest/specs/backend/product-search-legacy.test.ts
  tests/e2e-jest/specs/backend/product-search.test.ts
  tests/e2e-jest/specs/shopper/product-search.test.ts
  tests/e2e-jest/utils.js
Labels: status: ready to merge, skip-changelog, type: cooldown, type: task, skip-zip

#11170 Product Gallery block: Move inner block settings around to match the order from the design
  assets/js/blocks/product-gallery/block-settings/index.tsx
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/settings.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/settings.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/block-settings/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/edit.tsx
  assets/js/blocks/product-gallery/types.ts
  tests/e2e/tests/product-gallery/inner-blocks/product-gallery-pager/product-gallery-pager.block_theme.side_effects.spec.ts
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#11178 Add feature gate for the block templates controller refactor
  src/BlockTemplatesController.php
  src/Domain/Services/FeatureGating.php
Labels: status: ready to merge, skip-changelog, type: task, Templates API

#11194 Product Gallery pattern: Use the Product Collection block
  patterns/product-query-product-gallery.php
Labels: status: ready to merge, type: bug, patterns

#11199 Ensure validation of fields occurs when collapsing fields
  assets/js/blocks/checkout/address-wrapper/index.tsx
  assets/js/blocks/checkout/address-wrapper/style.scss
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/customer-address.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/customer-address.tsx
  tests/e2e/tests/checkout/checkout.page.ts
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, ◼️ block: checkout

#11196 Product Collection - Fix undefined layout attribute issue in migration
  assets/js/blocks/migration-products-to-product-collection/migration-from-product-collection-to-products.ts
  assets/js/blocks/migration-products-to-product-collection/migration-from-products-to-product-collection.ts
  assets/js/blocks/migration-products-to-product-collection/types.ts
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: product collection

#11157 Add order and checkout order endpoint documentation
  src/StoreApi/README.md
  src/StoreApi/docs/cart.md
  src/StoreApi/docs/checkout-order.md
  src/StoreApi/docs/order.md
Labels: status: ready to merge, type: documentation

#11198 Product Collection: Featured Products 5 Columns - Remove no results block.
  patterns/product-collection-featured-products-5-columns.php
Labels: status: ready to merge, type: enhancement, patterns

#11205 Product Collection 5 Columns pattern - Update title and price to be rows instead of columns
  patterns/product-collection-5-columns.php
Labels: status: ready to merge, type: enhancement, ▫️ pattern: commerce-adjacent, patterns

#11184 Remove Shipping calculator settings and link to the WooCommerce admin settings
  assets/js/blocks/cart/inner-blocks/cart-order-summary-shipping/attributes.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-shipping/block.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-shipping/edit.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-shipping/frontend.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-shipping/index.tsx
  assets/js/blocks/cart/test/block.js
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/attributes.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/attributes.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/edit.tsx
  assets/js/editor-components/external-link-card/editor.scss
  tests/e2e-jest/specs/backend/__fixtures__/checkout.fixture.json
  tests/e2e/tests/cart/cart-block.merchant.block_theme.spec.ts
Labels: status: ready to merge, type: enhancement

#11203 Fix inconsistent border focus styles
  assets/js/base/components/radio-control/style.scss
  assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: checkout, category: styles

#10730 Price Filter powered by Interactivity API
  assets/js/blocks/collection-filters/inner-blocks/price-filter/block.json
  assets/js/blocks/collection-filters/inner-blocks/price-filter/edit.tsx
  assets/js/blocks/collection-filters/inner-blocks/price-filter/frontend.ts
  assets/js/blocks/collection-filters/inner-blocks/price-filter/index.tsx
  assets/js/blocks/collection-filters/inner-blocks/price-filter/price-slider/index.tsx
  assets/js/blocks/collection-filters/inner-blocks/price-filter/price-slider/inspector.tsx
  assets/js/blocks/collection-filters/inner-blocks/price-filter/price-slider/style.scss
  assets/js/blocks/collection-filters/inner-blocks/price-filter/style.scss
  assets/js/blocks/collection-filters/inner-blocks/price-filter/types.ts
  assets/js/blocks/collection-filters/inner-blocks/price-filter/utils.ts
  bin/webpack-entries.js
  src/BlockTypes/CollectionPriceFilter.php
  src/BlockTypesController.php
  src/Interactivity/client-side-navigation.php
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: filter by price

#11206 Make patterns full width and fix margin
  patterns/featured-category-cover-image.php
  patterns/hero-product-3-split.php
  patterns/hero-product-chessboard.php
  patterns/just-arrived-full-hero.php
Labels: status: ready to merge, type: enhancement, patterns

#11227 Fix check blocks.ini
  src/Domain/Services/FeatureGating.php
Labels: status: ready to merge, type: bug, skip-changelog

#11101 [Store Customization MVP] Add image alts to the ai prompt if available
  patterns/store-info-alt-image-and-text.php
  src/BlockPatterns.php
  src/Patterns/PatternUpdater.php
  src/Patterns/PatternsHelper.php
  src/Patterns/dictionary.json
  src/StoreApi/Routes/V1/Patterns.php
Labels: status: ready to merge, type: enhancement, patterns

#11208 [Store Customization MVP] Add fallbacks to all the pattern titles, descriptions and buttons
  patterns/banner.php
  patterns/discount-banner-with-image.php
  patterns/discount-banner.php
  patterns/featured-category-cover-image.php
  patterns/featured-category-focus.php
  patterns/featured-category-triple.php
  patterns/featured-products-fresh-and-tasty.php
  patterns/hero-product-3-split.php
  patterns/hero-product-chessboard.php
  patterns/hero-product-split.php
  patterns/product-collection-3-columns.php
  patterns/product-collection-4-columns.php
  patterns/product-collection-5-columns.php
  patterns/product-collection-banner.php
  patterns/product-collection-featured-products-5-columns.php
  patterns/product-collections-featured-collection.php
  patterns/product-collections-featured-collections.php
  patterns/product-collections-newest-arrivals.php
  patterns/product-featured-2-columns.php
  patterns/product-hero-2-col-2-row.php
  patterns/product-query-product-gallery.php
  patterns/shop-by-price.php
  patterns/small-discount-banner-with-image.php
  patterns/social-follow-us-in-social-media.php
  patterns/store-info-alt-image-and-text.php
  patterns/testimonials-single.php
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: enhancement, patterns

#11207 Checkout Field Padding and Spacing
  assets/css/abstracts/_colors.scss
  assets/js/base/components/cart-checkout/form-step/style.scss
  assets/js/base/components/cart-checkout/shipping-rates-control-package/style.scss
  assets/js/base/components/combobox/style.scss
  assets/js/base/components/country-input/style.scss
  assets/js/base/components/state-input/style.scss
  assets/js/blocks/checkout/address-card/style.scss
  assets/js/blocks/checkout/inner-blocks/checkout-fields-block/style.scss
  packages/checkout/components/checkbox-control/style.scss
  packages/checkout/components/text-input/style.scss
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout, category: styles

#11211 [Docs] Update examples for the cart item endpoint
  src/StoreApi/docs/cart-items.md
Labels: status: needs review, type: documentation, skip-changelog

#11234 Temporarily disable the `woocommerce-blocks/product-hero-2-col-2-row` pattern
  patterns/product-hero-2-col-2-row.php
Labels: status: ready to merge, type: enhancement, patterns

#11247 Product Gallery block: Add preview
  assets/js/blocks/product-gallery/block.json
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#11256 Remove empty pattern file
  patterns/product-hero-2-col-2-row.php
Labels: status: ready to merge, type: bug, skip-changelog

#11245 Examples and use cases for ExtendSchema
  docs/third-party-developers/extensibility/rest-api/available-endpoints-to-extend.md
Labels: status: ready to merge, skip-changelog, needs docs, skip-zip

#11241 LocalPickup: fix learn more documentation link
  assets/js/extensions/shipping-methods/pickup-location/location-settings.tsx
Labels: skip-changelog, type: community contribution

#11232 Add: `menu-order` orderby option for Product Attribute Terms route
  assets/js/blocks/attribute-filter/block.tsx
  src/StoreApi/Routes/V1/ProductAttributeTerms.php
  src/StoreApi/docs/product-attribute-terms.md
Labels: status: ready to merge, type: enhancement

#11273 Archive Templates - Compatibility Layer: fix E2E tests
  tests/e2e/tests/product-collection/compatibility-layer.block_theme.side_effects.spec.ts
Labels: status: ready to merge, skip-changelog, category: tests

#11250 Store Customization > Remove placeholder text from the image on the Hero Product Chessboard pattern
  patterns/hero-product-chessboard.php
Labels: status: ready to merge, type: enhancement, ▫️ pattern: commerce-adjacent, patterns

#11268 [Store Customization] Fix pattern spacing in homepage template 1
  patterns/featured-category-triple.php
  patterns/hero-product-3-split.php
  patterns/just-arrived-full-hero.php
  patterns/product-collection-3-columns.php
  patterns/product-collection-5-columns.php
  patterns/social-follow-us-in-social-media.php
  patterns/testimonials-3-columns.php
Labels: status: ready to merge, type: enhancement, patterns

#11214 Move `CheckboxList` and create new `blocksComponents` package
  .eslintrc.js
  assets/js/base/components/index.ts
  assets/js/blocks/attribute-filter/checkbox-filter.tsx
  assets/js/blocks/rating-filter/block.tsx
  assets/js/blocks/stock-filter/block.tsx
  bin/webpack-entries.js
  bin/webpack-helpers.js
  packages/components/checkbox-list/index.tsx
  packages/components/checkbox-list/style.scss
  packages/components/index.js
  src/AssetsController.php
  tests/js/jest.config.json
  tsconfig.base.json
  tsconfig.json
Labels: status: ready to merge, type: enhancement, category: extensibility, category: components

#11242 Add examples and background to formatters doc
  docs/third-party-developers/extensibility/rest-api/extend-rest-api-formatters.md
Labels: status: ready to merge, type: documentation, skip-changelog, skip-zip

#11224 Use the <main> tag in Cart and Checkout templates
  templates/templates/blockified/page-cart.html
  templates/templates/blockified/page-checkout.html
  templates/templates/page-cart.html
  templates/templates/page-checkout.html
Labels: status: ready to merge, type: enhancement, category: accessibility

#11281 [Store Customization] Fix the "Testimonials 3 Columns" title alignment
  patterns/testimonials-3-columns.php
Labels: status: ready to merge, type: enhancement, patterns

#11222 Use the <header> element for the checkout header
  templates/parts/checkout-header.html
Labels: status: ready to merge, type: enhancement, category: accessibility

#11290 Remove hardcoded queryIds from patterns that include Product Collection
  patterns/product-collection-full-grid.php
  patterns/product-collection-grid.php
  patterns/product-collection-rows.php
  patterns/product-collection-simple-grid.php
  patterns/product-query-product-gallery.php
Labels: status: ready to merge, type: bug, ◼️ block: product collection

#11259 Simplify Product Collection query attributes by removing attributes which are never used
  assets/js/blocks/migration-products-to-product-collection/migration-from-product-collection-to-products.ts
  assets/js/blocks/migration-products-to-product-collection/migration-from-products-to-product-collection.ts
  assets/js/blocks/product-collection/constants.ts
  assets/js/blocks/product-collection/types.ts
  assets/js/blocks/product-template/edit.tsx
  src/BlockTypes/CollectionFilters.php
Labels: status: ready to merge, skip-changelog, type: technical debt, ◼️ block: product collection

#11223 Move `Chip` and `RemovableChip` to components package
  assets/js/base/components/cart-checkout/totals/discount/index.tsx
  assets/js/base/components/index.ts
  assets/js/blocks/active-filters/utils.tsx
  packages/components/chip/chip.tsx
  packages/components/chip/index.ts
  packages/components/chip/removable-chip.tsx
  packages/components/chip/stories/chip.stories.tsx
  packages/components/chip/stories/removable-chip.stories.tsx
  packages/components/chip/style.scss
  packages/components/chip/test/__snapshots__/index.js.snap
  packages/components/chip/test/index.js
  packages/components/index.js
Labels: status: ready to merge, type: enhancement, category: extensibility, category: blocks, ◼️ block: cart, ◼️ block: checkout, ◼️ block: active filters

#11230 Move `FormattedMonetaryAmount` to the components package
  assets/js/base/components/cart-checkout/product-sale-badge/index.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/render-package-rate-option.tsx
  assets/js/base/components/cart-checkout/totals/footer-item/index.tsx
  assets/js/base/components/price-slider/index.tsx
  assets/js/base/components/product-price/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/shared/rate-price.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  packages/checkout/components/totals/item/index.tsx
  packages/components/formatted-monetary-amount/index.tsx
  packages/components/formatted-monetary-amount/style.scss
  packages/components/index.js
Labels: status: ready to merge, type: enhancement, category: extensibility, ◼️ block: cart, ◼️ block: checkout, ◼️ block: all products, ◼️ block: filter by price

#11319 [Store Customization] Adjust margins and paddings for the `Featured Category Triple`
  patterns/featured-category-triple.php
Labels: status: ready to merge, type: enhancement, patterns

#11315 [Store Customization] Fix "Discount Banner" pattern
  patterns/discount-banner.php
Labels: status: ready to merge, type: enhancement, patterns

#11346 [Store Customization] Re-enable the `Product Hero 2 Column 2 Row` pattern
  patterns/product-hero-2-col-2-row.php
Labels: status: ready to merge, type: enhancement, patterns

#11356 [Store Customization] Update the `Footer with 3 Menus` pattern
  patterns/footer-with-3-menus.php
Labels: status: ready to merge, type: enhancement, patterns

#11355 [Store Customization] Update the Social pattern
  patterns/social-follow-us-in-social-media.php
Labels: status: ready to merge, type: enhancement, patterns

#11334 Add decoding to site title to allow quotes
  src/Assets/AssetDataRegistry.php
Labels: status: ready to merge, type: bug, skip-changelog

#10603 Copy shipping phone to billing phone if sync is checked
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/customer-address.tsx
  tests/e2e/tests/checkout/checkout-block-shipping.block_theme.side_effects.spec.ts
  tests/e2e/tests/checkout/checkout.page.ts
Labels: type: bug, ◼️ block: checkout

#11317 Move `Spinner` to components package
  assets/js/base/components/button/index.tsx
  assets/js/base/components/index.ts
  assets/js/base/components/loading-mask/index.tsx
  packages/components/index.js
  packages/components/spinner/index.tsx
  packages/components/spinner/style.scss
Labels: status: ready to merge, type: enhancement, category: extensibility, category: components

#11381 Store Customization > Update the "Large Footer" pattern
  patterns/footer-large.php
Labels: status: ready to merge, type: enhancement, patterns

#11324 Product Gallery: Fix justification not saving correctly
  assets/js/blocks/product-gallery/utils.tsx
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery

#11275 Move `Label` component to components package
  assets/js/atomic/blocks/product-elements/sale-badge/block.tsx
  assets/js/base/components/cart-checkout/order-summary/order-summary-item.tsx
  assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  assets/js/base/components/filter-element-label/index.tsx
  assets/js/base/components/filter-reset-button/index.tsx
  assets/js/base/components/filter-submit-button/index.tsx
  assets/js/base/components/load-more-button/index.tsx
  assets/js/base/components/pagination/index.tsx
  assets/js/base/components/sort-select/index.tsx
  assets/js/blocks/active-filters/block.tsx
  assets/js/blocks/active-filters/utils.tsx
  assets/js/blocks/cart-checkout-shared/payment-methods/payment-methods.js
  packages/checkout/components/label/index.ts
  packages/components/index.js
  packages/components/label/index.tsx
  packages/components/label/test/__snapshots__/index.js.snap
  packages/components/label/test/index.js
Labels: status: needs review, type: enhancement, category: extensibility, category: components

#11374 fix(grammatical): correct typos and improve grammar
  README.md
Labels: type: enhancement, type: documentation, type: community contribution

#11372 Preparation for including Blocks as the default checkout experience in WC 8.3
  src/Installer.php
Labels: status: ready to merge, type: enhancement, type: blocker, skip-changelog

#11225 Add Local Pickup event and Cart/Checkout page views events
  assets/js/extensions/jetpack/woocommerce-analytics/constants.ts
  assets/js/extensions/jetpack/woocommerce-analytics/index.ts
  assets/js/extensions/jetpack/woocommerce-analytics/test/index.ts
  assets/js/previews/cart.ts
  assets/js/types/type-defs/cart.ts
  bin/webpack-entries.js
  src/Domain/Bootstrap.php
  src/Domain/Services/JetpackWooCommerceAnalytics.php
  src/StoreApi/Schemas/V1/CartItemSchema.php
  src/StoreApi/Schemas/V1/ItemSchema.php
  src/StoreApi/docs/cart-items.md
  tests/php/StoreApi/Routes/CartItems.php
Labels: status: ready to merge, ◼️ block: cart, ◼️ block: checkout, type: task

#11320 Product Collection - shrink columns to fit
  assets/js/blocks/product-collection/constants.ts
  assets/js/blocks/product-collection/inspector-controls/columns-control.tsx
  assets/js/blocks/product-collection/types.ts
  assets/js/blocks/product-template/edit.tsx
  assets/js/blocks/product-template/style.scss
  src/BlockTypes/ProductTemplate.php
Labels: status: ready to merge, type: enhancement, ◼️ block: product collection

#11373 Product Gallery: Add keyboard access
  assets/js/blocks/product-gallery/frontend.tsx
  src/BlockTypes/ProductGallery.php
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product gallery

#11246 Move `FormStep` to the components package
  assets/js/base/components/cart-checkout/index.js
  assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-payment-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/frontend.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/frontend.tsx
  packages/components/form-step/index.tsx
  packages/components/form-step/style.scss
  packages/components/form-step/test/__snapshots__/index.js.snap
  packages/components/form-step/test/index.js
  packages/components/index.ts
Labels: status: ready to merge, type: enhancement, category: extensibility, category: blocks, ◼️ block: checkout

#11421 Always show the `Enable the shipping calculator on the cart page` option in WC Admin
  src/Shipping/ShippingController.php
Labels: status: ready to merge, type: bug, type: blocker

#11424 Add a safe guard that the variable is set before accessing it
  src/BlockTypes/ProductTemplate.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product collection

#11379 [Store Customization] Update the "Footer with 3 Menus"
  patterns/footer-with-3-menus.php
Labels: status: ready to merge, type: enhancement, patterns

#11428 [CYS Woo Express] Featured category triple
  patterns/featured-category-triple.php
Labels: status: ready to merge, type: enhancement, patterns

#11430 Improve vars name and remove duplicated user name
  patterns/testimonials-3-columns.php
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: enhancement, patterns

#11155 Store Customization > Update products with AI generated content
  src/BlockPatterns.php
  src/Patterns/PatternUpdater.php
  src/Patterns/ProductUpdater.php
  src/StoreApi/Routes/V1/Patterns.php
Labels: status: ready to merge, type: enhancement, artificial-intelligence

#11441 Patterns > Upload optimized version of placeholder image
  images/pattern-placeholders/plant-in-vase.jpg
Labels: status: ready to merge, type: enhancement, skip-changelog, patterns

#11384 Move `Textarea` to components package
  assets/js/base/components/index.ts
  assets/js/blocks/checkout/order-notes/index.tsx
  packages/components/index.ts
  packages/components/textarea/index.tsx
  packages/components/textarea/style.scss
Labels: status: ready to merge, type: enhancement, category: components, ◼️ block: checkout

#11434 Fix margins and title on the `Minimal header` pattern
  patterns/header-minimal.php
Labels: status: ready to merge, type: enhancement, patterns

#11210 [Store Customization MVP] Ensure the AI-generated content in patterns is updated on plugin update
  src/BlockPatterns.php
Labels: status: ready to merge, type: enhancement, patterns

#11433 Remove the fontSize for the button in the `Product Collection 4 Column` pattern
  patterns/product-collection-4-columns.php
Labels: status: ready to merge, type: enhancement, patterns

#11427 Remove authors filter from Product Collection block
  assets/js/blocks/product-collection/constants.ts
  assets/js/blocks/product-collection/inspector-controls/author-control.tsx
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/types.ts
  assets/js/blocks/product-template/edit.tsx
  src/BlockTypes/ProductCollection.php
  tests/php/BlockTypes/ProductCollection.php
Labels: status: ready to merge, type: enhancement, ◼️ block: product collection

#11442 Display shipping calculator link for guests shopper
  assets/js/base/components/cart-checkout/totals/shipping/shipping-address.tsx
  assets/js/base/components/cart-checkout/totals/shipping/test/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout

#11336 Improve the data stores documentation
  assets/js/data/README.md
  assets/js/data/cart/README.md
  assets/js/data/checkout/README.md
  assets/js/data/collections/README.md
  assets/js/data/payment/README.md
  assets/js/data/query-state/README.md
  assets/js/data/schema/README.md
  assets/js/data/store-notices/README.md
  assets/js/data/validation/README.md
  docs/internal-developers/data-store/checkout.md
  docs/internal-developers/data-store/validation.md
  docs/third-party-developers/extensibility/data-store/README.md
  docs/third-party-developers/extensibility/data-store/cart.md
  docs/third-party-developers/extensibility/data-store/checkout.md
  docs/third-party-developers/extensibility/data-store/collections.md
  docs/third-party-developers/extensibility/data-store/payment.md
  docs/third-party-developers/extensibility/data-store/query-state.md
  docs/third-party-developers/extensibility/data-store/schema.md
  docs/third-party-developers/extensibility/data-store/store-notices.md
  docs/third-party-developers/extensibility/data-store/validation.md
Labels: status: ready to merge, type: documentation, category: data-store

#11449 [CYS Woo Express] Fix essential header
  patterns/header-essential.php
Labels: status: ready to merge, type: enhancement, ▫️ pattern: headers, patterns

#11463 Improve mobile view for `Minimal header` pattern
  patterns/header-minimal.php
Labels: status: ready to merge, type: enhancement, patterns

#11456 Fix Storybook after webpack 5 upgrade
  storybook/main.js
Labels: status: ready to merge, type: build, skip-changelog

#11411 Move `SortSelect` to components package
  assets/js/base/components/index.ts
  assets/js/base/components/product-list/product-sort-select/index.tsx
  assets/js/base/components/reviews/review-sort-select/index.tsx
  assets/js/blocks/reviews/test/frontend-block.test.tsx
  packages/components/index.ts
  packages/components/sort-select/index.tsx
  packages/components/sort-select/style.scss
Labels: status: needs review, type: enhancement, category: components, ◼️ block: all products, ◼️ block: all reviews

#11409 [CYS Woo Express] Footer with simple menu and cart
  patterns/footer-simple-menu-and-cart.php
Labels: status: ready to merge, type: enhancement, patterns

#11445 Unify the search bar layout across patterns
  patterns/footer-with-3-menus.php
  patterns/header-essential-dark.php
  patterns/header-large-dark.php
  patterns/header-large.php
Labels: status: ready to merge, type: enhancement, skip-changelog, patterns

#11280 Store Customization > Fetch product images from the Pexels API
  src/BlockPatterns.php
  src/Images/Pexels.php
  src/Patterns/PatternUpdater.php
  src/Patterns/PatternsHelper.php
  src/Patterns/ProductUpdater.php
  src/Patterns/dictionary.json
  src/StoreApi/Routes/V1/Patterns.php
  src/Verticals/ChatGPTClient.php
  src/Verticals/Client.php
  src/Verticals/VerticalsSelector.php
Labels: status: ready to merge, type: enhancement, patterns, artificial-intelligence

#11458 Interactivity API: Add `data-wc-init` directive
  assets/js/interactivity/directives.js
Labels: status: ready to merge, type: enhancement, skip-changelog

#11465 Fix for storybook to ensure all components render
  assets/js/settings/blocks/constants.ts
  storybook/webpack.config.js
Labels: status: ready to merge, type: build, skip-changelog

#11468 "Product Collection X Columns" patterns: align "no reviews" text with the star
  assets/js/base/components/product-rating/style.scss
Labels: status: ready to merge, type: enhancement, skip-changelog, patterns

#11464 [Store Customization] Update the design for the Product Gallery pattern
  patterns/product-query-product-gallery.php
Labels: status: ready to merge, type: enhancement, patterns

#11386 Fix products incorrectly marked as discounted
  assets/js/base/components/product-price/index.tsx
  tests/e2e/tests/cart/cart-block.shopper.block_theme.side_effects.spec.ts
  tests/e2e/tests/cart/cart.page.ts
  tests/e2e/tests/cart/update-price-plugin.php
  tests/e2e/tests/checkout/constants.ts
  tests/e2e/utils/frontend/frontend-utils.page.ts
Labels: status: ready to merge, type: bug, ◼️ block: cart, ◼️ block: checkout, ◼️ block: mini-cart

#11444 Remove bullet points and unnecessary padding from `SearchListControl`
  assets/js/editor-components/search-list-control/style.scss
Labels: status: ready to merge, ◼️ block: single product, ◼️ block: featured category, ◼️ block: featured product, category: styles, type: compatibility

#11481 Add Storybook entry for `FormattedMonetaryAmount`
  packages/components/formatted-monetary-amount/index.tsx
  packages/components/formatted-monetary-amount/stories/index.tsx
Labels: status: ready to merge, type: build, type: documentation, category: components, skip-changelog

#11493 Add example on when to add an endpoint to “Adding an endpoint to ExtendSchema”
  docs/internal-developers/rest-api/extend-rest-api-new-endpoint.md
Labels: status: ready to merge, type: documentation, category: rest-api, skip-changelog

#11487 Rename the `Footer with Simple Menu and cart` pattern
  patterns/footer-simple-menu.php
Labels: status: ready to merge, type: enhancement, patterns

#11475 Playwright: Add eslint rule to prevent import `test` or `expect` from playwright library
  package-lock.json
  package.json
  tests/e2e/.eslintrc.js
  tests/e2e/tests/add-to-cart-form/add-to-cart-form.block_theme.spec.ts
  tests/e2e/wc-blocks-eslint-rules/no-raw-playwright-test-import.js
Labels: status: ready to merge, skip-changelog, category: tests

#11423 Improve Hero Product Chessboard pattern
  patterns/hero-product-chessboard.php
Labels: status: ready to merge, type: enhancement, skip-changelog, patterns

#11494 Product Collection: Fix the PHP Warning after migrating from Products (Beta)
  src/BlockTypes/ProductCollection.php
Labels: status: ready to merge, type: bug

#11480 Essential Header Dark pattern: Fix color contrast issues in TT4
  patterns/header-essential-dark.php
Labels: status: ready to merge, type: bug

#11505 Store Customization > Enhance the Hero Product Split pattern
  patterns/hero-product-split.php
Labels: status: ready to merge, type: enhancement, patterns

#11495 Simplify the `Hero Product 3 Split` pattern design
  patterns/hero-product-3-split.php
  src/Patterns/dictionary.json
Labels: status: ready to merge, type: enhancement, patterns

#11515 Product Search Block: unify border-radius
  patterns/footer-simple-menu.php
  patterns/footer-with-3-menus.php
  patterns/header-centered-search-pattern.php
  patterns/header-essential-dark.php
  patterns/header-large-dark.php
  patterns/header-large.php
Labels: status: ready to merge, type: enhancement, skip-changelog, patterns

#11497 Disable test eslint rule for test.ts file
  tests/e2e/playwright-utils/test.ts
Labels: status: ready to merge, type: enhancement, category: refactor, skip-changelog

#11431 Add link to PRs merged in the last day to nightly release
  .github/workflows/nightly-builds.yml
Labels: status: ready to merge, type: build, skip-changelog

#11304 [Store Customization] Update the Centered Header Menu with Search Pattern
  patterns/header-centered-search-pattern.php
Labels: type: enhancement, patterns

#11490 Large Header pattern: improve the layout on mobile view
  patterns/header-large.php
Labels: type: enhancement, skip-changelog

#11520 Fix "Large footer" left spacing
  patterns/footer-large.php
Labels: status: ready to merge, type: enhancement, ▫️ pattern: footers, patterns

#11410 Comboboxes should match against values before looking at labels
  assets/js/base/components/combobox/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#11502 All Products: Add cursor pointer when hovering over pagination items
  assets/js/base/components/pagination/style.scss
Labels: status: ready to merge, type: bug

#11482 Product gallery/add crop images
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/block.json
  src/BlockTypes/ProductGalleryLargeImage.php
  src/Utils/ProductGalleryUtils.php
Labels: status: ready to merge, type: enhancement, ◼️ block: product gallery
