Repository woocommerce/woocommerce-blocks, pull requests merged in 2023-07, with the labels that each got.

#10042 Cleanup code to lazy-load wc-settings in the Mini-Cart block
  src/Assets/AssetDataRegistry.php
  src/BlockTypes/MiniCart.php
Labels: status: ready to merge, skip-changelog, ◼️ block: mini-cart

#9758 Converted product-tag and removed its proptypes
  assets/js/blocks/product-tag/block.tsx
  assets/js/blocks/product-tag/edit.tsx
  assets/js/blocks/product-tag/types.ts
Labels: type: community contribution

#9808 Hide "collection from" text when a location has an incomplete address.
  assets/js/base/components/cart-checkout/pickup-location/index.tsx
  assets/js/base/components/cart-checkout/pickup-location/test/index.tsx
  src/Shipping/PickupLocation.php
  src/Shipping/ShippingController.php
Labels: status: ready to merge, type: bug, ◼️ block: checkout

#10034 Add size settings to the `Product Image` block
  assets/js/atomic/blocks/product-elements/image/attributes.ts
  assets/js/atomic/blocks/product-elements/image/block.tsx
  assets/js/atomic/blocks/product-elements/image/edit.tsx
  assets/js/atomic/blocks/product-elements/image/image-size-settings.tsx
  assets/js/atomic/blocks/product-elements/image/style.scss
  assets/js/atomic/blocks/product-elements/image/supports.ts
  assets/js/atomic/blocks/product-elements/image/types.ts
  patterns/product-hero.php
  src/BlockTypes/ProductImage.php
Labels: status: ready to merge, ◼️ block: product, patterns

#10005 Add new `Product Rating Stars` block
  assets/js/atomic/blocks/component-init.js
  assets/js/atomic/blocks/index.js
  assets/js/atomic/blocks/product-elements/rating-stars/block.json
  assets/js/atomic/blocks/product-elements/rating-stars/block.tsx
  assets/js/atomic/blocks/product-elements/rating-stars/constants.tsx
  assets/js/atomic/blocks/product-elements/rating-stars/edit.tsx
  assets/js/atomic/blocks/product-elements/rating-stars/index.tsx
  assets/js/atomic/blocks/product-elements/rating-stars/style.scss
  assets/js/atomic/blocks/product-elements/rating-stars/support.ts
  assets/js/atomic/blocks/product-elements/rating-stars/types.ts
  bin/webpack-entries.js
  src/BlockTypes/ProductRatingStars.php
  src/BlockTypesController.php
Labels: status: ready to merge, skip-changelog, ◼️ block: product rating

#10001 Rating product element: Fix TS error
  assets/js/atomic/blocks/product-elements/rating/block.tsx
  assets/js/base/hooks/use-style-props.ts
Labels: status: ready to merge, skip-changelog

#10019 Remove the word ‘beta’ from the compatibility notice
  assets/js/editor-components/sidebar-compatibility-notice/index.tsx
Labels: status: ready to merge, type: enhancement, category: refactor, ◼️ block: cart, ◼️ block: checkout

#10047 Remove attributes data from save function for active filters
  assets/js/blocks/active-filters/deprecated.tsx
  assets/js/blocks/active-filters/index.tsx
Labels: status: ready to merge, ◼️ block: active filters

#9937 Product Gallery: Add an new block base code
  assets/js/blocks/product-gallery/block.json
  assets/js/blocks/product-gallery/edit.tsx
  assets/js/blocks/product-gallery/icon.tsx
  assets/js/blocks/product-gallery/index.tsx
  bin/webpack-entries.js
  src/BlockTypes/ProductGallery.php
  src/BlockTypesController.php
Labels: status: ready to merge, skip-changelog, ◼️ block: product gallery

#10078 Template Part Handling: Check for `gutenberg_render_block_core_template_part`
  src/BlockTemplatesController.php
Labels: status: ready to merge, ◼️ block: checkout

#10031 Fix e2e tests for price filter
  package-lock.json
  package.json
  tests/e2e-pw/global-setup.ts
  tests/e2e-pw/playwright.config.ts
  tests/e2e-pw/tests/classic-template/classic-template.block_theme.side_effects.spec.ts
  tests/e2e-pw/tests/price-filter/price-filter.block_theme.side_effects.spec.ts
  tests/e2e-pw/tests/price-filter/price-filter.page.ts
  tests/e2e-pw/tests/price-filter/utils.ts
Labels: status: ready to merge, skip-changelog, category: tests

#10089 Fix image not rendering on the editor and empty styles
  assets/js/atomic/blocks/product-elements/image/style.scss
  src/BlockTypes/ProductImage.php
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product

#10076 Render Checkout on Pay for Order for FSE themes with checkout flow templates
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
  src/Templates/CheckoutTemplate.php
  src/Templates/OrderConfirmationTemplate.php
Labels: status: ready to merge, type: blocker, skip-changelog, category: fse, 🔹 block-type: templates

#9996 Fix notice banner links for Legacy notices
  assets/js/base/components/notice-banner/style.scss
Labels: status: ready to merge, type: bug, category: styles

#10096 Fix filter count display toggle
  assets/js/blocks/attribute-filter/index.tsx
  assets/js/blocks/attribute-filter/utils.ts
  assets/js/blocks/rating-filter/index.tsx
  assets/js/blocks/rating-filter/utils.ts
  assets/js/blocks/stock-filter/index.tsx
  assets/js/blocks/stock-filter/utils.ts
Labels: status: ready to merge, type: bug, skip-changelog

#10075 Products block: Improve stability E2E tests
  tests/e2e-pw/tests/products/products.block_theme.side_effects.spec.ts
Labels: status: ready to merge, skip-changelog, category: tests, skip-zip

#10079 Add feedback form to the Product Collection block
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/editor-components/feedback-prompt/index.tsx
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product collection

#10098 Fix cart and checkout conditionals when using a block based theme and templates
  assets/js/index.js
  src/Domain/Services/Notices.php
  src/Utils/CartCheckoutUtils.php
Labels: status: ready to merge, skip-changelog

#10095 Order confirmation: Convert Order Details Templates to Blocks
  assets/js/blocks/order-confirmation/downloads/block.json
  assets/js/blocks/order-confirmation/downloads/edit.tsx
  assets/js/blocks/order-confirmation/downloads/index.tsx
  assets/js/blocks/order-confirmation/downloads/style.scss
  assets/js/blocks/order-confirmation/totals/block.json
  assets/js/blocks/order-confirmation/totals/edit.tsx
  assets/js/blocks/order-confirmation/totals/index.tsx
  assets/js/blocks/order-confirmation/totals/style.scss
  bin/webpack-entries.js
  src/BlockTypes/OrderConfirmation/Details.php
  src/BlockTypes/OrderConfirmation/Downloads.php
  src/BlockTypes/OrderConfirmation/Totals.php
  src/BlockTypesController.php
Labels: status: ready to merge, category: new-block

#10097 Fix `Product Rating` styles & alignment
  assets/js/atomic/blocks/product-elements/rating/block.tsx
  assets/js/atomic/blocks/product-elements/rating/style.scss
  assets/js/base/components/product-rating/style.scss
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge, type: bug, ◼️ block: product rating

#10116 Fix Filter blocks e2e tests
  tests/e2e/specs/backend/__fixtures__/filter-products-by-attribute.fixture.json
  tests/e2e/specs/backend/__fixtures__/filter-products-by-stock.fixture.json
  tests/e2e/specs/backend/attribute-filter.test.js
Labels: status: ready to merge, type: bug, skip-changelog, 🔹 block-type: filter blocks, category: tests

#10045 Product Gallery: Add Large Image inner block
  assets/js/blocks/product-gallery/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/block.json
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/edit.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/icon.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/index.tsx
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/style.scss
  bin/webpack-entries.js
  src/BlockTypes/ProductGalleryLargeImage.php
  src/BlockTypesController.php
Labels: skip-changelog, ◼️ block: product gallery

#10109 Load product-query stylesheet when rendering the Products block
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: bug, skip-changelog, category: styles, 🔹 block-type: product-query

#10108 Adjust the image of the `Discount banner with image` pattern
  patterns/discount-banner-with-image.php
Labels: status: ready to merge, type: bug, category: styles, patterns

#10128 Single Product Template > Ensure extensions can't trigger fatal errors on templates without any post content blocks
  src/BlockTemplatesController.php
Labels: status: ready to merge

#10107 Adjust `Banner` padding to improve mobile experience
  patterns/banner.php
Labels: status: ready to merge, type: enhancement, category: styles, patterns

#10132 Fix: Frontend Category Filtering in Product Collection Block
  src/BlockTypes/ProductCollection.php
  tests/e2e-pw/tests/product-collection/product-collection.block_theme.spec.ts
Labels: status: ready to merge, type: bug, ◼️ block: product collection

#10112 Add additional "Products (Beta)" keyword to Product Collection
  assets/js/blocks/product-collection/block.json
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product collection

#9952 Enhance: Bring back user to 1st page when filters are changed
  assets/js/utils/filters.ts
Labels: status: ready to merge, type: enhancement, 🔹 block-type: product-query, ◼️ block: product collection

#10145 Add "grid" and "list" view switch for Product Collection
  assets/js/blocks/product-collection/inspector-controls/display-layout-control.tsx
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/types.ts
Labels: status: ready to merge, type: enhancement, skip-changelog, ◼️ block: product collection

#10141 Product Gallery block: Add php experimental flag
  src/BlockTypesController.php
Labels: status: ready to merge, skip-changelog, ◼️ block: product gallery

#10090 Product Collection - Add more E2E tests
  src/BlockTypes/ProductCollection.php
  tests/e2e-pw/tests/product-collection/product-collection.block_theme.spec.ts
  tests/e2e-pw/tests/product-collection/product-collection.page.ts
Labels: status: ready to merge, category: tests, ◼️ block: product collection

#9962 Return null or object for ImageAttachmentSchema response
  src/StoreApi/Schemas/V1/ImageAttachmentSchema.php
  tests/php/StoreApi/Routes/Products.php
Labels: status: ready to merge, type: bug, category: extensibility, category: rest-api, php

#10085 Fixed minimum required PHP version in readme.txt file
  readme.txt
Labels: type: documentation, skip-changelog, skip-zip, type: community contribution

#10160 Revert "Fix image over content (#10092)"
  assets/js/atomic/blocks/product-elements/image/style.scss
Labels: status: ready to merge, type: bug, skip-changelog

#10163 Enable declaration-block-no-duplicate-properties stylelint rule
  .stylelintrc.json
  assets/css/abstracts/_mixins.scss
  assets/js/base/components/price-slider/style.scss
  assets/js/base/components/snackbar-list/style.scss
  assets/js/blocks/active-filters/style.scss
  assets/js/blocks/product-categories/style.scss
  assets/js/editor-components/tag/style.scss
Labels: status: ready to merge, category: refactor, skip-changelog, type: technical debt

#10115 Automatic migration path from Products to Product Collection - step 1 - automatic migration
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/inspector-controls.tsx
  assets/js/blocks/shared/scripts/index.tsx
  assets/js/blocks/shared/scripts/migration-from-products-to-product-collection.tsx
  assets/js/blocks/shared/scripts/migration-utils.tsx
Labels: status: ready to merge, skip-changelog, ◼️ block: product collection

#10139 Automatic migration path from Products to Product Collection - step 2 - display notice
  assets/js/blocks/product-collection/block.json
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/inspector-controls/upgrade-notice.tsx
  assets/js/blocks/product-collection/types.ts
Labels: status: ready to merge, skip-changelog, ◼️ block: product collection

#9780 Account for classic theme support of template parts
  src/BlockTemplatesController.php
  src/BlockTypes/MiniCart.php
  src/Utils/BlockTemplateUtils.php
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge, type: enhancement, ◼️ block: mini-cart

#10182 Fix margin issue with the Proceed to checkout button on the site editor
  assets/js/blocks/cart/inner-blocks/cart-express-payment-block/editor.scss
Labels: status: ready to merge

#10144 Automatic migration path from Products to Product Collection - step 3 - allow reverting migration
  assets/js/blocks/product-collection/inspector-controls/index.tsx
  assets/js/blocks/product-collection/inspector-controls/upgrade-notice.tsx
  assets/js/blocks/shared/scripts/index.tsx
  assets/js/blocks/shared/scripts/migration-from-product-collection-to-products.tsx
Labels: skip-changelog, ◼️ block: product collection

#10164 Add global styles for order confirmation status block
  assets/js/blocks/order-confirmation/status/block.json
  assets/js/blocks/order-confirmation/status/edit.tsx
  assets/js/blocks/order-confirmation/status/style.scss
  src/BlockTypes/OrderConfirmation/Status.php
  src/Utils/StyleAttributesUtils.php
Labels: status: ready to merge, category: new-block, ◼️ block: checkout

#10174 Add E2E tests for 'Inherit query from template' control in Product Co…
  assets/js/blocks/product-collection/inspector-controls/inherit-query-control.tsx
  tests/e2e-pw/tests/product-collection/product-collection.block_theme.spec.ts
  tests/e2e-pw/tests/product-collection/product-collection.page.ts
Labels: status: ready to merge, skip-changelog, category: tests, ◼️ block: product collection

#10114 Add new `Ratings counter` block
  assets/js/atomic/blocks/component-init.js
  assets/js/atomic/blocks/index.js
  assets/js/atomic/blocks/product-elements/rating-counter/block.json
  assets/js/atomic/blocks/product-elements/rating-counter/block.tsx
  assets/js/atomic/blocks/product-elements/rating-counter/edit.tsx
  assets/js/atomic/blocks/product-elements/rating-counter/index.tsx
  assets/js/atomic/blocks/product-elements/rating-counter/support.ts
  assets/js/atomic/blocks/product-elements/rating-counter/types.ts
  assets/js/atomic/blocks/product-elements/rating-stars/index.tsx
  assets/js/base/components/product-rating/style.scss
  bin/webpack-entries.js
  src/BlockTypes/ProductRatingCounter.php
  src/BlockTypes/ProductRatingStars.php
  src/BlockTypesController.php
Labels: status: ready to merge, type: enhancement, patterns, ◼️ block: product rating

#10148 `Rating Stars` block improvements
  assets/js/atomic/blocks/product-elements/rating-stars/block.json
  assets/js/atomic/blocks/product-elements/rating-stars/block.tsx
  assets/js/atomic/blocks/product-elements/rating-stars/constants.tsx
  assets/js/atomic/blocks/product-elements/rating-stars/index.tsx
  assets/js/atomic/blocks/product-elements/rating-stars/style.scss
  assets/js/atomic/blocks/product-elements/rating-stars/support.ts
  src/BlockTypes/ProductRatingStars.php
Labels: status: ready to merge, skip-changelog, patterns, ◼️ block: product rating

#10198 Product Filters > Fix Performance issue and Fatal error on stores with a high volume of products
  src/BlockTypes/ProductCollection.php
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: bug, category: performance, ◼️ block: all products

#10179 Add global styles for order confirmation summary block
  assets/js/blocks/order-confirmation/summary/block.json
  assets/js/blocks/order-confirmation/summary/edit.tsx
  assets/js/blocks/order-confirmation/summary/style.scss
  src/BlockTypes/OrderConfirmation/Summary.php
Labels: category: new-block, category: styles

#10195 Stop reading Product IDs from asset store in filter blocks
  assets/js/base/context/hooks/collections/use-collection-data.ts
  assets/js/blocks/attribute-filter/block.tsx
  assets/js/blocks/price-filter/block.tsx
  assets/js/blocks/stock-filter/block.tsx
Labels: status: ready to merge, skip-changelog, type: technical debt

#10205 Fix migration process
  src/Domain/Bootstrap.php
Labels: status: ready to merge, type: bug, skip-changelog, priority: high, 🔹 block-type: templates

#10169 Mini Cart: Fix styling of the Start Shopping button in the drawer
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.tsx
Labels: status: ready to merge, type: bug, ◼️ block: mini-cart

#10192 Fix SearchListControl styles
  assets/js/editor-components/search-list-control/item.tsx
  assets/js/editor-components/search-list-control/style.scss
  assets/js/editor-components/search-list-control/test/__snapshots__/index.js.snap
  assets/js/editor-components/tag/editor.scss
  assets/js/editor-components/tag/index.tsx
Labels: status: ready to merge, type: bug, category: styles

#10204 Prevent Mini-Cart template part preview in Site Editor being too high
  assets/js/blocks/mini-cart/mini-cart-contents/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/editor.scss
Labels: status: ready to merge, type: bug, ◼️ block: mini-cart

#10158 Product Gallery Large Image: Add the php experimental flag
  src/BlockTypesController.php
Labels: ◼️ block: product gallery

#10206 E2E: Add documentation for testing actions and filters
  tests/e2e-pw/mocks/custom-plugins/readme.md
Labels: status: ready to merge, skip-changelog

#10165 Mini Cart: Remove deprecated print_inline_script()
  src/BlockTypes/MiniCart.php
  src/Utils/Utils.php
Labels: status: ready to merge, type: bug, skip-changelog

#10219 Remove opinionated font sizes from Essential Header patterns
  patterns/header-essential-dark.php
  patterns/header-essential.php
Labels: status: ready to merge, type: enhancement, ▫️ pattern: headers

#10241 Don't send headers early in Store API
  src/StoreApi/Authentication.php
Labels: status: ready to merge, category: rest-api

#10201 Newest Products: fix Stock Status filter
  assets/js/editor-components/product-stock-control/index.tsx
Labels: status: ready to merge, type: bug, ◼️ block: newest products

#10203 Create Mini-Cart template part area
  assets/js/blocks/mini-cart/index.tsx
  src/BlockTemplatesController.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, type: enhancement, category: fse, ◼️ block: mini-cart

#10252 Remove Featured Category Cover Image pattern
  images/pattern-placeholders/wood-leather-fur-shop-jeans-shelf.png
  patterns/featured-category-cover-image.php
Labels: status: ready to merge, type: enhancement, ▫️ pattern: commerce-adjacent

#10245 Add class specificity to fix indent
  assets/js/editor-components/search-list-control/style.scss
Labels: status: ready to merge, type: bug, category: blocks

#10250 Enable auto-expand for product selection in HandPickedProductsControl
  assets/js/blocks/product-collection/inspector-controls/hand-picked-products-control.tsx
Labels: status: ready to merge, skip-changelog, ◼️ block: product collection

#10255 Remove opinionated styles from Product Hero pattern
  patterns/product-hero.php
Labels: status: ready to merge, type: enhancement, patterns

#10263 Fix incorrect filter application in Product Collection
  assets/js/blocks/product-collection/inspector-controls/index.tsx
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product collection

#10207 Add new `Product Average Rating` block
  assets/js/atomic/blocks/component-init.js
  assets/js/atomic/blocks/index.js
  assets/js/atomic/blocks/product-elements/average-rating/block.json
  assets/js/atomic/blocks/product-elements/average-rating/block.tsx
  assets/js/atomic/blocks/product-elements/average-rating/edit.tsx
  assets/js/atomic/blocks/product-elements/average-rating/index.tsx
  assets/js/atomic/blocks/product-elements/average-rating/support.ts
  bin/webpack-entries.js
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  src/BlockTypes/ProductAverageRating.php
  src/BlockTypesController.php
Labels: status: ready to merge, skip-changelog, block: product average rating

#10226 Store Customization > Centered Header Menu with Search - Update the pattern to become wireframed
  patterns/header-centered-search-pattern.php
Labels: status: ready to merge, ▫️ pattern: headers, patterns

#10227 Store Customization > Minimal Header - Update the pattern to become wireframed
  patterns/header-minimal.php
Labels: status: ready to merge, ▫️ pattern: headers, patterns

#10240 Prepend CSS src with correct url scheme
  src/BlockTypes/ClassicTemplate.php
Labels: status: ready to merge, category: styles

#10258 Remove styles from the `Testimonials 3 cols` pattern
  patterns/testimonials-3-columns.php
Labels: status: ready to merge, patterns

#10256 Remove styles from `Newest arrivals` pattern
  patterns/product-collections-newest-arrivals.php
Labels: status: ready to merge, patterns

#10270 Store Customization > Hero Product Split pattern - Update the pattern to become wireframed
  patterns/hero-product-split.php
Labels: status: ready to merge, patterns

#10260 Remove opinionated styles from Hero Product 3 Split pattern
  patterns/hero-product-3-split.php
Labels: status: ready to merge, type: enhancement, patterns

#10274 Update 1060.md
  docs/internal-developers/testing/releases/1060.md
Labels: status: ready to merge, skip-changelog

#10199 Add an endpoint for getting pay for order orders
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  src/StoreApi/Routes/V1/Order.php
  src/StoreApi/RoutesController.php
  src/StoreApi/SchemaController.php
  src/StoreApi/Schemas/V1/AbstractSchema.php
  src/StoreApi/Schemas/V1/BillingAddressSchema.php
  src/StoreApi/Schemas/V1/CartItemSchema.php
  src/StoreApi/Schemas/V1/CartSchema.php
  src/StoreApi/Schemas/V1/CheckoutSchema.php
  src/StoreApi/Schemas/V1/ErrorSchema.php
  src/StoreApi/Schemas/V1/ItemSchema.php
  src/StoreApi/Schemas/V1/OrderCouponSchema.php
  src/StoreApi/Schemas/V1/OrderFeeSchema.php
  src/StoreApi/Schemas/V1/OrderItemSchema.php
  src/StoreApi/Schemas/V1/OrderSchema.php
  src/StoreApi/Schemas/V1/ProductReviewSchema.php
  src/StoreApi/Schemas/V1/ShippingAddressSchema.php
  src/StoreApi/Utilities/OrderController.php
  src/StoreApi/Utilities/ProductItemTrait.php
Labels: status: ready to merge

#10150 Fix Misplacement of Shipping Radio Buttons
  assets/js/base/components/radio-control/style.scss
Labels: type: bug, category: blocks, ◼️ block: cart, category: styles, type: community contribution

#10282 Add to Cart Form: Fix broken styles for the block when using inside the Single Product Block
  assets/js/atomic/blocks/product-elements/add-to-cart-form/index.tsx
  bin/webpack-entries.js
  src/BlockTypes/AddToCartForm.php
Labels: status: ready to merge, type: bug, ◼️ block: add to cart form

#10275 Update the `Testimonials Single` pattern to have no opinionated styles
  patterns/testimonials-single.php
Labels: status: ready to merge, patterns

#10268 Add manual path to upgrade Products block
  assets/js/blocks/product-collection/inspector-controls/upgrade-notice.tsx
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/inspector-controls.tsx
  assets/js/blocks/product-query/inspector-controls/upgrade-notice.tsx
  assets/js/blocks/shared/scripts/migration-from-products-to-product-collection.tsx
Labels: status: ready to merge, skip-changelog, ◼️ block: product collection

#9757 Add Mini-Cart block Playwright e2e tests
  tests/e2e-pw/tests/mini-cart/mini-cart.block_theme.spec.ts
  tests/e2e-pw/tests/permalink-settings/permalink-settings.block_theme.spec.ts
Labels: status: ready to merge, skip-changelog, stale, category: tests, ◼️ block: mini-cart, skip-zip

#10294 Update the `Footer with 3 menus` pattern to have no opinionated styles
  patterns/footer-with-3-menus.php
Labels: status: ready to merge, ▫️ pattern: footers, patterns

#10062 Add Color Panel
  assets/js/blocks/mini-cart/block.json
  assets/js/blocks/mini-cart/block.tsx
  assets/js/blocks/mini-cart/component-frontend.tsx
  assets/js/blocks/mini-cart/edit.tsx
  assets/js/blocks/mini-cart/index.tsx
  assets/js/blocks/mini-cart/quantity-badge/index.tsx
  assets/js/blocks/mini-cart/types.ts
  assets/js/blocks/mini-cart/utils/data.ts
  assets/js/blocks/mini-cart/utils/defaults.ts
  assets/js/blocks/mini-cart/utils/test/data.ts
  assets/js/editor-components/color-panel/index.tsx
  assets/js/editor-components/color-panel/types.ts
  src/BlockTypes/MiniCart.php
  src/Utils/MiniCartUtils.php
  tests/php/Utils/MiniCartUtilsTest.php
Labels: status: ready to merge, type: enhancement, category: components, ◼️ block: mini-cart

#10289 Product Collection - Add PHP unit tests
  tests/php/BlockTypes/ProductCollection.php
  tests/php/mocks/ProductCollectionMock.php
Labels: status: ready to merge, skip-changelog, category: tests, ◼️ block: product collection

#10281 Add missing page titles in Cart and Checkout templates
  src/BlockTypes/Cart.php
  src/BlockTypes/Checkout.php
  templates/templates/blockified/cart.html
  templates/templates/blockified/checkout.html
  templates/templates/cart.html
  templates/templates/checkout.html
Labels: status: ready to merge, type: bug, category: i18n, ◼️ block: cart, ◼️ block: checkout, category: fse, 🔹 block-type: templates

#10300 Check if index element exists before using for Product Collection
  src/BlockTypes/ProductButton.php
  src/BlockTypes/ProductImage.php
  src/BlockTypes/ProductPrice.php
Labels: status: ready to merge, type: bug, ◼️ block: product collection

#9978 Use the `Single Product` block for the `Product Details Product Listing` pattern
  assets/js/atomic/blocks/product-elements/average-rating/block.json
  assets/js/atomic/blocks/product-elements/average-rating/index.tsx
  assets/js/atomic/blocks/product-elements/rating-counter/index.tsx
  assets/js/atomic/blocks/product-elements/rating-stars/index.tsx
  bin/webpack-entries.js
  patterns/product-details-listing.php
  src/BlockTypesController.php
Labels: status: ready to merge, patterns

#10308 Fix SearchListControl styles (II)
  assets/js/editor-components/search-list-control/style.scss
Labels: status: ready to merge, type: bug, category: styles

#10306 Update the `Footer with Simple Menu and Cart` pattern to have no opinionated styles
  patterns/footer-simple-menu-and-cart.php
Labels: status: ready to merge

#10316 Add to cart form: Fix fatal error when missing `product` param in add_to_cart_redirect_filter
  src/BlockTypes/AddToCartForm.php
Labels: status: ready to merge, type: bug, ◼️ block: add to cart form

#10292 Remove opinionated styles from Alternating Image and Text pattern
  patterns/store-info-alt-image-and-text.php
Labels: status: ready to merge, type: enhancement, patterns

#10343 Store Customization > Featured Category Triple pattern - Update the pattern to become wireframed
  patterns/featured-category-triple.php
Labels: status: ready to merge, patterns

#10287 Add an endpoint for processing pay for order orders
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  src/StoreApi/Routes/V1/CartUpdateCustomer.php
  src/StoreApi/Routes/V1/Checkout.php
  src/StoreApi/Routes/V1/CheckoutOrder.php
  src/StoreApi/Routes/V1/Order.php
  src/StoreApi/RoutesController.php
  src/StoreApi/SchemaController.php
  src/StoreApi/Schemas/V1/CheckoutOrderSchema.php
  src/StoreApi/Schemas/V1/OrderSchema.php
  src/StoreApi/Utilities/CheckoutTrait.php
  src/StoreApi/Utilities/OrderAuthorizationTrait.php
  src/StoreApi/Utilities/OrderController.php
Labels: status: ready to merge

#10340 Optimise imports of Product Query variation
  assets/js/blocks/classic-template/archive-product.ts
  assets/js/blocks/classic-template/product-search-results.ts
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/variations/product-query.tsx
Labels: status: ready to merge, type: bug, category: performance, 🔹 block-type: product-query

#10341 Babel and Autoprefixer Dependency Updates
  bin/webpack-configs.js
  package-lock.json
  package.json
Labels: status: ready to merge, type: dependencies

#10359 Render Checkout/Cart containing pages without template overriding
  src/Templates/CartTemplate.php
  src/Templates/CheckoutTemplate.php
Labels: status: ready to merge, type: bug, 🔹 block-type: templates

#10364 Fix Checkout Order Route markdown link
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
Labels: status: needs review, type: documentation, skip-changelog, skip-zip

#10323 Store Customization > Large Footer pattern - Update the pattern to become wireframed
  patterns/footer-large-dark.php
  patterns/footer-large.php
Labels: status: ready to merge, patterns

#10371 Remove unneeded testing step for 10198
  docs/internal-developers/testing/releases/1061.md
Labels: status: ready to merge

#10360 Check if WordPress version is higher than 6.2.2 to make Products block compatible with Gutenberg 16+
  src/BlockTypes/ProductQuery.php
  src/Utils/Utils.php
Labels: status: ready to merge, type: bug, 🔹 block-type: product-query

#10246 Change custom toolbar item to use toolbar button
  assets/js/blocks/featured-items/block-controls.tsx
Labels: status: ready to merge, type: bug, ◼️ block: featured category, ◼️ block: featured product

#10362 Remove styles from `Product Details Product Listing` pattern
  patterns/product-details-listing.php
Labels: status: ready to merge, patterns

#10303 Fix: incorrect default number of products in editor when inheriting query
  assets/js/blocks/product-query/inspector-controls.tsx
  assets/js/blocks/product-query/variations/product-query.tsx
  assets/js/blocks/product-template/edit.tsx
  src/BlockTypes/ProductCollection.php
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge

#10342 Fix Classic Template block in Single Product custom templates
  src/BlockTemplatesController.php
  src/BlockTypes/ClassicTemplate.php
  src/Templates/SingleProductTemplateCompatibility.php
Labels: status: ready to merge, type: bug, 🔹 block-type: templates

#10305 Add tests in Playwright for Mini-Cart drawer closing
  tests/e2e-pw/tests/mini-cart/mini-cart.block_theme.spec.ts
  tests/e2e-pw/types/block-data.ts
  tests/e2e/specs/shopper/mini-cart.test.js
Labels: status: ready to merge, skip-changelog, category: tests, ◼️ block: mini-cart, skip-zip

#10237 Update express checkout title, description, icon
  assets/js/blocks/cart-checkout-shared/icon.js
  assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/checkout-express-payment.js
  assets/js/blocks/cart/inner-blocks/cart-express-payment-block/block.json
  assets/js/blocks/cart/inner-blocks/cart-express-payment-block/index.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-express-payment-block/block.json
  assets/js/blocks/checkout/inner-blocks/checkout-express-payment-block/index.tsx
Labels: status: ready to merge, type: enhancement, needs design, category: blocks, ◼️ block: checkout

#10375 Cart and Checkout Page Migration: Inherit Page template and fix rendering
  src/BlockTemplatesController.php
Labels: status: ready to merge, needs feedback, ◼️ block: cart, ◼️ block: checkout, category: styles, 🔹 block-type: templates

#10330 Fix PHPCS error
  src/BlockTypes/AddToCartForm.php
Labels: status: ready to merge, type: enhancement, category: refactor, skip-changelog

#10387 Featured Items: Add selection button when id not found
  assets/js/blocks/featured-items/featured-category/block.tsx
  assets/js/blocks/featured-items/featured-product/block.tsx
  assets/js/blocks/featured-items/with-featured-item.tsx
Labels: status: ready to merge, ◼️ block: featured category, ◼️ block: featured product

#10380 Unify links to WordPress and WooCommerce websites in patterns
  patterns/footer-large-dark.php
  patterns/footer-large.php
  patterns/footer-simple-dark.php
  patterns/footer-simple-menu-and-cart.php
  patterns/footer-simple.php
  patterns/footer-with-2-menus-dark.php
  patterns/footer-with-2-menus.php
  patterns/footer-with-3-menus.php
Labels: status: ready to merge, type: enhancement, patterns

#10403 Remove info-verbosity from `npm start` command
  package.json
Labels: type: build, skip-changelog, skip-zip

#10401 Store Customization > Featured Products 5-Item Grid pattern - Update the pattern to become wireframed
  patterns/featured-products-5-cols.php
Labels: status: ready to merge, patterns

#10388 Fix: WooCommerce Blocks causing malfunction of the navigation block on WordPress 6.3
  assets/js/index.js
  bin/webpack-configs.js
  bin/webpack-entries.js
  package.json
  src/AssetsController.php
  webpack.config.js
Labels: status: ready to merge, type: bug

#10302 Product collection - Fix test_merging_filter_by_attribute_queries unit test
  tests/php/BlockTypes/ProductCollection.php
Labels: status: ready to merge, category: tests, ◼️ block: product collection

#10382 Register Legacy block for all taxonomy-product_ template
  assets/js/blocks/classic-template/constants.ts
  assets/js/blocks/classic-template/test/utils.ts
Labels: status: ready to merge, type: bug, skip-changelog

#10410 $post validation on Cart and Checkout template
  src/Templates/CartTemplate.php
  src/Templates/CheckoutTemplate.php
Labels: type: bug, skip-changelog

#10409 Improve unit test of #10382
  assets/js/blocks/classic-template/test/utils.ts
Labels: status: ready to merge, category: refactor, skip-changelog

#10412 Add new GH Action for ensuring the correct labels are added to PRs
  .github/pull_request_template.md
  .github/workflows/pr-label-validation.yml
Labels: status: ready to merge, type: build, skip-changelog

#10425 Product Gallery > Large Image block: Fix icon color when block is selected
  assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/icon.tsx
Labels: status: ready to merge, type: bug, skip-changelog, ◼️ block: product gallery
