Repository woocommerce/woocommerce-blocks, pull requests merged in 2023-04, with the labels that each got.

#8928 Fix E2E tests with WP 6.2
  package-lock.json
  package.json
  tests/e2e/config/custom-matchers/to-render-block.js
  tests/e2e/config/jest.setup.js
  tests/e2e/specs/backend/active-filters.test.js
  tests/e2e/specs/backend/attribute-filter.test.js
  tests/e2e/specs/backend/cart.test.js
  tests/e2e/specs/backend/checkout.test.js
  tests/e2e/specs/backend/customer-account.test.js
  tests/e2e/specs/backend/price-filter.test.js
  tests/e2e/specs/backend/product-categories.test.js
  tests/e2e/specs/backend/product-query.test.ts
  tests/e2e/specs/backend/product-query/advanced-filters.test.ts
  tests/e2e/specs/backend/product-query/popular-filters.test.ts
  tests/e2e/specs/backend/rating-filter.test.js
  tests/e2e/specs/backend/site-editing-templates.test.js
  tests/e2e/specs/backend/stock-filter.test.js
  tests/e2e/specs/merchant/checkout-terms.test.js
  tests/e2e/specs/shopper/active-filters.test.ts
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
  tests/e2e/specs/shopper/filter-products-by-price.test.ts
  tests/e2e/specs/shopper/filter-products-by-rating.test.ts
  tests/e2e/specs/shopper/filter-products-by-stock.test.ts
  tests/e2e/specs/shopper/product-query/product-query-with-templates.test.ts
  tests/e2e/specs/shopper/product-query/utils.ts
  tests/e2e/utils.js
  tests/utils/index.js
  tests/utils/insert-block-using-slash.ts
  tests/utils/switch-block-inspector-tab-when-gutenberg-is-installed.ts
Labels: status: ready to merge, skip-changelog, category: tests, skip-zip

#8887 Move surrounding blocks from Products block when converting the Classic Template to Blockified one
  assets/js/blocks/classic-template/archive-product.ts
  assets/js/blocks/classic-template/product-search-results.ts
  src/Utils/BlockTemplateUtils.php
  templates/templates/blockified/archive-product.html
  templates/templates/blockified/product-search-results.html
Labels: status: ready to merge, type: enhancement, skip-changelog, 🔹 block-type: templates

#8914 Cross-Sells block: Replace <AddToCartButton /> with <ProductButton />
  assets/js/blocks/cart/cart-cross-sells-product-list/cart-cross-sells-product.tsx
  tests/utils/shopper.js
Labels: status: ready to merge, type: enhancement, category: refactor, ◼️ block: cart, category: tests, ◼️ block: cross-sells

#8918 Add GS support for headings typography in Checkout block
  assets/js/base/components/title/style.scss
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout, category: styles

#8892 Ensure Checkout block supports the theme-level global styles for `Typography » Buttons`
  assets/js/base/components/button/style.scss
  assets/js/blocks/checkout/inner-blocks/checkout-actions-block/style.scss
Labels: status: ready to merge, type: enhancement, ◼️ block: checkout, category: styles

#8945 Fix: remove the broken import from the list of imports
  src/BlockTemplatesController.php
Labels: status: ready to merge, skip-changelog

#8906 Product Price: support for background color, line height, font family, letter spacing, and padding.
  assets/js/atomic/blocks/product-elements/price/block.tsx
  assets/js/atomic/blocks/product-elements/price/supports.ts
  src/BlockTypes/ProductPrice.php
Labels: status: ready to merge, type: enhancement, category: blocks, 🔹 block-type: product-query

#8958 Pipeline: Fix JavaScript, CSS and Markdown Linting / Lint MD step
  docs/contributors/contributing/getting-started.md
Labels: status: ready to merge

#8898 Remove classname from cart image to avoid conflicts
  assets/js/base/components/cart-checkout/order-summary/style.scss
  assets/js/base/components/cart-checkout/product-image/index.tsx
  assets/js/base/components/cart-checkout/product-image/style.scss
Labels: status: needs review, ◼️ block: checkout

#8842 Add to Cart Form: Replace Notice with Skeleton component
  assets/js/atomic/blocks/product-elements/add-to-cart-form/edit.tsx
  assets/js/atomic/blocks/product-elements/add-to-cart-form/editor.scss
  assets/js/base/components/skeleton/index.tsx
  assets/js/base/components/skeleton/style.scss
Labels: status: ready to merge

#8659 Feature Branch: Updated Shopper Notices
  .eslintrc.js
  assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-rate-selector.tsx
  assets/js/base/components/index.ts
  assets/js/base/components/notice-banner/README.md
  assets/js/base/components/notice-banner/index.tsx
  assets/js/base/components/notice-banner/screenshots/default.png
  assets/js/base/components/notice-banner/screenshots/error.png
  assets/js/base/components/notice-banner/screenshots/info.png
  assets/js/base/components/notice-banner/screenshots/success.png
  assets/js/base/components/notice-banner/screenshots/warning.png
  assets/js/base/components/notice-banner/stories/index.tsx
  assets/js/base/components/notice-banner/style.scss
  assets/js/base/components/notice-banner/test/index.tsx
  assets/js/base/components/notice-banner/utils.ts
  assets/js/base/components/snackbar-list/README.md
  assets/js/base/components/snackbar-list/constants.ts
  assets/js/base/components/snackbar-list/index.tsx
  assets/js/base/components/snackbar-list/snackbar.tsx
  assets/js/base/components/snackbar-list/stories/index.tsx
  assets/js/base/components/snackbar-list/style.scss
  assets/js/base/hooks/index.js
  assets/js/base/hooks/use-spoken-message.ts
  assets/js/blocks/cart-checkout-shared/payment-methods/no-payment-methods/index.js
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  assets/js/types/type-defs/index.ts
  assets/js/types/type-defs/notices.ts
  package-lock.json
  package.json
  packages/checkout/components/store-notice/index.tsx
  packages/checkout/components/store-notice/style.scss
  packages/checkout/components/store-notices-container/index.tsx
  packages/checkout/components/store-notices-container/snackbar-notices.tsx
  packages/checkout/components/store-notices-container/store-notices.tsx
  packages/checkout/components/store-notices-container/types.ts
  packages/checkout/components/store-notices-container/utils.ts
  src/Domain/Bootstrap.php
  src/Domain/Services/Notices.php
  templates/notices/error.php
  templates/notices/notice.php
  templates/notices/success.php
Labels: status: ready to merge, needs dev-note, ◼️ block: cart, ◼️ block: checkout

#8913 Product SKU: Adds support for color, typography, and spacing
  assets/js/atomic/blocks/product-elements/sku/attributes.ts
  assets/js/atomic/blocks/product-elements/sku/block.tsx
  assets/js/atomic/blocks/product-elements/sku/edit.tsx
  assets/js/atomic/blocks/product-elements/sku/index.tsx
  assets/js/atomic/blocks/product-elements/sku/style.scss
  assets/js/atomic/blocks/product-elements/sku/supports.ts
  assets/js/atomic/blocks/product-elements/sku/types.ts
  assets/js/blocks/products/base-utils.js
  src/BlockTypes/ProductSKU.php
Labels: status: ready to merge, type: enhancement, category: blocks, :small_blue_diamond: block-type: product elements

#8969 No shipping: Convert error notice to warning notice
  assets/js/base/components/cart-checkout/totals/shipping/shipping-rate-selector.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
Labels: status: ready to merge, skip-changelog, ◼️ block: checkout

#8957 Checkout Block: Avoid using editor buttons in the post content to prevent inheriting global styles
  assets/js/blocks/cart-checkout-shared/payment-methods/no-payment-methods/index.js
  assets/js/blocks/cart-checkout-shared/payment-methods/no-payment-methods/style.scss
  assets/js/blocks/cart-checkout-shared/sidebar-notices/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-express-payment-block/edit.tsx
  assets/js/blocks/checkout/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-express-payment-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/editor.scss
  assets/js/blocks/checkout/inner-blocks/checkout-terms-block/test/edit.js
  assets/js/editor-components/default-notice/index.tsx
  assets/js/editor-components/no-payment-methods-notice/editor.scss
  assets/js/editor-components/no-payment-methods-notice/index.tsx
Labels: type: enhancement, ◼️ block: checkout

#8305 Add "Collection from..." in Checkout sidebar when selecting local pickup
  assets/js/base/components/cart-checkout/pickup-location/index.tsx
  assets/js/base/components/cart-checkout/pickup-location/test/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/shipping-address.tsx
  assets/js/base/components/cart-checkout/totals/shipping/test/index.tsx
  assets/js/base/components/cart-checkout/totals/shipping/test/shipping-address.tsx
  assets/js/base/context/hooks/shipping/types.ts
  assets/js/base/context/hooks/shipping/use-shipping-data.ts
  assets/js/data/checkout/selectors.ts
  src/Shipping/ShippingController.php
Labels: status: ready to merge, type: enhancement, ◼️ block: cart, ◼️ block: checkout

#8975 Stop displaying decimals in Filter by Price
  assets/js/base/components/formatted-monetary-amount/index.tsx
  assets/js/base/components/price-slider/index.tsx
Labels: status: ready to merge, type: enhancement, ◼️ block: filter by price

#8899 Set Cart and Checkout blocks to be wide aligned by default
  assets/js/blocks/cart/attributes.js
  assets/js/blocks/checkout/block.json
  tests/e2e/specs/backend/cart.test.js
Labels: status: ready to merge, type: enhancement, category: blocks, ◼️ block: cart, ◼️ block: checkout, category: styles

#8956 Update release steps to remove the need of merging to trunk and simplify testing
  .github/patch-initial-checklist.md
  .github/release-initial-checklist.md
  docs/internal-developers/testing/smoke-testing.md
Labels: status: ready to merge, skip-changelog, skip-zip

#8933 Comment out the integration with Airtable
  .github/monitor-typescript-errors/index.js
Labels: status: ready to merge, skip-changelog, github_actions

#8610 Add single product block
  assets/js/atomic/blocks/product-elements/add-to-cart-form/block.json
  assets/js/atomic/blocks/product-elements/add-to-cart-form/index.tsx
  assets/js/atomic/blocks/product-elements/image/attributes.ts
  assets/js/atomic/blocks/product-elements/price/attributes.ts
  assets/js/atomic/blocks/product-elements/price/edit.tsx
  assets/js/atomic/blocks/product-elements/product-details/index.tsx
  assets/js/atomic/blocks/product-elements/product-image-gallery/edit.tsx
  assets/js/atomic/blocks/product-elements/product-image-gallery/index.ts
  assets/js/atomic/blocks/product-elements/product-meta/index.tsx
  assets/js/atomic/blocks/product-elements/product-reviews/index.tsx
  assets/js/atomic/blocks/product-elements/rating/attributes.ts
  assets/js/atomic/blocks/product-elements/related-products/index.tsx
  assets/js/atomic/blocks/product-elements/save.js
  assets/js/atomic/utils/register-block-single-product-template.ts
  assets/js/blocks/product-query/variations/related-products.tsx
  assets/js/blocks/single-product/block.json
  assets/js/blocks/single-product/constants.tsx
  assets/js/blocks/single-product/edit/editor-block-controls.tsx
  assets/js/blocks/single-product/edit/editor.scss
  assets/js/blocks/single-product/edit/index.tsx
  assets/js/blocks/single-product/edit/layout-editor.tsx
  assets/js/blocks/single-product/edit/shared-product-control.tsx
  assets/js/blocks/single-product/index.tsx
  assets/js/blocks/single-product/save.tsx
  assets/js/blocks/single-product/types.ts
  assets/js/previews/index.js
  assets/js/previews/single-product-block.tsx
  bin/webpack-entries.js
  src/BlockTypes/AddToCartForm.php
  src/BlockTypes/SingleProduct.php
  src/BlockTypesController.php
Labels: status: ready to merge

#8399 Product Rating: Normalize the height of icons and the add revew link
  assets/js/atomic/blocks/product-elements/rating/style.scss
Labels: status: ready to merge, type: enhancement

#8987 Prevent error when entering postcode for countries without specific validation rules
  packages/checkout/utils/validation/is-postcode.ts
  tests/e2e/fixtures/fixture-data.js
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/utils/shopper.js
Labels: status: ready to merge, type: bug, type: blocker, category: blocks, ◼️ block: cart, ◼️ block: checkout, priority: high, category: tests

#8967 Create specific stylesheet for CartLineItemsTable component
  assets/js/base/components/cart-checkout/cart-line-items-table/index.tsx
  assets/js/base/components/cart-checkout/cart-line-items-table/style.scss
  assets/js/blocks/cart/style.scss
Labels: status: ready to merge, skip-changelog, type: technical debt

#8889 Add `validateOnMount` prop to `ValidatedTextInput`
  assets/js/base/components/cart-checkout/totals/coupon/index.tsx
  assets/js/base/components/cart-checkout/totals/coupon/test/index.tsx
  packages/checkout/components/text-input/test/validated-text-input.tsx
  packages/checkout/components/text-input/validated-text-input.tsx
Labels: status: ready to merge, type: bug, skip-changelog, category: blocks, ◼️ block: cart, ◼️ block: checkout

#8926 Product Image: Displays with different size on the frontend
  assets/js/atomic/blocks/product-elements/image/attributes.ts
  assets/js/atomic/blocks/product-elements/image/block.tsx
  assets/js/atomic/blocks/product-elements/image/edit.tsx
  assets/js/atomic/blocks/product-elements/image/test/block.test.tsx
  assets/js/atomic/blocks/product-elements/image/types.ts
  assets/js/blocks/cart/cart-cross-sells-product-list/cart-cross-sells-product.tsx
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/variations/related-products.tsx
  assets/js/blocks/products/base-utils.js
  assets/js/blocks/single-product/constants.tsx
  src/BlockTypes/ProductImage.php
Labels: status: ready to merge

#8984 Filter data count mismatch > Fix PHP unit tests
  tests/php/Helpers/FixtureData.php
  tests/php/StoreApi/Routes/ProductCollectionData.php
Labels: status: ready to merge, skip-changelog, ◼️ block: filter by attribute, category: tests

#9018 Skeleton component: fix warning about key prop
  assets/js/base/components/skeleton/index.tsx
Labels: status: ready to merge, type: bug, category: refactor, skip-changelog

#9015 Removed documentation for unused cart and checkout experimental flags
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
Labels: type: documentation

#9008 Customer Account block: Fix inspector control border
  assets/js/blocks/customer-account/editor.scss
  assets/js/blocks/customer-account/sidebar-settings.tsx
Labels: status: ready to merge

#9013 Update feature flags documentation
  docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
Labels: status: ready to merge, skip-changelog, skip-zip

#9009 Customer Account block: Fix padding for the block in the Editor
  assets/js/blocks/customer-account/edit.tsx
  assets/js/blocks/customer-account/editor.scss
  assets/js/blocks/customer-account/sidebar-settings.tsx
  assets/js/blocks/customer-account/style.scss
Labels: status: ready to merge

#8805 Single Product Block: Fix Product SKU preview
  assets/js/atomic/blocks/product-elements/product-meta/edit.tsx
Labels: status: ready to merge, type: bug, skip-changelog

#9029 E2E tests fix: enable the attribute lookup direct updates settings
  tests/e2e/config/setup.js
  tests/e2e/fixtures/fixture-loaders.js
  tests/e2e/specs/backend/customer-account.test.js
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
Labels: status: ready to merge, skip-changelog, skip-zip

#8905 [Mini cart] Make the title customizable
  assets/js/blocks/mini-cart/mini-cart-contents/editor.scss
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-items-counter-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-items-counter-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-items-counter-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-items-counter-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-label-block/attributes.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-label-block/block.json
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-label-block/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-label-block/constants.ts
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-label-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-label-block/index.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/register-components.ts
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/utils.ts
  assets/js/blocks/mini-cart/style.scss
  packages/checkout/blocks-registry/types.ts
  src/BlockTypes/MiniCart.php
  src/BlockTypes/MiniCartContents.php
  src/BlockTypes/MiniCartTitleItemsCounterBlock.php
  src/BlockTypes/MiniCartTitleLabelBlock.php
  templates/parts/mini-cart.html
Labels: status: ready to merge, type: enhancement, ◼️ block: mini cart

#8930 Mini cart: allow changing the drawer width
  assets/js/base/components/drawer/style.scss
  assets/js/blocks/mini-cart/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/attributes.ts
  assets/js/blocks/mini-cart/mini-cart-contents/attributes.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/block.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/editor.scss
  assets/js/blocks/mini-cart/mini-cart-contents/index.tsx
Labels: status: ready to merge, category: styles, ◼️ block: mini cart

#9017 Store API: allow searching by `slug` and include `slug` in the response
  src/StoreApi/Routes/V1/Products.php
  src/StoreApi/Routes/V1/ProductsBySlug.php
  src/StoreApi/RoutesController.php
  src/StoreApi/Schemas/V1/ProductSchema.php
  src/StoreApi/Utilities/ProductQuery.php
  src/StoreApi/docs/products.md
  tests/php/StoreApi/Routes/Products.php
Labels: status: ready to merge, type: enhancement, type: cooldown

#9011 Update the docs regarding Product Collection Data endpoint in Store API
  src/StoreApi/docs/product-collection-data.md
Labels: status: ready to merge

#9014 Display Mini Cart overlay in template part editor
  assets/js/blocks/mini-cart/mini-cart-contents/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/editor.scss
Labels: status: ready to merge, type: enhancement, ◼️ block: mini cart

#9020 JavaScript testing docs: add section about reports and update section about WP versions
  docs/contributors/contributing/javascript-testing.md
Labels: status: ready to merge, type: documentation, skip-changelog, skip-zip

#9028 Release checklist: update Release highlights page with highlights and use it to update WC core release announcement
  .github/release-initial-checklist.md
Labels: status: ready to merge, type: documentation, skip-changelog, skip-zip

#9005 Mini Cart template part: give user customized template priority over theme template
  src/BlockTemplatesController.php
  src/BlockTypes/MiniCart.php
  src/Utils/BlockTemplateUtils.php
Labels: status: ready to merge, ◼️ block: mini cart

#9032 Product Meta block: Block is not being displayed on the frontend
  assets/js/atomic/blocks/product-elements/product-meta/index.tsx
Labels: status: ready to merge

#9039 Fix JS error visible in the editor caused by Mini Cart Contents buttons
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/edit.tsx
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-footer-block/editor.scss
  assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/edit.tsx
  assets/js/blocks/mini-cart/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#9034 WIP: Add Playwright setup
  .github/workflows/playwright.yml
  .gitignore
  package-lock.json
  package.json
  tests/e2e-pw/README.md
  tests/e2e-pw/bin/active-filters.txt
  tests/e2e-pw/bin/all-products.txt
  tests/e2e-pw/bin/all-reviews.txt
  tests/e2e-pw/bin/cart.txt
  tests/e2e-pw/bin/checkout.txt
  tests/e2e-pw/bin/customer-account.txt
  tests/e2e-pw/bin/featured-category.txt
  tests/e2e-pw/bin/featured-product.txt
  tests/e2e-pw/bin/handpicked-products.txt
  tests/e2e-pw/bin/mini-cart.txt
  tests/e2e-pw/bin/my-account.txt
  tests/e2e-pw/bin/product-best-sellers.txt
  tests/e2e-pw/bin/product-categories.txt
  tests/e2e-pw/bin/product-category.txt
  tests/e2e-pw/bin/product-new.txt
  tests/e2e-pw/bin/product-on-sale.txt
  tests/e2e-pw/bin/product-search.txt
  tests/e2e-pw/bin/product-top-rated.txt
  tests/e2e-pw/bin/products-by-attribute.txt
  tests/e2e-pw/bin/reviews-by-category.txt
  tests/e2e-pw/bin/reviews-by-product.txt
  tests/e2e-pw/bin/single-product.txt
  tests/e2e-pw/bin/test-env-setup.sh
  tests/e2e-pw/global-setup.ts
  tests/e2e-pw/global-teardown.ts
  tests/e2e-pw/playwright.config.ts
  tests/e2e-pw/test-data/data/data.ts
  tests/e2e-pw/tests/basic.spec.ts
Labels: status: ready to merge, category: tests

#9069 Blockfied Single Product Template: Add support for template for specific product
  src/BlockTemplatesController.php
Labels: status: ready to merge, type: bug, skip-changelog

#8988 Fixed trim is not a function error when address has an attribute that is not a string
  assets/js/data/cart/push-changes.ts
Labels: status: ready to merge, type: bug, category: blocks, ◼️ block: checkout

#9051 Mini Cart: Remove excessive margin under cart items
  assets/js/base/components/cart-checkout/cart-line-items-table/style.scss
  assets/js/blocks/cart/style.scss
Labels: status: ready to merge, type: bug, category: styles, ◼️ block: mini cart

#9065 Use consistent and semantically correct HTML elements in the Cart and Checkout blocks
  assets/js/base/components/cart-checkout/order-summary/index.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-heading/block.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-heading/edit.tsx
Labels: status: ready to merge, type: enhancement, category: refactor, skip-changelog, ◼️ block: cart, ◼️ block: checkout

#9049 Products block: tax_query should be calculated only if __woocommerceAttributes is valid
  src/BlockTypes/ProductQuery.php
Labels: status: ready to merge, type: bug, category: blocks, priority: high, 🔹 block-type: product-query

#9075 Single Product Template - Compatibility Layer: don't skip block without name
  src/Templates/SingleProductTemplateCompatibility.php
  tests/php/Templates/SingleProductTemplateCompatibilityTests.php
Labels: status: ready to merge, type: bug

#8954 Product Stock indicator: Add support for background color, margin, padding & various typography controls
  assets/js/atomic/blocks/product-elements/stock-indicator/attributes.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/block.tsx
  assets/js/atomic/blocks/product-elements/stock-indicator/edit.tsx
  assets/js/atomic/blocks/product-elements/stock-indicator/supports.ts
  assets/js/atomic/blocks/product-elements/stock-indicator/types.ts
  src/BlockTypes/ProductStockIndicator.php
Labels: status: ready to merge, type: enhancement, category: blocks, :small_blue_diamond: block-type: product elements

#9033 Make Woo_Directive_Store PHP 7.3 compatible
  src/Interactivity/directives/class-woo-directive-store.php
Labels: status: needs review, type: bug

#9021 Pass proper data to On Sale badge when used in the scope of Product Image
  assets/js/atomic/blocks/product-elements/image/block.tsx
Labels: status: ready to merge, :small_blue_diamond: block-type: product elements, 🔹 block-type: product-query

#9090 Fix broken post/page editor screens in WordPress versions earlier than 6.2
  assets/js/atomic/utils/register-block-single-product-template.ts
Labels: status: ready to merge, type: bug, ◼️ block: product, priority: critical

#8966 Product SKU: fix product SKU when added in the product meta block
  assets/js/atomic/blocks/product-elements/sku/edit.tsx
Labels: status: ready to merge, type: bug, skip-changelog

#9079 Get product by ID if there's more products returned from useStoreProducts
  assets/js/shared/hocs/with-product-data-context.js
Labels: status: ready to merge, 🔹 block-type: product-query

#9083 Filter Products by Attribute e2e test: wait until networkidle before running tests
  tests/e2e/specs/shopper/filter-products-by-attribute.test.ts
Labels: status: ready to merge, skip-changelog, category: tests, skip-zip

#9093 Release: 10.0.2
  assets/js/atomic/utils/register-block-single-product-template.ts
  composer.json
  docs/internal-developers/testing/releases/1002.md
  docs/internal-developers/testing/releases/README.md
  package-lock.json
  package.json
  readme.txt
  src/Package.php
  woocommerce-gutenberg-products-block.php
Labels: status: ready to merge

#9092 Fix - "Order received" page does not display the payment method information.
  src/StoreApi/Routes/V1/Checkout.php
Labels: type: bug, ◼️ block: checkout, Contributor Day - H1 2023

#9097 Update step to mention that patch releases need to be merged into the base branch
  .github/patch-initial-checklist.md
Labels: status: ready to merge, skip-changelog, skip-zip

#9094 fix/8363: Match editor "Place Order" button UI with frontend
  assets/js/blocks/checkout/inner-blocks/checkout-actions-block/edit.tsx
Labels: type: bug, ◼️ block: checkout, Contributor Day - H1 2023

#9103 fix/8651: Use body background color as the Cart block sticky footer background color
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/block.tsx
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/style.scss
Labels: type: enhancement, ◼️ block: cart, category: styles, Contributor Day - H1 2023

#9102 add cursor:pointer to checkbox and radio fields
  assets/js/base/components/radio-control/style.scss
  packages/checkout/components/checkbox-control/style.scss
Labels: type: enhancement, ◼️ block: cart, ◼️ block: checkout, 🔹 block-type: filter blocks, category: styles, Contributor Day - H1 2023

#9132 Wrap getComputedStyle function inside a useMemo
  assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/block.tsx
Labels: status: ready to merge, skip-changelog, category: performance, ◼️ block: checkout

#9118 fix/8129: remove rounding the caused issue with UI
  assets/js/base/components/price-slider/index.tsx
Labels: type: bug, ◼️ block: filter by price, Contributor Day - H1 2023

#8995 Add workflow to label community contributors
  .github/workflows/community-contributor.yml
  .github/workflows/scripts/is-community-contributor.js
  package-lock.json
  package.json
Labels: skip-changelog, github_actions

#9142 Fix image editor in Featured Product/Category blocks on WP 6.2
  assets/js/blocks/featured-items/image-editor.tsx
Labels: status: ready to merge, type: bug, ◼️ block: featured category, ◼️ block: featured product

#9126 Update minimal header patterns
  patterns/header-minimal-dark.php
  patterns/header-minimal.php
Labels: status: ready to merge, patterns

#9150 Update Husky config to v8
  .husky/pre-commit
  package.json
Labels: status: ready to merge, skip-changelog, skip-zip

#8757 Add PHP 8.1/8.2 to unit testing matrix
  .github/workflows/check-modified-assets.yml
  .github/workflows/php-js-e2e-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-tests.yml
  .gitignore
  composer.json
  composer.lock
  docker-compose.yml
  package-lock.json
  package.json
  phpunit.xml.dist
  tests/bootstrap.php
  tests/php/Utils/BlockTemplateUtilsTest.php
Labels: status: ready to merge, skip-changelog, type: technical debt, category: tests

#9127 Fix filter by stock status dropdown ordering
  assets/js/blocks/stock-filter/utils.ts
Labels: Contributor Day - H1 2023

#8809 Add theme-level global styles to Cart and Checkout block
  assets/css/abstracts/_mixins.scss
  assets/js/atomic/blocks/product-elements/button/style.scss
  assets/js/base/components/button/style.scss
  assets/js/base/components/cart-checkout/form-step/style.scss
  assets/js/base/components/cart-checkout/order-summary/index.tsx
  assets/js/base/components/cart-checkout/order-summary/style.scss
  assets/js/base/components/cart-checkout/product-image/index.tsx
  assets/js/base/components/cart-checkout/product-image/style.scss
  assets/js/base/components/radio-control/style.scss
  assets/js/base/components/sidebar-layout/style.scss
  assets/js/base/components/title/style.scss
  assets/js/blocks/cart-checkout-shared/payment-methods/style.scss
  assets/js/blocks/cart/cart-cross-sells-product-list/cart-cross-sells-product.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-heading/block.tsx
  assets/js/blocks/cart/inner-blocks/cart-order-summary-heading/edit.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-actions-block/style.scss
  assets/js/blocks/checkout/styles/style.scss
  assets/js/blocks/rating-filter/style.scss
  assets/js/blocks/stock-filter/style.scss
  packages/checkout/components/checkbox-control/style.scss
  packages/checkout/components/panel/style.scss
  packages/checkout/components/text-input/style.scss
  tests/utils/shopper.js
Labels: status: ready to merge, type: enhancement, type: blocker, category: styles

#9169 Update php installation link
  .github/workflows/check-doc-links-config.json
Labels: status: ready to merge, skip-changelog, github_actions

#9167 Add `prepare` to Fix Husky Configuration
  package.json
Labels: status: ready to merge, skip-changelog, type: dependencies, skip-zip

#8964 Reinstate "Hide shipping costs until an address is entered" but disable it when using local pickup
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/frontend.tsx
  assets/js/extensions/shipping-methods/pickup-location/general-settings.tsx
  src/Shipping/ShippingController.php
  src/StoreApi/Utilities/LocalPickupUtils.php
  tests/e2e/specs/backend/checkout.test.js
  tests/e2e/specs/merchant/local-pickup.test.ts
  tests/e2e/specs/shopper/cart-checkout/checkout.test.js
  tests/utils/shopper.js
Labels: status: ready to merge, type: bug, category: blocks, needs dev-note, ◼️ block: cart, ◼️ block: checkout, category: tests

#9159 [Patterns] Add new `Testimonials: 3 columns` pattern
  patterns/testimonials-3-columns.php
Labels: status: ready to merge, type: enhancement, patterns

#9182 Patch release checklist: clarify whether the PR must have trunk or release/x.y as the base branch
  .github/patch-initial-checklist.md
Labels: status: ready to merge, skip-changelog, skip-zip

#9195 Mini Cart block: fix slide in animation
  assets/js/base/components/drawer/style.scss
Labels: status: ready to merge, type: bug, type: blocker, skip-changelog, ◼️ block: mini cart

#9184 Add testimonials single pattern
  patterns/testimonials-single.php
Labels: status: ready to merge, skip-changelog, patterns

#9204 Fix Semgrep Security Scan Issues
  src/Assets/Api.php
  src/AssetsController.php
  src/BlockTypes/MiniCart.php
  src/StoreApi/Utilities/Pagination.php
Labels: status: ready to merge, skip-changelog, priority: high, type: security

#9201 Mini Cart Contents block: fix wide width not being applied in the editor
  assets/js/blocks/mini-cart/mini-cart-contents/edit.tsx
Labels: status: ready to merge, type: bug, ◼️ block: mini cart

#9243 Update icon and description for the Product Meta block
  assets/js/atomic/blocks/product-elements/product-meta/block.json
  assets/js/atomic/blocks/product-elements/product-meta/index.tsx
  images/blocks/product-meta/product-meta-icon.svg
Labels: status: ready to merge, category: refactor

#9241 Update the icon and description for the Product Details block
  assets/js/atomic/blocks/product-elements/product-details/block.json
  assets/js/atomic/blocks/product-elements/product-details/index.tsx
  images/blocks/product-details/product-details-icon.svg
Labels: status: ready to merge, category: refactor

#9086 Add examples for adding variations to the cart
  src/StoreApi/docs/cart.md
Labels: status: ready to merge, type: documentation, skip-changelog

#9156 Update CodeQL/Analyse
  .github/workflows/codeql-analysis.yml
  woocommerce-gutenberg-products-block.php
Labels: skip-changelog, type: technical debt, github_actions

#9175 [Patterns] Add new `Footer with 3 menus` menu
  patterns/footer-with-3-menus.php
Labels: status: ready to merge, type: enhancement, patterns

#9081 [Patterns]: Add new `Header Centered Search` pattern
  assets/js/blocks/customer-account/block.json
  patterns/header-centered-search-pattern.php
Labels: status: ready to merge, type: enhancement, patterns

#9265 Rename docs which unnecessary mention the All Products block
  docs/README.md
  docs/designers/theming/README.md
  docs/designers/theming/filter-blocks.md
Labels: status: ready to merge, type: documentation, skip-changelog, skip-zip

#9238 Rename Add To Cart Form to Add To Cart Options
  assets/js/atomic/blocks/product-elements/add-to-cart-form/block.json
  tests/e2e/specs/backend/add-to-cart-form.test.js
Labels: status: ready to merge, category: refactor

#8981 Single Product block: Add wide and full-width alignments support
  assets/js/blocks/single-product/block.json
  assets/js/blocks/single-product/edit/index.tsx
  src/BlockTypes/SingleProduct.php
Labels: status: ready to merge

#9247 Fix translations e2e test for `Add a coupon` text
  tests/e2e/specs/shopper/cart-checkout/translations.test.js
Labels: status: ready to merge, type: bug, skip-changelog

#9263 10.1.0 testing steps: move Mini Cart width items under Feature plugin section
  docs/internal-developers/testing/releases/1010.md
Labels: status: ready to merge, type: documentation, skip-changelog, skip-zip

#8993 Products block: Using nested selector to add margin between Product elements
  assets/js/blocks/product-query/constants.ts
  assets/js/blocks/product-query/style.scss
Labels: status: ready to merge, type: enhancement, category: styles, 🔹 block-type: product-query

#9258 Fix store api documentation for min_price and max_price
  src/StoreApi/docs/products.md
Labels: type: documentation, type: community contribution

#9260 Remove min-height and padding for WP Button elements
  assets/js/base/components/button/style.scss
Labels: status: ready to merge, type: bug, ◼️ block: checkout, ◼️ block: mini cart

#9246 Add new `Product collections: Featured Collection` pattern
  patterns/product-collections-featured-collection.php
Labels: status: ready to merge, type: enhancement, patterns

#9269 Add featured category triple pattern
  patterns/featured-category-triple.php
Labels: status: ready to merge, patterns

#9129 Product Rating block: Fix review count not displaying on frontend
  assets/js/atomic/blocks/product-elements/rating/block.tsx
  assets/js/atomic/blocks/product-elements/rating/style.scss
  package-lock.json
  src/BlockTypes/ProductRating.php
Labels: status: ready to merge, ◼️ block: product rating
